﻿@model RepairRequestModel

<div id="ContainerRepairRequest">
    @Html.HiddenFor(model => model.RepairRequestId)
    <h5>Customer Information:</h5>
    <div class="form-group">
        @Html.HiddenFor(model => model.CustomerId)
        @Html.LabelFor(model => model.CustomerName, "Name", new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CustomerName, null, new { @class = "text-danger" })
            <span class="help-block hidden-print">Please select a valid customer from the list of suggestions.</span>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CustomerCompany, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.CustomerCompany, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CustomerCompany, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CustomerEmail, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.CustomerEmail, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CustomerEmail, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CustomerPhoneNumber, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.CustomerPhoneNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CustomerPhoneNumber, null, new { @class = "text-danger" })
        </div>
    </div>

    <h5>Product Information:</h5>
    <div class="form-group hidden-print">
        @Html.HiddenFor(model => model.ProductId)
        @Html.LabelFor(model => model.ProductName, "Product", new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ProductName, null, new { @class = "text-danger" })
            <span class="help-block">@T("returnrequests.repairrequest.productinstructions")</span>
        </div>
    </div>
    <div id="ContainerProduct" class="media col-md-offset-3 col-md-9" style="margin-top: 0; @(!Model.ProductId.HasValue ? "display: none;" : "")">
        <div class="media-left"><img id="ImageProduct" class="media-object img-thumbnail" src="@Model.ProductPictureUrl" style="height: 100px;" /></div>
        <div class="media-body">
            <h4 class="media-heading"><a id="LinkProduct" href="" target="_blank">@Model.ProductName</a></h4>
            <div>Sku: #<span id="ProductSku">@Model.ProductSku</span></div>
        </div>
        <br />
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CustomerComments, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextAreaFor(model => model.CustomerComments, new { @class = "form-control" })
        </div>
    </div>
    <h5>Repair Information:</h5>
    <div class="form-group">
        @Html.LabelFor(model => model.SelectedWarehouseId, new { @class = "col-md-3 control-label", })
        <div class="col-md-9">
            @Html.DropDownListFor(model => model.SelectedWarehouseId, Model.Warehouses, "...", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SelectedWarehouseId, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.StaffNotes, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextAreaFor(model => model.StaffNotes, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AuthorizationNumber, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            <div style="margin-top: 8px">@Model.AuthorizationNumber</div>
            <button id="ButtonAuthorize" class="btn btn-sm btn-info @(Model.RepairRequestId.HasValue && Model.Status == "Pending" ? "" : "disabled") hidden-print">Authorize Request</button>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Status, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            <div id="ContainerStatus" style="margin-top: 8px">@Model.Status</div>
            <button id="ButtonComplete" class="btn btn-sm btn-success @(!Model.RepairRequestId.HasValue || Model.Status == "Complete" || Model.Status == "Cancelled" ? "disabled" : "") hidden-print">Complete Request</button>
            <button id="ButtonCancel" class="btn btn-sm btn-danger @(!Model.RepairRequestId.HasValue || Model.Status == "Cancelled" || Model.Status == "Complete" ? "disabled" : "") hidden-print">Cancel Request</button>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TrackingNumberInbound, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            <div class="input-group">
                @Html.TextBoxFor(model => model.TrackingNumberInbound, new { @class = "form-control" })
                <div class="input-group-btn">
                    <button id="ButtonInbound" class="btn btn-info @(Model.Status == "Authorized" ? "" : "disabled") hidden-print">Mark As Inbound</button>
                    <button id="ButtonReceive" class="btn btn-info @(Model.Status == "Inbound" || Model.Status == "Authorized" ? "" : "disabled") hidden-print">Receive</button>
                </div>               
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TrackingNumberOutbound, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            <div class="input-group">
                @Html.TextBoxFor(model => model.TrackingNumberOutbound, new { @class = "form-control" })
                <div class="input-group-btn">
                    <button id="ButtonOutbound" class="btn btn-info @(Model.Status =="Received" ? "" : "disabled") hidden-print">Mark As Outbound</button>
                </div>
            </div>
        </div>
    </div>
</div>