﻿@model RepairRequestModel

@{
    Layout = "~/Administration/Views/Shared/_PrintLayout.cshtml";
}

<div>
    <h5>Customer Information:</h5>
    <div style="margin-left: 15px;">
        <div>@Model.CustomerName</div>
        <div>@Model.CustomerCompany</div>
        <div><a href="mailto:@Model.CustomerEmail">@Model.CustomerEmail</a></div>
        <div><a href="callto:@Model.CustomerPhoneNumber">@Model.CustomerPhoneNumber</a></div>
    </div>
    <br />
    <h5>Product Information:</h5>
    <div style="margin-left: 15px;">
        <table class="table">
            <tr>
                <td style=" border-width: 0; width: 200px;"><img id="ImageProduct" class="img-thumbnail img-responsive" src="@Model.ProductPictureUrl" style="width: 200px;" /></td>
                <td style="border-width: 0;">
                    <h4 class="media-heading"><a id="LinkProduct" href="" target="_blank">@Model.ProductName</a></h4>
                    <div>Sku: #<span id="ProductSku">@Model.ProductSku</span></div>
                </td>
            </tr>
            <tr>
                <td class="text-right" style="border-width: 0;"><b>Customer Comments:</b></td>
                <td style="border-width: 0;">@Model.CustomerComments</td>
            </tr>
        </table>
    </div>
    <br />
    <h5>Repair Information:</h5>
    <div style="margin-left: 15px;">
        <table class="table">
            <tr>
                <td class="text-right" style="border-width: 0; width: 200px;"><b>Created On:</b></td>
                <td style="border-width: 0;">@Model.DateCreated.Value.ToShortDateString()</td>
            </tr>
            <tr>
                <td class="text-right" style="border-width: 0;"><b>Warehouse:</b></td>
                <td style="border-width: 0;">@Model.SelectedWarehouseName</td>
            </tr>
            <tr>
                <td class="text-right" style="border-width: 0;"><b>Repair Notes:</b></td>
                <td style="border-width: 0;">@Model.StaffNotes</td>
            </tr>
            <tr>
                <td class="text-right" style="border-width: 0;"><b>Authorization #:</b></td>
                <td style="border-width: 0;">@Model.AuthorizationNumber</td>
            </tr>
            <tr>
                <td class="text-right" style="border-width: 0;"><b>Status:</b></td>
                <td style="border-width: 0;">@Model.Status</td>
            </tr>
            <tr>
                <td class="text-right" style="border-width: 0;"><b>In-Tracking #:</b></td>
                <td style="border-width: 0;"><a href="https://www.ups.com/track?loc=null&tracknum=@Model.TrackingNumberInbound">@Model.TrackingNumberInbound</a></td>
            </tr>
            <tr>
                <td class="text-right" style="border-width: 0;"><b>Out-Tracking #:</b></td>
                <td style="border-width: 0;"><a href="https://www.ups.com/track?loc=null&tracknum=@Model.TrackingNumberOutbound">@Model.TrackingNumberOutbound</a></td>
            </tr>
        </table>
    </div>
</div>