﻿@model RepairRequestsListModel

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.RepairRequests").Text;
}

@Html.AntiForgeryToken()

<div class="container-fluid padding-0">
    <div class="row">
        <div class="col-md-6"><h4><span class="glyphicon glyphicon-wrench offset-right-10"></span> Repair Requests Log</h4></div>
        <div class="col-md-6 text-right">
            <a id="ButtonNewRepairRequest" href="#" class="btn btn-sm btn-info">New Repair Request</a>
        </div>
    </div>
</div>

<form id="FormSearch" class="form-horizontal">
    <div class="well">
        <div class="form-group">
            <div class="col-sm-1 control-label">@Html.LabelFor(model => model.RepairRequestsSearchModel.Customer, "Customer")</div>
            <div class="col-sm-2">
                @Html.TextBoxFor(model => model.RepairRequestsSearchModel.Customer, new { @class = "form-control" })
                @Html.HiddenFor(model => model.RepairRequestsSearchModel.CustomerId)
            </div>
            <div class="col-sm-1 control-label">@Html.LabelFor(model => model.RepairRequestsSearchModel.Customer, "Warehouse")</div>
            <div class="col-sm-2">@Html.DropDownListFor(model => model.RepairRequestsSearchModel.WarehouseId, Model.RepairRequestsSearchModel.Warehouses, new { @class = "form-control" })</div>
            <div class="col-sm-1 control-label">@Html.LabelFor(model => model.RepairRequestsSearchModel.AuthorizationNumber, "Authorization #")</div>
            <div class="col-sm-2">@Html.TextBoxFor(model => model.RepairRequestsSearchModel.AuthorizationNumber, new { @class = "form-control" })</div>
        </div>
        <div class="form-group">
            <div class="col-sm-1 control-label">@Html.LabelFor(model => model.RepairRequestsSearchModel.Statuses, "Product")</div>
            <div class="col-sm-2">@Html.TextBoxFor(model => model.RepairRequestsSearchModel.Product, new { @class = "form-control" })</div>
            <div class="col-sm-1 control-label">@Html.LabelFor(model => model.RepairRequestsSearchModel.Statuses, "Status")</div>
            <div class="col-sm-8" style="margin-top: 6px;">
                @foreach (var status in Model.RepairRequestsSearchModel.Statuses) {
                    <span style="margin-right: 15px;"><input id="RepairRequestsSearchModel_Statuses" @(status.Selected ? "checked" : "") style="margin-right: 5px;" type="checkbox" value="@status.Value" />@status.Text</span>
                }
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-sm-1 control-label"></div>
            <div class="col-sm-11">
                <button type="button" id="buttonSearch" class="btn btn-sm btn-primary" value="@T("Admin.Common.Search")"><span class="glyphicon glyphicon-search" style="margin-right: 5px;"></span>@T("Admin.Common.Search")</button>
                <button type="button" id="buttonResetSearch" class="btn btn-sm btn-danger" value="Reset">Reset</button>
            </div>
        </div>
    </div>
</form>

<table class="adminContent">
    <tr>
        <td>
            <div id="returnrequests-grid"></div>
            <script type="text/x-kendo-template" id="productTemplate">
                # if (ProductId != null && ProductId != ''){ #
                    <a href='@Url.Content("~/Admin/Product/Edit/")#=ProductId#'>#:ProductName#</a>
                # } else { #
                    #:ProductName#
                # } #
            </script>
            <script type="text/x-kendo-template" id="trackingNumberInboundTemplate">
                # if (TrackingNumberInbound != null && TrackingNumberInbound != ''){ #
                    <a href="https://www.ups.com/track?loc=null&tracknum=#=TrackingNumberInbound#" target="_blank">#:TrackingNumberInbound#</a>
                # } else { #
                    N/A
                # } #
            </script>
            <script type="text/x-kendo-template" id="trackingNumberOutboundTemplate">
                # if (TrackingNumberOutbound != null && TrackingNumberOutbound != ''){ #
                    <a href="https://www.ups.com/track?loc=null&tracknum=#=TrackingNumberOutbound#" target="_blank">#:TrackingNumberOutbound#</a>
                # } else { #
                    N/A
                # } #
            </script>
        </td>
    </tr>
</table>

<div id="ModalRepairRequest" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Repair Request</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateRepairRequest", "RepairRequest", FormMethod.Post, new { @autocomplete = "chrome-off", @class = "form-horizontal", @id = "FormSubmitRepairRequest" })) {
                    @Html.AntiForgeryToken()
                    <div id="ContainerRepairRequest"></div>
                }
            </div>
            <div class="modal-footer">
                <div id="ModalRepairRequestMessageContainer"></div>
                <button id="ButtonCloseRepairRequest" data-dismiss="modal" type="button" class="btn btn-danger pull-left">Close</button>
                <button id="ButtonSubmitAndAuthorizeRepairRequest" type="button" class="btn btn-success">Save &amp; Authorize</button>
                <button id="ButtonSubmitRepairRequest" type="button" class="btn btn-success">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="module">
    import RepairRequestsListController from '/Administration/Scripts/Views/Order/RepairRequests/repairRequestsListController.js';
    const repairRequestsListController = new RepairRequestsListController();
</script>