extends  ../_skeleton

include ../elements/_ui-rd-parallax
include ../elements/_widget-form-subscribe
//- Title
block title
  title= cfg.nav.pages.submenu.pageslvl1.submenu.page404.title
//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.pageslvl1.submenu.page404.title
    )

  // Page Content
  main.page-content
    // Heading Style
    +rd-parallax({
      "backgroundSpeed": "0.35",
      "attrType": "media",
      "src": "images/backgrounds/bg-06-1973x720.jpg",
      "htmlSpeed": "0"
    })
      .shell.section-90.section-xl-bottom-205.section-xl-top-140.context-dark
        .range.range-xs-center.range-lg-left
          .cell-xs-10.cell-lg-7.text-sm-left
            div
             h1 404
            div
              h1 Sorry! Page Not Found!
            .offset-top-30
              p The page you are looking for might have been removed, had its name changed, or is temporarily unavailable. Please try using our search box below to look for information on the website.
            .offset-top-20
              a(href="./").btn.btn-default.btn-sm back to home page
  // Page Footer
  include ../sections/_section-footer-corporate