extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-counter-type-1

//- Title
block title
  title= cfg.nav.pages.submenu.pageslvl1.submenu.aboutUs.title

//- Page
block page
  //- Include text dump
  include ../dump/_about-us
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.pageslvl1.submenu.aboutUs.title
    )

  +breadcrumb-classic(
  cfg.nav.pages.submenu.pageslvl1.submenu.aboutUs.title,
  {0: {
    "title": cfg.nav.home.title,
    "href": cfg.nav.home.href
  },
    1: {
      "title": cfg.nav.pages.submenu.pageslvl1.title,
      "href": cfg.nav.pages.submenu.pageslvl1.href
    },
    2: {
      "title": cfg.nav.pages.submenu.pageslvl1.submenu.aboutUs.title,
      "href": cfg.nav.pages.submenu.pageslvl1.submenu.aboutUs.href
    }
  })

  // Page Content
  main.page-content.section-top-70.section-md-top-90
    section
      .shell.text-sm-left
        h2= text.sect1.elem1
        hr.divider.divider-lg.bg-primary.hr-sm-left-0
        .range.range-xs-center.range-sm-left.offset-top-50
          .cell-xs-10.cell-sm-5.text-sm-left
            img.img-responsive(src="images/about-us-01-451x304.jpg", width="451", height="304", alt="")
          .cell-xs-10.cell-sm-7.offset-top-50.offset-sm-top-0
            p= text.sect1.elem2
            p= text.sect1.elem3
            .offset-top-20
              a(href= cfg.nav.pages.submenu.pageslvl1.submenu.services2.href).btn.btn-primary.btn-sm learn more
    // counters
    section.section-65.section-sm-bottom-95.bg-dark-blue.context-dark.section-skew.section-skew-wide.offset-top-110
      .skew-block
      .shell.text-md-left
        h2= text.sect2.elem1
        hr.divider.divider-lg.bg-primary.hr-md-left-0
        .range.range-xs-center.range-md-left.offset-top-50.text-center.counters
          .cell-sm-6.cell-md-3
            +counter-type-1(text.sect2.elem2,{
              "dataTo": "1324",
              "dataSpeed": "3000"
            })
          .cell-sm-6.cell-md-3.offset-top-65.offset-sm-top-0
            +counter-type-1(text.sect2.elem3, {
              "dataTo": "65",
              "dataSpeed": "2500"

            })
          .cell-sm-6.cell-md-3.offset-top-65.offset-md-top-0
            +counter-type-1(text.sect2.elem4, {
              "dataTo": "268",
              "dataSpeed": "1500"

            })
          .cell-sm-6.cell-md-3.offset-top-65.offset-md-top-0
            +counter-type-1(text.sect2.elem5,{
              "dataTo": "2847951",
              "dataSpeed": "5300"
            })


    section.section-90.section-lg-bottom-110.section-skew.bg-lightest
      .skew-block
      .shell.text-md-left
        h2= text.sect3.elem1
        hr.divider.divider-lg.bg-primary.hr-md-left-0
        .range.text-md-left.offset-top-50.range-xs-center
          .cell-sm-8.cell-md-4
            .unit.unit-md.unit-md-horizontal.text-md-left
              .unit-left
                span.icon.icon-lg.icon-circle.icon-primary-filled.fa-cubes
              .unit-body
                h4.text-bold.font-accent= text.sect3.elem2
                p= text.sect3.elem3
          .cell-sm-8.cell-md-4.offset-top-50.offset-md-top-0
            .unit.unit-md.unit-md-horizontal.text-md-left
              .unit-left
                span.icon.icon-lg.icon-circle.icon-primary-filled.fa-truck
              .unit-body
                h4.text-bold.font-accent= text.sect3.elem4
                p= text.sect3.elem5
          .cell-sm-8.cell-md-4.offset-top-50.offset-md-top-0
            .unit.unit-md.unit-md-horizontal.text-md-left
              .unit-left
                span.icon.icon-lg.icon-circle.icon-primary-filled.mdi.fa-map
              .unit-body
                h4.text-bold.font-accent= text.sect3.elem6
                p= text.sect3.elem7
          .cell-sm-8.cell-md-4.offset-top-50
            .unit.unit-md.unit-md-horizontal.text-md-left
              .unit-left
                span.icon.icon-lg.icon-circle.icon-primary-filled.fa-star
              .unit-body
                h4.text-bold.font-accent= text.sect3.elem8
                p= text.sect3.elem9
          .cell-sm-8.cell-md-4.offset-top-50
            .unit.unit-md.unit-md-horizontal.text-md-left
              .unit-left
                span.icon.icon-lg.icon-circle.icon-primary-filled.fa-comments
              .unit-body
                h4.text-bold.font-accent= text.sect3.elem10
                p= text.sect3.elem11
          .cell-sm-8.cell-md-4.offset-top-50
            .unit.unit-md.unit-md-horizontal.text-md-left
              .unit-left
                span.icon.icon-lg.icon-circle.icon-primary-filled.mdi.fa-suitcase
              .unit-body
                h4.text-bold.font-accent= text.sect3.elem12
                p= text.sect3.elem13


    section.section-85.section-md-top-65.section-skew.section-skew-wide.bg-white
      .skew-block
      .shell.text-sm-left
        h2 Professional team
        hr.divider.divider-lg.bg-primary.hr-sm-left-0
        .range.range-xs-center.range-sm-left.offset-top-50
          .cell-xs-10.cell-sm-6.cell-md-3
            img.img-responsive.reveal-inline-block(src="images/users/user-mark-johnson-270x270.jpg", width="270", height="270", alt="")
            .offset-top-20
              h5.text-primary
                a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href) Mark Johnson
            p.offset-top-5.text-silver Finance Director
            p Mark is the Finance Director at Transitec and started in 2015. He is responsible for the...
            .offset-top-20
              ul.list-inline.list-inline-dark.list-inline-sm
                li
                  a(href="#").icon.icon-xxs.fa-facebook.text-middle
                li
                  a(href="#").icon.icon-xxs.fa-twitter.text-middle
                li
                  a(href="#").icon.icon-xxs.fa-google.text-middle
          .cell-xs-10.cell-sm-6.cell-md-3.offset-top-50.offset-sm-top-0
            img.img-responsive.reveal-inline-block(src="images/users/user-eva-pool-270x270.jpg", width="270", height="270", alt="")
            .offset-top-20
              h5.text-primary
                a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href) Eva Pool
            p.offset-top-5.text-silver Office Manager
            p Eva is the Office Manager at Transitec and has been with the company since 2011...
            .offset-top-20
              ul.list-inline.list-inline-dark.list-inline-sm
                li
                  a(href="#").icon.icon-xxs.fa-facebook.text-middle
                li
                  a(href="#").icon.icon-xxs.fa-twitter.text-middle
                li
                  a(href="#").icon.icon-xxs.fa-google.text-middle

          .cell-xs-10.cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
            img.img-responsive.reveal-inline-block(src="images/users/user-sam-kromstain-270x270.jpg", width="270", height="270", alt="")
            .offset-top-20
              h5.text-primary
                a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href) Sam Kromstain
            p.offset-top-5.text-silver Head of Account Management
            p Sam joined Transitec in September 2015 as the Head of Account Management and Customer...
            .offset-top-20
              ul.list-inline.list-inline-dark.list-inline-sm
                li
                  a(href="#").icon.icon-xxs.fa-facebook.text-middle
                li
                  a(href="#").icon.icon-xxs.fa-twitter.text-middle
                li
                  a(href="#").icon.icon-xxs.fa-google.text-middle

          .cell-xs-10.cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
            img.img-responsive.reveal-inline-block(src="images/users/user-cristal-smith-270x270.jpg", width="270", height="270", alt="")
            .offset-top-20
              h5.text-primary
                a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href) Cristal Smith
            p.offset-top-5.text-silver Commercial Relationship Manager
            p Cristal is the Commercial Relationship Manager at Transitec and is responsible for a portfolio...
            .offset-top-20
              ul.list-inline.list-inline-dark.list-inline-sm
                li
                  a(href="#").icon.icon-xxs.fa-facebook.text-middle
                li
                  a(href="#").icon.icon-xxs.fa-twitter.text-middle
                li
                  a(href="#").icon.icon-xxs.fa-google.text-middle

  // Page Footer
  include ../sections/_section-footer-corporate