extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-thumbnail-default
include ../elements/_ui-pagination-bootstrap
//- Title
block title
  title= cfg.nav.blog.submenu.timeline.title

//- Page
block page
  //- Include text dump
  include ../dump/_blog-timeline
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.blog,
    cfg.nav,
    cfg.nav.blog.submenu.timeline.title
    )

  +breadcrumb-classic(
  cfg.nav.blog.submenu.timeline.title,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.blog.title,
      "href": cfg.nav.blog.href
    },
    2: {
      "title": cfg.nav.blog.submenu.timeline.title,
      "href": cfg.nav.blog.submenu.timeline.href
    }
  })

  // Page Content
  main.page-content.section-70.section-md-90
    // Latest news
    section
      .shell.text-md-left
        .text-md-center
          div
            h3=text.sect1.elem1
          hr.divider.divider-lg.bg-primary.veil-md
        .section-line-vertical.offset-top-70.offset-md-top-20
          .range.text-md-left.range-xs-center.range-md-left
            .cell-xs-10.cell-sm-8.cell-md-4.cell-md-preffix-1
              article.post-default.post-timeline.post-timeline-left
                +thumbnail-default({
                  "type": "thumbnail",
                  "thumb": {"src": "images/blog/blog-01-770x520.jpg", "width": 770, "height": 520, "alt": ""},
                  "target": {"href":  cfg.nav.blog.submenu.postPage.href}
                })
                .offset-top-10
                  h5.text-primary.text-bold.post-default-title
                    a(href= cfg.nav.blog.submenu.postPage.href)=text.sect1.elem2
                .offset-top-15
                  .post-meta
                    ul.list-inline
                      li
                        span.icon.icon-xxs.fa-calendar.text-gray.text-middle
                        time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")=text.sect1.elem3
                      li
                        span.icon.icon-xxs.fa-user.text-gray.text-middle
                        a(href=cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle=text.sect1.elem4
                      li
                        span.icon.icon-xxs.fa-comment.text-gray.text-middle
                        a(href=cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-5.text-middle=text.sect1.elem5
                p=text.sect1.elem6
                .offset-top-20
                  a(href= cfg.nav.blog.submenu.postPage.href).btn.btn-primary.btn-sm learn more
            .cell-xs-10.cell-sm-8.cell-md-4.cell-md-preffix-2.offset-md-top-100.offset-top-50
              article.post-default.post-timeline.post-timeline-right
                +thumbnail-default({
                  "type": "thumbnail",
                  "thumb": {"src": "images/blog/blog-02-770x520.jpg", "width": 770, "height": 520, "alt": ""},
                  "target": {"href":  cfg.nav.blog.submenu.postPage.href}
                })
                .offset-top-10
                  h5.text-primary.text-bold.post-default-title
                    a(href= cfg.nav.blog.submenu.postPage.href)=text.sect1.elem7
                .offset-top-15
                  .post-meta
                    ul.list-inline
                      li
                        span.icon.icon-xxs.fa-calendar.text-gray.text-middle
                        time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")=text.sect1.elem8
                      li
                        span.icon.icon-xxs.fa-user.text-gray.text-middle
                        a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle=text.sect1.elem9
                      li
                        span.icon.icon-xxs.fa-comment.text-gray.text-middle
                        a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-5.text-middle=text.sect1.elem10
                p=text.sect1.elem11
                .offset-top-20
                  a(href= cfg.nav.blog.submenu.postPage.href).btn.btn-primary.btn-sm learn more


    // Latest news
    section.offset-md-top-20.offset-top-110
      .shell.text-md-left
        .text-center
          div
            h3=text.sect1.elem12
          hr.divider.divider-lg.bg-primary.veil-md
        .section-line-vertical.offset-top-70.offset-md-top-20
          .range.text-md-left.range-xs-center.range-md-left
            .cell-xs-10.cell-sm-8.cell-md-4.cell-md-preffix-1
              article.post-default.post-timeline.post-timeline-left
                +thumbnail-default({
                  "type": "thumbnail",
                  "thumb": {"src": "images/blog/blog-03-770x520.jpg", "width": 770, "height": 520, "alt": ""},
                  "target": {"href":  cfg.nav.blog.submenu.postPage.href}
                })
                .offset-top-10
                  h5.text-primary.text-bold.post-default-title
                    a(href= cfg.nav.blog.submenu.postPage.href)=text.sect1.elem13
                .offset-top-15
                  .post-meta
                    ul.list-inline
                      li
                        span.icon.icon-xxs.fa-calendar.text-gray.text-middle
                        time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")=text.sect1.elem14
                      li
                        span.icon.icon-xxs.fa-user.text-gray.text-middle
                        a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle=text.sect1.elem15
                      li
                        span.icon.icon-xxs.fa-comment.text-gray.text-middle
                        a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-5.text-middle=text.sect1.elem16
                p=text.sect1.elem17
                .offset-top-20
                  a(href= cfg.nav.blog.submenu.postPage.href).btn.btn-primary.btn-sm learn more

            .cell-xs-10.cell-sm-8.cell-md-4.cell-md-preffix-2.offset-md-top-100.offset-top-50
              article.post-default.post-timeline.post-timeline-right
                +thumbnail-default({
                  "type": "thumbnail",
                  "thumb": {"src": "images/blog/blog-04-770x520.jpg", "width": 770, "height": 520, "alt": ""},
                  "target": {"href":  cfg.nav.blog.submenu.postPage.href}
                })
                .offset-top-10
                  h5.text-primary.text-bold.post-default-title
                    a(href= cfg.nav.blog.submenu.postPage.href)=text.sect1.elem18
                .offset-top-15
                  .post-meta
                    ul.list-inline
                      li
                        span.icon.icon-xxs.fa-calendar.text-gray.text-middle
                        time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")=text.sect1.elem19
                      li
                        span.icon.icon-xxs.fa-user.text-gray.text-middle
                        a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle=text.sect1.elem20
                      li
                        span.icon.icon-xxs.fa-comment.text-gray.text-middle
                        a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-5.text-middle=text.sect1.elem21
                p=text.sect1.elem22
                .offset-top-20
                  a(href= cfg.nav.blog.submenu.postPage.href).btn.btn-primary.btn-sm learn more

  // Page Footer
  include ../sections/_section-footer-corporate