extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-thumbnail-default
include ../elements/_ui-pagination-bootstrap
//- Title
block title
  title= cfg.nav.blog.submenu.blog3ColumnsLayout.title

//- Page
block page
  //- Include text dump
  include ../dump/_blog-3-columns-layout
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.blog,
    cfg.nav,
    cfg.nav.blog.submenu.blog3ColumnsLayout.title
    )

  +breadcrumb-classic(
  cfg.nav.blog.submenu.blog3ColumnsLayout.title,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.blog.title,
      "href": cfg.nav.blog.href
    },
    2: {
      "title": cfg.nav.blog.submenu.blog3ColumnsLayout.title,
      "href": cfg.nav.blog.submenu.blog3ColumnsLayout.href
    }
  })

  // Page Content
  main.page-content
    // Latest news
    section.section-70.section-md-90
      .shell
        .range.text-sm-left.range-xs-center
          .cell-xs-10.cell-sm-6.cell-lg-4
            article.post-default
              +thumbnail-default({
                "type": "thumbnail",
                "thumb": {"src": "images/blog/blog-01-770x520.jpg", "width": 370, "height": 250, "alt": ""},
                "target": {"href":  cfg.nav.blog.submenu.postPage.href}
              })
              .offset-top-10
                h5.text-primary.text-bold.post-default-title
                  a(href= cfg.nav.blog.submenu.postPage.href)= text.sect1.elem1
              .offset-top-15
                .post-meta
                  ul.list-inline
                    li
                      span.icon.icon-xxs.fa-calendar.text-gray.text-middle
                      time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")= text.sect1.elem2
                    li
                      span.icon.icon-xxs.fa-user.text-gray.text-middle
                      a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle= text.sect1.elem3
                    li
                      span.icon.icon-xxs.fa-comment.text-gray.text-middle
                      a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-5.text-middle= text.sect1.elem4
              p.inset-md-right-25= text.sect1.elem5
              .offset-top-20
                a(href= cfg.nav.blog.submenu.postPage.href).btn.btn-primary.btn-sm learn more

          .cell-xs-10.cell-sm-6.cell-lg-4.offset-top-70.offset-sm-top-0
            article.post-default
              +thumbnail-default({
                "type": "thumbnail",
                "thumb": {"src": "images/blog/blog-02-770x520.jpg", "width": 370, "height": 250, "alt": ""},
                "target": {"href":  cfg.nav.blog.submenu.postPage.href}
              })
              .offset-top-10
                h5.text-primary.text-bold.post-default-title
                  a(href= cfg.nav.blog.submenu.postPage.href)= text.sect1.elem6
              .offset-top-15
                .post-meta
                  ul.list-inline
                    li
                      span.icon.icon-xxs.fa-calendar.text-gray.text-middle
                      time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")= text.sect1.elem7
                    li
                      span.icon.icon-xxs.fa-user.text-gray.text-middle
                      a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle= text.sect1.elem8
                    li
                      span.icon.icon-xxs.fa-comment.text-gray.text-middle
                      a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-5.text-middle= text.sect1.elem9
              p.inset-md-right-25= text.sect1.elem10

              .offset-top-20
                a(href= cfg.nav.blog.submenu.postPage.href).btn.btn-primary.btn-sm learn more
          .cell-xs-10.cell-sm-6.cell-lg-4.offset-top-70.offset-lg-top-0
            article.post-default
              +thumbnail-default({
                "type": "thumbnail",
                "thumb": {"src": "images/blog/blog-03-770x520.jpg", "width": 370, "height": 250, "alt": ""},
                "target": {"href":  cfg.nav.blog.submenu.postPage.href}
              })
              .offset-top-10
                h5.text-primary.text-bold.post-default-title
                  a(href= cfg.nav.blog.submenu.postPage.href)= text.sect1.elem11
              .offset-top-15
                .post-meta
                  ul.list-inline
                    li
                      span.icon.icon-xxs.fa-calendar.text-gray.text-middle
                      time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")= text.sect1.elem12
                    li
                      span.icon.icon-xxs.fa-user.text-gray.text-middle
                      a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle= text.sect1.elem13
                    li
                      span.icon.icon-xxs.fa-comment.text-gray.text-middle
                      a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-5.text-middle= text.sect1.elem14
              p.inset-md-right-25= text.sect1.elem15
              .offset-top-20
                a(href= cfg.nav.blog.submenu.postPage.href).btn.btn-primary.btn-sm learn more

          .cell-xs-10.cell-sm-6.cell-lg-4.offset-top-70.offset-lg-top-90
            article.post-default
              +thumbnail-default({
                "type": "thumbnail",
                "thumb": {"src": "images/blog/blog-04-770x520.jpg", "width": 370, "height": 250, "alt": ""},
                "target": {"href":  cfg.nav.blog.submenu.postPage.href}
              })
              .offset-top-10
                h5.text-primary.text-bold.post-default-title
                  a(href= cfg.nav.blog.submenu.postPage.href)= text.sect1.elem16
              .offset-top-15
                .post-meta
                  ul.list-inline
                    li
                      span.icon.icon-xxs.fa-calendar.text-gray.text-middle
                      time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")= text.sect1.elem17
                    li
                      span.icon.icon-xxs.fa-user.text-gray.text-middle
                      a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle= text.sect1.elem18
                    li
                      span.icon.icon-xxs.fa-comment.text-gray.text-middle
                      a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-5.text-middle= text.sect1.elem19
              p.inset-md-right-25= text.sect1.elem20
              .offset-top-20
                a(href= cfg.nav.blog.submenu.postPage.href).btn.btn-primary.btn-sm learn more

          .cell-xs-10.cell-sm-6.cell-lg-4.offset-top-70.offset-lg-top-90
            article.post-default
              +thumbnail-default({
                "type": "thumbnail",
                "thumb": {"src": "images/blog/blog-05-370x250.jpg", "width": 370, "height": 250, "alt": ""},
                "target": {"href":  cfg.nav.blog.submenu.postPage.href}
              })
              .offset-top-10
                h5.text-primary.text-bold.post-default-title
                  a(href= cfg.nav.blog.submenu.postPage.href)= text.sect1.elem21
              .offset-top-15
                .post-meta
                  ul.list-inline
                    li
                      span.icon.icon-xxs.fa-calendar.text-gray.text-middle
                      time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")= text.sect1.elem22
                    li
                      span.icon.icon-xxs.fa-user.text-gray.text-middle
                      a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle= text.sect1.elem23
                    li
                      span.icon.icon-xxs.fa-comment.text-gray.text-middle
                      a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-5.text-middle= text.sect1.elem24
              p.inset-md-right-25= text.sect1.elem25
              .offset-top-20
                a(href= cfg.nav.blog.submenu.postPage.href).btn.btn-primary.btn-sm learn more

          .cell-xs-10.cell-sm-6.cell-lg-4.offset-top-70.offset-lg-top-90
            article.post-default
              +thumbnail-default({
                "type": "thumbnail",
                "thumb": {"src": "images/blog/blog-06-370x250.jpg", "width": 370, "height": 250, "alt": ""},
                "target": {"href":  cfg.nav.blog.submenu.postPage.href}
              })
              .offset-top-10
                h5.text-primary.text-bold.post-default-title
                  a(href= cfg.nav.blog.submenu.postPage.href)= text.sect1.elem26
              .offset-top-15
                .post-meta
                  ul.list-inline
                    li
                      span.icon.icon-xxs.fa-calendar.text-gray.text-middle
                      time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")= text.sect1.elem27
                    li
                      span.icon.icon-xxs.fa-user.text-gray.text-middle
                      a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle= text.sect1.elem28
                    li
                      span.icon.icon-xxs.fa-comment.text-gray.text-middle
                      a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-5.text-middle= text.sect1.elem29
              p.inset-md-right-25= text.sect1.elem30
              .offset-top-20
                a(href= cfg.nav.blog.submenu.postPage.href).btn.btn-primary.btn-sm learn more

        .offset-top-70.offset-md-top-90
          +pagination-bootstrap(null, 1, [{"href": "#"}, {"href": "#"}, {"href": "#"}, {"href": "#"}])

  // Page Footer
  include ../sections/_section-footer-corporate