extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-thumbnail-default
include ../elements/_ui-pagination-bootstrap
//- Title
block title
  title= cfg.nav.blog.submenu.archive.title

//- Page
block page
  //- Include text dump
  include ../dump/_blog-archive
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.blog,
    cfg.nav,
    cfg.nav.blog.submenu.archive.title
    )

  +breadcrumb-classic(
  cfg.nav.blog.submenu.archive.title,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.blog.title,
      "href": cfg.nav.blog.href
    },
    2: {
      "title": cfg.nav.blog.submenu.archive.title,
      "href": cfg.nav.blog.submenu.archive.href
    }
  })

  // Page Content
  main.page-content
    // Latest news
    section.section-70.section-md-90
      .shell.text-md-left
        .range.text-md-left.range-xs-center
          .cell-xs-10.cell-md-8
            article.post-default
              +thumbnail-default({
                "type": "thumbnail",
                "thumb": {"src": "images/blog/blog-01-770x520.jpg", "width": 770, "height": 520, "alt": ""},
                "target": {"href": cfg.nav.blog.submenu.postPage.href}
              })
              .offset-top-10
                h5.text-primary.text-bold.post-default-title
                  a(href=cfg.nav.blog.submenu.postPage.href)= text.sect1.elem1
              .offset-top-15
                .post-meta
                  ul.list-inline
                    li
                      span.icon.icon-xxs.fa-calendar.text-gray.text-middle
                      time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")= text.sect1.elem2
                    li
                      span.icon.icon-xxs.fa-user.text-gray.text-middle
                      a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle= text.sect1.elem3
                    li
                      span.icon.icon-xxs.fa-comment.text-gray.text-middle
                      a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-5.text-middle= text.sect1.elem4
              p= text.sect1.elem5

              .offset-top-20
                a(href=cfg.nav.blog.submenu.postPage.href).btn.btn-primary.btn-sm learn more
            .offset-top-70.offset-md-top-90
              article.post-default
                +thumbnail-default({
                  "type": "thumbnail",
                  "thumb": {"src": "images/blog/blog-02-770x520.jpg", "width": 770, "height": 520, "alt": ""},
                  "target": {"href": cfg.nav.blog.submenu.postPage.href}
                })
                .offset-top-10
                  h5.text-primary.text-bold.post-default-title
                    a(href=cfg.nav.blog.submenu.postPage.href)= text.sect1.elem6
                .offset-top-15
                  .post-meta
                    ul.list-inline
                      li
                        span.icon.icon-xxs.fa-calendar.text-gray.text-middle
                        time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")= text.sect1.elem7
                      li
                        span.icon.icon-xxs.fa-user.text-gray.text-middle
                        a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle= text.sect1.elem8
                      li
                        span.icon.icon-xxs.fa-comment.text-gray.text-middle
                        a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-5.text-middle= text.sect1.elem9
                p= text.sect1.elem10

                .offset-top-20
                  a(href=cfg.nav.blog.submenu.postPage.href).btn.btn-primary.btn-sm learn more
            .offset-top-70.offset-md-top-90
              article.post-default
                +thumbnail-default({
                  "type": "thumbnail",
                  "thumb": {"src": "images/blog/blog-03-770x520.jpg", "width": 770, "height": 520, "alt": ""},
                  "target": {"href": cfg.nav.blog.submenu.postPage.href}
                })
                .offset-top-10
                  h5.text-primary.text-bold.post-default-title
                    a(href=cfg.nav.blog.submenu.postPage.href)= text.sect1.elem11
                .offset-top-15
                  .post-meta
                    ul.list-inline
                      li
                        span.icon.icon-xxs.fa-calendar.text-gray.text-middle
                        time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")= text.sect1.elem12
                      li
                        span.icon.icon-xxs.fa-user.text-gray.text-middle
                        a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle= text.sect1.elem13
                      li
                        span.icon.icon-xxs.fa-comment.text-gray.text-middle
                        a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-5.text-middle= text.sect1.elem14
                p= text.sect1.elem15
                .offset-top-20
                  a(href=cfg.nav.blog.submenu.postPage.href).btn.btn-primary.btn-sm learn more

            .offset-top-70.offset-md-top-90
              article.post-default
                +thumbnail-default({
                  "type": "thumbnail",
                  "thumb": {"src": "images/blog/blog-04-770x520.jpg", "width": 770, "height": 520, "alt": ""},
                  "target": {"href": cfg.nav.blog.submenu.postPage.href}
                })
                .offset-top-10
                  h5.text-primary.text-bold.post-default-title
                    a(href=cfg.nav.blog.submenu.postPage.href)= text.sect1.elem16
                .offset-top-15
                  .post-meta
                    ul.list-inline
                      li
                        span.icon.icon-xxs.fa-calendar.text-gray.text-middle
                        time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")= text.sect1.elem17
                      li
                        span.icon.icon-xxs.fa-user.text-gray.text-middle
                        a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle= text.sect1.elem18
                      li
                        span.icon.icon-xxs.fa-comment.text-gray.text-middle
                        a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-5.text-middle= text.sect1.elem19
                p= text.sect1.elem20

                .offset-top-20
                  a(href=cfg.nav.blog.submenu.postPage.href).btn.btn-primary.btn-sm learn more

            .offset-top-70.offset-md-top-90
              +pagination-bootstrap(null, 1, [{"href": "#"}, {"href": "#"}, {"href": "#"}, {"href": "#"}])

          .cell-xs-12.cell-sm-8.cell-md-4.offset-top-90.offset-md-top-0
            .inset-md-left-15.inset-lg-left-30
              aside.text-left
                .range
                  .cell-xs-push-3.cell-xs-6.cell-md-12.offset-xs-top-60.offset-md-top-0.cell-md-push-1
                    // Archives
                    h5 Archives
                    div.text-subline
                    .offset-top-20
                      ul.list.list-marked.list-marked-primary.reveal-inline-block
                        li
                          a(href="#") Jun 2015
                        li
                          a(href="#") Aug 2015
                        li
                          a(href="#") Oct 2015
                        li
                          a(href="#") Dec 2015
                        li
                          a(href="#") Feb 2015
                      ul.list.list-marked.list-marked-primary.reveal-md-inline-block.inset-md-left-50.offset-top-0
                        li
                          a(href="#") Jul 2015
                        li
                          a(href="#") Sep 2015
                        li
                          a(href="#") Nov 2015
                        li
                          a(href="#") Jan 2016
                        li
                          a(href="#") Mar 2016
                  .cell-xs-12.offset-top-50.cell-md-push-1
                  include ../sections/_section-blog-sidebar
  // Page Footer
  include ../sections/_section-footer-corporate