extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-thumbnail-default
include ../elements/_ui-pagination-bootstrap
include ../elements/_ui-box-comment
//- Title
block title
  title= cfg.nav.blog.submenu.postPage.title

//- Page
block page
  //- Include text dump
  include ../dump/_blog-post-page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.blog,
    cfg.nav,
    cfg.nav.blog.submenu.postPage.title
    )

  +breadcrumb-classic(
  cfg.nav.blog.submenu.postPage.title,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.blog.title,
      "href": cfg.nav.blog.href
    },
    2: {
      "title": cfg.nav.blog.submenu.postPage.title,
      "href": cfg.nav.blog.submenu.postPage.href
    }
  })

  // Page Content
  main.page-content
    // Latest news
    section.section-70.section-md-90
      .shell
        .range.text-sm-left.range-xs-center
          .cell-xs-10.cell-md-8
            article.post-default
              div
                h2.text-uppercase.text-bold= text.sect1.elem1
              .offset-top-10
                hr.divider.divider-lg.bg-primary.hr-sm-left-0
              .offset-top-50
                img.img-responsive(src="images/blog/blog-01-770x520.jpg", width="770", height="520", alt="")
              .offset-top-25
                .post-meta
                  ul.list-inline
                    li
                      span.icon.icon-xxs.fa-calendar.text-gray.text-middle
                      time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")= text.sect1.elem2
                    li
                      span.icon.icon-xxs.fa-user.text-gray.text-middle
                      a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle= text.sect1.elem3
                    li
                      span.icon.icon-xxs.fa-comment.text-gray.text-middle
                      a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-5.text-middle= text.sect1.elem4
              p= text.sect1.elem5
              p= text.sect1.elem6
              .offset-top-30
                img.img-responsive(src="images/blog/blog-02-770x520.jpg", width="770", height="520", alt="")
                .offset-top-20
                  p= text.sect1.elem7
                  p= text.sect1.elem8
                  p= text.sect1.elem9
              .offset-top-20
                span.text-gray.text-light.text-middle= text.sect1.elem10
                ul.list-inline.reveal-inline-block.inset-left-15.list-inline-dark
                  li
                    a(href="#").icon.icon-xxs.fa-facebook.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-twitter.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-pinterest.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-vimeo.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-vimeo.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-rss.text-middle
            .offset-top-70.offset-md-top-90
              h3= text.sect1.elem11
              .unit.unit-sm.unit-sm-horizontal.text-sm-left.unit-spacing-lg
                .unit-left
                  img.img-responsive.img-circle.reveal-inline-block(src="images/users/user-patrick-pool-170x170.jpg", width="170", height="170", alt="")
                .unit-body
                  div
                    h5.text-primary
                      a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect1.elem12
                  div
                    p.text-silver= text.sect1.elem13
                  p= text.sect1.elem14
                  p= text.sect1.elem15

            .offset-top-70.offset-md-top-90
              h2.text-uppercase.text-bold= text.sect1.elem16
              hr.divider.divider-lg.bg-primary.hr-sm-left-0
              .range.range-xs-center.offset-top-50
                .cell-sm-6
                  article.post-default
                    +thumbnail-default({
                      "type": "thumbnail",
                      "thumb": {"src": "images/blog/blog-02-770x520.jpg", "width": 770, "height": 520, "alt": ""},
                      "target": {"href": "#"}
                    })
                    .offset-top-10
                      h5.text-primary.text-bold.post-default-title
                        a(href="#")= text.sect1.elem17
                    .offset-top-15
                      .post-meta
                        ul.list-inline
                          li
                            span.icon.icon-xxs.fa-calendar.text-gray.text-middle
                            time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")= text.sect1.elem18
                          li
                            span.icon.icon-xxs.fa-user.text-gray.text-middle
                            a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle= text.sect1.elem19
                          li
                            span.icon.icon-xxs.fa-comment.text-gray.text-middle
                            a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-5.text-middle= text.sect1.elem20
                    p= text.sect1.elem21
                    .offset-top-20
                      a(href="#").btn.btn-primary.btn-sm learn more
                .cell-sm-6.offset-top-70.offset-sm-top-0
                  article.post-default
                    +thumbnail-default({
                      "type": "thumbnail",
                      "thumb": {"src": "images/blog/blog-03-770x520.jpg", "width": 770, "height": 520, "alt": ""},
                      "target": {"href": "#"}
                    })
                    .offset-top-10
                      h5.text-primary.text-bold.post-default-title
                        a(href="#")= text.sect1.elem22
                    .offset-top-15
                      .post-meta
                        ul.list-inline
                          li
                            span.icon.icon-xxs.fa-calendar.text-gray.text-middle
                            time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")= text.sect1.elem23
                          li
                            span.icon.icon-xxs.fa-user.text-gray.text-middle
                            a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle= text.sect1.elem24
                          li
                            span.icon.icon-xxs.fa-comment.text-gray.text-middle
                            a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-5.text-middle= text.sect1.elem25
                    p= text.sect1.elem26
                    .offset-top-20
                      a(href="#").btn.btn-primary.btn-sm learn more

            .offset-top-70.offset-md-top-90
              h2.text-uppercase.text-bold= text.sect1.elem27
              hr.divider.divider-lg.bg-primary.hr-sm-left-0
              .offset-top-90
                //- Comment 1
                +box-comment(
                "box-comment-classic",
                {
                  "width": 70,
                  "height": 70,
                  "src": "images/users/user-john-doe-70x70.jpg",
                  "alt": text.sect1.elem28
                },
                text.sect1.elem29,
                text.sect1.elem30,
                text.sect1.elem31
                )
                  //- Reply 1
                  +box-comment(
                  "box-comment-classic",
                  {
                    "width": 70,
                    "height": 70,
                    "src": "images/users/user-kathy-gordon-70x70.jpg",
                    "alt": text.sect1.elem32
                  },
                  text.sect1.elem33,
                  text.sect1.elem34,
                  text.sect1.elem35,
                  text.sect1.elem36
                  )
                .offset-top-80
                  h3.text-bold= text.sect1.elem37
                  form.offset-top-10.text-left
                    .range.range-xs-center.range-narrow
                      .cell-md-6
                        .form-group
                          label.form-label(for="box-comment-classic-comment-f-name") Your first name
                          input#box-comment-classic-comment-f-name.form-control.form-validation-inside(type="text" name="first-name" data-constraints="@Required")
                      .cell-md-6.offset-top-10.offset-md-top-0
                        .form-group
                          label.form-label(for="box-comment-classic-comment-l-name") Your last name
                          input#box-comment-classic-comment-l-name.form-control.form-validation-inside(type="text" name="last-name" data-constraints="@Required")
                      .cell-md-12.offset-top-10
                        .form-group
                          label.form-label(for="box-comment-classic-comment-message") Message:
                          textarea#box-comment-classic-comment-message.form-control.form-validation-inside(data-constraints="@Required")
                    .text-center.text-md-left.offset-top-10
                      button(type="button").btn.btn-sm.btn-primary send message

          .cell-xs-10.cell-sm-8.cell-md-4.offset-top-90.offset-md-top-0
            .inset-lg-left-30.inset-md-left-15
              .range
                aside.text-left
                  include ../sections/_section-blog-sidebar
  // Page Footer
  include ../sections/_section-footer-corporate