extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic

//- Title
block title
  title= cfg.nav.pages.submenu.aditionalPages.submenu.buttons.title

//- Page
block page
  //- Include text dump
  include ../dump/_buttons
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.aditionalPages.submenu.buttons.title
    )

  +breadcrumb-classic(
  cfg.nav.pages.submenu.aditionalPages.submenu.buttons.title,
  {0: {
    "title": cfg.nav.home.title,
    "href": cfg.nav.home.href
  },
    1: {
      "title": cfg.nav.pages.submenu.aditionalPages.title,
      "href": cfg.nav.pages.submenu.aditionalPages.href
    },
    2: {
      "title": cfg.nav.pages.submenu.aditionalPages.submenu.buttons.title,
      "href": cfg.nav.pages.submenu.aditionalPages.submenu.buttons.href
    }
  })

  // Page Content
  main.page-content

    // Heading Style
    section.section-70.section-md-98
      .shell.text-sm-left
        .range.range-xs-center.range-sm-left
          .cell-xs-12
            h2=text.sect1.elem1
            hr.divider.divider-lg.bg-primary.hr-sm-left-0
            .offset-top-50
              p=text.sect1.elem2
            .offset-top-50
              .group.group-lg
                a(href="#").btn.btn-primary.btn-lg super size
                a(href="#").btn.btn-primary large size
                a(href="#").btn.btn-primary.btn-sm base size
                a(href="#").btn.btn-primary.btn-xs small size

        .range.range-xs-center.range-sm-left.offset-top-90
          .cell-xs-12
            h2=text.sect1.elem3
            hr.divider.divider-lg.bg-primary.hr-sm-left-0
            .offset-top-50
              p=text.sect1.elem4
            .offset-top-50
              .group.group-lg
                a(href="#").btn.btn-primary.btn-sm.btn-rounded  round 1
                a(href="#").btn.btn-primary.btn-sm.btn-round  round 2
                a(href="#").btn.btn-primary.btn-sm.btn-sm default
                a(href="#").btn.btn-primary.btn-sm.btn-ellipse circle

        .range.range-xs-center.range-sm-left.offset-top-90
          .cell-xs-12
            h2=text.sect1.elem5
            hr.divider.divider-lg.bg-primary.hr-sm-left-0
            .offset-top-50
              p=text.sect1.elem6
            .offset-top-50
              .group.group-lg
                a(href="#").btn.btn-primary.btn-sm.btn-icon.btn-icon-right
                  span.icon.fa-search
                  span icon right

                a(href="#").btn.btn-primary.btn-sm.btn-icon.btn-icon-left
                  span.text-middle.icon.fa-heart
                  span.text-middle icon left

                a(href="#").btn.btn-primary.btn-sm.btn-icon.btn-icon-right.active
                  span.icon.fa-search
                  span icon right

                a(href="#").btn.btn-primary.btn-sm.btn-icon.btn-icon-left.active
                  span.text-middle.icon.fa-heart
                  span.text-middle icon left

        .range.range-xs-center.range-sm-left.offset-top-90
          .cell-xs-12
            h2=text.sect1.elem7
            hr.divider.divider-lg.bg-primary.hr-sm-left-0
            .offset-top-50
              p=text.sect1.elem8
            .offset-top-50
              .group.group-lg
                a(href="#").btn.btn-primary.btn-sm.shadow-drop-xs Shadow
                a(href="#").btn.btn-primary.btn-sm.active.shadow-drop-xs Shadow

  // Page Footer
  include ../sections/_section-footer-corporate