extends  ../_skeleton
//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-rd-map
//- Title
block title
  title= cfg.nav.pages.submenu.pageslvl1.submenu.calculate.title
//- Page
block page
  //- Include text dump
  include ../dump/_calculate
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.pageslvl1.submenu.calculate.title
    )
  +breadcrumb-classic(
  cfg.nav.pages.submenu.pageslvl1.submenu.calculate.title,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.pages.title,
      "href": cfg.nav.pages.href
    },
    2: {
      "title": cfg.nav.pages.submenu.pageslvl1.submenu.calculate.title,
      "href": cfg.nav.pages.submenu.pageslvl1.submenu.calculate.href
    }
  })
  // Page Content
  main.page-content
    section.section-70.section-md-90
      .shell.text-sm-left
        h2 Request a Quick Quote
        hr.divider.divider-lg.bg-primary.hr-sm-left-0
        .offset-top-50
          p Please complete and submit this form and one of our representatives will reply promptly. Thank You!
        .offset-top-20
          form.rd-mailform.text-left(method='post', action='bat/rd-mailform.php' data-form-output='form-output-global')
            .range.range-xs-bottom
              .cell-sm-6.cell-lg-4
                .form-group
                  label.form-label.form-label-outside(for="form-quote-city-poster")  City-poster
                  select.form-control(id="form-quote-city-poster" name="city-poster")
                    option(value="1") Enter city name...
                    option(value="2") San Francisco
                    option(value="3") New York
                    option(value="4") Las Vegas
              .cell-sm-6.cell-lg-4.offset-top-30.offset-sm-top-0
                .form-group
                  label.form-label.form-label-outside(for="form-quote-city-recipient")  City-recipient
                  select.form-control(id="form-quote-city-recipient" name="city-recipient")
                    option(value="1") Enter city name...
                    option(value="2") San Francisco
                    option(value="3") New York
                    option(value="4") Las Vegas
              .cell-sm-6.cell-lg-4.offset-top-30
                .form-group
                  label.form-label.form-label-outside(for="form-quote-delivery-technology") Delivery technology
                  select.form-control(id="form-quote-delivery-technology" name="delivery-technology" )
                    option(value="1") Storage-storage
                    option(value="2") Storage-home
                    option(value="3") Company-storage
                    option(value="4") Home-company
              .cell-sm-6.cell-lg-4.offset-top-30
                .form-group
                  label.form-label.form-label-outside(for="form-quote-type-of-departure") Type of departure
                  select.form-control(id="form-quote-type-of-departure" name="property_type")
                    option(value="1") Cargo
                    option(value="2") Water
                    option(value="3") Rail
                    option(value="4") Road

              .cell-sm-3.cell-lg-2.offset-top-30
                .form-group
                  label.form-label.form-label-outside(for="form-quote-weight")  Weight (lb)
                  input#form-quote-weight.form-control(type="text" name="weight" placeholder="0" data-constraints="@Required @IsNumeric")

              .cell-sm-3.cell-lg-2.offset-top-30
                .form-group
                  label.form-label.form-label-outside(for="form-quote-height")  Height (inch)
                  input#form-quote-height.form-control(type="text" name="height" placeholder="0" data-constraints="@Required @IsNumeric")

              .cell-sm-3.cell-lg-2.offset-top-30
                .form-group
                  label.form-label.form-label-outside(for="form-quote-width")  Width (inch)
                  input#form-quote-width.form-control(type="text" name="width" placeholder="0" data-constraints="@Required @IsNumeric")

              .cell-sm-3.cell-lg-2.offset-top-30
                .form-group
                  label.form-label.form-label-outside(for="form-quote-length")  Length (inch)
                  input#form-quote-length.form-control(type="text" name="length" placeholder="0" data-constraints="@Required @IsNumeric")

              .cell-sm-6.cell-lg-3.offset-top-30
                .form-group
                  label.form-label.form-label-outside(for="form-quote-return-shipping-service") Return shipping service
                  select.form-control(id="form-quote-return-shipping-service" name="shipping-service")
                    option(value="1") No
                    option(value="2") Yes

              .cell-sm-6.cell-lg-3.offset-top-30
                .form-group
                  label.form-label.form-label-outside(for="form-quote-type-of-packing") Type of packing
                  select.form-control(id="form-quote-type-of-packing" name="type-of-packing")
                    option(value="1") No packing
                    option(value="2") Box
                    option(value="2") package

              .cell-sm-4.cell-lg-2.offset-top-30
                .form-group
                  label.form-label.form-label-outside(for="form-quote-assessed-value") Assessed value (USD)
                  input#form-quote-assessed-value.form-control(type="text" name="assessed-value" placeholder="0" data-constraints="@Required @IsNumeric")

              .cell-sm-4.cell-lg-2.offset-top-30
                .form-group
                  label.form-label.form-label-outside(for="form-quote-seats") Seats
                  input#form-quote-seats.form-control(type="text" name="seats" placeholder="0" data-constraints="@Required @IsNumeric")

              .cell-sm-4.cell-lg-2
                a(href="#" style="padding-left:30px; padding-right: 30px").btn.btn-primary.btn-sm.btn-block calculate

  // Page Footer
  include ../sections/_section-footer-corporate