extends  ../_skeleton
//- Includes
include ../elements/_ui-breadcrumb-classic
//- Title
block title
  title= cfg.nav.pages.submenu.pageslvl1.submenu.clients.title
//- Page
block page
  //- Include text dump
  include ../dump/_clients
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.pageslvl1.submenu.clients.title
    )
  +breadcrumb-classic(
  cfg.nav.pages.submenu.pageslvl1.submenu.clients.title,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.pages.title,
      "href": cfg.nav.pages.href
    },
    2: {
      "title": cfg.nav.pages.submenu.pageslvl1.submenu.clients.title,
      "href": cfg.nav.pages.submenu.pageslvl1.submenu.clients.href
    }
  })
  // Page Content
  main.page-content
    // Testimonials
    section.section-70.section-md-90.section-md-bottom-120.section-skew.section-skew-wide
      .skew-block
      .shell.text-sm-left
        h2= text.sect1.elem1
        hr.divider.divider-lg.bg-primary.hr-md-left-0
        .offset-top-50
          .owl-carousel.owl-carousel-default(data-loop="false" data-items="1" data-dots="true" data-mouse-drag="false" data-sm-items="3" data-nav="false" data-margin="30")
            div
              .quote-simple
                .unit.unit-sm.unit-sm-horizontal.text-sm-left.unit-sm-middle
                  .unit-left
                    img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-jenny-myers-70x70.jpg", width="70", height="70", alt="")
                  .unit-body
                    p.text-primary
                      cite.text-normal.text-bold
                        a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect1.elem2
                p.offset-top-20
                  q= text.sect1.elem3
            div
              .quote-simple
                .unit.unit-sm.unit-sm-horizontal.text-sm-left.unit-sm-middle
                  .unit-left
                    img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-peter-johnson-70x70.jpg", width="70", height="70", alt="")
                  .unit-body
                    p.text-primary
                      cite.text-normal.text-bold
                        a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect1.elem4
                p.offset-top-20
                  q= text.sect1.elem5
            div
              .quote-simple
                .unit.unit-sm.unit-sm-horizontal.text-sm-left.unit-sm-middle
                  .unit-left
                    img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-danny-nelson-70x70.jpg", width="70", height="70", alt="")
                  .unit-body
                    p.text-primary
                      cite.text-normal.text-bold
                        a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect1.elem6
                p.offset-top-20
                  q= text.sect1.elem7

            div
              .quote-simple
                .unit.unit-sm.unit-sm-horizontal.text-sm-left.unit-sm-middle
                  .unit-left
                    img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-peter-johnson-70x70.jpg", width="70", height="70", alt="")
                  .unit-body
                    p.text-primary
                      cite.text-normal.text-bold
                        a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect1.elem8
                p
                  q= text.sect1.elem9

            div
              .quote-simple
                .unit.unit-sm.unit-sm-horizontal.text-sm-left.unit-sm-middle
                  .unit-left
                    img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-jenny-myers-70x70.jpg", width="70", height="70", alt="")
                  .unit-body
                    p.text-primary
                      cite.text-normal.text-bold
                        a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect1.elem2
                p
                  q= text.sect1.elem3

            div
              .quote-simple
                .unit.unit-sm.unit-sm-horizontal.text-sm-left.unit-sm-middle
                  .unit-left
                    img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-danny-nelson-70x70.jpg", width="70", height="70", alt="")
                  .unit-body
                    p.text-primary
                      cite.text-normal.text-bold
                        a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect1.elem6
                p
                  q= text.sect1.elem7

            div
              .quote-simple
                .unit.unit-sm.unit-sm-horizontal.text-sm-left.unit-sm-middle
                  .unit-left
                    img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-jenny-myers-70x70.jpg", width="70", height="70", alt="")
                  .unit-body
                    p.text-primary
                      cite.text-normal.text-bold
                        a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect1.elem2
                p
                  q= text.sect1.elem3
            div
              .quote-simple
                .unit.unit-sm.unit-sm-horizontal.text-sm-left.unit-sm-middle
                  .unit-left
                    img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-peter-johnson-70x70.jpg", width="70", height="70", alt="")
                  .unit-body
                    p.text-primary
                      cite.text-normal.text-bold
                        a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect1.elem8
                p
                  q= text.sect1.elem9
            div
              .quote-simple
                .unit.unit-sm.unit-sm-horizontal.text-sm-left.unit-sm-middle
                  .unit-left
                    img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-danny-nelson-70x70.jpg", width="70", height="70", alt="")
                  .unit-body
                    p.text-primary
                      cite.text-normal.text-bold
                        a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect1.elem6
                p
                  q= text.sect1.elem7

    // Testimonials
    section.section-90.bg-dark-blue.context-dark.section-skew.section-skew-wide
      .skew-block
      .shell.text-md-left
        h2= text.sect2.elem1
        hr.divider.divider-lg.bg-primary.hr-md-left-0
        .offset-top-50
          .owl-carousel.owl-carousel-default(data-loop="false" data-items="1" data-dots="true" data-mouse-drag="false" data-sm-items="2" data-nav="false" data-margin="30")
            div
              .quote
                .unit.unit-md.unit-md-horizontal.text-md-left
                  .unit-left
                    img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-evelyn-fisher-140x140.jpg", width="140", height="140", alt="")
                  .unit-body
                    p
                      q= text.sect2.elem2
                    p
                      cite= text.sect2.elem3
            div
              .quote
                .unit.unit-md.unit-md-horizontal.text-md-left
                  .unit-left
                    img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-lawrence-sims-140x140.jpg", width="140", height="140", alt="")
                  .unit-body
                    p
                      q= text.sect2.elem4
                    p
                      cite= text.sect2.elem5
            div
              .quote
                .unit.unit-md.unit-md-horizontal.text-md-left
                  .unit-left
                    img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-evelyn-fisher-140x140.jpg", width="140", height="140", alt="")
                  .unit-body
                    p
                      q= text.sect2.elem6
                    p
                      cite= text.sect2.elem7
            div
              .quote
                .unit.unit-md.unit-md-horizontal.text-md-left
                  .unit-left
                    img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-lawrence-sims-140x140.jpg", width="140", height="140", alt="")
                  .unit-body
                    p
                      q= text.sect2.elem8
                    p
                      cite= text.sect2.elem9
            div
              .quote
                .unit.unit-md.unit-md-horizontal.text-md-left
                  .unit-left
                    img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-evelyn-fisher-140x140.jpg", width="140", height="140", alt="")
                  .unit-body
                    p
                      q= text.sect2.elem10
                    p
                      cite= text.sect2.elem11
            div
              .quote
                .unit.unit-md.unit-md-horizontal.text-md-left
                  .unit-left
                    img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-lawrence-sims-140x140.jpg", width="140", height="140", alt="")
                  .unit-body
                    p
                      q= text.sect2.elem12
                    p
                      cite= text.sect2.elem13

    // Testimonials
    section.section-90.section-md-bottom-120.section-skew.bg-lightest
      .skew-block
      .shell.text-md-left
        h2= text.sect3.elem1
        hr.divider.divider-lg.bg-primary.hr-md-left-0
        .offset-top-50
          .owl-carousel.owl-carousel-default.owl-carousel-dots-lg-left(data-loop="false" data-items="1" data-dots="true" data-mouse-drag="false" data-sm-margin="100" data-sm-stage-padding="100" data-lg-stage-padding="0" data-lg-items="3" data-nav="false" data-lg-margin="30")
            div
              .quote-boxed.text-left
                .quote-boxed-body
                  p
                    q= text.sect3.elem2
                .offset-top-40.inset-md-left-30
                  .unit.unit-horizontal.text-sm-left.unit-middle
                    .unit-left
                      img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-ann-mcmillan-70x70.jpg", width="70", height="70", alt="")
                    .unit-body
                      p.text-primary
                        cite.text-normal.text-bold
                          a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect3.elem3
            div
              .quote-boxed.text-left
                .quote-boxed-body
                  p
                    q= text.sect3.elem4
                .offset-top-40.inset-md-left-30
                  .unit.unit-horizontal.text-sm-left.unit-middle
                    .unit-left
                      img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-james-wilkinson-70x70.jpg", width="70", height="70", alt="")
                    .unit-body
                      p.text-primary
                        cite.text-normal.text-bold
                          a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect3.elem5
            div
              .quote-boxed.text-left
                .quote-boxed-body
                  p
                    q= text.sect3.elem6
                .offset-top-40.inset-md-left-30
                  .unit.unit-horizontal.text-sm-left.unit-middle
                    .unit-left
                      img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-jim-smith-70x70.jpg", width="70", height="70", alt="")
                    .unit-body
                      p.text-primary
                        cite.text-normal.text-bold
                          a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect3.elem7
            div
              .quote-boxed.text-left
                .quote-boxed-body
                  p
                    q= text.sect3.elem8
                .offset-top-40.inset-md-left-30
                  .unit.unit-horizontal.text-sm-left.unit-middle
                    .unit-left
                      img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-ann-mcmillan-70x70.jpg", width="70", height="70", alt="")
                    .unit-body
                      p.text-primary
                        cite.text-normal.text-bold
                          a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect3.elem9
            div
              .quote-boxed.text-left
                .quote-boxed-body
                  p
                    q= text.sect3.elem10
                .offset-top-40.inset-md-left-30
                  .unit.unit-horizontal.text-sm-left.unit-middle
                    .unit-left
                      img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-james-wilkinson-70x70.jpg", width="70", height="70", alt="")
                    .unit-body
                      p.text-primary
                        cite.text-normal.text-bold
                          a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect3.elem11
            div
              .quote-boxed.text-left
                .quote-boxed-body
                  p
                    q= text.sect3.elem12
                .offset-top-40.inset-md-left-30
                  .unit.unit-horizontal.text-sm-left.unit-middle
                    .unit-left
                      img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-jim-smith-70x70.jpg", width="70", height="70", alt="")
                    .unit-body
                      p.text-primary
                        cite.text-normal.text-bold
                          a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect3.elem13
            div
              .quote-boxed.text-left
                .quote-boxed-body
                  p
                    q= text.sect3.elem14
                .offset-top-40.inset-md-left-30
                  .unit.unit-horizontal.text-sm-left.unit-middle
                    .unit-left
                      img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-ann-mcmillan-70x70.jpg", width="70", height="70", alt="")
                    .unit-body
                      p.text-primary
                        cite.text-normal.text-bold
                          a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect3.elem15
            div
              .quote-boxed.text-left
                .quote-boxed-body
                  p
                    q= text.sect3.elem16
                .offset-top-40.inset-md-left-30
                  .unit.unit-horizontal.text-sm-left.unit-middle
                    .unit-left
                      img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-james-wilkinson-70x70.jpg", width="70", height="70", alt="")
                    .unit-body
                      p.text-primary
                        cite.text-normal.text-bold
                          a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect3.elem17
            div
              .quote-boxed.text-left
                .quote-boxed-body
                  p
                    q= text.sect3.elem18
                .offset-top-40.inset-md-left-30
                  .unit.unit-horizontal.text-sm-left.unit-middle
                    .unit-left
                      img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-jim-smith-70x70.jpg", width="70", height="70", alt="")
                    .unit-body
                      p.text-primary
                        cite.text-normal.text-bold
                          a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect3.elem19

    // Testimonials
    section.section-90.section-md-bottom-120.section-skew.section-skew-wide.bg-white
      .skew-block
      .shell.text-md-left
        h2= text.sect4.elem1
        hr.divider.divider-lg.bg-primary.hr-md-left-0
        .offset-top-50
          .range.range-xs-center
            .cell-sm-6
              .unit.unit-sm.unit-sm-horizontal.text-sm-left.unit-spacing-xl
                .unit-left.text-center
                  img.img-responsive.reveal-inline-block(src="images/clients-01-150x134.png", width="150", height="134", alt="")
                .unit-body
                  div
                    h5.text-primary= text.sect4.elem2
                  p.offset-top-0
                    a(href="#").text-silver= text.sect4.elem3
                  p= text.sect4.elem4
            .cell-sm-6.offset-top-50.offset-sm-top-0
              .unit.unit-sm.unit-sm-horizontal.text-sm-left.unit-spacing-xl
                .unit-left
                  img.img-responsive.reveal-inline-block(src="images/clients-02-151x106.png", width="151", height="106", alt="")
                .unit-body
                  div
                    h5.text-primary= text.sect4.elem5
                  p.offset-top-0
                    a(href="#").text-silver= text.sect4.elem6
                  p= text.sect4.elem7

            .cell-sm-6.offset-top-50
              .unit.unit-sm.unit-sm-horizontal.text-sm-left.unit-spacing-xl
                .unit-left
                  img.img-responsive.reveal-inline-block(src="images/clients-03-150x134.png", width="150", height="134", alt="")
                .unit-body
                  div
                    h5.text-primary= text.sect4.elem8
                  p.offset-top-0
                    a(href="#").text-silver= text.sect4.elem9
                  p= text.sect4.elem10

            .cell-sm-6.offset-top-50
              .unit.unit-sm.unit-sm-horizontal.text-sm-left.unit-spacing-xl
                .unit-left
                  img.img-responsive.reveal-inline-block(src="images/clients-04-151x93.png", width="151", height="93", alt="")
                .unit-body
                  div
                    h5.text-primary= text.sect4.elem11
                  p.offset-top-0
                    a(href="#").text-silver= text.sect4.elem12
                  p= text.sect4.elem13
    // Testimonials
    section.section-90.bg-dark-blue.context-dark.section-skew.section-skew-wide
      .skew-block
      .shell.text-md-left
        h2= text.sect5.elem1
        hr.divider.divider-lg.bg-primary.hr-md-left-0
        .offset-top-50
          .owl-carousel.owl-carousel-default.owl-carousel-dots-lg-left.veil-lg-owl-dots(data-loop="false" data-items="1" data-dots="true" data-lg-dots="false" data-mouse-drag="false" data-sm-margin="100" data-sm-stage-padding="100" data-lg-stage-padding="0" data-lg-items="2" data-nav="false" data-lg-margin="30")
            div
              .inset-lg-right-40
                .unit.unit-md.unit-md-horizontal.text-md-left.unit-spacing-xl
                  .unit-left
                    img.img-responsive.reveal-inline-block(src="images/clients-01-150x134.png", width="150", height="134", alt="")
                    .offset-top-20
                      div
                        h5.text-primary= text.sect5.elem2
                      p.offset-top-0
                        a(href="#").text-dark= text.sect5.elem3
                  .unit-body
                    p= text.sect5.elem4

            div
              .quote
                .unit.unit-md.unit-md-horizontal.text-md-left
                  .unit-left
                    img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-evelyn-fisher-140x140.jpg", width="140", height="140", alt="")
                  .unit-body
                    p
                      q= text.sect5.elem5
                    p
                      cite= text.sect5.elem6

    // Testimonials
    section.section-90.section-md-bottom-120.section-skew.bg-white
      .skew-block
      .shell.text-md-left
        h2= text.sect6.elem1
        hr.divider.divider-lg.bg-primary.hr-md-left-0
        .offset-top-40
          .range.range-xs-center.range-xs-middle.section-clients
            .cell-sm-6.cell-md-4.cell-lg-2
              a(href="#")
                img.img-responsive.reveal-inline-block(src="images/clients-01-150x134.png", width="150", height="134", alt="")
            .cell-sm-6.cell-md-4.cell-lg-2.offset-top-30.offset-sm-top-0
              a(href="#")
                img.img-responsive.reveal-inline-block(src="images/clients-02-151x106.png", width="151", height="106", alt="")
            .cell-sm-6.cell-md-4.cell-lg-2.offset-top-30.offset-md-top-0
              a(href="#")
                img.img-responsive.reveal-inline-block(src="images/clients-03-150x134.png", width="150", height="134", alt="")
            .cell-sm-6.cell-md-4.cell-lg-2.offset-top-30.offset-lg-top-0
              a(href="#")
                img.img-responsive.reveal-inline-block(src="images/clients-04-151x93.png", width="151", height="93", alt="")
            .cell-sm-6.cell-md-4.cell-lg-2.offset-top-30.offset-lg-top-0
              a(href="#")
                img.img-responsive.reveal-inline-block(src="images/clients-05-150x86.png", width="150", height="86", alt="")
            .cell-sm-6.cell-md-4.cell-lg-2.offset-top-30.offset-lg-top-0
              a(href="#")
                img.img-responsive.reveal-inline-block(src="images/clients-06-150x150.png", width="150", height="150", alt="")



  // Page Footer
  include ../sections/_section-footer-corporate