extends  ../_skeleton
include ../elements/_ui-rd-parallax
include ../elements/_ui-progress-bar-circle
//- Title
block title
  title= cfg.nav.pages.submenu.pageslvl1.submenu.commingSoon.title
//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.pageslvl1.submenu.commingSoon.title
    )
  // Page Content
  main.page-content
    // Heading Style
    +rd-parallax({
      "backgroundSpeed": "0.35",
      "attrType": "media",
      "src": "images/backgrounds/bg-02-1920x833.jpg",
      "htmlSpeed": "0"
    })
      .shell.section-90.section-md-bottom-150.section-md-top-140.context-dark.text-sm-left
        h1 Website Coming Soon
        .range.range-xs-center.range-md-left.offset-top-30.text-center
          .cell-sm-6.cell-md-3
            +progress-bar-circle({
              "value": "0.50",
              "colorFill": "#3db7ef",
              "colorEmpty": "#f3f3f3",
              "circleSize": "200"
            })
              .offset-top-20
                p.font-accent.text-bold Cargo Transportation
          .cell-sm-6.offset-top-50.cell-md-3.offset-sm-top-0
            +progress-bar-circle({
              "value": "1",
              "colorFill": "#3db7ef",
              "colorEmpty": "#f3f3f3",
              "circleSize": "200"
            })
              .offset-top-20
                p.font-accent.text-bold Passenger Transportation

          .cell-sm-6.offset-top-50.cell-md-3.offset-md-top-0
            +progress-bar-circle({
              "value": "0.25",
              "colorFill": "#3db7ef",
              "colorEmpty": "#f3f3f3",
              "circleSize": "200"
            })
              .offset-top-20
                p.font-accent.text-bold Air Transportation
          .cell-sm-6.offset-top-50.cell-md-3.offset-md-top-0
            +progress-bar-circle({
              "value": "0.75",
              "colorFill": "#3db7ef",
              "colorEmpty": "#f3f3f3",
              "circleSize": "200"
            })
              .offset-top-20
                p.font-accent.text-bold Marine Transportation
        .offset-top-40
          p Sign up and we'll notify you of our launch. We'll also throw in a freebie for you.
        .offset-top-20
          a(href= cfg.nav.contacts.href).btn.btn-sm.btn-default learn more
  // Page Footer
  include ../sections/_section-footer-corporate