extends  ../_skeleton
//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-rd-map
//- Title
block title
  title= cfg.nav.contacts.title
//- Page
block page
  //- Include text dump
  include ../dump/_contacts
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.contacts,
    cfg.nav,
    cfg.nav.contacts.title
    )
  +breadcrumb-classic(
  cfg.nav.contacts.title,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.contacts.title,
      "href": cfg.nav.contacts.href
    }
  })
  // Page Content
  main.page-content
    section.section-70.section-md-90.section-md-bottom-120
      .shell.text-sm-left
        .range.range-xs-center
          .cell-xs-10.cell-md-8
            h2= text.sect1.elem1
            hr.divider.divider-lg.bg-primary.hr-sm-left-0
            .offset-top-50
              p= text.sect1.elem2
              p= text.sect1.elem3
            .offset-sm-top-55.offset-top-50
              .range.range-xs-center.range-sm-left
                .cell-sm-4
                  .unit.unit-sm.unit-sm-horizontal.text-sm-left
                    .unit-left
                      span.icon.icon-xxs.icon-primary.fa-envelope-o.offset-top-5
                    .unit-body
                      h5 Email
                      .offset-top-10
                        a.text-primary.text-light(href="mailto:#") info@demolink.org

                .cell-sm-8.offset-top-50.offset-sm-top-0
                  .inset-sm-left-30
                    .unit.unit-sm.unit-sm-horizontal.text-sm-left
                      .unit-left
                        span.icon.icon-xs.icon-primary.fa-share-alt.text-middle.offset-top-5(style="font-size: 24px; line-height:24px")
                      .unit-body
                        h5= text.sect1.elem4
                        ul.list-inline.list-inline-dark.list-inline-sm
                          li
                            a(href="#").icon.icon-xxs.fa-facebook.text-middle
                          li
                            a(href="#").icon.icon-xxs.fa-twitter.text-middle
                          li
                            a(href="#").icon.icon-xxs.fa-pinterest.text-middle
                          li
                            a(href="#").icon.icon-xxs.fa-vimeo.text-middle
                          li
                            a(href="#").icon.icon-xxs.fa-google.text-middle
            .offset-sm-top-50.offset-top-65
              h5= text.sect1.elem5
              // RD Mailform
            .offset-top-30
              form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                .range.range-narrow
                  .cell-lg-6
                    .form-group
                      label.form-label(for="contact-me-name") Your first name
                      input#contact-me-name.form-control.form-validation-inside(type="text" name="name" data-constraints="@Required")
                  .cell-lg-6.offset-top-10.offset-lg-top-0
                    .form-group
                      label.form-label(for="contact-me-phone") Your last name
                      input#contact-me-phone.form-control.form-validation-inside(type="text" name="last-name" data-constraints="@Required")
                  .cell-lg-12.offset-top-10
                    .form-group
                      label.form-label(for="contact-me-email") Your e-mail
                      input#contact-me-email.form-control.form-validation-inside(type="email" name="email" data-constraints="@Required @Email")
                  .cell-lg-12.offset-top-10
                    .form-group
                      label.form-label(for="contact-me-message") Message
                      textarea#contact-me-message.form-control.form-validation-inside(name="message" data-constraints="@Required" style="height: 160px")
                .text-center.text-lg-left.offset-top-10
                  button(type="submit").btn.btn-sm.btn-primary send message
          .cell-xs-10.cell-md-4.offset-top-65.offset-md-top-0
            +rd-map({
              "zoom": "14",
              "dataX": "-73.9874068",
              "dataY": "40.643180",
              "dataStyles": [{
                "featureType": "landscape",
                "stylers": [{"saturation": -100}, {"lightness": 60}]
              }, {
                "featureType": "road.local",
                "stylers": [{"saturation": -100}, {"lightness": 40}, {"visibility": "on"}]
              }, {
                "featureType": "transit",
                "stylers": [{"saturation": -100}, {"visibility": "simplified"}]
              }, {"featureType": "administrative.province", "stylers": [{"visibility": "off"}]}, {
                "featureType": "water",
                "stylers": [{"visibility": "on"}, {"lightness": 30}]
              }, {
                "featureType": "road.highway",
                "elementType": "geometry.fill",
                "stylers": [{"color": "#ef8c25"}, {"lightness": 40}]
              }, {
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [{"visibility": "off"}]
              }, {
                "featureType": "poi.park",
                "elementType": "geometry.fill",
                "stylers": [{"color": "#b6c54c"}, {"lightness": 40}, {"saturation": -40}]
              }, {}]
            },[{
              "dataX": "-73.9874068",
              "dataY": "40.643180",
              "markerDesc": "9870 St Vincent Place, Glasgow"
            }])

    section.section-skew.bg-dark-blue.section-skew-wide.context-dark.section-md-65.section-80
      .skew-block
      .shell
        .range.text-md-left.range-xs-center
          .cell-sm-8.cell-md-4
            .unit.unit-md.unit-md-horizontal.text-md-left
              .unit-left
                span.icon.icon-lg.icon-circle.icon-primary-filled.fa-map-marker
              .unit-body.contact-info
                h5= text.sect2.elem1
                address
                  a(href="#") 9863 - 9867 Mill Road, #[<br>] Cambridge, MG09 99HT.
          .cell-sm-8.cell-md-4.offset-top-30.offset-md-top-0
            .unit.unit-md.unit-md-horizontal.text-md-left
              .unit-left
                span.icon.icon-lg.icon-circle.icon-primary-filled.fa-phone
              .unit-body.contact-info
                h5= text.sect2.elem2
                dl
                  dt Phone:
                  dd
                    a(href="callto:#") +1 800 603 6035
                dl
                  dt Fax:
                  dd
                    a.inset-sm-left-20(href="callto:#") +1 800 889 9898
          .cell-sm-8.cell-md-4.offset-top-30.offset-md-top-0
            .unit.unit-md.unit-md-horizontal.text-md-left
              .unit-left
                span.icon.icon-lg.icon-circle.icon-primary-filled.mdi.fa-clock-o
              .unit-body
                h5= text.sect2.elem3
                p 8:00 - 18:00 Mon - Sat

  // Page Footer
  include ../sections/_section-footer-corporate