extends  ../_skeleton
//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_widget-form-subscribe
include ../elements/_ui-tabs-boxed
include ../elements/_ui-tabs-classic
include ../elements/_ui_accordion-classic
//- Title
block title
  title= cfg.nav.pages.submenu.pageslvl1.submenu.faq.title
//- Page
block page
  //- Include text dump
  include ../dump/_faq
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.pageslvl1.submenu.faq.title
    )
  +breadcrumb-classic(
  cfg.nav.pages.submenu.pageslvl1.submenu.faq.title,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.pages.submenu.pageslvl1.title,
      "href": cfg.nav.pages.submenu.pageslvl1.href
    },
    2: {
      "title": cfg.nav.pages.submenu.pageslvl1.submenu.faq.title,
      "href": cfg.nav.pages.submenu.pageslvl1.submenu.faq.href
    }
  })
  // Page Content
  main.page-content
    // Accordion
    section.section-70.section-md-98.section-md-bottom-120
      .shell.text-sm-left
        .range.range-xs-center.range-md-left
          .cell-xs-10.cell-lg-8
            h2= text.sect1.elem1
              span.text-lowercase= text.sect1.elem2
            hr.divider.divider-lg.bg-primary.hr-sm-left-0
            p.offset-top-50= text.sect1.elem3
            .offset-top-50
              +accordion-classic([text.sect1.elem4, text.sect1.elem5, text.sect1.elem6, text.sect1.elem7, text.sect1.elem8, text.sect1.elem9])
                div
                  = text.sect1.elem10
                div
                  = text.sect1.elem11
                div
                  = text.sect1.elem12
                div
                  = text.sect1.elem13
                div
                  = text.sect1.elem14
                div
                  = text.sect1.elem15

    section.context-dark.section-65.section-md-bottom-80.section-skew.section-skew-wide.bg-dark-blue
      .skew-block
      .shell.text-sm-left
        .range.range-xs-center.range-md-left
          .cell-xs-10.cell-lg-8
            h2= text.sect2.elem1
            hr.divider.divider-lg.bg-primary.hr-sm-left-0
            .offset-top-50
              p= text.sect2.elem2
            .inset-sm-left-25.offset-top-10
              ul.list-marked.list-marked-primary.list
                li
                  a(href="#" data-waypoint-to="#how-can-i-change-something-in-my-order")= text.sect2.elem3
                li
                  a(href="#" data-waypoint-to="#how-can-i-pay-for-my-order")= text.sect2.elem4
                li
                  a(href="#" data-waypoint-to="#can-i-track-my-order")= text.sect2.elem5
                li
                  a(href="#" data-waypoint-to="#can-i-return-an-item")= text.sect2.elem6
                li
                 a(href="#" data-waypoint-to="#how-long-will-my-order-take-to-be-delivered")= text.sect2.elem7
            .offset-top-50
              #how-can-i-change-something-in-my-order
            .offset-top-90
              h5= text.sect2.elem8
              p= text.sect2.elem9
              #how-can-i-pay-for-my-order
            .offset-top-50
                h5= text.sect2.elem10
                p= text.sect2.elem11
              #can-i-track-my-order
            .offset-top-50
              h5= text.sect2.elem12
              p= text.sect2.elem13
              #can-i-return-an-item
            .offset-top-50
              h5= text.sect2.elem14
              p= text.sect2.elem15
                = " "
                a(href="#")= text.sect2.elem16
                = " "
                span= text.sect2.elem17
              #how-long-will-my-order-take-to-be-delivered
            .offset-top-50
              h5= text.sect2.elem18
              p= text.sect2.elem19

  // Page Footer
  include ../sections/_section-footer-corporate