extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_widget-form-subscribe

//- Title
block title
  title= cfg.nav.pages.submenu.aditionalPages.submenu.forms.title

//- Page
block page
  //- Include text dump
  include ../dump/_forms
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.aditionalPages.submenu.forms.title
    )

  +breadcrumb-classic(
  cfg.nav.pages.submenu.aditionalPages.submenu.forms.title,
  {0: {
    "title": cfg.nav.home.title,
    "href": cfg.nav.home.href
  },
    1: {
      "title": cfg.nav.pages.submenu.aditionalPages.title,
      "href": cfg.nav.pages.submenu.aditionalPages.href
    },
    2: {
      "title": cfg.nav.pages.submenu.aditionalPages.submenu.forms.title,
      "href": cfg.nav.pages.submenu.aditionalPages.submenu.forms.href
    }
  })

  // Page Content
  main.page-content.section-top-70.section-md-top-98

    // login form
    section
      .shell.text-sm-left
        .range.range-xs-center.range-sm-left
          .cell-xs-10.cell-lg-4
            h2= text.sect1.elem1
            hr.divider.divider-lg.bg-primary.hr-sm-left-0
            .offset-top-50
              form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                .form-group
                  label.form-label(for="login-username") Username
                  input#login-username.form-control.form-validation-inside(type="text" name="name" data-constraints="@Required")
                .form-group
                  label.form-label(for="login-pass") Password
                  input#login-pass.form-control.form-validation-inside(type="password" name="password" data-constraints="@Required")
                .text-center.text-sm-left
                  button(type="submit").btn.btn-sm.btn-primary enter
              .offset-top-55
                p.text-gray= text.sect1.elem2
              .offset-top-10
                ul.list-inline.list-inline-xs
                  li
                    a(href="#").icon.icon-xxs.icon-circle.fa-facebook
                  li
                    a(href="#").icon.icon-xxs.icon-circle.fa-twitter
                  li
                    a(href="#").icon.icon-xxs.icon-circle.fa-google

    // Contact form
    section.section-70.section-md-90.section-bottom-120
      .shell.text-sm-left
        .range.range-xs-center.range-sm-left
          .cell-xs-10.cell-lg-8
            h2= text.sect2.elem1 
            hr.divider.divider-lg.bg-primary.hr-sm-left-0
            .offset-top-50
              form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                .range.range-narrow
                  .cell-lg-6
                    .form-group
                      label.form-label(for="contact-us-first-name") Your first name
                      input#contact-us-first-name.form-control.form-validation-inside(type="text" name="first-name" data-constraints="@Required")
                  .cell-lg-6.offset-top-10.offset-lg-top-0
                    .form-group
                      label.form-label(for="contact-us-last-name") Your last name
                      input#contact-us-last-name.form-control.form-validation-inside(type="text" name="last-name" data-constraints="@Required")
                  .cell-lg-12.offset-top-10
                    .form-group
                      label.form-label(for="contact-us-email") Your e-mail
                      input#contact-us-email.form-control.form-validation-inside(type="email" name="email" data-constraints="@Required @Email")
                  .cell-lg-12.offset-top-10
                    .form-group
                      label.form-label(for="contact-us-message") Message
                      textarea#contact-us-message.form-control.form-validation-inside(name="message" data-constraints="@Required")
                .offset-top-10.text-center.text-sm-left
                  button(type="submit").btn.btn-sm.btn-primary send message

    // Newsletter
    section.section-65.bg-dark-blue.context-dark.section-skew.section-skew-wide
      .skew-block
      .shell.text-sm-left
        .range.range-xs-center.range-sm-left
          .cell-xs-10.cell-lg-6
            h2= text.sect3.elem1
            hr.divider.divider-lg.bg-primary.hr-sm-left-0
            .offset-top-50
              p= text.sect3.elem2
            .offset-top-20
              +widget-form-subscribe("Your e-mail", "form-subscribe-footer")
  // Page Footer
  include ../sections/_section-footer-corporate