extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-isotope
include ../elements/_ui-thumbnail-default

//- Title
block title
  title= cfg.nav.vehicleGallery.submenu.galleryCobbles.title

//- Page
block page

  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.vehicleGallery,
    cfg.nav,
    cfg.nav.vehicleGallery.submenu.galleryCobbles.title
    )

  +breadcrumb-classic(
  cfg.nav.vehicleGallery.submenu.galleryCobbles.title,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.vehicleGallery.title,
      "href": cfg.nav.vehicleGallery.href
    },
    2: {
      "title": cfg.nav.vehicleGallery.submenu.galleryCobbles.title,
      "href": cfg.nav.vehicleGallery.submenu.galleryCobbles.href
    }
  })

  // Page Content
  main.page-content.section-70.section-md-98
    // Portfolio Cobbles
    section
      .shell
        .text-sm-left
          h2 Cobbles Grid
          hr.divider.divider-lg.bg-primary.hr-sm-left-0
      .offset-top-50
        .isotope-wrap
          // Isotope Filters
          .shell
            .text-sm-left
              .isotope-filters.isotope-filters-horizontal
                ul.list-inline.list-inline-sm
                  li.veil-md
                    p Choose your category:
                  li.section-relative.offset-top-20.offset-xs-top-0
                    button.isotope-filters-toggle.btn.btn-xs.btn-default(data-custom-toggle="isotope-1" data-custom-toggle-disable-on-blur="true") Filter
                      span.caret

                    ul.list-sm-inline.isotope-filters-list#isotope-1
                        li
                          a.text-bold(data-isotope-filter= "*", data-isotope-group= "gallery", href="#") All
                        li
                          a.text-bold(data-isotope-filter= "Tab 1", data-isotope-group= "gallery", href="#") Tab 1
                        li
                          a.text-bold(data-isotope-filter= "Tab 2", data-isotope-group= "gallery", href="#") Tab 2
                        li
                          a.text-bold(data-isotope-filter= "Tab 3", data-isotope-group= "gallery", href="#") Tab 3

          // Isotope Content
          .offset-top-60
            .isotope(data-isotope-layout="masonry" data-isotope-group= "gallery")
              .row.row-condensed(data-photo-swipe-gallery="gallery")
                .col-xs-6.col-md-3.isotope-item(data-filter="Tab 1")
                  +thumbnail-default({
                    "type": "thumbnail",
                    "thumb": {"src": "images/portfolio/gallery-01-480x290.jpg", "width": 480, "height": 290, "alt": ""},
                    "target": {"src": "images/portfolio/gallery-01-1200x916_original.jpg", "width": 1200, "height": 916, "alt": ""},
                    "icon": "fa-search-plus"
                  })
                .col-xs-6.col-md-3.isotope-item(data-filter='Tab 2')
                  +thumbnail-default({
                    "type": "thumbnail",
                    "thumb": {"src": "images/portfolio/gallery-07-480x580.jpg", "width": 480, "height": 580, "alt": ""},
                    "target": {"src": "images/portfolio/gallery-07-1200x802_original.jpg", "width": 1200, "height": 802, "alt": ""},
                    "icon": "fa-search-plus"
                  })
                .col-xs-6.col-md-3.isotope-item(data-filter='Tab 2')
                  +thumbnail-default({
                    "type": "thumbnail",
                    "thumb": {"src": "images/portfolio/gallery-05-480x290.jpg", "width": 480, "height": 290, "alt": ""},
                    "target": {"src": "images/portfolio/gallery-05-1200x804_original.jpg", "width": 1200, "height": 804, "alt": ""},
                    "icon": "fa-search-plus"
                  })
                .col-xs-6.col-md-3.isotope-item(data-filter='Tab 3')
                  +thumbnail-default({
                    "type": "thumbnail",
                    "thumb": {"src": "images/portfolio/gallery-08-480x580.jpg", "width": 480, "height": 580, "alt": ""},
                    "target": {"src": "images/portfolio/gallery-08-1200x801_original.jpg", "width": 1200, "height": 801, "alt": ""},
                    "icon": "fa-search-plus"
                  })
                .col-xs-6.col-md-3.isotope-item(data-filter='Tab 3')
                  +thumbnail-default({
                    "type": "thumbnail",
                    "thumb": {"src": "images/portfolio/gallery-04-480x580.jpg", "width": 480, "height": 580, "alt": ""},
                    "target": {"src": "images/portfolio/gallery-04-1125x1200_original.jpg", "width": 1125, "height": 1200, "alt": ""},
                    "icon": "fa-search-plus"
                  })
                .col-xs-6.col-md-3.isotope-item(data-filter='Tab 1')
                  +thumbnail-default({
                    "type": "thumbnail",
                    "thumb": {"src": "images/portfolio/gallery-03-480x580.jpg", "width": 480, "height": 580, "alt": ""},
                    "target": {
                      "src": "images/portfolio/gallery-03-802x1200_original.jpg",
                      "width": 802,
                      "height": 1200,
                      "alt": ""
                    },
                    "icon": "fa-search-plus"
                  })
                .col-xs-6.col-md-3.isotope-item(data-filter='Tab 1')
                  +thumbnail-default({
                    "type": "thumbnail",
                    "thumb": {"src": "images/portfolio/gallery-09-480x290.jpg", "width": 480, "height": 290, "alt": ""},
                    "target": {
                      "src": "images/portfolio/gallery-09-1200x753_original.jpg",
                      "width": 1200,
                      "height": 753,
                      "alt": ""
                    },
                    "icon": "fa-search-plus"
                  })
                .col-xs-6.col-md-3.isotope-item(data-filter='Tab 2')
                  +thumbnail-default({
                    "type": "thumbnail",
                    "thumb": {"src": "images/portfolio/gallery-02-480x290.jpg", "width": 480, "height": 290, "alt": ""},
                    "target": {"src": "images/portfolio/gallery-02-1200x814_original.jpg", "width": 1200, "height": 801, "alt": ""},
                    "icon": "fa-search-plus"
                  })



  // Page Footer
  include ../sections/_section-footer-corporate