extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-isotope
include ../elements/_ui-thumbnail-default

//- Title
block title
  title= cfg.nav.vehicleGallery.submenu.galleryMasonry.title

//- Page
block page

  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.vehicleGallery,
    cfg.nav,
    cfg.nav.vehicleGallery.submenu.galleryMasonry.title
    )

  +breadcrumb-classic(
  cfg.nav.vehicleGallery.submenu.galleryMasonry.title,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.vehicleGallery.title,
      "href": cfg.nav.vehicleGallery.href
    },
    2: {
      "title": cfg.nav.vehicleGallery.submenu.galleryMasonry.title,
      "href": cfg.nav.vehicleGallery.submenu.galleryMasonry.href
    }
  })

  // Page Content
  main.page-content.section-70.section-md-98
    // Portfolio Masonry
    section
      .shell
        .inset-sm-left-15
          .text-sm-left
            h2 Masonry Grid
          hr.divider.divider-lg.bg-primary.hr-sm-left-0
        .offset-top-50
          +isotope(['All', 'Tab 1', 'Tab 2', 'Tab 3'],{
            "group": "gallery",
            "layout": "masonry",
            "alignClass": "isotope-filters-horizontal"
          }, "isotope-1", "cell-xs-12", "offset-top-30")
            .row(data-photo-swipe-gallery="gallery")
              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter="Tab 1")
                +thumbnail-default({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/gallery-01-370x220.jpg", "width": 370, "height": 220, "alt": ""},
                  "target": {"src": "images/portfolio/gallery-01-1200x916_original.jpg", "width": 1200, "height": 916, "alt": ""},
                  "icon": "fa-search-plus"
                })
              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Tab 2')
                +thumbnail-default({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/gallery-02-370x220.jpg", "width": 370, "height": 220, "alt": ""},
                  "target": {"src": "images/portfolio/gallery-02-1200x814_original.jpg", "width": 1200, "height": 814, "alt": ""},
                  "icon": "fa-search-plus"
                })
              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Tab 2')
                +thumbnail-default({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/gallery-03-370x470.jpg", "width": 370, "height": 470, "alt": ""},
                  "target": {"src": "images/portfolio/gallery-03-802x1200_original.jpg", "width": 802, "height": 1200, "alt": ""},
                  "icon": "fa-search-plus"
                })
              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Tab 3')
                +thumbnail-default({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/gallery-04-370x470.jpg", "width": 370, "height": 470, "alt": ""},
                  "target": {"src": "images/portfolio/gallery-04-1125x1200_original.jpg", "width": 1125, "height": 1200, "alt": ""},
                  "icon": "fa-search-plus"
                })
              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Tab 3')
                +thumbnail-default({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/gallery-05-370x220.jpg", "width": 370, "height": 220, "alt": ""},
                  "target": {"src": "images/portfolio/gallery-05-1200x804_original.jpg", "width": 1200, "height": 804, "alt": ""},
                  "icon": "fa-search-plus"
                })
              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Tab 2')
                +thumbnail-default({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/gallery-08-370x220.jpg", "width": 370, "height": 220, "alt": ""},
                  "target": {"src": "images/portfolio/gallery-08-1200x801_original.jpg", "width": 1200, "height": 801, "alt": ""},
                  "icon": "fa-search-plus"
                })
              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Tab 1')
                +thumbnail-default({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/gallery-07-370x470.jpg", "width": 370, "height": 470, "alt": ""},
                  "target": {"src": "images/portfolio/gallery-07-1200x802_original.jpg", "width": 1200, "height": 802, "alt": ""},
                  "icon": "fa-search-plus"
                })
              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Tab 1')
                +thumbnail-default({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/gallery-06-370x220.jpg", "width": 370, "height": 220, "alt": ""},
                  "target": {"src": "images/portfolio/gallery-06-1200x869_original.jpg", "width": 1200, "height": 869, "alt": ""},
                  "icon": "fa-search-plus"
                })
              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Tab 3')
                +thumbnail-default({
                  "type": "thumbnail",
                  "thumb": {"src": "images/portfolio/gallery-09-370x220.jpg", "width": 370, "height": 220, "alt": ""},
                  "target": {"src": "images/portfolio/gallery-09-1200x753_original.jpg", "width": 1200, "height": 753, "alt": ""},
                  "icon": "fa-search-plus"
                })

  // Page Footer
  include ../sections/_section-footer-corporate