extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic

//- Title
block title
  title= cfg.nav.pages.submenu.aditionalPages.submenu.grid.title

//- Page
block page

  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.aditionalPages.submenu.grid.title
    )

  +breadcrumb-classic(
  cfg.nav.pages.submenu.aditionalPages.submenu.grid.title,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.pages.submenu.aditionalPages.title,
      "href": cfg.nav.pages.submenu.aditionalPages.href
    },
    2: {
      "title": cfg.nav.pages.submenu.aditionalPages.submenu.grid.title,
      "href": cfg.nav.pages.submenu.aditionalPages.submenu.grid.href
    }
  })

  // Page Content
  main.page-content.section-70.section-md-98

    // Boxed Grid System
    section.section-grid-demonstration
      .shell.text-sm-left
        h2 Boxed Grid System
        hr.divider.divider-lg.bg-primary.hr-sm-left-0
        .row.offset-top-55
          .col-xs-12
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/1
              .offset-top-20
                p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them. You are granted complete control over the process of delivery by phone or by our mobile app. Your freight is tracked every step of the way. We provide a high standard of shipping, regardless of its volume.
          .col-xs-6.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/2
              .offset-top-20
                p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them. You are granted complete control over the process of delivery by phone or by our mobile app.
          .col-xs-6.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/2
              .offset-top-20
                p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them. You are granted complete control over the process of delivery by phone or by our mobile app.
          .col-xs-4.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/3
              .offset-top-20
                p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers.
          .col-xs-4.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/3
              .offset-top-20
                p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers.
          .col-xs-4.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/3
              .offset-top-20
                p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers.
          .col-xs-3.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/4
              .offset-top-20
                p Our professional employees will take care of your goods, whenever you send them. You are granted complete control over the process of delivery by phone or by our mobile app.
          .col-xs-3.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/4
              .offset-top-20
                p Our professional employees will take care of your goods, whenever you send them. You are granted complete control over the process of delivery by phone or by our mobile app.
          .col-xs-3.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/4
              .offset-top-20
                p Our professional employees will take care of your goods, whenever you send them. You are granted complete control over the process of delivery by phone or by our mobile app.
          .col-xs-3.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/4
              .offset-top-20
                p Our professional employees will take care of your goods, whenever you send them. You are granted complete control over the process of delivery by phone or by our mobile app.
          .col-xs-2.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/6
              .offset-top-20
                p Our security standards are the highest on the market. We use only vehicles with...
          .col-xs-2.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/6
              .offset-top-20
                p Our security standards are the highest on the market. We use only vehicles with...
          .col-xs-2.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/6
              .offset-top-20
                p Our security standards are the highest on the market. We use only vehicles with...
          .col-xs-2.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/6
              .offset-top-20
                p Our security standards are the highest on the market. We use only vehicles with...
          .col-xs-2.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/6
              .offset-top-20
                p Our security standards are the highest on the market. We use only vehicles with...
          .col-xs-2.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/6
              .offset-top-20
                p Our security standards are the highest on the market. We use only vehicles with...

    // Full-Width Grid System
    section.offset-top-90.section-grid-demonstration
      .shell-wide.text-sm-left
        h2 Full-Width Grid System
        hr.divider.divider-lg.bg-primary.hr-sm-left-0
        .row.offset-top-55
          .col-xs-12
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/1
              .offset-top-20
                p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them. You are granted complete control over the process of delivery by phone or by our mobile app. Your freight is tracked every step of the way. We provide a high standard of shipping, regardless of its volume. If your company needs to establish a supply chain, we have prepared several readymade solutions with flexible pricing rates for you. Our urgent cargo services offer defined time frames for convenience of your business.
          .col-xs-6.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/2
              .offset-top-20
                p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.
          .col-xs-6.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/2
              .offset-top-20
                p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.
          .col-xs-4.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/3
              .offset-top-20
                p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers.
          .col-xs-4.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/3
              .offset-top-20
                p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers.
          .col-xs-4.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/3
              .offset-top-20
                p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers.
          .col-xs-3.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/4
              .offset-top-20
                p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers.
          .col-xs-3.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/4
              .offset-top-20
                p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers.
          .col-xs-3.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/4
              .offset-top-20
                p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers.
          .col-xs-3.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/4
              .offset-top-20
                p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers.
          .col-xs-2.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/6
              .offset-top-20
                p We provide a high standard of shipping, regardless of its volume.
          .col-xs-2.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/6
              .offset-top-20
                p We provide a high standard of shipping, regardless of its volume.
          .col-xs-2.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/6
              .offset-top-20
                p We provide a high standard of shipping, regardless of its volume.
          .col-xs-2.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/6
              .offset-top-20
                p We provide a high standard of shipping, regardless of its volume.
          .col-xs-2.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/6
              .offset-top-20
                p We provide a high standard of shipping, regardless of its volume.
          .col-xs-2.offset-top-30
            .bg-lightest.section-30.inset-left-30.inset-right-30
              div
                h3 1/6
              .offset-top-20
                p We provide a high standard of shipping, regardless of its volume.
  // Page Footer
  include ../sections/_section-footer-corporate