extends  ../_skeleton
//- Includes
include ../elements/_ui-tables
include ../elements/_ui-rd-navbar-hamburger-menu
//- Title
block title
  title= cfg.nav.pages.submenu.elements.submenu.headerHamburgerMenu.title
//- Page
block page
  //- Include text dump
  include ../dump/_section-latest-news
  include ../dump/_section-testimonials
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-hamburger-menu(
    'rd-navbar-humburger-menu',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-md-device-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-fixed',
      "data-lg-device-layout": 'rd-navbar-fixed',
      "data-lg-stick-up": 'false',
      "data-lg-hover-on": "false"
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.elements.submenu.headerHamburgerMenu.title
    )
  // Page Content
  main.page-content
    include ../sections/_section-latest-news
    include ../sections/_section-testimonials
  // Page Footer
  include ../sections/_section-footer-corporate