extends  ../_skeleton
//- Includes
include ../elements/_ui-tables
//- Title
block title
  title= cfg.nav.pages.submenu.elements.submenu.headerCorporate.title
//- Page
block page
  //- Include text dump
  include ../dump/_section-welcome
  include ../dump/_section-our-services
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.elements.submenu.headerCorporate.title
    )
  // Page Content
  main.page-content
     include ../sections/_section-welcome
     include ../sections/_section-our-services
  // Page Footer
  include ../sections/_section-footer-center-light