extends  ../_skeleton

//- Includes
include ../elements/_ui-tables
include ../elements/_ui-rd-navbar-transparent

//- Title
block title
  title= cfg.nav.pages.submenu.elements.submenu.headerTransparent.title

//- Page
block page
  //- Include text dump
  include ../dump/_section-latest-news
  include ../dump/_section-testimonials
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-transparent(
    'rd-navbar-transparent',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.elements.submenu.headerTransparent.title
    )

  // Page Content
  main.page-content
    include ../sections/_section-latest-news
    include ../sections/_section-testimonials

  // Page Footer
  include ../sections/_section-footer-center-light