extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic

//- Title
block title
  title= cfg.nav.pages.submenu.aditionalPages.submenu.icons.title

//- Page
block page

  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.aditionalPages.submenu.icons.title
    )

  +breadcrumb-classic(
  cfg.nav.pages.submenu.aditionalPages.submenu.icons.title,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.pages.submenu.aditionalPages.title,
      "href": cfg.nav.pages.submenu.aditionalPages.href
    },
    2: {
      "title": cfg.nav.pages.submenu.aditionalPages.submenu.icons.title,
      "href": cfg.nav.pages.submenu.aditionalPages.submenu.icons.href
    }
  })

  // Page Content
  main.page-content

    // Heading Style
    section.section-70.section-md-98
      .shell.text-md-left
        h2 Icons FontAwesome
        hr.divider.divider-lg.bg-primary.hr-md-left-0
        .range.offset-top-55
          .cell-xs-6.cell-md-3
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-500px
              .unit-body
                div
                  p .fa-500px
                p.text-silver.offset-top-0 #xf26e

          .cell-xs-6.cell-md-3.offset-top-33.offset-xs-top-0
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-adjust
              .unit-body
                div
                  p .fa-adjust
                p.text-silver.offset-top-0 #xf042

          .cell-xs-6.cell-md-3.offset-top-33.offset-md-top-0
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-adn
              .unit-body
                div
                  p .fa-adn
                p.text-silver.offset-top-0 #xf170

          .cell-xs-6.cell-md-3.offset-top-33.offset-md-top-0
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-align-center
              .unit-body
                div
                  p .fa-align-center
                p.text-silver.offset-top-0 #xf037

          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-align-justify
              .unit-body
                div
                  p .fa-align-justify
                p.text-silver.offset-top-0 #xf039

          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-align-left
              .unit-body
                div
                  p .fa-align-left
                p.text-silver.offset-top-0 #xf036

          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-align-right
              .unit-body
                div
                  p .fa-align-right
                p.text-silver.offset-top-0 #xf038

          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-amazon
              .unit-body
                div
                  p  fa-amazon
                p.text-silver.offset-top-0 #xf270
          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-ambulance
              .unit-body
                div
                  p .fa-ambulance
                p.text-silver.offset-top-0 #xf0f9
          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-anchor
              .unit-body
                div
                  p .fa-anchor
                p.text-silver.offset-top-0 #xf13d

          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-android
              .unit-body
                div
                  p .fa-android
                p.text-silver.offset-top-0 #xf17b
          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-angellist
              .unit-body
                div
                  p .fa-angellist
                p.text-silver.offset-top-0 #xf209
          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-angle-double-down
              .unit-body
                div
                  p .fa-angle-double-down
                p.text-silver.offset-top-0 #xf103
          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-angle-double-left
              .unit-body
                div
                  p .fa-angle-double-left
                p.text-silver.offset-top-0 #xf100
          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-angle-double-right
              .unit-body
                div
                  p .fa-angle-double-right
                p.text-silver.offset-top-0 #xf101
          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-angle-double-up
              .unit-body
                div
                  p .fa-angle-double-up
                p.text-silver.offset-top-0 #xf102
          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-angle-down
              .unit-body
                div
                  p .fa-angle-down
                p.text-silver.offset-top-0 #xf107
          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-angle-left
              .unit-body
                div
                  p .fa-angle-left
                p.text-silver.offset-top-0 #xf104
          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-angle-right
              .unit-body
                div
                  p .fa-angle-right
                p.text-silver.offset-top-0 #xf105
          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-angle-up
              .unit-body
                div
                  p .fa-angle-up
                p.text-silver.offset-top-0 #xf106
          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-apple
              .unit-body
                div
                  p .fa-apple
                p.text-silver.offset-top-0 #xf179
          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-archive
              .unit-body
                div
                  p .fa-archive
                p.text-silver.offset-top-0 #xf187
          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-area-chart
              .unit-body
                div
                  p .fa-area-chart
                p.text-silver.offset-top-0 #xf1fe
          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-arrow-circle-down
              .unit-body
                div
                  p .fa-arrow-circle-down
                p.text-silver.offset-top-0 #xf0ab
          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-arrow-circle-left
              .unit-body
                div
                  p .fa-arrow-circle-left
                p.text-silver.offset-top-0 #xf0a8
          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-arrow-circle-o-down
              .unit-body
                div
                  p .fa-arrow-circle-o-down
                p.text-silver.offset-top-0 #xf01a
          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-arrow-circle-o-left
              .unit-body
                div
                  p .fa-arrow-circle-o-left
                p.text-silver.offset-top-0 #xf190
          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-arrow-circle-o-right
              .unit-body
                div
                  p .fa-arrow-circle-o-right
                p.text-silver.offset-top-0 #xf18e
          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-arrow-circle-o-up
              .unit-body
                div
                  p .fa-arrow-circle-o-up
                p.text-silver.offset-top-0 #xf01b
          .cell-xs-6.cell-md-3.offset-top-33
            .unit.unit-md.unit-md-horizontal.unit-spacing-lg
              .unit-left
                span.icon.icon-primary.fa-arrow-circle-right
              .unit-body
                div
                  p .fa-arrow-circle-right
                p.text-silver.offset-top-0 #xf0a9








  // Page Footer
  include ../sections/_section-footer-corporate