extends  ../_skeleton

//- Includes
include ../elements/_ui-tables

//- Title
block title
  title= cfg.nav.home.title

//- Page
block page
  //- Include text dump
  include ../dump/_section-welcome
  include ../dump/_section-our-services
  include ../dump/_section-why-choose-us
  include ../dump/_section-our-mission
  include ../dump/_section-latest-news
  include ../dump/_section-testimonials
  // Page Header
  header.page-head.header-panel-absolute
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-auto-height": "false",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.home,
    cfg.nav,
    cfg.nav.home.title
    )

  // Page Content
  main.page-content
    include ../sections/_section-welcome
    include ../sections/_section-our-services
    include ../sections/_section-why-choose-us
    include ../sections/_section-our-mission
    include ../sections/_section-latest-news
    include ../sections/_section-testimonials


  // Page Footer
  footer.section-65.page-footer.bg-lightest.section-skew
    .skew-block
    .shell
      .range.range-xs-center.range-sm-middle
        .cell-xs-10.cell-md-3.text-md-left.cell-md-push-1
          //Footer brand
          a(href="index.html") !{cfg.brand.logoDark}
        .cell-xs-10.cell-md-3.text-md-right.cell-md-push-3.offset-top-20.offset-md-top-0
          ul.list-inline.list-inline-dark
            li
              a(href="#").icon.icon-xxs.fa-facebook
            li
              a(href="#").icon.icon-xxs.fa-twitter
            li
              a(href="#").icon.icon-xxs.fa-pinterest
            li
              a(href="#").icon.icon-xxs.fa-vimeo
            li
              a(href="#").icon.icon-xxs.fa-google
            li
              a(href="#").icon.icon-xxs.fa-rss
        .cell-xs-10.cell-md-6.cell-md-push-2.offset-top-20.offset-md-top-0
          // {%FOOTER_LINK}
          p.text-gray
            | &copy; #[span(id="copyright-year")] All Rights Reserved Terms of Use and #[a(href="privacy.html" class="text-dark") Privacy Policy]

