extends  ../_skeleton

include ../elements/_ui-rd-parallax
include ../elements/_widget-form-subscribe
//- Title
block title
  title= cfg.nav.pages.submenu.pageslvl1.submenu.maintenance.title
//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.pageslvl1.submenu.maintenance.title
    )

  // Page Content
  main.page-content
    // Heading Style
    +rd-parallax({
      "backgroundSpeed": "0.35",
      "attrType": "media",
      "src": "images/backgrounds/bg-05-1920x718.jpg",
      "htmlSpeed": "0"
    })
      .shell.section-90.section-xl-bottom-185.section-xl-top-140.context-dark
        .range.range-xs-center.range-lg-left
          .cell-xs-10.cell-sm-8.cell-lg-7.text-lg-left
            h1 Website is in Maintenance Mode
            p We are terribly sorry, but our website is currently unavailable and is closed for maintenance. If you would like to be instantly notified about resumption of the website operation, leave us your e-mail address, and we will inform you when Transitec will be available again.
            .inset-lg-right-100.offset-top-20
              +widget-form-subscribe("Your e-mail", "form-subscribe-footer", null, "notify me")
  // Page Footer
  include ../sections/_section-footer-corporate