extends  ../_skeleton
//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-tables
//- Title
block title
  title= cfg.nav.pages.submenu.pageslvl1.submenu.prices.title
//- Page
block page
  //- Include text dump
  include ../dump/_prices
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.pageslvl1.submenu.prices.title
    )
  +breadcrumb-classic(
  cfg.nav.pages.submenu.pageslvl1.submenu.prices.title,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.pages.submenu.pageslvl1.title,
      "href": cfg.nav.pages.submenu.pageslvl1.href
    },
    2: {
      "title": cfg.nav.pages.submenu.pageslvl1.submenu.prices.title,
      "href": cfg.nav.pages.submenu.pageslvl1.submenu.prices.href
    }
  })
  // Page Content
  main.page-content
    section.section-70.section-md-90
      .shell.text-sm-left
        h2= text.sect1.elem1
        hr.divider.divider-lg.bg-primary.hr-sm-left-0
        .range.offset-sm-top-50
          .cell-lg-12
            .table-responsive
              table.table.table-custom.table-dark-blue.pricing-table.text-center
                tr
                  th.text-center
                  th.text-center= text.sect1.elem2
                  th.text-center= text.sect1.elem3
                  th.text-center= text.sect1.elem4
                  th.text-center= text.sect1.elem5
                tr.bg-lightest
                  td.text-left= text.sect1.elem6
                  td +
                  td +
                  td +
                  td +
                tr
                  td.text-left= text.sect1.elem7
                  td +
                  td +
                  td +
                  td +
                tr.bg-lightest
                  td.text-left= text.sect1.elem8
                  td -
                  td +
                  td +
                  td +
                tr
                  td.text-left= text.sect1.elem9
                  td -
                  td -
                  td +
                  td +
                tr.bg-lightest
                  td.text-left= text.sect1.elem10
                  td -
                  td -
                  td -
                  td +
                tr
                  td.text-left
                  td.text-bold= text.sect1.elem11
                  td.text-bold= text.sect1.elem12
                  td.text-bold= text.sect1.elem13
                  td.text-bold= text.sect1.elem14
                tr(style="border: none")
                  td.text-left
                  td.text-middle
                    h3= text.sect1.elem15
                  td
                    a(href="#").btn.btn-sm.btn-primary Buy
                  td
                    a(href="#").btn.btn-sm.btn-primary Buy
                  td
                    a(href="#").btn.btn-sm.btn-primary Buy

    section.section-90.section-skew-wide.section-skew.bg-lightest
      .skew-block
      .shell.text-sm-left
        h2= text.sect2.elem1
        hr.divider.divider-lg.bg-primary.hr-sm-left-0
        .range.range-xs-center.range-sm-left.offset-top-50
          .cell-xs-10.cell-sm-6.cell-md-3
            .box-planning
              .box-planning-header
                div
                  h5= text.sect2.elem2
                p.offset-top-5
                  span.h5 $
                  span.h2= text.sect2.elem3
                  span.h5 / mon
              .box-planning-body
                ul.list-marked
                  li 1x Storage Unit
                  li 10x Weeks
                  li 1x User
                  li 1x Container
              a(href="#").btn.btn-primary.btn-sm.btn-block buy now
          .cell-xs-10.cell-sm-6.cell-md-3.offset-top-50.offset-sm-top-0
            .box-planning.active
              .box-planning-header
                div
                  h5= text.sect2.elem4
                p.offset-top-5
                  span.h5 $
                  span.h2= text.sect2.elem5
                  span.h5 / mon
              .box-planning-body
                ul.list-marked
                  li 1x Storage Unit
                  li 10x Weeks
                  li 1x User
                  li 1x Container
              a(href="#").btn.btn-primary.btn-sm.btn-block buy now
          .cell-xs-10.cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
            .box-planning
              .box-planning-header
                div
                  h5= text.sect2.elem6
                p.offset-top-5
                  span.h5 $
                  span.h2= text.sect2.elem7
                  span.h5 / mon
              .box-planning-body
                ul.list-marked
                  li 1x Storage Unit
                  li 10x Weeks
                  li 1x User
                  li 1x Container
              a(href="#").btn.btn-primary.btn-sm.btn-block buy now
          .cell-xs-10.cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
            .box-planning
              .box-planning-header
                div
                  h5= text.sect2.elem8
                p.offset-top-5
                  span.h5 $
                  span.h2= text.sect2.elem9
                  span.h5 / mon
              .box-planning-body
                ul.list-marked
                  li 1x Storage Unit
                  li 10x Weeks
                  li 1x User
                  li 1x Container
              a(href="#").btn.btn-primary.btn-sm.btn-block buy now

    section.section-90.section-skew.bg-white
      .skew-block
      .shell.text-sm-left
        h2= text.sect3.elem1
        hr.divider.divider-lg.bg-primary.hr-sm-left-0
        .range.range-xs-center.range-sm-left.offset-top-50
          .cell-xs-10.cell-sm-6.cell-md-3
            .box-offer.text-center
              div
                h3= text.sect3.elem2
              .text-left.offset-top-25
                ul.list-unstyled.list
                  li
                    span.icon.icon-xxs.fa-check.icon-primary.text-middle
                    span.text-middle.inset-left-10 1x Storage Unit
                  li
                    span.icon.icon-xxs.fa-close.text-middle.text-dark
                    span.text-middle.inset-left-10 10x Weeks
                  li
                    span.icon.icon-xxs.fa-close.text-middle.text-dark
                    span.text-middle.inset-left-10 1x User
                  li
                    span.icon.icon-xxs.fa-close.text-middle.text-dark
                    span.text-middle.inset-left-10 1x Container
              p.offset-top-20
                span.h5 $
                span.h2= text.sect3.elem3
                span.h5 / mon
              .offset-top-20
                a(href="#").btn.btn-primary.btn-sm buy now
          .cell-xs-10.cell-sm-6.cell-md-3.offset-top-50.offset-sm-top-0
            .box-offer.text-center.active
              div
                h3= text.sect3.elem4
              .text-left.offset-top-25
                ul.list-unstyled.list
                  li
                    span.icon.icon-xxs.fa-check.icon-primary.text-middle
                    span.text-middle.inset-left-10 1x Storage Unit
                  li
                    span.icon.icon-xxs.fa-check.icon-primary.text-middle
                    span.text-middle.inset-left-10 10x Weeks
                  li
                    span.icon.icon-xxs.fa-close.text-middle.text-dark
                    span.text-middle.inset-left-10 1x User
                  li
                    span.icon.icon-xxs.fa-close.text-middle.text-dark
                    span.text-middle.inset-left-10 1x Container
              p.offset-top-20
                span.h5 $
                span.h2= text.sect3.elem5
                span.h5 / mon
              .offset-top-20
                a(href="#").btn.btn-primary.btn-sm buy now
          .cell-xs-10.cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
            .box-offer.text-center
              div
                h3= text.sect3.elem6
              .text-left.offset-top-25
                ul.list-unstyled.list
                  li
                    span.icon.icon-xxs.fa-check.icon-primary.text-middle
                    span.text-middle.inset-left-10 1x Storage Unit
                  li
                    span.icon.icon-xxs.fa-check.icon-primary.text-middle
                    span.text-middle.inset-left-10 10x Weeks
                  li
                    span.icon.icon-xxs.fa-check.icon-primary.text-middle
                    span.text-middle.inset-left-10 1x User
                  li
                    span.icon.icon-xxs.fa-close.text-middle.text-dark
                    span.text-middle.inset-left-10 1x Container
              p.offset-top-20
                span.h5 $
                span.h2= text.sect3.elem7
                span.h5 / mon
              .offset-top-20
                a(href="#").btn.btn-primary.btn-sm buy now
          .cell-xs-10.cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
            .box-offer.text-center
              div
                h3= text.sect3.elem8
              .text-left.offset-top-25
                ul.list-unstyled.list
                  li
                    span.icon.icon-xxs.fa-check.icon-primary.text-middle
                    span.text-middle.inset-left-10 1x Storage Unit
                  li
                    span.icon.icon-xxs.fa-check.icon-primary.text-middle
                    span.text-middle.inset-left-10 10x Weeks
                  li
                    span.icon.icon-xxs.fa-check.icon-primary.text-middle
                    span.text-middle.inset-left-10 1x User
                  li
                    span.icon.icon-xxs.fa-check.icon-primary.text-middle
                    span.text-middle.inset-left-10 1x Container
              p.offset-top-20
                span.h5 $
                span.h2= text.sect3.elem9
                span.h5 / mon
              .offset-top-20
                a(href="#").btn.btn-primary.btn-sm buy now
  // Page Footer
  include ../sections/_section-footer-corporate