extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-progress-bar-linear
include ../elements/_ui-progress-bar-circle
include ../elements/_ui-counter-type-1

//- Title
block title
  title= cfg.nav.pages.submenu.aditionalPages.submenu.progressBars.title

//- Page
block page
  //- Include text dump
  include ../dump/_progress-bars
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.aditionalPages.submenu.progressBars.title
    )

  +breadcrumb-classic(
  cfg.nav.pages.submenu.aditionalPages.submenu.progressBars.title,
  {0: {
    "title": cfg.nav.home.title,
    "href": cfg.nav.home.href
  },
    1: {
      "title": cfg.nav.pages.submenu.aditionalPages.title,
      "href": cfg.nav.pages.submenu.aditionalPages.href
    },
    2: {
      "title": cfg.nav.pages.submenu.aditionalPages.submenu.progressBars.title,
      "href": cfg.nav.pages.submenu.aditionalPages.submenu.progressBars.href
    }
  })

  // Page Content
  main.page-content.section-70.section-md-98

    // Horizontal button Tabs
    section
      .shell.text-sm-left
        h2= text.sect1.elem1
        hr.divider.divider-lg.bg-primary.hr-sm-left-0
        .range.range-xs-center.range-md-left.offset-top-50
          .cell-xs-10.cell-sm-6.inset-sm-right-70
            +progress-bar-linear({
              "title": text.sect1.elem2,
              "valueTo": "100"
            })
            .offset-top-55
              +progress-bar-linear({
                "title": text.sect1.elem3,
                "valueTo": "50"
              })
            .offset-top-55
              +progress-bar-linear({
                "title": text.sect1.elem4,
                "valueTo": "75"
              })
            .offset-top-55
              +progress-bar-linear({
                "title": text.sect1.elem5,
                "valueTo": "25"
              })
          .cell-xs-10.offset-top-50.offset-sm-top-0.cell-sm-6
            p= text.sect1.elem6
            p= text.sect1.elem7
            p= text.sect1.elem8
    // counters
    section.section-65.section-sm-bottom-95.bg-dark-blue.context-dark.section-skew.section-skew-wide.offset-top-110
      .skew-block
      .shell.text-sm-left
        h2= text.sect2.elem1
        hr.divider.divider-lg.bg-primary.hr-sm-left-0
        .range.range-xs-center.range-md-left.offset-top-50.text-center.counters
          .cell-sm-6.cell-md-3
            +counter-type-1(text.sect2.elem2,{
              "dataTo": "1324",
              "dataSpeed": "3000"
            })
          .cell-sm-6.cell-md-3.offset-top-65.offset-sm-top-0
            +counter-type-1(text.sect2.elem3, {
              "dataTo": "65",
              "dataSpeed": "2500"

            })
          .cell-sm-6.cell-md-3.offset-top-65.offset-md-top-0
            +counter-type-1(text.sect2.elem4, {
              "dataTo": "268",
              "dataSpeed": "1500"

            })
          .cell-sm-6.cell-md-3.offset-top-65.offset-md-top-0
            +counter-type-1(text.sect2.elem5,{
              "dataTo": "2847951",
              "dataSpeed": "5300"
            })

    // progress Bars
    section.section-top-80.section-skew.bg-white
      .skew-block
      .shell.text-sm-left
        h2= text.sect3.elem1
        hr.divider.divider-lg.bg-primary.hr-sm-left-0
        .range.range-xs-center.range-md-left.offset-top-50.text-center
          .cell-sm-6.cell-md-3
            +progress-bar-circle({
              "value": "0.50",
              "colorFill": "#3db7ef",
              "colorEmpty": "#f3f3f3",
              "circleSize": "200"
            })
              .offset-top-20
                p.font-accent.text-bold= text.sect3.elem2
          .cell-sm-6.offset-top-50.cell-md-3.offset-sm-top-0
            +progress-bar-circle({
              "value": "1",
              "colorFill": "#3db7ef",
              "colorEmpty": "#f3f3f3",
              "circleSize": "200"
            })
              .offset-top-20
                p.font-accent.text-bold= text.sect3.elem3

          .cell-sm-6.offset-top-50.cell-md-3.offset-md-top-0
            +progress-bar-circle({
              "value": "0.25",
              "colorFill": "#3db7ef",
              "colorEmpty": "#f3f3f3",
              "circleSize": "200"
            })
              .offset-top-20
                p.font-accent.text-bold= text.sect3.elem4
          .cell-sm-6.offset-top-50.cell-md-3.offset-md-top-0
            +progress-bar-circle({
              "value": "0.75",
              "colorFill": "#3db7ef",
              "colorEmpty": "#f3f3f3",
              "circleSize": "200"
            })
              .offset-top-20
                p.font-accent.text-bold= text.sect3.elem5

  // Page Footer
  include ../sections/_section-footer-corporate