extends  ../_skeleton
//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-pagination-bootstrap
//- Title
block title
  title= "Search result"
//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    "",
    cfg.nav,
    "Search result"
    )
  +breadcrumb-classic(
  "Search result",
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.pages.title,
      "href": cfg.nav.pages.href
    },
    2: {
      "title": "Search result",
      "href": ""
    }
  })
    // Page Content
  main.page-content.section-70.section-sm-124
    .shell
      .rd-search-results
  // Page Footers
  include ../sections/_section-footer-corporate