extends  ../_skeleton
//- Includes
include ../elements/_ui-breadcrumb-classic
//- Title
block title
  title= cfg.nav.pages.submenu.pageslvl1.submenu.services1.title
//- Page
block page
  //- Include text dump
  include ../dump/_section-our-capabilities
  include ../dump/_section-services-overview
  include ../dump/_section-featured-services
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.pageslvl1.submenu.services1.title
    )
  +breadcrumb-classic(
  cfg.nav.pages.submenu.pageslvl1.submenu.services1.title,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.pages.title,
      "href": cfg.nav.pages.href
    },
    2: {
      "title": cfg.nav.pages.submenu.pageslvl1.submenu.services1.title,
      "href": cfg.nav.pages.submenu.pageslvl1.submenu.services1.href
    }
  })
  // Page Content
  main.page-content
    include ../sections/_section-our-capabilities
    include ../sections/_section-services-overview
    include ../sections/_section-featured-services
  // Page Footer
  include ../sections/_section-footer-corporate