extends  ../_skeleton
//- Includes
include ../elements/_ui-breadcrumb-classic
//- Title
block title
  title= cfg.nav.pages.submenu.pageslvl1.submenu.services2.title
//- Page
block page
  //- Include text dump
  include ../dump/_section-services-overview
  include ../dump/_services-2
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.pageslvl1.submenu.services2.title
    )
  +breadcrumb-classic(
  cfg.nav.pages.submenu.pageslvl1.submenu.services2.title,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.pages.title,
      "href": cfg.nav.pages.href
    },
    2: {
      "title": cfg.nav.pages.submenu.pageslvl1.submenu.services2.title,
      "href": cfg.nav.pages.submenu.pageslvl1.submenu.services2.href
    }
  })
  // Page Content
  main.page-content
    section.section-70.section-md-90.section-bottom-110
      .shell.text-sm-left
        h2= text.sect1.elem1
        hr.divider.divider-lg.bg-primary.hr-sm-left-0
        .range.range-xs-center.offset-top-50
          .cell-xs-10.cell-sm-5.text-sm-left
            img.img-responsive.reveal-inline-block(src="images/services-13-450x304.jpg" width="450" height="304" alt="")
          .cell-xs-10.cell-sm-7.offset-top-30.offset-sm-top-0
            p= text.sect1.elem2
            p= text.sect1.elem3
            .offset-top-20
              a(href= cfg.nav.services.href).btn.btn-sm.btn-primary learn more

    include ../sections/_section-services-overview
    section.section-90.section-skew.bg-white
      .skew-block
      .shell.text-sm-left
        h2= text.sect2.elem1
        hr.divider.divider-lg.bg-primary.hr-sm-left-0
        .range.text-left.range-xs-center.offset-top-50
          .cell-xs-8.cell-sm-6.cell-md-4
            article.post-default
              img.reveal-inline-block.img-responsive(src="images/services/service-01-370x250.jpg", width= 370, height= 250, alt= "")
              .inset-md-right-25
                .offset-top-20
                  h5.text-primary
                    a(href="services.html")= text.sect2.elem2
                .offset-top-10
                  p= text.sect2.elem3
          .cell-xs-8.cell-sm-6.cell-md-4.offset-top-50.offset-sm-top-0
            article.post-default
              img.reveal-inline-block.img-responsive(src="images/services/service-02-370x250.jpg", width= 370, height= 250, alt= "")
              .inset-md-right-25
                .offset-top-20
                  h5.text-primary
                    a(href="services.html#undefined2")= text.sect2.elem4
                .offset-top-10
                  p= text.sect2.elem5
          .cell-xs-8.cell-sm-6.cell-md-4.offset-top-50.offset-md-top-0
            article.post-default
              img.reveal-inline-block.img-responsive(src="images/services/service-03-370x250.jpg", width= 370, height= 250, alt= "")
              .inset-md-right-25
                .offset-top-20
                  h5.text-primary
                    a(href="services.html#undefined3")= text.sect2.elem6
                .offset-top-10
                  p= text.sect2.elem7
          .cell-xs-8.cell-sm-6.cell-md-4.offset-top-50
            article.post-default
              img.reveal-inline-block.img-responsive(src="images/services/service-04-370x250.jpg", width= 370, height= 250, alt= "")
              .inset-md-right-25
                .offset-top-20
                  h5.text-primary
                    a(href="services.html#undefined4")= text.sect2.elem8
                .offset-top-10
                  p= text.sect2.elem9
          .cell-xs-8.cell-sm-6.cell-md-4.offset-top-50
            article.post-default
              img.reveal-inline-block.img-responsive(src="images/services/service-05-370x250.jpg", width= 370, height= 250, alt= "")
              .inset-md-right-25
                .offset-top-20
                  h5.text-primary
                    a(href="services.html#undefined5")= text.sect2.elem10
                .offset-top-10
                  p= text.sect2.elem11
          .cell-xs-8.cell-sm-6.cell-md-4.offset-top-50
            article.post-default
              img.reveal-inline-block.img-responsive(src="images/services/service-06-370x250.jpg", width= 370, height= 250, alt= "")
              .inset-md-right-25
                .offset-top-20
                  h5.text-primary
                    a(href="services.html#undefined6")= text.sect2.elem12
                .offset-top-10
                  p= text.sect2.elem13

  // Page Footer
  include ../sections/_section-footer-corporate