extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_widget-form-subscribe
include ../elements/_ui-tabs-boxed
include ../elements/_ui-tabs-classic
include ../elements/_ui_accordion-classic

//- Title
block title
  title= cfg.nav.services.title

//- Page
block page
  //- Include text dump
  include ../dump/_services
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.services,
    cfg.nav,
    cfg.nav.services.title
    )

  +breadcrumb-classic(
  cfg.nav.services.title,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.services.title,
      "href": cfg.nav.services.href
    }
  })

  // Page Content
  main.page-content.section-70.section-md-98
    // vertical link Tabs
    section
      .shell.text-lg-left
        .range.range-xs-center.range-lg-left
          .cell-sm-10.cell-lg-12
            h2= text.sect1.elem1
            hr.divider.divider-lg.bg-primary.hr-lg-left-0
            .offset-top-50
              +tabs-classic([text.sect1.elem2, text.sect1.elem3, text.sect1.elem4, text.sect1.elem5, text.sect1.elem6, text.sect1.elem7], "vertical", "tabs-lg-collapsed","")
                div
                  .inset-lg-left-60
                    img.img-responsive.reveal-inline-block(src="images/services-01-770x485.jpg", width="770", height="485", alt="")
                    p.text-gray= text.sect1.elem8
                    .offset-top-25
                      p= text.sect1.elem9
                      p= text.sect1.elem10
                    .offset-top-50.offset-lg-top-85
                      h3= text.sect1.elem11
                      .range.range-xs-center
                        .cell-sm-6
                          .unit.unit-md.unit-md-horizontal.text-md-left
                            .unit-left
                              span.icon.icon-lg.icon-circle.icon-primary-filled.fa-truck
                            .unit-body
                              h4.text-bold.font-accent= text.sect1.elem12
                              p= text.sect1.elem13
                        .cell-sm-6.offset-top-50.offset-sm-top-0
                          .unit.unit-md.unit-md-horizontal.text-md-left
                            .unit-left
                              span.icon.icon-lg.icon-circle.icon-primary-filled.fa-map
                            .unit-body
                              h4.text-bold.font-accent= text.sect1.elem14
                              p= text.sect1.elem15
                        .cell-sm-6.offset-top-50
                          .unit.unit-md.unit-md-horizontal.text-md-left
                            .unit-left
                              span.icon.icon-lg.icon-circle.icon-primary-filled.fa-comments
                            .unit-body
                              h4.text-bold.font-accent= text.sect1.elem16
                              p= text.sect1.elem17
                        .cell-sm-6.offset-top-50
                          .unit.unit-md.unit-md-horizontal.text-md-left
                            .unit-left
                              span.icon.icon-lg.icon-circle.icon-primary-filled.fa-suitcase
                            .unit-body
                              h4.text-bold.font-accent= text.sect1.elem18
                              p= text.sect1.elem19
                      .offset-top-50
                        a(href= cfg.nav.pages.submenu.pageslvl1.submenu.prices.href).btn.btn-primary.btn-sm choose & book

                div
                  .inset-lg-left-60
                    .range.range-xs-center
                      .cell-sm-6
                        img.img-responsive.reveal-inline-block(src="images/services-02-350x220.jpg", width="350", height="220", alt="")
                      .cell-sm-6
                        h4.text-bold.text-primary= text.sect1.elem20
                        p= text.sect1.elem21
                    .range.range-xs-center.offset-top-60
                      .cell-sm-6
                        img.img-responsive.reveal-inline-block(src="images/services-03-350x220.jpg", width="350", height="220", alt="")
                      .cell-sm-6
                        h4.text-bold.text-primary= text.sect1.elem22
                        p= text.sect1.elem23
                    .range.range-xs-center.offset-top-60
                      .cell-sm-6
                        img.img-responsive.reveal-inline-block(src="images/services-04-350x220.jpg", width="350", height="220", alt="")
                      .cell-sm-6
                        h4.text-bold.text-primary= text.sect1.elem24
                        p= text.sect1.elem25
                    .offset-top-50
                      a(href= cfg.nav.pages.submenu.pageslvl1.submenu.prices.href).btn.btn-primary.btn-sm choose & book

                div
                  .inset-lg-left-60
                    h5.text-bold.text-primary= text.sect1.elem26
                    p= text.sect1.elem27
                    p= text.sect1.elem28
                    .offset-top-40
                      .quote-classic-boxed.bg-dark-blue.context-dark
                        .quote-body
                          q= text.sect1.elem29
                          .offset-top-10
                            cite= text.sect1.elem30
                    .offset-top-50.offset-lg-top-90
                      h3= text.sect1.elem31
                    .range.range-xs-center.offset-top-30.offset-lg-top-50
                      .cell-sm-6
                        p= text.sect1.elem32
                      .cell-sm-6.text-lg-right
                        img.img-responsive.reveal-inline-block(src="images/services-05-350x220.jpg", width="350", height="220", alt="")
                    .offset-top-30.offset-lg-top-50
                      a(href= cfg.nav.pages.submenu.pageslvl1.submenu.prices.href).btn.btn-primary.btn-sm choose & book

                div
                  .inset-lg-left-60
                    h5.text-bold.text-primary= text.sect1.elem33
                    p= text.sect1.elem34
                    ul.list-marked.list.offset-top-10
                      li= text.sect1.elem35
                      li= text.sect1.elem36
                      li= text.sect1.elem37
                      li= text.sect1.elem38
                      li= text.sect1.elem39
                    .offset-top-50.offset-lg-top-90
                      h3= text.sect1.elem40
                    .range.range-xs-center.offset-top-30.offset-lg-top-50
                      .cell-sm-6
                        img.img-responsive.reveal-inline-block(src="images/services-06-370x250.jpg", width="370", height="250", alt="")
                        h5.text-primary.offset-top-20
                          a(href="#")= text.sect1.elem41
                        p= text.sect1.elem42
                      .cell-sm-6.offset-top-50.offset-sm-top-0
                        img.img-responsive.reveal-inline-block(src="images/services-07-370x250.jpg", width="370", height="250", alt="")
                        h5.text-primary.offset-top-20
                          a(href="#")= text.sect1.elem43
                        p= text.sect1.elem44
                    .offset-top-30.offset-lg-top-50
                      a(href= cfg.nav.pages.submenu.pageslvl1.submenu.prices.href).btn.btn-primary.btn-sm choose & book

                div
                  .inset-lg-left-60
                    img.img-responsive(src="images/services-08-770x485.jpg", width="770", height="485", alt="")
                    .offset-top-20
                      h5.text-bold.text-primary
                        a(href="#")= text.sect1.elem45
                    p= text.sect1.elem46
                    p= text.sect1.elem47
                    ul.list-marked.list.offset-top-10
                      li= text.sect1.elem48
                      li= text.sect1.elem49
                      li= text.sect1.elem50
                      li= text.sect1.elem51
                      li= text.sect1.elem52
                    .offset-top-30.offset-lg-top-50
                      a(href= cfg.nav.pages.submenu.pageslvl1.submenu.prices.href).btn.btn-primary.btn-sm choose & book

                div
                  .inset-lg-left-60
                    .range.range-xs-center
                      .cell-sm-6
                        img.img-responsive.reveal-inline-block(src="images/services-09-370x250.jpg", width="370", height="250", alt="")
                        .offset-top-20
                          h5.text-primary
                            a(href="#")= text.sect1.elem53
                        p= text.sect1.elem54

                      .cell-sm-6.offset-top-60.offset-sm-top-0
                        img.img-responsive.reveal-inline-block(src="images/services-10-370x250.jpg", width="370", height="250", alt="")
                        .offset-top-20
                          h5.text-primary
                            a(href="#")= text.sect1.elem55
                        p= text.sect1.elem56

                    .range.range-xs-center.offset-top-60.offset-lg-top-90
                      .cell-sm-6
                        img.img-responsive.reveal-inline-block(src="images/services-11-370x250.jpg", width="370", height="250", alt="")
                        .offset-top-20
                          h5.text-primary
                            a(href="#")= text.sect1.elem57
                        p= text.sect1.elem58
                      .cell-sm-6.offset-top-60.offset-sm-top-0
                        img.img-responsive.reveal-inline-block(src="images/services-12-370x250.jpg", width="370", height="250", alt="")
                        .offset-top-20
                          h5.text-primary
                            a(href="#")= text.sect1.elem59
                        p= text.sect1.elem60

                    .offset-top-30.offset-lg-top-50
                      a(href= cfg.nav.pages.submenu.pageslvl1.submenu.prices.href).btn.btn-primary.btn-sm choose & book

  // Page Footer
  include ../sections/_section-footer-corporate