extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-tables

//- Title
block title
  title= cfg.nav.pages.submenu.aditionalPages.submenu.tables.title

//- Page
block page

  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.aditionalPages.submenu.tables.title
    )

  +breadcrumb-classic(
  cfg.nav.pages.submenu.aditionalPages.submenu.tables.title,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.pages.submenu.aditionalPages.title,
      "href": cfg.nav.pages.submenu.aditionalPages.href
    },
    2: {
      "title": cfg.nav.pages.submenu.aditionalPages.submenu.tables.title,
      "href": cfg.nav.pages.submenu.aditionalPages.submenu.tables.href
    }
  })

  // Page Content
  main.page-content.section-70.section-md-98

    // Classic Responsive Table
    section.text-sm-left
      .shell
        h2 Table Styles
        hr.divider.divider-lg.bg-primary.hr-sm-left-0
        .range.offset-sm-top-50
          .cell-lg-12
            +table-custom([
              ['Column 1', 'Column 2', 'Column 3', 'Column 4'],
              ['Item #1', 'Description', 'Subtotal:', '$1.00'],
              ['Item #2', 'Description', 'Discount:', '$2.00'],
              ['Item #3', 'Description', 'Shipping:', '$3.00'],
              ['Item #4', 'Description', 'Tax:', '$4.00'],
              ['All items', 'Description', 'Your Total:', '$10.00']
            ], "table-primary table-fixed", true)

        .range.offset-sm-top-50
          .cell-lg-12
            +table-custom([
              ['Column 1', 'Column 2', 'Column 3', 'Column 4'],
              ['Item #1', 'Description', 'Subtotal:', '$1.00'],
              ['Item #2', 'Description', 'Discount:', '$2.00'],
              ['Item #3', 'Description', 'Shipping:', '$3.00'],
              ['Item #4', 'Description', 'Tax:', '$4.00'],
              ['All items', 'Description', 'Your Total:', '$10.00']
            ], "table-fixed", true)

        .range.offset-sm-top-50
          .cell-lg-12
            +table-custom([
              ['Column 1', 'Column 2', 'Column 3', 'Column 4'],
              ['Item #1', 'Description', 'Subtotal:', '$1.00'],
              ['Item #2', 'Description', 'Discount:', '$2.00'],
              ['Item #3', 'Description', 'Shipping:', '$3.00'],
              ['Item #4', 'Description', 'Tax:', '$4.00'],
              ['All items', 'Description', 'Your Total:', '$10.00']
            ], "table-dark-blue table-fixed", true)

  // Page Footer
  include ../sections/_section-footer-corporate