extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_widget-form-subscribe
include ../elements/_ui-tabs-boxed
include ../elements/_ui-tabs-classic
include ../elements/_ui_accordion-classic

//- Title
block title
  title= cfg.nav.pages.submenu.aditionalPages.submenu.tabsAndAccordions.title

//- Page
block page
  //- Include text dump
  include ../dump/_tabs-and-accordions
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.aditionalPages.submenu.tabsAndAccordions.title
    )

  +breadcrumb-classic(
  cfg.nav.pages.submenu.aditionalPages.submenu.tabsAndAccordions.title,
  {0: {
    "title": cfg.nav.home.title,
    "href": cfg.nav.home.href
  },
    1: {
      "title": cfg.nav.pages.submenu.aditionalPages.title,
      "href": cfg.nav.pages.submenu.aditionalPages.href
    },
    2: {
      "title": cfg.nav.pages.submenu.aditionalPages.submenu.tabsAndAccordions.title,
      "href": cfg.nav.pages.submenu.aditionalPages.submenu.tabsAndAccordions.href
    }
  })

  // Page Content
  main.page-content.section-70.section-md-98

    // Horizontal button Tabs
    section
      .shell.text-sm-left
        .range.range-xs-center.range-md-left
          .cell-xs-10.cell-lg-8
            h2= text.sect1.elem1
            hr.divider.divider-lg.bg-primary.hr-sm-left-0
            .offset-top-50
              +tabs-boxed([text.sect1.elem2, text.sect1.elem3, text.sect1.elem4, text.sect1.elem5], "horizontal")
                div
                  p= text.sect1.elem6
                  p= text.sect1.elem7
                  p= text.sect1.elem9
                div
                  p= text.sect1.elem7
                  p= text.sect1.elem6
                  p= text.sect1.elem9
                div
                  p= text.sect1.elem9
                  p= text.sect1.elem7
                  p= text.sect1.elem6
                div
                  p= text.sect1.elem6
                  p= text.sect1.elem7
                  p= text.sect1.elem9
    // Vertical button Tabs
    section.section-80
      .shell.text-sm-left
        .range.range-xs-center.range-md-left
          .cell-xs-10.cell-lg-8
            h2= text.sect1.elem9
            hr.divider.divider-lg.bg-primary.hr-sm-left-0
            .offset-top-50
              +tabs-boxed([text.sect1.elem2, text.sect1.elem3, text.sect1.elem4, text.sect1.elem5], "vertical")
                div
                  p= text.sect1.elem6
                  p= text.sect1.elem7
                  p= text.sect1.elem9
                div
                  p= text.sect1.elem7
                  p= text.sect1.elem6
                  p= text.sect1.elem9
                div
                  p= text.sect1.elem9
                  p= text.sect1.elem7
                  p= text.sect1.elem6
                div
                  p= text.sect1.elem6
                  p= text.sect1.elem7
                  p= text.sect1.elem9

    // horizontal link Tabs
    section
      .shell.text-sm-left
        .range.range-xs-center.range-md-left
          .cell-xs-10.cell-lg-8
            h2= text.sect1.elem10
            hr.divider.divider-lg.bg-primary.hr-sm-left-0
            .offset-top-50
              +tabs-classic([text.sect1.elem2, text.sect1.elem3, text.sect1.elem4, text.sect1.elem5], "horizontal")
                div
                  p= text.sect1.elem6
                  p= text.sect1.elem7
                  p= text.sect1.elem9
                div
                  p= text.sect1.elem7
                  p= text.sect1.elem6
                  p= text.sect1.elem9
                div
                  p= text.sect1.elem9
                  p= text.sect1.elem7
                  p= text.sect1.elem6
                div
                  p= text.sect1.elem6
                  p= text.sect1.elem7
                  p= text.sect1.elem9

    // vertical link Tabs
    section.section-90
      .shell.text-sm-left
        .range.range-xs-center.range-md-left
          .cell-xs-10.cell-lg-8
            h2= text.sect1.elem11
            hr.divider.divider-lg.bg-primary.hr-sm-left-0
            .offset-top-50
              +tabs-classic([text.sect1.elem2, text.sect1.elem3, text.sect1.elem4, text.sect1.elem5], "vertical")
                div
                  .inset-lg-left-30
                    p= text.sect1.elem6
                    p= text.sect1.elem7
                    p= text.sect1.elem9
                div
                  .inset-lg-left-30
                    p= text.sect1.elem7
                    p= text.sect1.elem6
                    p= text.sect1.elem9
                div
                  .inset-lg-left-30
                    p= text.sect1.elem9
                    p= text.sect1.elem7
                    p= text.sect1.elem6
                div
                  .inset-lg-left-30
                    p= text.sect1.elem6
                    p= text.sect1.elem7
                    p= text.sect1.elem9

    // Accordion
    section
      .shell.text-sm-left
        .range.range-xs-center.range-md-left
          .cell-xs-10.cell-lg-8
            h2= text.sect1.elem12
            hr.divider.divider-lg.bg-primary.hr-sm-left-0
            .offset-top-50
              +accordion-classic([text.sect1.elem13,text.sect1.elem14, text.sect1.elem15, text.sect1.elem16, text.sect1.elem17, text.sect1.elem18])
                div
                  = text.sect1.elem19
                div
                  = text.sect1.elem20
                div
                  = text.sect1.elem21
                div
                  = text.sect1.elem22
                div
                  = text.sect1.elem23
                div
                  = text.sect1.elem24


  // Page Footer
  include ../sections/_section-footer-corporate