extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic

//- Title
block title
  title= cfg.nav.pages.submenu.pageslvl1.submenu.team.title

//- Page
block page
  //- Include text dump
  include ../dump/_team
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.pageslvl1.submenu.team.title
    )

  +breadcrumb-classic(
    cfg.nav.pages.submenu.pageslvl1.submenu.team.title,
    {0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.pages.submenu.pageslvl1.title,
      "href": cfg.nav.pages.submenu.pageslvl1.href
    },
    2: {
      "title": cfg.nav.pages.submenu.pageslvl1.submenu.team.title,
      "href": cfg.nav.pages.submenu.pageslvl1.submenu.team.href
    }
  })

  // Page Content
  main.page-content.section-top-70.section-md-top-90
    section
      .shell.text-sm-left
        h2= text.sect1.elem1
        hr.divider.divider-lg.bg-primary.hr-sm-left-0
        .range.range-xs-center.range-sm-left.offset-top-50
          .cell-xs-10.cell-sm-6.cell-md-3
            .box-member
              img.img-responsive(src="images/users/user-mark-johnson-270x298.jpg", width="270", height="298", alt="")
              .box-member-body
                div
                  h5= text.sect1.elem2
                p.offset-top-5= text.sect1.elem3
                ul.list-inline
                  li
                    a(href="#").icon.icon-xxs.fa-facebook.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-twitter.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-google.text-middle
          .cell-xs-10.cell-sm-6.cell-md-3.offset-top-50.offset-sm-top-0
            .box-member
              img.img-responsive(src="images/users/user-eva-pool-270x298.jpg", width="270", height="298", alt="")
              .box-member-body
                div
                  h5= text.sect1.elem4
                p.offset-top-5= text.sect1.elem5
                ul.list-inline
                  li
                    a(href="#").icon.icon-xxs.fa-facebook.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-twitter.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-google.text-middle

          .cell-xs-10.cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
            .box-member
              img.img-responsive(src="images/users/user-sam-kromstain-270x298.jpg", width="270", height="298", alt="")
              .box-member-body
                div
                  h5= text.sect1.elem6
                p.offset-top-5= text.sect1.elem7
                ul.list-inline
                  li
                    a(href="#").icon.icon-xxs.fa-facebook.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-twitter.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-google.text-middle

          .cell-xs-10.cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
            .box-member
              img.img-responsive(src="images/users/user-cristal-smith-270x298.jpg", width="270", height="298", alt="")
              .box-member-body
                div
                  h5= text.sect1.elem8
                p.offset-top-5= text.sect1.elem9
                ul.list-inline
                  li
                    a(href="#").icon.icon-xxs.fa-facebook.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-twitter.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-google.text-middle

    section.section-65.section-lg-bottom-80.section-skew.section-skew-wide.bg-dark-blue.context-dark.offset-top-110
      .skew-block
      .shell.text-sm-left
        h2= text.sect2.elem1
        hr.divider.divider-lg.bg-primary.hr-sm-left-0
        .range.range-xs-center.range-sm-left.offset-top-50
          .cell-xs-10.cell-sm-4
            .box-member
              img.img-responsive(src="images/users/user-mark-johnson-370x370.jpg", width="370", height="370", alt="")
              .box-member-body
                div
                  h5= text.sect2.elem2
                p.offset-top-5= text.sect2.elem3
                ul.list-inline
                  li
                    a(href="#").icon.icon-xxs.fa-facebook.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-twitter.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-google.text-middle
          .cell-xs-10.cell-sm-4.offset-top-50.offset-sm-top-0
            .box-member
              img.img-responsive(src="images/users/user-eva-pool-370x370.jpg", width="370", height="370", alt="")
              .box-member-body
                div
                  h5= text.sect2.elem4
                p.offset-top-5= text.sect2.elem5
                ul.list-inline
                  li
                    a(href="#").icon.icon-xxs.fa-facebook.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-twitter.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-google.text-middle

          .cell-xs-10.cell-sm-4.offset-top-50.offset-sm-top-0
            .box-member
              img.img-responsive(src="images/users/user-sam-cromstain-370x370.jpg", width="370", height="370", alt="")
              .box-member-body
                div
                  h5= text.sect2.elem6
                p.offset-top-5= text.sect2.elem7
                ul.list-inline
                  li
                    a(href="#").icon.icon-xxs.fa-facebook.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-twitter.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-google.text-middle

    section.section-90.section-lg-bottom-110.section-skew.bg-lightest
      .skew-block
      .shell.text-sm-left
        h2= text.sect3.elem1
        hr.divider.divider-lg.bg-primary.hr-sm-left-0
        .range.range-xs-center.range-sm-left.offset-top-50
          .cell-xs-10.cell-sm-6.cell-md-3
            img.img-responsive.reveal-inline-block(src="images/users/user-mark-johnson-270x270.jpg", width="270", height="270", alt="")
            .offset-top-20
              h5.text-primary
                a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect3.elem2
            p.offset-top-5.text-silver.text-light= text.sect3.elem3
            p= text.sect3.elem4
            .offset-top-20
              ul.list-inline.list-inline-dark.list-inline-sm
                li
                  a(href="#").icon.icon-xxs.fa-facebook.text-middle
                li
                  a(href="#").icon.icon-xxs.fa-twitter.text-middle
                li
                  a(href="#").icon.icon-xxs.fa-google.text-middle
          .cell-xs-10.cell-sm-6.cell-md-3.offset-top-50.offset-sm-top-0
            img.img-responsive.reveal-inline-block(src="images/users/user-eva-pool-270x270.jpg", width="270", height="270", alt="")
            .offset-top-20
              h5.text-primary
                a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect3.elem5
            p.offset-top-5.text-silver.text-light= text.sect3.elem6
            p= text.sect3.elem7
            .offset-top-20
              ul.list-inline.list-inline-dark.list-inline-sm
                li
                  a(href="#").icon.icon-xxs.fa-facebook.text-middle
                li
                  a(href="#").icon.icon-xxs.fa-twitter.text-middle
                li
                  a(href="#").icon.icon-xxs.fa-google.text-middle

          .cell-xs-10.cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
            img.img-responsive.reveal-inline-block(src="images/users/user-sam-kromstain-270x270.jpg", width="270", height="270", alt="")
            .offset-top-20
              h5.text-primary
                a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect3.elem8
            p.offset-top-5.text-silver.text-light= text.sect3.elem9
            p= text.sect3.elem10
            .offset-top-20
              ul.list-inline.list-inline-dark.list-inline-sm
                li
                  a(href="#").icon.icon-xxs.fa-facebook.text-middle
                li
                  a(href="#").icon.icon-xxs.fa-twitter.text-middle
                li
                  a(href="#").icon.icon-xxs.fa-google.text-middle

          .cell-xs-10.cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
            img.img-responsive.reveal-inline-block(src="images/users/user-cristal-smith-270x270.jpg", width="270", height="270", alt="")
            .offset-top-20
              h5.text-primary
                a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect3.elem11
            p.offset-top-5.text-silver.text-light= text.sect3.elem12
            p= text.sect3.elem13
            .offset-top-20
              ul.list-inline.list-inline-dark.list-inline-sm
                li
                  a(href="#").icon.icon-xxs.fa-facebook.text-middle
                li
                  a(href="#").icon.icon-xxs.fa-twitter.text-middle
                li
                  a(href="#").icon.icon-xxs.fa-google.text-middle

    section.section-60.section-skew.section-skew-wide.bg-white
      .skew-block
      .shell.text-lg-left
        h2= text.sect4.elem1
        hr.divider.divider-lg.bg-primary.hr-lg-left-0
        .range.range-xs-center.offset-top-50
          .cell-xs-10.cell-lg-6
            .box-member-horizontal
              .unit.unit-sm.unit-sm-horizontal.text-sm-left.unit-spacing-lg
                .unit-left
                  img.img-responsive.reveal-inline-block(src="images/users/user-mark-johnson-270x320.jpg", width="270", height="320", alt="")
                .unit-body
                  .box-member-horizontal-body
                    div
                      h5.text-primary
                        a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect4.elem2
                    p.offset-top-5.text-silver.text-light= text.sect4.elem3
                    p= text.sect4.elem4
                  .box-member-horizontal-meta.section-20.section-sm-0
                    ul.list-inline.list-inline-dark.list-inline-sm
                      li
                        a(href="#").icon.icon-xxs.fa-facebook.text-middle
                      li
                        a(href="#").icon.icon-xxs.fa-twitter.text-middle
                      li
                        a(href="#").icon.icon-xxs.fa-pinterest.text-middle
                      li
                        a(href="#").icon.icon-xxs.fa-vimeo.text-middle
                      li
                        a(href="#").icon.icon-xxs.fa-google.text-middle

          .cell-xs-10.cell-lg-6.offset-top-30.offset-lg-top-0
            .box-member-horizontal
              .unit.unit-sm.unit-sm-horizontal.text-sm-left.unit-spacing-lg
                .unit-left
                  img.img-responsive.reveal-inline-block(src="images/users/user-eva-pool-270x320.jpg", width="270", height="320", alt="")
                .unit-body
                  .box-member-horizontal-body
                    div
                      h5.text-primary
                        a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect4.elem5
                    p.offset-top-5.text-silver.text-light= text.sect4.elem6
                    p= text.sect4.elem7
                  .box-member-horizontal-meta.section-20.section-sm-0
                    ul.list-inline.list-inline-dark.list-inline-sm
                      li
                        a(href="#").icon.icon-xxs.fa-facebook.text-middle
                      li
                        a(href="#").icon.icon-xxs.fa-twitter.text-middle
                      li
                        a(href="#").icon.icon-xxs.fa-pinterest.text-middle
                      li
                        a(href="#").icon.icon-xxs.fa-vimeo.text-middle
                      li
                        a(href="#").icon.icon-xxs.fa-google.text-middle

          .cell-xs-10.cell-lg-6.offset-top-30
            .box-member-horizontal
              .unit.text-sm-left.unit-sm.unit-sm-horizontal.unit-spacing-lg.unit-align-justify
                .unit-left
                  img.img-responsive.reveal-inline-block(src="images/users/user-sam-kromstain-270x320.jpg", width="270", height="320", alt="")
                .unit-body
                  .box-member-horizontal-body
                    div
                      h5.text-primary
                        a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect4.elem8
                    p.offset-top-5.text-silver.text-light= text.sect4.elem9
                    p= text.sect4.elem10
                  .box-member-horizontal-meta.section-20.section-sm-0
                    ul.list-inline.list-inline-dark.list-inline-sm
                      li
                        a(href="#").icon.icon-xxs.fa-facebook.text-middle
                      li
                        a(href="#").icon.icon-xxs.fa-twitter.text-middle
                      li
                        a(href="#").icon.icon-xxs.fa-pinterest.text-middle
                      li
                        a(href="#").icon.icon-xxs.fa-vimeo.text-middle
                      li
                        a(href="#").icon.icon-xxs.fa-google.text-middle

          .cell-xs-10.cell-lg-6.offset-top-30
            .box-member-horizontal
              .unit.unit-sm.unit-sm-horizontal.text-sm-left.unit-spacing-lg
                .unit-left
                  img.img-responsive.reveal-inline-block(src="images/users/user-cristal-smith-270x320.jpg", width="270", height="320", alt="")
                .unit-body
                  .box-member-horizontal-body
                    div
                      h5.text-primary
                        a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect4.elem11
                    p.offset-top-5.text-silver.text-light= text.sect4.elem12
                    p= text.sect4.elem13
                  .box-member-horizontal-meta.section-20.section-sm-0
                    ul.list-inline.list-inline-dark.list-inline-sm
                      li
                        a(href="#").icon.icon-xxs.fa-facebook.text-middle
                      li
                        a(href="#").icon.icon-xxs.fa-twitter.text-middle
                      li
                        a(href="#").icon.icon-xxs.fa-pinterest.text-middle
                      li
                        a(href="#").icon.icon-xxs.fa-vimeo.text-middle
                      li
                        a(href="#").icon.icon-xxs.fa-google.text-middle

    // List Layout - Carousel
    section.section-80.section-md-top-65.section-md-bottom-100.bg-dark-blue.context-dark.section-skew.section-skew-wide.offset-top-60
      .skew-block
      .shell.text-md-left
        h2= text.sect5.elem1
        hr.divider.divider-lg.bg-primary.hr-md-left-0
        .offset-top-50
          .owl-carousel.owl-carousel-default.owl-carousel-dots-lg-left(data-loop="true" data-items="1" data-dots="true" data-mouse-drag="false" data-lg-items="2" data-nav="false" data-sm-stage-padding="100" data-sm-margin="100" data-lg-stage-padding="0" data-lg-margin="30")
            div
              .box-member-horizontal
                .unit.unit-sm.unit-sm-horizontal.text-sm-left.unit-spacing-lg
                  .unit-left
                    img.img-responsive.reveal-inline-block(src="images/users/user-mark-johnson-270x320.jpg", width="270", height="320", alt="")
                  .unit-body
                    .box-member-horizontal-body
                      div
                        h5.text-primary
                          a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect5.elem2
                      p.offset-top-5.text-silver.text-light= text.sect5.elem3
                      p= text.sect5.elem4
                    .box-member-horizontal-meta.section-20.section-sm-0
                      ul.list-inline.list-inline-dark.list-inline-sm
                        li
                          a(href="#").icon.icon-xxs.fa-facebook.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-twitter.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-pinterest.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-vimeo.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-google.text-middle
            div
              .box-member-horizontal
                .unit.unit-sm.unit-sm-horizontal.text-sm-left.unit-spacing-lg
                  .unit-left
                    img.img-responsive.reveal-inline-block(src="images/users/user-eva-pool-270x320.jpg", width="270", height="320", alt="")
                  .unit-body
                    .box-member-horizontal-body
                      div
                        h5.text-primary
                          a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect5.elem5
                      p.offset-top-5.text-silver.text-light= text.sect5.elem6
                      p= text.sect5.elem7
                    .box-member-horizontal-meta.section-20.section-sm-0
                      ul.list-inline.list-inline-dark.list-inline-sm
                        li
                          a(href="#").icon.icon-xxs.fa-facebook.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-twitter.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-pinterest.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-vimeo.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-google.text-middle
            div
              .box-member-horizontal
                .unit.text-sm-left.unit-sm.unit-sm-horizontal.unit-spacing-lg.unit-align-justify
                  .unit-left
                    img.img-responsive.reveal-inline-block(src="images/users/user-sam-kromstain-270x320.jpg", width="270", height="320", alt="")
                  .unit-body
                    .box-member-horizontal-body
                      div
                        h5.text-primary
                          a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect5.elem8
                      p.offset-top-5.text-silver.text-light= text.sect5.elem9
                      p= text.sect5.elem10
                    .box-member-horizontal-meta.section-20.section-sm-0
                      ul.list-inline.list-inline-dark.list-inline-sm
                        li
                          a(href="#").icon.icon-xxs.fa-facebook.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-twitter.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-pinterest.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-vimeo.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-google.text-middle
            div
              .box-member-horizontal
                .unit.unit-sm.unit-sm-horizontal.text-sm-left.unit-spacing-lg
                  .unit-left
                    img.img-responsive.reveal-inline-block(src="images/users/user-cristal-smith-270x320.jpg", width="270", height="320", alt="")
                  .unit-body
                    .box-member-horizontal-body
                      div
                        h5.text-primary
                          a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect5.elem11
                      p.offset-top-5.text-silver.text-light= text.sect5.elem12
                      p= text.sect5.elem13
                    .box-member-horizontal-meta.section-20.section-sm-0
                      ul.list-inline.list-inline-dark.list-inline-sm
                        li
                          a(href="#").icon.icon-xxs.fa-facebook.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-twitter.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-pinterest.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-vimeo.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-google.text-middle
            div
              .box-member-horizontal
                .unit.unit-sm.unit-sm-horizontal.text-sm-left.unit-spacing-lg
                  .unit-left
                    img.img-responsive.reveal-inline-block(src="images/users/user-eva-pool-270x320.jpg", width="270", height="320", alt="")
                  .unit-body
                    .box-member-horizontal-body
                      div
                        h5.text-primary
                          a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect5.elem14
                      p.offset-top-5.text-silver.text-light= text.sect5.elem15
                      p= text.sect5.elem16
                    .box-member-horizontal-meta.section-20.section-sm-0
                      ul.list-inline.list-inline-dark.list-inline-sm
                        li
                          a(href="#").icon.icon-xxs.fa-facebook.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-twitter.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-pinterest.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-vimeo.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-google.text-middle

            div
              .box-member-horizontal
                .unit.unit-sm.unit-sm-horizontal.text-sm-left.unit-spacing-lg
                  .unit-left
                    img.img-responsive.reveal-inline-block(src="images/users/user-mark-johnson-270x320.jpg", width="270", height="320", alt="")
                  .unit-body
                    .box-member-horizontal-body
                      div
                        h5.text-primary
                          a(href= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href)= text.sect5.elem17
                      p.offset-top-5.text-silver.text-light= text.sect5.elem18
                      p.text-light= text.sect5.elem19
                    .box-member-horizontal-meta.section-20.section-sm-0
                      ul.list-inline.list-inline-dark.list-inline-sm
                        li
                          a(href="#").icon.icon-xxs.fa-facebook.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-twitter.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-pinterest.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-vimeo.text-middle
                        li
                          a(href="#").icon.icon-xxs.fa-google.text-middle




  // Page Footer
  include ../sections/_section-footer-corporate