extends  ../_skeleton
//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-progress-bar-linear
//- Title
block title
  title= cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.title
//- Page
block page
  //- Include text dump
  include ../dump/_team-member
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.title
    )
  +breadcrumb-classic(
  cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.title,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.pages.submenu.pageslvl1.title,
      "href": cfg.nav.pages.submenu.pageslvl1.href
    },
    2: {
      "title": cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.title,
      "href": cfg.nav.pages.submenu.pageslvl1.submenu.teamMember.href
    }
  })
  // Page Content
  main.page-content.section-top-70.section-md-top-90
    section
      .shell.text-sm-left
        h2= text.sect1.elem1
        hr.divider.divider-lg.bg-primary.hr-sm-left-0
        .offset-top-50
          .unit.unit-sm.unit-sm-horizontal.text-sm-left.unit-spacing-lg
            .unit-left
              img.img-responsive.img-circle.reveal-inline-block(src="images/users/user-patrick-pool-270x270.jpg", width="270", height="270", alt="")
            .unit-body
              div
                h5.text-primary= text.sect1.elem2
              div
                p.text-dark= text.sect1.elem3
              p= text.sect1.elem4
              p= text.sect1.elem5
              p= text.sect1.elem6
              .offset-top-20
                ul.list-inline.list-inline-dark
                  li
                    a(href="#").icon.icon-xxs.fa-facebook.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-twitter.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-pinterest.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-vimeo.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-google.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-rss.text-middle
    section.section-90.section-skew.section-skew-wide.bg-dark-blue.context-dark.offset-top-110
      .skew-block
      .shell.text-sm-left
        h2= text.sect2.elem1
        hr.divider.divider-lg.bg-primary.hr-sm-left-0
        .range.range-xs-center.range-md-left.offset-top-50
          .cell-xs-10.cell-sm-6.inset-sm-right-70
            +progress-bar-linear({
              "title": text.sect2.elem2,
              "valueTo": "100"
            })
            .offset-top-55
              +progress-bar-linear({
                "title": text.sect2.elem3,
                "valueTo": "50"
              })
            .offset-top-55
              +progress-bar-linear({
                "title": text.sect2.elem4,
                "valueTo": "75"
              })
            .offset-top-55
              +progress-bar-linear({
                "title": text.sect2.elem5,
                "valueTo": "25"
              })
          .cell-xs-10.offset-top-70.offset-sm-top-0.cell-sm-6
            p= text.sect2.elem6
            p= text.sect2.elem7
            p= text.sect2.elem8

  // Page Footer
  include ../sections/_section-footer-corporate