extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic

//- Title
block title
  title= cfg.nav.pages.submenu.aditionalPages.submenu.typography.title

//- Page
block page

  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.aditionalPages.submenu.typography.title
    )

  +breadcrumb-classic(
    cfg.nav.pages.submenu.aditionalPages.submenu.typography.title,
    {0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.pages.submenu.aditionalPages.title,
      "href": cfg.nav.pages.submenu.aditionalPages.href
    },
    2: {
      "title": cfg.nav.pages.submenu.aditionalPages.submenu.typography.title,
      "href": cfg.nav.pages.submenu.aditionalPages.submenu.typography.href
    }
   })

  // Page Content
  main.page-content.section-70.section-md-98

    // Heading Style
    section.text-sm-left
      .shell
        .range.range-xs-center.range-sm-left
          .cell-xs-10.cell-sm-8
            h1 H1 Heading
            p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.
        .range.range-xs-center.range-sm-left.offset-top-85
          .cell-xs-10.cell-sm-8
            h2 H2 Heading
            p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.
        .range.range-xs-center.range-sm-left.offset-top-85
          .cell-xs-10.cell-sm-8
            h3 H3 Heading
            p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.
        .range.range-xs-center.range-sm-left.offset-top-85
          .cell-xs-10.cell-sm-8
            h4 H4 Heading
            div
              p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.
        .range.range-xs-center.range-sm-left.offset-top-85
          .cell-xs-10.cell-sm-8
            h5 H5 Heading
            div
              p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.
        .range.range-xs-center.range-sm-left.offset-top-85
          .cell-xs-10.cell-sm-8
            h6 H6 Heading
            div
              p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.
        .range.range-xs-center.range-sm-left.offset-top-85
          .cell-xs-10.cell-sm-8
            h3 Blockquote
            .quote-classic-boxed.bg-dark-blue.context-dark
              .quote-body
                q Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
                .offset-top-10
                  cite Dennis Williams
        .range.range-xs-center.range-sm-left.offset-top-85
          .cell-xs-10.cell-sm-8
            h3 HTML Text Elements
            p Welcome to our wonderful world.
              span.text-bold This is a bold text
              = " "
              mark This is a highlighted text
              = " "
              span We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login
              = " "
              span.text-gray(data-toggle="tooltip" data-placement="top" title="Default text") Tooltips
              = " "
              span widgets, you will definitely have a great experience of using our web page.
              = " "
              span.text-strike This is a strickethrough text
              = " "
              span.text-underline This is an underlined text.
              = " "
              a(href="#") Link
              = " "
              a(href="#").text-picton-blue Hover
              = " "
              a(href="#").text-picton-blue Press link
        .range.range-xs-center.range-sm-left.offset-top-85
          .cell-xs-10.cell-sm-8
            h3 Unordered List
            p We specialize in a variety of logistics services. Our aim is to deliver the top level of logistics based on your requests.
            ul.list-marked.list.offset-top-10
              li Storage
              li Delivery time slots
              li Contact delivery of documents
              li Forwarding
              li Redirection
            p We hope that with our services you will receive the most personalized help in transporting any kind of cargos to any distances, even overseas.
        .range.range-xs-center.range-sm-left.offset-top-85
          .cell-xs-10.cell-sm-8
            h3 Ordered List
            p We specialize in a variety of logistics services. Our aim is to deliver the top level of logistics based on your requests.
            ol.list.list-numbered.text-left
              li
                span Storage
              li
                span Delivery time slots
              li
                span Contact delivery of documents
              li
                span Forwarding
              li
                span Redirection
            p We hope that with our services you will receive the most personalized help in transporting any kind of cargos to any distances, even overseas.

        .offset-top-50.offset-lg-top-85
          .text-sm-left
            h3 Icon List
          .range.text-md-left
            .cell-sm-8.cell-md-4.offset-top-50.offset-md-top-0
              .unit.unit-sm.unit-sm-horizontal.text-sm-left
                .unit-left
                  span.icon.icon-lg.icon-circle.icon-primary-filled.fa-thumbs-up
                .unit-body
                  h4.text-bold Best Service
                  p Our mission is to attract and retain customers by providing Best in Class transportation solutions and fostering a profitable, disciplined culture of safety, service, and trust.
            .cell-sm-8.cell-md-4.offset-top-50.offset-md-top-0
              .unit.unit-sm.unit-sm-horizontal.text-sm-left
                .unit-left
                  span.icon.icon-lg.icon-circle.icon-primary-filled.fa-users
                .unit-body
                  h4.text-bold Reputation
                  p We have established a strong presence in the transportation industry. Our award-winning services earn a reputation for quality and excellence that few can rival.
            .cell-sm-8.cell-md-4.offset-top-50.offset-md-top-0
              .unit.unit-sm.unit-sm-horizontal.text-sm-left
                .unit-left
                  span.icon.icon-lg.icon-circle.icon-primary-filled.mdi.fa-lock
                .unit-body
                  h4.text-bold Safety & Security
                  p Safety for our employees, customers and motoring public will always remain our primary focus in all the policies, procedures and programs that govern our business.

        .range.range-xs-center.range-sm-left.text-sm-left.offset-top-60.offset-sm-top-110
          .cell-xs-10.cell-sm-8
            h3 Image Centered
            .offset-top-20
              img.img-responsive(width=770 height=485 src="images/vehicle-770x485.jpg" alt="")
            p.text-gray Fast. Cheap. Painless.
            .offset-top-20
              p Our goal is to provide our clients with professional freight services that add value to the overall supply chain and assist our customers in the growth and success of their business with mutually beneficial results. If you want a customized solution, we deliver global coverage and managed costs.

        .range.range-xs-center.range-sm-left.offset-top-87.text-sm-left
          .cell-xs-10.cell-sm-8
            h3 Image Left
            .range.offset-top-50
              .cell-sm-6
                img.img-responsive.reveal-inline-block(width=350 height=220 src="images/vehicle-350x220.jpg" alt="")
              .cell-sm-6
                p If your company needs to establish a supply chain, we have prepared several readymade solutions with flexible pricing rates for you. Our urgent cargo services offer defined time frames for convenience of your business. Our supply chain services include shipping, warehousing, packaging, quality control and distribution.

        .range.range-xs-center.range-sm-left.offset-top-85.text-sm-left
          .cell-xs-10.cell-sm-8
            h3 Image Right
            .range.offset-top-50
              .cell-sm-6.cell-sm-push-2
                img.img-responsive.reveal-inline-block(width=350 height=220 src="images/vehicle-350x220.jpg" alt="")
              .cell-sm-6.cell-sm-push-1
                p If your company needs to establish a supply chain, we have prepared several readymade solutions with flexible pricing rates for you. Our urgent cargo services offer defined time frames for convenience of your business. Our supply chain services include shipping, warehousing, packaging, quality control and distribution.


  // Page Footer
  include ../sections/_section-footer-corporate