﻿@model InventoryReportModel

@*@using (Ajax.BeginForm("GetInventoryReport", "Order", new AjaxOptions { HttpMethod = "POST", OnBegin = "ux.showProgressBar();", OnComplete = "ux.hideProgressBar();", UpdateTargetId = "InventoryReportContainer" }, new { id = "SearchForm" }))*@

@using (Html.BeginForm("GetInventoryReport", "Order", FormMethod.Post, new { id = "SearchForm" }))
{
    @Html.AntiForgeryToken()

    <div class="well">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.InventoryReportForm.Manufacturer, new { @class = "col-sm-2 control-label required" })
                <div class="col-sm-2">
                    @Html.TextBoxFor(model => model.InventoryReportForm.Manufacturer, new { @class = "form-control required" })
                    <span class="help-block">@T("Admin.Reports.Fields.Manufacturer.Hint")</span>
                    @Html.HiddenFor(m => m.InventoryReportForm.SelectedManufacturerCode)
                    @Html.ValidationMessageFor(m => m.InventoryReportForm.SelectedManufacturerCode, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(m => m.InventoryReportForm.Manufacturer, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-2 control-label">@Html.NopLabelFor(model => model.InventoryReportForm.ProductNameOrNumber, false)</div>
                <div class="col-sm-2">
                    @Html.TextBoxFor(model => model.InventoryReportForm.ProductNameOrNumber, new { @class = "form-control" })
                    <span class="help-block">@T("Admin.Reports.Fields.ProductNameOrNumber.Hint")</span>
                    @Html.ValidationMessageFor(m => m.InventoryReportForm.ProductNameOrNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">@Html.NopLabelFor(model => model.InventoryReportForm.Warehouses, false)</div>
                <div class="col-sm-10">
                    <div class="col-md-12"><input id="CheckboxAllWarehouses" checked="true" type="checkbox" /><label for="CheckBoxAllWarehouses" style="font-weight: normal;">All Warehouses</label></div>
                    @for (var i = 0; i < Model.InventoryReportForm.Warehouses.Count; i++)
                    {
                        <div class="col-sm-2">

                            @Html.HiddenFor(model => Model.InventoryReportForm.Warehouses[i].Value)
                            @Html.CheckBoxFor(model => Model.InventoryReportForm.Warehouses[i].Selected, new { @class = "CheckboxWarehouse", @data_bind = "warehouses", @data_code = Model.InventoryReportForm.Warehouses[i].Value, @data_name = Model.InventoryReportForm.Warehouses[i].Text })
                            @Html.LabelFor(model => Model.InventoryReportForm.Warehouses[i].Selected, Model.InventoryReportForm.Warehouses[i].Text, new { @style = "font-weight: normal;" })

                        </div>
                    }   
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"><label>Options</label></div>
                <div class="col-sm-10">
                    <div class="col-sm-12">
                        @Html.CheckBoxFor(model => model.InventoryReportForm.IncludeDiscontinuedItems)
                        @Html.LabelFor(model => model.InventoryReportForm.IncludeDiscontinuedItems, new { @style = "font-weight: normal;" })
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-sm-2">&nbsp;</div>
                <div class="col-sm-10"><input type="submit" id="SearchButton" class="btn btn-primary" value="@T("Admin.Common.GenerateReport")" /></div>
            </div>
        </div>
    </div>
}
