﻿@model OrderModel

<div class="panel panel-default">
    <div class="panel-body">
        <div id="ordernotes-grid"></div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <h5>@T("Admin.Orders.OrderNotes.AddTitle")</h5>        
        <div class="form-horizontal">
            <div class="form-group form-group-sm">
                @Html.LabelFor(m => m.AddOrderNoteMessage, new { @class = "col-lg-1 col-sm-2 control-label" })
                <div class="col-lg-11 col-sm-10">
                    @Html.TextAreaFor(model => model.AddOrderNoteMessage, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AddOrderNoteMessage)
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelFor(m => m.AddOrderNoteDownloadId, new { @class = "col-lg-1 col-sm-2 control-label" })
                <div class="col-lg-11 col-sm-10">
                    @Html.EditorFor(model => model.AddOrderNoteHasDownload) @T("Admin.Orders.OrderNotes.Fields.Download.HasDownload")
                    <div id="pnlAddOrderNoteDownloadId">
                        @Html.EditorFor(model => model.AddOrderNoteDownloadId)
                        @Html.ValidationMessageFor(model => model.AddOrderNoteDownloadId)
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelFor(m => m.AddOrderNoteDisplayToCustomer, new { @class = "col-lg-1 col-sm-2 control-label" })
                <div class="col-lg-11 col-sm-10">
                    @Html.EditorFor(model => model.AddOrderNoteDisplayToCustomer)
                    @Html.ValidationMessageFor(model => model.AddOrderNoteDisplayToCustomer)
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-lg-1 col-sm-2 control-label">&nbsp;</div>
                <div class="col-lg-11 col-sm-10">
                    <button id="addOrderNote" class="btn btn-sm btn-info" type="button">@T("Admin.Orders.OrderNotes.AddButton")</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#ordernotes-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("OrderNotesSelect", "Order", new { orderId = Model.Id }))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                    destroy: {
                        url: "@Html.Raw(Url.Action("OrderNoteDelete", "Order", new { orderId = Model.Id }))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {
                            //do not implicitly specify all fields
                            //we do it only for fields which implicitly require it
                            //otherwise, they'll be formatted wrong way
                            CreatedOn: {type: "date" }
                        }
                    }
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [
                {
                    field: "CreatedOn",
                    title: "@T("Admin.Orders.OrderNotes.Fields.CreatedOn")",
                    type: "date",
                    format: "{0:G}"
                },
                {
                    field: "Note",
                    title: "@T("Admin.Orders.OrderNotes.Fields.Note")",
                    encoded: false
                },
                {
                    attributes: {
                        class: "text-center"
                    },
                    field: "DownloadId",
                    headerAttributes: {
                        style: "text-align: center;"
                    },
                    title: "@T("Admin.Orders.OrderNotes.Fields.Download")",
                    template: '# if(DownloadId > 0) {# <a href="@Url.Content("~/Admin/Download/DownloadFile")?downloadGuid=#=DownloadGuid#">@T("Admin.Orders.OrderNotes.Fields.Download.Link")</a> #} else {# @T("Admin.Orders.OrderNotes.Fields.Download.Link.No") #} #'
                },
                {
                    attributes: {
                        class: "text-center"
                    },
                    field: "DisplayToCustomer",
                    headerAttributes: {
                        style: "text-align: center;"
                    },
                    title: "@T("Admin.Orders.OrderNotes.Fields.DisplayToCustomer")",
                    width: 100,
                    template: '<span class="text-danger glyphicon glyphicon-remove"></span>'
                },
                {
                    attributes: {
                        class: "text-center"
                    },
                    command: {
                        name: "destroy",
                        className: 'btn btn-sm btn-danger',
                        iconClass: 'glyphicon glyphicon-trash',
                        text: ''
                    },
                    headerAttributes: {
                        style: "text-align: center;"
                    },
                    title: "@T("Admin.Common.Delete")",
                    width: 100
                }
            ]
        });

        $("#@Html.FieldIdFor(model => model.AddOrderNoteHasDownload)").change(toggleAddOrderNoteHasDownload);

        toggleAddOrderNoteHasDownload();

        $('#addOrderNote').click(function () {
            var orderNoteMessage = $("#@Html.FieldIdFor(model => model.AddOrderNoteMessage)").val();
            var orderNoteDownloadId = 0;
            if ($('#@Html.FieldIdFor(model => model.AddOrderNoteHasDownload)').is(':checked')) {
                orderNoteDownloadId = $("#@Html.FieldIdFor(model => model.AddOrderNoteDownloadId)").val();
            }
            var orderNoteDisplayToCustomer = $("#@Html.FieldIdFor(model => model.AddOrderNoteDisplayToCustomer)").is(':checked');
            $('#addOrderNote').attr('disabled', true);

            var postData = {
                DisplayToCustomer: orderNoteDisplayToCustomer,
                message: orderNoteMessage,
                downloadId: orderNoteDownloadId,
                orderId: @Model.Id
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache:false,
                type: "POST",
                url: "@(Url.Action("OrderNoteAdd", "Order"))",
                data: postData,
                success: function (data) {
                    var grid = $("#ordernotes-grid").data('kendoGrid');
                    grid.dataSource.read();
                    $('#addOrderNote').attr('disabled', false);
                },
                error:function (xhr, ajaxOptions, thrownError){
                    alert('Failed to add order note.');
                    $('#addOrderNote').attr('disabled', false);
                }
            });
        });
    });

    function toggleAddOrderNoteHasDownload() {
        if ($('#@Html.FieldIdFor(model => model.AddOrderNoteHasDownload)').is(':checked')) {
            $('#pnlAddOrderNoteDownloadId').show();
        }
        else {
            $('#pnlAddOrderNoteDownloadId').hide();
        }
    }
</script>
