﻿@model OrderModel


<div class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-1 col-sm-2 control-label">
            @Html.LabelFor(model => model.BillingAddress):
            <br />
            @*<a class="btn btn-sm btn-default" href="@Html.Raw(Model.ShippingAddressGoogleMapsUrl)" target="_blank"><span class="glyphicon glyphicon-map-marker"></span></a>*@
            @if (!Model.IsLoggedInAsVendor && Model.EditBillingAddressEnabled)
            {
                <button class="btn btn-sm btn-info ButtonEditBillingAddress" data-addressid="@Model.BillingAddress.Id" data-orderid="@Model.Id" type="button">@T("Admin.Common.Edit")</button>
            }
        </label>
        <div class="col-lg-11 col-sm-10" style="padding-top: 7px;">
            @if (Model.BillingAddress.FirstNameEnabled || Model.BillingAddress.LastNameEnabled)
            {
                <div>@Model.BillingAddress.FirstName @Model.BillingAddress.LastName</div>
            }

            @if (Model.BillingAddress.EmailEnabled)
            {
                <div><a href="mailto:@Model.BillingAddress.Email">@Model.BillingAddress.Email</a></div>
            }

            @if (Model.BillingAddress.PhoneEnabled)
            {
                <div>@Model.BillingAddress.PhoneNumber (@T("Admin.Orders.Address.Phone"))</div>
            }

            @if (Model.BillingAddress.FaxEnabled)
            {
                <div>@Model.BillingAddress.FaxNumber (@T("Admin.Orders.Address.Fax"))</div>
            }

            @if (Model.BillingAddress.CompanyEnabled)
            {
                <div>@Model.BillingAddress.Company</div>
            }

            @if (Model.BillingAddress.StreetAddressEnabled)
            {
                <div>@Model.BillingAddress.Address1</div>
            }

            @if (Model.BillingAddress.StreetAddress2Enabled && !String.IsNullOrWhiteSpace(Model.BillingAddress.Address2))
            {
                <div>@Model.BillingAddress.Address2</div>
            }

            @if (Model.BillingAddress.CityEnabled || Model.BillingAddress.StateProvinceEnabled || Model.BillingAddress.ZipPostalCodeEnabled)
            {
                <div>
                    @if (Model.BillingAddress.CityEnabled)
                    {
                        @Model.BillingAddress.City
                    }

                    @if (Model.BillingAddress.StateProvinceEnabled)
                    {
                        <span>,&nbsp;</span>@Model.BillingAddress.StateProvinceName
                    }

                    @if (Model.BillingAddress.ZipPostalCodeEnabled)
                    {
                        <span>&nbsp;</span>@Model.BillingAddress.ZipPostalCode
                    }
                </div>
            }

            @if (Model.BillingAddress.CountryEnabled)
            {
                <div>@Model.BillingAddress.CountryName</div>
            }

            @if (!String.IsNullOrEmpty(Model.BillingAddress.FormattedCustomAddressAttributes))
            {
                <div>@Html.Raw(Model.BillingAddress.FormattedCustomAddressAttributes)</div>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.ButtonEditBillingAddress').unbind('click');
        $('.ButtonEditBillingAddress').click((e) => {
            const addressId = $(e.currentTarget).data('addressid');

            loadBillingAddressForm(addressId);
        });
    });

    function loadBillingAddressForm(addressId) {
        $.ajax({
            type: "GET",
            url: "@(Url.Action("GetCreateOrUpdateAddressPartial", "Address"))",
            data: {
                addressId: @(Model.BillingAddress != null ? Model.BillingAddress.Id : 0),
                customerId: @Model.CustomerId
            },
            success: (addressPartial) => {
                $('body').append(addressPartial);

                $('#ModalAddEditAddress').unbind('ModalAddEditAddress.Saved');
                $('#ModalAddEditAddress').on('ModalAddEditAddress.Saved', (e) => {
                    loadBillingInfo();
                    });
            },
            error: () => {
                alert('Failed to load address.');
            }
        });
    }

    function loadBillingInfo() {
        $.ajax({
            type: "GET",
            url: "@(Url.Action("GetBillingInfo", "Order"))",
            data: {
                orderId: @Model.Id
            },
            success: (billingInfoPartial) => {
                $('#tabBilling').html(billingInfoPartial);
            },
            error: () => {
                alert('Failed to load billing info');
            }
        });
    }
</script>