﻿@model OrderModel

@if (Model.IsShippable)
{
    <div class="form-horizontal">
        @if (Model.IsShippable && Model.ShippingAddress != null)
        {
            <div class="form-group">
                <label class="col-lg-1 col-sm-2 control-label">
                    @Html.LabelFor(model => model.ShippingAddress):
                    <br />
                    <a class="btn btn-sm btn-default" href="@Html.Raw(Model.ShippingAddressGoogleMapsUrl)" target="_blank"><span class="glyphicon glyphicon-map-marker"></span></a>
                    <button class="btn btn-sm btn-info ButtonEditShippingAddress" data-addressid="@Model.ShippingAddress.Id" data-orderid="@Model.Id" type="button">@T("Admin.Common.Edit")</button>
                </label>
                <div class="col-lg-11 col-sm-10" style="padding-top: 7px;">
                    @if (Model.ShippingAddress.FirstNameEnabled || Model.ShippingAddress.LastNameEnabled)
                    {
                        <div>@Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName</div>
                    }

                    @if (Model.ShippingAddress.EmailEnabled)
                    {
                        <div><a href="mailto:@Model.ShippingAddress.Email">@Model.ShippingAddress.Email</a></div>
                    }

                    @if (Model.ShippingAddress.PhoneEnabled)
                    {
                        <div>@Model.ShippingAddress.PhoneNumber (@T("Admin.Orders.Address.Phone"))</div>
                    }

                    @if (Model.ShippingAddress.FaxEnabled)
                    {
                        <div>@Model.ShippingAddress.FaxNumber (@T("Admin.Orders.Address.Fax"))</div>
                    }

                    @if (Model.ShippingAddress.CompanyEnabled)
                    {
                        <div>@Model.ShippingAddress.Company</div>
                    }

                    @if (Model.ShippingAddress.StreetAddressEnabled)
                    {
                        <div>@Model.ShippingAddress.Address1</div>
                    }

                    @if (Model.ShippingAddress.StreetAddress2Enabled && !String.IsNullOrWhiteSpace(Model.ShippingAddress.Address2))
                    {
                        <div>@Model.ShippingAddress.Address2</div>
                    }

                    @if (Model.ShippingAddress.CityEnabled || Model.ShippingAddress.StateProvinceEnabled || Model.ShippingAddress.ZipPostalCodeEnabled)
                    {
                        <div>
                            @if (Model.ShippingAddress.CityEnabled)
                            {
                                @Model.ShippingAddress.City
                            }

                            @if (Model.ShippingAddress.StateProvinceEnabled)
                            {
                                <span>,&nbsp;</span>@Model.ShippingAddress.StateProvinceName

                            }

                            @if (Model.ShippingAddress.ZipPostalCodeEnabled)
                            {
                                <span>&nbsp;</span>@Model.ShippingAddress.ZipPostalCode
                            }
                        </div>
                    }

                    <div>#@Model.ShippingAddress.ShipToNumber</div>
                </div>
            </div>
        }

        <div class="form-group">
            <label class="col-lg-1 col-sm-2 control-label">@Html.LabelFor(model => model.ShippingMethod):</label>
            <div class="col-lg-11 col-sm-10">
                <div id="lblShippingMethod" style="padding-top: 7px;">@Model.ShippingMethod</div>
                @if (!Model.IsLoggedInAsVendor)
                {
                    <input type="submit" value="@T("Admin.Common.Edit")" onclick=" toggleEditShippingMethod(true);return false; " id="btnEditShippingMethod" class="btn btn-sm btn-info" />

                    <div id="divShippingMethod" class="form-inline">
                        @Html.TextBoxFor(model => model.ShippingMethod, new { @class = "form-control" })
                        <input type="submit" value="@T("Admin.Common.Save")" id="btnSaveShippingMethod" name="save-shipping-method" class="btn btn-sm btn-info" onclick=" return confirm('@T("Admin.Common.AreYouSure")'); " />
                        <input type="submit" value="@T("Admin.Common.Cancel")" onclick=" toggleEditShippingMethod(false);return false; " id="btnCancelShippingMethod" class="btn btn-sm btn-danger" />
                    </div>
                }
            </div>
        </div>

        @if (!Model.IsLoggedInAsVendor)
        {
            <div class="form-group">
                <label class="col-lg-1 col-sm-2 control-label">@Html.LabelFor(model => model.ShippingStatus):</label>
                <div class="col-lg-11 col-sm-10" style="padding-top: 7px;">@Model.ShippingStatus</div>
            </div>
        }
    </div>

    <hr />

    <h5>@T("Admin.Orders.Shipments")</h5>
    
    <div id="shipments-grid"></div>

    if (Model.CanAddNewShipments)
    {
        <input type="submit" id="btnAddNewShipment" name="btnAddNewShipment" value="@T("Admin.Orders.Shipments.AddNew")" onclick="javascript:setLocation('@(Url.Action("AddShipment", "Order", new { orderId = Model.Id }))'); return false;" class="btn btn-info" />
    }

    <script>
        $(document).ready(function () {
            $('.ButtonEditShippingAddress').unbind('click');
            $('.ButtonEditShippingAddress').click((e) => {
                const addressId = $(e.currentTarget).data('addressid');

                loadShippingAddressForm(addressId);
            });

            $("#shipments-grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("ShipmentsByOrder", "Order", new { orderId = Model.Id }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                //details grid
                detailInit: detailInit,
                scrollable: false,
                columns: [{
                    field: "Id",
                    title: "@T("Admin.Orders.Shipments.ID")",
                    width: 50
                }, {
                    field: "OrderId",
                    title: "@T("Admin.Orders.Shipments.OrderID")",
                    width: 100
                }, {
                    field: "TrackingNumber",
                    title: "@T("Admin.Orders.Shipments.TrackingNumber")",
                    width: 100
                }, {
                    field: "TotalWeight",
                    title: "@T("Admin.Orders.Shipments.TotalWeight")",
                    width: 100
                }, {
                    field: "ShippedDate",
                    title: "@T("Admin.Orders.Shipments.ShippedDate")",
                    width: 200,
                    type: "date",
                    format: "{0:G}"
                }, {
                    field: "DeliveryDate",
                    title: "@T("Admin.Orders.Shipments.DeliveryDate")",
                    width: 200,
                    type: "date",
                    format: "{0:G}"
                }, {
                    field: "Id",
                    title: "@T("Admin.Common.View")",
                    width: 50,
                    template: '<a href="@Url.Content("~/Admin/Order/ShipmentDetails/")#=Id#">@T("Admin.Common.View")</a>'
                }]
            });

            toggleEditShippingMethod(false);
        });

        //details grid
        function detailInit(e) {
            $("<div/>").appendTo(e.detailCell).kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("ShipmentsItemsByShipmentId", "Order"))?shipmentId="+e.data.Id,
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                scrollable: false,
                sortable: true,
                pageable: {
                    refresh: true,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                columns: [
                    {
                        field: "ProductName",
                        title: "@T("Admin.Orders.Shipments.Products.ProductName")",
                        width: 400
                    },{
                        field: "ShippedFromWarehouse",
                        title: "@T("Admin.Orders.Shipments.Products.Warehouse")",
                        width: 150
                    },{
                        field: "QuantityInThisShipment",
                        title: "@T("Admin.Orders.Shipments.Products.QtyShipped")",
                        width: 150
                    },{
                        field: "ItemWeight",
                        title: "@T("Admin.Orders.Shipments.Products.ItemWeight")",
                        width: 150
                    },{
                        field: "ItemDimensions",
                        title: "@T("Admin.Orders.Shipments.Products.ItemDimensions")",
                        width: 150
                    }
                ]
            });
        }

        function loadShippingAddressForm(addressId) {
            $.ajax({
                type: "GET",
                url: "@(Url.Action("GetCreateOrUpdateAddressPartial", "Address"))",
                data: {
                    addressId: @(Model.ShippingAddress != null ? Model.ShippingAddress.Id : 0),
                    customerId: @Model.CustomerId
                },
                success: (addressPartial) => {
                    $('body').append(addressPartial);

                    $('#ModalAddEditAddress').unbind('ModalAddEditAddress.Saved');
                    $('#ModalAddEditAddress').on('ModalAddEditAddress.Saved', (e) => {
                        loadShippingInfo();
                     });
                },
                error: () => {
                    alert('Failed to load address.');
                }
            });
        }

        function loadShippingInfo() {
            $.ajax({
                type: "GET",
                url: "@(Url.Action("GetShippingInfo", "Order"))",
                data: {
                    orderId: @Model.Id
                },
                success: (shippingInfoPartial) => {
                    $('#tabShipping').html(shippingInfoPartial);
                },
                error: () => {
                    alert('Failed to load shipping info');
                }
            });

                }

        function toggleEditShippingMethod(editmode) {
            if (editmode) {
                $('#lblShippingMethod').hide();
                $('#divShippingMethod').show();
                $('#btnEditShippingMethod').hide();
                $('#btnSaveShippingMethod').show();
                $('#btnCancelShippingMethod').show();
            }
            else {
                $('#lblShippingMethod').show();
                $('#divShippingMethod').hide();
                $('#btnEditShippingMethod').show();
                $('#btnSaveShippingMethod').hide();
                $('#btnCancelShippingMethod').hide();
            }
        }
    </script>
}
else
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle"></td>
            <td class="adminData">
                @T("Admin.Orders.ShippingInfo.NotRequired")
            </td>
        </tr>
    </table>
}
