﻿@using Nop.Core.Domain.Tax;
@using Nop.Core.Domain.Catalog;

@model OrderModel

@if (!Model.IsLoggedInAsVendor)
{
    <div class="text-right"><input type="submit" id="btnAddNewProduct" name="btnAddNewProduct" value="@T("Admin.Orders.Products.AddNew")" onclick="javascript:setLocation('@(Url.Action("AddProductToOrder", "Order", new { orderId = Model.Id }))'); return false; " class="btn btn-sm btn-default" /></div>
    <br />
}

<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>@T("Admin.Orders.Products.Picture")</th>
                    <th>@T("Admin.Orders.Products.ProductName")</th>
                    @if (Model.HasDownloadableProducts)
                    {
                        <th>@T("Admin.Orders.Products.Download")</th>
                    }
                    <th class="text-center">@T("Admin.Orders.Products.Price")</th>
                    <th class="text-center">@T("Admin.Orders.Products.Quantity")</th>
                    <th class="text-center">@T("Admin.Orders.Products.Discount")</th>
                    <th class="text-center">@T("Admin.Orders.Products.Total")</th>
                    @if (!Model.IsLoggedInAsVendor)
                    {
                        <th class="text-center">@T("Admin.Common.Edit")</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td><img src="@item.PictureThumbnailUrl" alt="" title="" /></td>
                        <td>
                            <a href="@Url.Action("Edit", "Product", new { id = item.ProductId })">@item.ProductName</a>
                            @if (!String.IsNullOrEmpty(item.AttributeInfo))
                            {
                                <div>
                                    @Html.Raw(item.AttributeInfo)
                                </div>
                            }
                            @if (!String.IsNullOrEmpty(item.RecurringInfo))
                            {
                                <div>
                                    @Html.Raw(item.RecurringInfo)
                                </div>
                            }
                            @if (!String.IsNullOrEmpty(item.RentalInfo))
                            {
                                <div>
                                    @Html.Raw(item.RentalInfo)
                                </div>
                            }
                            @if (!String.IsNullOrEmpty(item.Sku))
                            {
                                <div>
                                    <strong>@T("Admin.Orders.Products.SKU")</strong><text>:</text>
                                    @item.Sku
                                </div>
                            }
                            @if (!String.IsNullOrEmpty(item.VendorName))
                            {
                                <div>
                                    <strong>@T("Admin.Orders.Products.Vendor")</strong><text>:</text>
                                    @item.VendorName
                                </div>
                            }
                            @if (item.ReturnRequestIds.Count > 0)
                            {
                                <div>
                                    @T("Admin.Orders.Products.ReturnRequests")<text>:</text>
                                    @for (int i = 0; i < item.ReturnRequestIds.Count; i++)
                                    {
                                        <a href="@Url.Action("Edit", "ReturnRequest", new { id = item.ReturnRequestIds[i] })">@item.ReturnRequestIds[i]</a>
                                        if (i != item.ReturnRequestIds.Count - 1)
                                        {
                                            <text>,</text>
                                        }
                                    }
                                </div>
                            }
                            @if (item.PurchasedGiftCardIds.Count > 0)
                            {
                                <div>
                                    @T("Admin.Orders.Products.GiftCards")<text>:</text>
                                    @for (int i = 0; i < item.PurchasedGiftCardIds.Count; i++)
                                    {
                                        <a href="@Url.Action("Edit", "GiftCard", new { id = item.PurchasedGiftCardIds[i] })">@item.PurchasedGiftCardIds[i]</a>
                                        if (i != item.PurchasedGiftCardIds.Count - 1)
                                        {
                                            <text>,</text>
                                        }
                                    }
                                </div>
                            }
                        </td>
                        @if (Model.HasDownloadableProducts)
                        {
                            <td>
                                @if (item.IsDownload)
                                {
                                    <div>
                                        @string.Format(T("Admin.Orders.Products.Download.DownloadCount").Text, item.DownloadCount)
                                        <input type="submit" name="btnResetDownloadCount@(item.Id)" value="@T("Admin.Orders.Products.Download.ResetDownloadCount")" title="@T("Admin.Orders.Products.Download.ResetDownloadCount.Title")" id="btnResetDownloadCount@(item.Id)" class="adminButton" />
                                        <hr />
                                    </div>
                                    if (item.DownloadActivationType == DownloadActivationType.Manually)
                                    {
                                        <div>
                                            <input type="submit" name="btnPvActivateDownload@(item.Id)" @(item.IsDownloadActivated ? " value=" + T("Admin.Orders.Products.Download.Deactivate") : " value=" + T("Admin.Orders.Products.Download.Activate")) id="btnPvActivateDownload@(item.Id)" class="adminButton" />
                                            <hr />
                                        </div>
                                    }
                                    <div>
                                        <strong>
                                            @T("Admin.Orders.Products.License")
                                        </strong>
                                        <br />
                                        @if (item.LicenseDownloadGuid != Guid.Empty)
                                        {
                                            <a href="@Url.Action("DownloadFile", "Download", new { downloadGuid = item.LicenseDownloadGuid })">@T("Admin.Orders.Products.License.DownloadLicense")</a>
                                        }
                                        <br />
                                        <input type="submit" id="pvlicensefile" name="pvlicensefile" value="@T("Admin.Orders.Products.License.UploadFile")" onclick="javascript:OpenWindow('@(Url.Action("UploadLicenseFilePopup", "Order", new { id = Model.Id, orderItemId = item.Id, btnId = "btnRefreshPage", formId = "order-form" }))', 500, 300, true); return false;" class="adminButton" />
                                    </div>
                                }
                            </td>
                        }
                        <td class="text-center">
                            @if (Model.AllowCustomersToSelectTaxDisplayType)
                            {
                                @item.UnitPriceInclTax
                                <br />
                                @item.UnitPriceExclTax
                            }
                            else
                            {
                                switch (Model.TaxDisplayType)
                                {
                                    case TaxDisplayType.ExcludingTax:
                                        {
                                            @item.UnitPriceExclTax
                                        }
                                        break;
                                    case TaxDisplayType.IncludingTax:
                                        {
                                            @item.UnitPriceInclTax
                                        }
                                        break;
                                    default:
                                        break;
                                }
                            }
                            <div id="pnlEditPvUnitPrice@(item.Id)">
                                <table class="order-edit">
                                    <tr>
                                        <td>
                                            @T("Admin.Orders.Products.Edit.InclTax")
                                        </td>
                                        <td>
                                            <input name="pvUnitPriceInclTax@(item.Id)" type="text" value="@item.UnitPriceInclTaxValue" id="pvUnitPriceInclTax@(item.Id)" class="form-control input-sm" style="width:100px;" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @T("Admin.Orders.Products.Edit.ExclTax")
                                        </td>
                                        <td>
                                            <input name="pvUnitPriceExclTax@(item.Id)" type="text" value="@item.UnitPriceExclTaxValue" id="pvUnitPriceExclTax@(item.Id)" class="form-control input-sm" style="width:100px;" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td class="text-center">
                            <div>@item.Quantity</div>
                            <div id="pnlEditPvQuantity@(item.Id)">
                                <div class="order-edit">
                                    <input name="pvQuantity@(item.Id)" type="text" value="@item.Quantity" id="pvQuantity@(item.Id)" class="form-control input-sm" style="width: 100px;" />
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            @if (Model.AllowCustomersToSelectTaxDisplayType)
                            {
                                @item.DiscountInclTax
                                <br />
                                @item.DiscountExclTax
                            }
                            else
                            {
                                switch (Model.TaxDisplayType)
                                {
                                    case TaxDisplayType.ExcludingTax:
                                        {
                                            @item.DiscountExclTax
                                        }
                                        break;
                                    case TaxDisplayType.IncludingTax:
                                        {
                                            @item.DiscountInclTax
                                        }
                                        break;
                                    default:
                                        break;
                                }
                            }
                            <div id="pnlEditPvDiscount@(item.Id)">
                                <table class="order-edit">
                                    <tr>
                                        <td>
                                            @T("Admin.Orders.Products.Edit.InclTax")
                                        </td>
                                        <td>
                                            <input name="pvDiscountInclTax@(item.Id)" type="text" value="@item.DiscountInclTaxValue" id="pvDiscountInclTax@(item.Id)" class="form-control input-sm" style="width:100px;" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @T("Admin.Orders.Products.Edit.ExclTax")
                                        </td>
                                        <td>
                                            <input name="pvDiscountExclTax@(item.Id)" type="text" value="@item.DiscountExclTaxValue" id="pvDiscountExclTax@(item.Id)" class="form-control input-sm" style="width:100px;" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td class="text-center">
                            @if (Model.AllowCustomersToSelectTaxDisplayType)
                            {
                                @item.SubTotalInclTax
                                <br />
                                @item.SubTotalExclTax
                            }
                            else
                            {
                                switch (Model.TaxDisplayType)
                                {
                                    case TaxDisplayType.ExcludingTax:
                                        {
                                            @item.SubTotalExclTax
                                        }
                                        break;
                                    case TaxDisplayType.IncludingTax:
                                        {
                                            @item.SubTotalInclTax
                                        }
                                        break;
                                    default:
                                        break;
                                }
                            }
                            <div id="pnlEditPvPrice@(item.Id)">
                                <table class="order-edit">
                                    <tr>
                                        <td>
                                            @T("Admin.Orders.Products.Edit.InclTax")
                                        </td>
                                        <td>
                                            <input name="pvPriceInclTax@(item.Id)" type="text" value="@item.SubTotalInclTaxValue" id="pvPriceInclTax@(item.Id)" class="form-control input-sm" style="width:100px;" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @T("Admin.Orders.Products.Edit.ExclTax")
                                        </td>
                                        <td>
                                            <input name="pvPriceExclTax@(item.Id)" type="text" value="@item.SubTotalExclTaxValue" id="pvPriceExclTax@(item.Id)" class="form-control input-sm" style="width:100px;" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>

                        @if (!Model.IsLoggedInAsVendor)
                        {
                            <td class="text-center">
                                <button type="submit" name="btnEditOrderItem@(item.Id)" value="@T("Admin.Common.Edit")" onclick="toggleOrderItemEdit@(item.Id)(true);return false; " id="btnEditOrderItem@(item.Id)" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-edit"></span></button>
                                <button type="submit" name="btnDeleteOrderItem@(item.Id)" value="@T("Admin.Common.Delete")" id="btnDeleteOrderItem@(item.Id)" class="btn btn-sm btn-danger" onclick="return confirm('@T("Admin.Common.AreYouSure")');"><span class="glyphicon glyphicon-trash"></span></button>
                                <input type="submit" name="btnSaveOrderItem@(item.Id)" value="@T("Admin.Common.Save")" id="btnSaveOrderItem@(item.Id)" class="btn btn-sm btn-info" style="display:none;" onclick="return confirm('@T("Admin.Common.AreYouSure")'); " />
                                <input type="submit" name="btnCancelOrderItem@(item.Id)" value="@T("Admin.Common.Cancel")" onclick="toggleOrderItemEdit@(item.Id)    (false);return false; " id="btnCancelOrderItem@(item.Id)" class="btn btn-sm btn-danger" style="display:none;" />
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo) && !Model.IsLoggedInAsVendor)
{
    <div>@Html.Raw(Model.CheckoutAttributeInfo)</div>
}

@foreach (var item in Model.Items)
{
    <script type="text/javascript">
        $(document).ready(function() {
            toggleOrderItemEdit@(item.Id)(false);
            });
    </script>

    <script type="text/javascript">
        function toggleOrderItemEdit@(item.Id) (editMode) {
            if (editMode) {
                $('#pnlEditPvUnitPrice@(item.Id)').show();
                $('#pnlEditPvQuantity@(item.Id)').show();
                $('#pnlEditPvDiscount@(item.Id)').show();
                $('#pnlEditPvPrice@(item.Id)').show();
                $('#btnEditOrderItem@(item.Id)').hide();
                $('#btnDeleteOrderItem@(item.Id)').hide();
                $('#btnSaveOrderItem@(item.Id)').show();
                $('#btnCancelOrderItem@(item.Id)').show();
            }
            else {
                $('#pnlEditPvUnitPrice@(item.Id)').hide();
                $('#pnlEditPvQuantity@(item.Id)').hide();
                $('#pnlEditPvDiscount@(item.Id)').hide();
                $('#pnlEditPvPrice@(item.Id)').hide();
                $('#btnEditOrderItem@(item.Id)').show();
                $('#btnDeleteOrderItem@(item.Id)').show();
                $('#btnSaveOrderItem@(item.Id)').hide();
                $('#btnCancelOrderItem@(item.Id)').hide();
            }
        }
    </script>

}