﻿@model OrderModel

@using Nop.Core.Domain.Tax;
@using Nop.Core.Domain.Orders;

<div class="form-horizontal">
    @if (!Model.IsLoggedInAsVendor)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.OrderStatus, new { @class = "col-lg-1 col-sm-2 control-label" })
            <div class="col-lg-11 col-sm-10 form-text">
                <div>@Model.OrderStatus</div>
                @if (Model.CanCancelOrder)
                {
                    <button id="cancelorder" class="btn btn-xs btn-danger" name="cancelorder" onclick="return confirm('@T("Admin.Common.AreYouSure")');" type="submit">@T("Admin.Orders.Fields.OrderStatus.Cancel")</button>
                }
                <button id="btnChangeOrderStatus" class="btn btn-xs btn-info" name="btnChangeOrderStatus" type="submit">@T("Admin.Orders.Fields.OrderStatus.Change")</button>
                <div id="pnlChangeOrderStatus" class="row">
                    <div class="col-lg-4 col-sm-12">
                        <br />
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="input-group">
                                    @Html.DropDownListFor(model => model.OrderStatusId, ((OrderStatus)Model.OrderStatusId).ToSelectList(), new { @class = "form-control" })
                                    <div class="input-group-btn">
                                        <button id="btnSaveOrderStatus" class="btn btn-sm btn-info" name="btnSaveOrderStatus" onclick="return confirm('@T("Admin.Common.AreYouSure")');" type="submit">@T("Admin.Common.Save")</button>
                                        <button id="btnCancelOrderStatus" class="btn btn-sm btn-danger" name="btnCancelOrderStatus" onclick="toggleChangeOrderStatus(false);return false;" type="submit">@T("Admin.Common.Cancel")</button>
                                    </div>
                                </div>
                                <span class="help-block">@T("Admin.Orders.Fields.OrderStatus.Change.ForAdvancedUsers")</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.InvoiceStatus, new { @class = "col-lg-1 col-sm-2 control-label" })
            <div class="col-lg-11 col-sm-10 form-text">@Model.InvoiceStatus</div>
        </div>
    }
    <div class="form-group">
        @Html.LabelFor(model => model.Id, new { @class = "col-lg-1 col-sm-2 control-label" })
        <div class="col-lg-11 col-sm-10 form-text">@Model.Id</div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ERPId, new { @class = "col-lg-1 col-sm-2 control-label" })
        <div class="col-lg-11 col-sm-10 form-text">@Model.ERPId</div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.InvoiceIds, new { @class = "col-lg-1 col-sm-2 control-label" })
        <div class="col-lg-11 col-sm-10 form-text">@Model.InvoiceIds</div>
    </div>
    @if (!Model.IsLoggedInAsVendor)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.OrderGuid, new { @class = "col-lg-1 col-sm-2 control-label" })
            <div class="col-lg-11 col-sm-10 form-text">@Model.OrderGuid</div>
        </div>
    }
    <div class="form-group">
        @Html.LabelFor(model => model.StoreName, new { @class = "col-lg-1 col-sm-2 control-label" })
        <div class="col-lg-11 col-sm-10 form-text">@Model.StoreName</div>
    </div>
    <hr />
    @if (!Model.IsLoggedInAsVendor)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerId, new { @class = "col-lg-1 col-sm-2 control-label" })
            <div class="col-lg-11 col-sm-10 form-text">@Html.ActionLink(Model.CustomerInfo, "Edit", "Customer", new { id = Model.CustomerId }, new { })</div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerIp, new { @class = "col-lg-1 col-sm-2 control-label" })
            <div class="col-lg-11 col-sm-10 form-text">@Model.CustomerIp</div>
        </div>
        if (Model.RecurringPaymentId > 0)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.RecurringPaymentId, new { @class = "col-lg-1 col-sm-2 control-label" })
                <div class="col-lg-11 col-sm-10 form-text"><a href="@Url.Action("Edit", "RecurringPayment", new { id = Model.RecurringPaymentId })">@T("Admin.Common.View")</a></div>
            </div>
        }
        if (!String.IsNullOrEmpty(Model.VatNumber))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.VatNumber, new { @class = "col-lg-1 col-sm-2 control-label" })
                <div class="col-lg-11 col-sm-10 form-text">@Model.VatNumber</div>
            </div>
        }
        if (Model.AffiliateId > 0)
        {
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.AffiliateId, new { @class = "col-lg-1 col-sm-2 control-label" })
                </div>
                <div class="col-lg-11 col-sm-10 form-text">
                    <a href="@Url.Action("Edit", "Affiliate", new { id = Model.AffiliateId })">@Model.AffiliateName - @T("Admin.Common.View")</a>
                </div>
            </div>
        }
        if (Model.AllowCustomersToSelectTaxDisplayType || Model.TaxDisplayType == TaxDisplayType.IncludingTax)
        {
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.OrderSubtotalInclTax, new { @class = "col-lg-1 col-sm-2 control-label" })
                </div>
                <div class="col-lg-11 col-sm-10 form-text">
                    @Model.OrderSubtotalInclTax
                </div>
            </div>
        }
        if (Model.AllowCustomersToSelectTaxDisplayType || Model.TaxDisplayType == TaxDisplayType.ExcludingTax)
        {
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.OrderSubtotalExclTax, new { @class = "col-lg-1 col-sm-2 control-label" })
                </div>
                <div class="col-lg-11 col-sm-10 form-text">
                    @Model.OrderSubtotalExclTax
                </div>
            </div>
        }
        if ((Model.AllowCustomersToSelectTaxDisplayType || Model.TaxDisplayType == TaxDisplayType.IncludingTax) && !String.IsNullOrEmpty(Model.OrderSubTotalDiscountInclTax))
        {
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.OrderSubTotalDiscountInclTax, new { @class = "col-lg-1 col-sm-2 control-label" })
                </div>
                <div class="col-lg-11 col-sm-10 form-text">
                    @Model.OrderSubTotalDiscountInclTax
                </div>
            </div>
        }
        if ((Model.AllowCustomersToSelectTaxDisplayType || Model.TaxDisplayType == TaxDisplayType.ExcludingTax) && !String.IsNullOrEmpty(Model.OrderSubTotalDiscountExclTax))
        {
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.OrderSubTotalDiscountExclTax, new { @class = "col-lg-1 col-sm-2 control-label" })
                </div>
                <div class="col-lg-11 col-sm-10 form-text">
                    @Model.OrderSubTotalDiscountExclTax
                </div>
            </div>
        }
        if (Model.AllowCustomersToSelectTaxDisplayType || Model.TaxDisplayType == TaxDisplayType.IncludingTax)
        {
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.OrderShippingInclTax, new { @class = "col-lg-1 col-sm-2 control-label" })
                </div>
                <div class="col-lg-11 col-sm-10 form-text">
                    @Model.OrderShippingInclTax
                </div>
            </div>
        }
        if (Model.AllowCustomersToSelectTaxDisplayType || Model.TaxDisplayType == TaxDisplayType.ExcludingTax)
        {
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.OrderShippingExclTax, new { @class = "col-lg-1 col-sm-2 control-label" })
                </div>
                <div class="col-lg-11 col-sm-10 form-text">
                    @Model.OrderShippingExclTax
                </div>
            </div>
        }
        if ((Model.AllowCustomersToSelectTaxDisplayType || Model.TaxDisplayType == TaxDisplayType.IncludingTax) && !String.IsNullOrEmpty(Model.PaymentMethodAdditionalFeeInclTax))
        {
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.PaymentMethodAdditionalFeeInclTax, new { @class = "col-lg-1 col-sm-2 control-label" })
                </div>
                <div class="col-lg-11 col-sm-10 form-text">
                    @Model.PaymentMethodAdditionalFeeInclTax
                </div>
            </div>
        }
        if ((Model.AllowCustomersToSelectTaxDisplayType || Model.TaxDisplayType == TaxDisplayType.ExcludingTax)
            && !String.IsNullOrEmpty(Model.PaymentMethodAdditionalFeeExclTax))
        {
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.PaymentMethodAdditionalFeeExclTax, new { @class = "col-lg-1 col-sm-2 control-label" })
                </div>
                <div class="col-lg-11 col-sm-10 form-text">
                    @Model.PaymentMethodAdditionalFeeExclTax
                </div>
            </div>
        }
        if (Model.DisplayTaxRates)
        {
            foreach (var tr in Model.TaxRates)
            {
                <div class="form-group">
                    <div>
                        @Html.LabelFor(model => model.Tax) @tr.Rate%:
                    </div>
                    <div class="col-lg-11 col-sm-10 form-text">
                        @tr.Value
                    </div>
                </div>
            }
        }
        if (Model.DisplayTax)
        {
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.Tax, new { @class = "col-lg-1 col-sm-2 control-label" })
                </div>
                <div class="col-lg-11 col-sm-10 form-text">
                    @Model.Tax
                </div>
            </div>
        }
        if (!String.IsNullOrEmpty(Model.OrderTotalDiscount))
        {
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.OrderTotalDiscount, new { @class = "col-lg-1 col-sm-2 control-label" })
                </div>
                <div class="col-lg-11 col-sm-10 form-text">
                    @Model.OrderTotalDiscount
                </div>
            </div>
        }
        foreach (var gc in Model.GiftCards)
        {
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.GiftCards[0].CouponCode, new { @class = "col-lg-1 col-sm-2 control-label" }) (@(gc.CouponCode)
                </div>
                <div class="col-lg-11 col-sm-10 form-text">
                    @gc.Amount
                </div>
            </div>
        }
        if (Model.RedeemedRewardPoints > 0)
        {
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.RedeemedRewardPoints, new { @class = "col-lg-1 col-sm-2 control-label" })
                </div>
                <div class="col-lg-11 col-sm-10 form-text">
                    @Model.RedeemedRewardPoints @T("Admin.Orders.Fields.RedeemedRewardPoints.Points")
                    <text>/</text>
                    @Model.RedeemedRewardPointsAmount
                </div>
            </div>
        }
        <div class="form-group">
            <div>
                @Html.LabelFor(model => model.OrderTotal, new { @class = "col-lg-1 col-sm-2 control-label" })
            </div>
            <div class="col-lg-11 col-sm-10 form-text">
                @Model.OrderTotal
            </div>
        </div>
        if (!String.IsNullOrEmpty(Model.RefundedAmount))
        {
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.RefundedAmount, new { @class = "col-lg-1 col-sm-2 control-label" })
                </div>
                <div class="col-lg-11 col-sm-10 form-text">
                    @Model.RefundedAmount
                </div>
            </div>
        }
        if (Model.UsedDiscounts.Count > 0)
        {
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.UsedDiscounts, new { @class = "col-lg-1 col-sm-2 control-label" })
                </div>
                <div class="col-lg-11 col-sm-10 form-text">
                    @for (int i = 0; i < Model.UsedDiscounts.Count; i++)
                    {
                        var discount = Model.UsedDiscounts[i];
                        <a href="@Url.Action("Edit", "Discount", new { id = discount.DiscountId })">@discount.DiscountName</a>
                        if (i != Model.UsedDiscounts.Count - 1)
                        {
                            <text>,</text>
                        }
                    }
                </div>
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.Profit, new { @class = "col-lg-1 col-sm-2 control-label" })
            <div class="col-lg-11 col-sm-10 form-text">@Model.Profit</div>
        </div>
        <div id="trEditOrderTotals" class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.OrderSubtotalInclTaxValue, new { @class = "col-lg-1 col-sm-2 control-label" })
                    <div class="col-lg-2 col-sm-4">@T("Admin.Orders.Fields.Edit.InclTax") @Html.EditorFor(model => model.OrderSubtotalInclTaxValue)</div>
                    <div class="col-lg-2 col-sm-4">@T("Admin.Orders.Fields.Edit.ExclTax") @Html.EditorFor(model => model.OrderSubtotalExclTaxValue)</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.OrderSubTotalDiscountInclTaxValue, new { @class = "col-lg-1 col-sm-2 control-label" })
                    <div class="col-lg-2 col-sm-4">
                        @T("Admin.Orders.Fields.Edit.InclTax") @Html.EditorFor(model => model.OrderSubTotalDiscountInclTaxValue)
                    </div>
                    <div class="col-lg-2 col-sm-4">
                        @T("Admin.Orders.Fields.Edit.ExclTax") @Html.EditorFor(model => model.OrderSubTotalDiscountExclTaxValue)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.OrderShippingInclTaxValue, new { @class = "col-lg-1 col-sm-2 control-label" })
                    <div class="col-lg-2 col-sm-4">
                        @T("Admin.Orders.Fields.Edit.InclTax") @Html.EditorFor(model => model.OrderShippingInclTaxValue)
                    </div>
                    <div class="col-lg-2 col-sm-4">
                        @T("Admin.Orders.Fields.Edit.ExclTax") @Html.EditorFor(model => model.OrderShippingExclTaxValue)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaymentMethodAdditionalFeeInclTaxValue, new { @class = "col-lg-1 col-sm-2 control-label" })
                    <div class="col-lg-2 col-sm-4">
                        @T("Admin.Orders.Fields.Edit.InclTax") @Html.EditorFor(model => model.PaymentMethodAdditionalFeeInclTaxValue)
                    </div>
                    <div class="col-lg-2 col-sm-4">
                        @T("Admin.Orders.Fields.Edit.ExclTax") @Html.EditorFor(model => model.PaymentMethodAdditionalFeeExclTaxValue)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TaxRatesValue, new { @class = "col-lg-1 col-sm-2 control-label" })
                    <div class="col-lg-2 col-sm-4">
                        @Html.EditorFor(model => model.TaxRatesValue)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TaxValue, new { @class = "col-lg-1 col-sm-2 control-label" })
                    <div class="col-lg-2 col-sm-4">
                        @Html.EditorFor(model => model.TaxValue)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.OrderTotalDiscountValue, new { @class = "col-lg-1 col-sm-2 control-label" })
                    <div class="col-lg-2 col-sm-4">
                        @Html.EditorFor(model => model.OrderTotalDiscountValue)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.OrderTotalValue, new { @class = "col-lg-1 col-sm-2 control-label" })
                    <div class="col-lg-2 col-sm-4">
                        @Html.EditorFor(model => model.OrderTotalValue)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-1 col-sm-2">&nbsp;</div>
                    <div class="col-lg-11 col-sm-10 form-text">
                        <button id="btnSaveOrderTotals" class="btn btn-xs btn-info" name="btnSaveOrderTotals" onclick="return confirm('@T("Admin.Common.AreYouSure")');" type="submit">@T("Admin.Orders.Fields.SaveOrderTotals")</button>
                        <button id="btnCancelOrderTotals" class="btn btn-xs btn-danger" name="btnCancelOrderTotals" onclick=" toggleOrderTotals(false);return false;" type="submit">@T("Admin.Orders.Fields.CancelOrderTotals")</button>
                    </div>
                </div>
            </div>
        </div>
    <div class="form-group">
        <div class="col-lg-1 col-sm-2">&nbsp;</div>
        <div class="col-lg-11 col-sm-10 form-text">
            <button id="btnEditOrderTotals" class="btn btn-xs btn-info" name="btnEditOrderTotals" onclick="toggleOrderTotals(true);return false; " type="submit">@T("Admin.Orders.Fields.EditOrderTotals")</button>
        </div>
    </div>
    <hr />
    if (Model.AllowStoringCreditCardNumber)
    {
        <div class="form-group">
            <div>
                @Html.LabelFor(model => model.CardType, new { @class = "col-lg-1 col-sm-2 control-label" })
            </div>
            <div class="col-lg-11 col-sm-10 form-text">
                <span id="lblCardType">@Model.CardType</span>
                @Html.EditorFor(model => model.CardType)
            </div>
        </div>
    }
            if (Model.AllowStoringCreditCardNumber)
            {
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.CardName, new { @class = "col-lg-1 col-sm-2 control-label" })
                </div>
                <div class="col-lg-11 col-sm-10 form-text">
                    <span id="lblCardName">@Model.CardName</span>
                    @Html.EditorFor(model => model.CardName)
                </div>
            </div>
            }
            if (Model.AllowStoringCreditCardNumber || !String.IsNullOrEmpty(Model.CardNumber))
            {
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.CardNumber, new { @class = "col-lg-1 col-sm-2 control-label" })
                </div>
                <div class="col-lg-11 col-sm-10 form-text">
                    <span id="lblCardNumber">@Model.CardNumber</span>
                    @Html.EditorFor(model => model.CardNumber)
                </div>
            </div>
            }
            if (Model.AllowStoringCreditCardNumber)
            {
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.CardCvv2, new { @class = "col-lg-1 col-sm-2 control-label" })
                </div>
                <div class="col-lg-11 col-sm-10 form-text">
                    <span id="lblCardCvv2">@Model.CardCvv2</span>
                    @Html.EditorFor(model => model.CardCvv2)
                </div>
            </div>
            }
            if (Model.AllowStoringCreditCardNumber)
            {
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.CardExpirationMonth, new { @class = "col-lg-1 col-sm-2 control-label" })
                </div>
                <div class="col-lg-11 col-sm-10 form-text">
                    <span id="lblCardExpirationMonth">@Model.CardExpirationMonth</span>
                    @Html.EditorFor(model => model.CardExpirationMonth)
                </div>
            </div>
            }
            if (Model.AllowStoringCreditCardNumber)
            {
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.CardExpirationYear, new { @class = "col-lg-1 col-sm-2 control-label" })
                </div>
                <div class="col-lg-11 col-sm-10 form-text">
                    <span id="lblCardExpirationYear">@Model.CardExpirationYear</span>
                    @Html.EditorFor(model => model.CardExpirationYear)
                </div>
            </div>
            }
            if (Model.AllowStoringCreditCardNumber)
            {
            <div class="form-group">
                <div>
                    <input type="submit" name="btnEditCC" value="@T("Admin.Orders.Fields.EditCC")" onclick=" toggleCC(true);return false; " id="btnEditCC" class="adminButton" />
                    <input type="submit" name="btnSaveCC" value="@T("Admin.Orders.Fields.SaveCC")" id="btnSaveCC" class="adminButton" onclick=" return confirm('@T("Admin.Common.AreYouSure")'); " />
                </div>
                <div>
                    <input type="submit" name="btnCancelCC" value="@T("Admin.Orders.Fields.CancelCC")" onclick=" toggleCC(false);return false; " id="btnCancelCC" class="adminButton" />
                </div>
            </div>
            }
            if (!String.IsNullOrEmpty(Model.AuthorizationTransactionId))
            {
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.AuthorizationTransactionId, new { @class = "col-lg-1 col-sm-2 control-label" })
                </div>
                <div class="col-lg-11 col-sm-10 form-text">
                    @Model.AuthorizationTransactionId
                </div>
            </div>
            }
            if (!String.IsNullOrEmpty(Model.CaptureTransactionId))
            {
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.CaptureTransactionId, new { @class = "col-lg-1 col-sm-2 control-label" })
                </div>
                <div class="col-lg-11 col-sm-10 form-text">
                    @Model.CaptureTransactionId
                </div>
            </div>
            }
        if (!String.IsNullOrEmpty(Model.SubscriptionTransactionId))
        {
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.SubscriptionTransactionId, new { @class = "col-lg-1 col-sm-2 control-label" })
                </div>
                <div class="col-lg-11 col-sm-10 form-text">
                    @Model.SubscriptionTransactionId
                </div>
            </div>
        }
        <div class="form-group">
            <div>
                @Html.LabelFor(model => model.PaymentMethod, new { @class = "col-lg-1 col-sm-2 control-label" })
            </div>
            <div class="col-lg-11 col-sm-10 form-text">
                @Model.PaymentMethod
            </div>
        </div>
    }

    <div class="form-group">
        <div>
            @Html.LabelFor(model => model.PaymentStatus, new { @class = "col-lg-1 col-sm-2 control-label" })
        </div>
        <div class="col-lg-11 col-sm-10 form-text">
            @Model.PaymentStatus &nbsp;

            @if (!Model.IsLoggedInAsVendor)
            {
                if (Model.CanCapture)
                {
                    <input type="submit" name="captureorder" value="@T("Admin.Orders.Fields.Capture")" id="captureorder" class="adminButton" onclick=" return confirm('@T("Admin.Common.AreYouSure")'); " />
                    <text>&nbsp;</text>
                }
                if (Model.CanMarkOrderAsPaid)
                {
                    <input type="submit" name="markorderaspaid" value="@T("Admin.Orders.Fields.MarkAsPaid")" id="markorderaspaid" class="btn btn-xs btn-info" onclick=" return confirm('@T("Admin.Common.AreYouSure")'); " />
                    <text>&nbsp;</text>
                }
                if (Model.CanRefund)
                {
                    <input type="submit" name="refundorder" value="@T("Admin.Orders.Fields.Refund")" id="refundorder" class="adminButton" onclick=" return confirm('@T("Admin.Common.AreYouSure")'); " />
                    <text>&nbsp;</text>
                }
                if (Model.CanRefundOffline)
                {
                    <input type="submit" name="refundorderoffline" value="@T("Admin.Orders.Fields.RefundOffline")" id="refundorderoffline" class="adminButton" onclick=" return confirm('@T("Admin.Common.AreYouSure")'); " />
                    <text>&nbsp;</text>
                }
                if (Model.CanPartiallyRefund)
                {
                    <input type="submit" id="partiallyrefundorder" name="partiallyrefundorder" value="@T("Admin.Orders.Fields.PartialRefund")" onclick=" javascript:OpenWindow('@(Url.Action("PartiallyRefundOrderPopup", "Order", new { id = Model.Id, online = true, btnId = "btnRefreshPage", formId = "order-form" }))', 500, 300, true); return false; " class="adminButton" />
                    <text>&nbsp;</text>
                }
                if (Model.CanPartiallyRefundOffline)
                {
                    <input type="submit" id="partiallyrefundorderoffline" name="partiallyrefundorderoffline" value="@T("Admin.Orders.Fields.PartialRefundOffline")" onclick=" javascript:OpenWindow('@(Url.Action("PartiallyRefundOrderPopup", "Order", new { id = Model.Id, online = false, btnId = "btnRefreshPage", formId = "order-form" }))', 500, 300, true); return false; " class="adminButton" />
                    <text>&nbsp;</text>
                }
                if (Model.CanVoid)
                {
                    <input type="submit" name="voidorder" value="@T("Admin.Orders.Fields.Void")" id="voidorder" class="adminButton" onclick=" return confirm('@T("Admin.Common.AreYouSure")'); " />
                    <text>&nbsp;</text>
                }
                if (Model.CanVoidOffline)
                {
                    <input type="submit" name="voidorderoffline" value="@T("Admin.Orders.Fields.VoidOffline")" id="voidorderoffline" class="adminButton" onclick=" return confirm('@T("Admin.Common.AreYouSure")'); " />
                    <text>&nbsp;</text>
                }
            }
        </div>
    </div>
    @if (Model.CustomValues != null && Model.CustomValues.Count > 0)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.CustomValues, new { @class = "col-lg-1 col-sm-2 control-label" })
            <div class="col-lg-11 col-sm-10 form-text">
                @foreach (var item in Model.CustomValues)
                {
                    <div><span>@item.Key:&nbsp;</span>@(item.Value != null ? item.Value.ToString() : "")</div>
                }
            </div>
        </div>
    }
    <div class="form-group">
        @Html.LabelFor(model => model.CreatedOn, new { @class = "col-lg-1 col-sm-2 control-label" })
        <div class="col-lg-11 col-sm-10 form-text">@Model.CreatedOn.ToString()</div>
    </div>
</div>

@if (!Model.IsLoggedInAsVendor)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnChangeOrderStatus').unbind('click');
            $('#btnChangeOrderStatus').click((e) => {
                e.preventDefault();

                toggleChangeOrderStatus(true);

                return false;
            });

            toggleChangeOrderStatus(false);
            toggleOrderTotals(false);
            toggleCC(false);
        });

        function toggleChangeOrderStatus(editmode) {
            if (editmode) {
                $('#pnlChangeOrderStatus').show();
                $('#btnChangeOrderStatus').hide();
            } else {
                $('#pnlChangeOrderStatus').hide();
                $('#btnChangeOrderStatus').show();
            }
        }

        function toggleOrderTotals(editmode) {
            if (editmode) {
                $('#trEditOrderTotals').show();
                $('#btnEditOrderTotals').hide();
                $('#btnSaveOrderTotals').show();
                $('#btnCancelOrderTotals').show();
            } else {
                $('#trEditOrderTotals').hide();
                $('#btnEditOrderTotals').show();
                $('#btnSaveOrderTotals').hide();
                $('#btnCancelOrderTotals').hide();
            }
        }

        function toggleCC(editmode) {
            if (editmode) {
                $('#lblCardType').hide();
                $('#@Html.FieldIdFor(model => model.CardType)').show();
                $('#lblCardName').hide();
                $('#@Html.FieldIdFor(model => model.CardName)').show();
                $('#lblCardNumber').hide();
                $('#@Html.FieldIdFor(model => model.CardNumber)').show();
                $('#lblCardCvv2').hide();
                $('#@Html.FieldIdFor(model => model.CardCvv2)').show();
                $('#lblCardExpirationMonth').hide();
                $('#@Html.FieldIdFor(model => model.CardExpirationMonth)').show();
                $('#lblCardExpirationYear').hide();
                $('#@Html.FieldIdFor(model => model.CardExpirationYear)').show();
                $('#btnEditCC').hide();
                $('#btnSaveCC').show();
                $('#btnCancelCC').show();
            }
            else {
                $('#lblCardType').show();
                $('#@Html.FieldIdFor(model => model.CardType)').hide();
                $('#lblCardName').show();
                $('#@Html.FieldIdFor(model => model.CardName)').hide();
                $('#lblCardNumber').show();
                $('#@Html.FieldIdFor(model => model.CardNumber)').hide();
                $('#lblCardCvv2').show();
                $('#@Html.FieldIdFor(model => model.CardCvv2)').hide();
                $('#lblCardExpirationMonth').show();
                $('#@Html.FieldIdFor(model => model.CardExpirationMonth)').hide();
                $('#lblCardExpirationYear').show();
                $('#@Html.FieldIdFor(model => model.CardExpirationYear)').hide();
                $('#btnEditCC').show();
                $('#btnSaveCC').hide();
                $('#btnCancelCC').hide();
            }
        }

    </script>
}
