﻿@model OrderQueueModel

<h5>@T("Admin.ERPOrdersPendingProcessing")</h5>

@if (Model.OrdersNotQueued != null && Model.OrdersNotQueued.Any())
{
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th style="text-align: center; width: 5%;"><input id="CheckAllPendingOrdersCheckBox" type="checkbox" /></th>
                <th style="text-align: center; width: 10%;">Order ID</th>
                <th style="width: 25%;">Customer</th>
                <th style="width: 10%">Shipping Address</th>
                <th style="text-align: center; width: 15%;">Created On</th>
                <th style="text-align: center; width: 10%;">&nbsp;</th>
                <th style="text-align: center; width: 5%;">View</th>
                <th style="text-align: center; width: 10%;">Manually Assoc.</th>
                <th style="text-align: center; width: 10%;">Remove</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.OrdersNotQueued.Count; i++)
            {
                <tr>
                    <td style="text-align: center;">
                        @{
                            string ConversionError = null;
                            ConversionError = Model.OrdersNotQueued[i].CustomValues != null && Model.OrdersNotQueued[i].CustomValues.Count > 0 && Model.OrdersNotQueued[i].CustomValues["ConversionError"] != null ? Model.OrdersNotQueued[i].CustomValues["ConversionError"].ToString() : null;
                        }
                        @if (!String.IsNullOrWhiteSpace(ConversionError))
                        {
                            ConversionError = ConversionError.Replace("|", "<br />");
                            <span class="glyphicon glyphicon-warning-sign text-danger" data-html="true" data-toggle="tooltip" data-placement="right" style="text-align: left; white-space: nowrap;" title="@ConversionError"></span>
                        }
                        else
                        {
                            @Html.CheckBoxFor(model => model.OrdersNotQueued[i].DateQueuedForERP.HasValue, new { @class = "OrdersNotQueued_DateQueuedForERP", @data_orderid = Model.OrdersNotQueued[i].Id })
                        }
                    </td>
                    <td style="text-align: center;">@Model.OrdersNotQueued[i].Id</td>
                    <td><a href="@Url.Action("Edit", "Customer", new { id = Model.OrdersNotQueued[i].CustomerId })" target="PendingOrderUser">@Model.OrdersNotQueued[i].CustomerFullName&nbsp;(@Model.OrdersNotQueued[i].CustomerNumber)</a>                        
                        <div><a href="mailto:@Model.OrdersNotQueued[i].CustomerEmail">@Model.OrdersNotQueued[i].CustomerEmail</a></div>
                    </td>
                    <td class="small">
                        @{
                            string ShippingAddress = Model.OrdersNotQueued[i].ShippingAddress != null ? Model.OrdersNotQueued[i].ShippingAddress.AddressHtml : "N/A";
                        }
                        @Html.Raw(ShippingAddress)
                    </td>
                    <td style="text-align: center;">@Model.OrdersNotQueued[i].CreatedOn.ToString()</td>
                    <td style="text-align: center;">&nbsp;</td>
                    <td style="text-align: center;"><a href="@Url.Action("Edit", "Order", new { id = Model.OrdersNotQueued[i].Id })" target="PendingOrder">View</a></td>
                    <td style="text-align: center">
                        <div class="form-inline">
                            <div class="input-group">
                                @Html.TextBoxFor(model => Model.OrdersNotQueued[i].ERPId, new { @class = "form-control input-sm ManuallyAssociatePendingOrderTextbox",  @data_orderid = Model.OrdersNotQueued[i].Id })
                                <span class="input-group-btn"><button class="btn btn-info btn-sm ManuallyAssociatePendingOrderButton" data-orderid="@Model.OrdersNotQueued[i].Id"><span class="glyphicon glyphicon-ok"></span></button></span>
                            </div>
                        </div>
                    </td>
                    <td style="text-align: center;"><a class="glyphicon glyphicon-remove text-danger RemovePendingOrder" data-orderid="@Model.OrdersNotQueued[i].Id" data-placement="top" data-toggle="popover" data-trigger="focus" role="button" tabindex="0" title="" data-content="Are you sure?"><span></span></a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8"><button id="ButtonQueueSelectedOrders" class="btn btn-sm btn-primary">Queue Selected Orders</button></td>
            </tr>
        </tfoot>
    </table>
}

<hr />

<h5>@T("Admin.ERPOrdersQueuedForProcessing")</h5>
@if (Model.QueuedOrders != null && Model.QueuedOrders.Any())
{
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th style="text-align: center; width: 5%;">Error</th>
                <th style="text-align: center; width: 10%;">Order ID</th>
                <th style="width: 25%;">Customer</th>
                <th style="width: 10%">Shipping Address</th>
                <th style="text-align: center; width: 15%;">Created On</th>
                <th style="text-align: center; width: 10%;">Queued On</th>
                <th style="text-align: center; width: 5%;">View</th>
                <th style="text-align: center; width: 10%;">Manually Assoc.</th>
                <th style="text-align: center; width: 10%;">Remove</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.QueuedOrders.Count; i++)
            {
                <tr>
                    <td style="text-align: center;">
                        @{ 
                            string ConversionError = null;
                            ConversionError = Model.QueuedOrders[i].CustomValues != null && Model.QueuedOrders[i].CustomValues.Count > 0 && Model.QueuedOrders[i].CustomValues["ConversionError"] != null ? Model.QueuedOrders[i].CustomValues["ConversionError"].ToString() : null;
                        }
                        @if (!String.IsNullOrWhiteSpace(ConversionError))
                        {
                            ConversionError = ConversionError.Replace("|", "<br />");
                            <span class="glyphicon glyphicon-warning-sign text-danger" data-html="true" data-toggle="tooltip" data-placement="right" title="@ConversionError"></span>
                        }
                    </td>
                    <td style="text-align: center;">@Model.QueuedOrders[i].Id</td>
                    <td>
                        <a href="@Url.Action("Edit", "Customer", new { id = Model.QueuedOrders[i].CustomerId })" target="PendingOrderUser">@Model.QueuedOrders[i].CustomerFullName&nbsp;(@Model.QueuedOrders[i].CustomerNumber)</a>
                        <div><a href="mailto:@Model.QueuedOrders[i].CustomerEmail">@Model.QueuedOrders[i].CustomerEmail</a></div>
                    </td>
                    <td class="small">
                        @{
                            string ShippingAddress = Model.QueuedOrders[i].ShippingAddress != null ? Model.QueuedOrders[i].ShippingAddress.AddressHtml : "N/A";
                        }
                        @Html.Raw(ShippingAddress)
                    </td>
                    <td style="text-align: center;">@Model.QueuedOrders[i].CreatedOn.ToString()</td>
                    <td style="text-align: center;">@Model.QueuedOrders[i].DateQueuedForERP.ToString()</td>
                    <td style="text-align: center;"><a href="@Url.Action("Edit", "Order", new { id = Model.QueuedOrders[i].Id })" target="QueuedOrder">View</a></td>
                    <td style="text-align: center">
                        <div class="form-inline">
                            <div class="input-group">
                                @Html.TextBoxFor(model => Model.QueuedOrders[i].ERPId, new { @class = "form-control input-sm ManuallyAssociateQueuedOrderTextbox",  @data_orderid = Model.QueuedOrders[i].Id })
                                <span class="input-group-btn"><button class="btn btn-info btn-sm ManuallyAssociateQueuedOrderButton" data-orderid="@Model.QueuedOrders[i].Id"><span class="glyphicon glyphicon-ok"></span></button></span>
                            </div>
                        </div>
                    </td>
                    <td style="text-align: center;"><a class="glyphicon glyphicon-remove text-danger RemoveQueuedOrder" data-orderid="@Model.QueuedOrders[i].Id" data-placement="top" data-toggle="popover" data-trigger="focus" role="button" tabindex="0" title="test" data-content="test"><span></span></a></td>
                </tr>
            }
        </tbody>
    </table>
}

