﻿@model OrderModel

@{
    //page title
    ViewBag.Title = T("Admin.Orders.EditOrderDetails").Text;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "order-form" }))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h4><span class="glyphicon glyphicon-list-alt offset-right-10"></span>&nbsp;@T("Admin.Orders.EditOrderDetails")</h4>
            </div>
            <div class="col-md-6 text-right">
                <a class="btn btn-sm btn-default" href="/Admin/Order/List">Orders List</a>
                @if (!Model.IsLoggedInAsVendor)
                {
                    <a href="@Url.Action("PdfInvoice", new { orderId = Model.Id })" class="btn btn-sm btn-default">@T("Admin.Orders.PdfInvoice")</a>
                }
                <a class="btn btn-sm btn-info" href="/Admin/Order/Edit/@Model.Id">Refresh</a>
                @if (!Model.IsLoggedInAsVendor)
                {
                    <span id="order-delete" class="btn btn-sm btn-danger">@T("Admin.Common.Delete")</span>
                }
            </div>
        </div>
    </div>

    @Html.ValidationSummary(false)

    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#tabInfo" aria-controls="tabInfo" role="tab" data-toggle="tab">@T("Admin.Orders.Info")</a>
            </li>
            <li role="presentation">
                <a href="#tabBilling" aria-controls="tabBilling" role="tab" data-toggle="tab">@T("Admin.Orders.BillingInfo")</a>
            </li>
            <li role="presentation">
                <a href="#tabShipping" aria-controls="tabShipping" role="tab" data-toggle="tab">@T("Admin.Orders.ShippingInfo")</a>
            </li>
            <li role="presentation">
                <a href="#tabProducts" aria-controls="tabProducts" role="tab" data-toggle="tab">@T("Admin.Orders.Products")</a>
            </li>
            @if (!Model.IsLoggedInAsVendor)
            {
                <li role="presentation">
                    <a href="#tabNotes" aria-controls="tabNotes" role="tab" data-toggle="tab">@T("Admin.Orders.OrderNotes")</a>
                </li>
            }
        </ul>
        <div class="tab-content">
            <div id="tabInfo" role="tabpanel" class="tab-pane fade in active">
                @TabInfo()
            </div>
            <div id="tabBilling" role="tabpanel" class="tab-pane fade">
                @TabBillingInfo()
            </div>
            <div id="tabShipping" role="tabpanel" class="tab-pane fade">
                @TabShippingInfo()
            </div>
            <div id="tabProducts" role="tabpanel" class="tab-pane fade">
                @TabProducts()
            </div>
            @if (!Model.IsLoggedInAsVendor)
            {
                <div id="tabNotes" role="tabpanel" class="tab-pane fade">
                    @TabOrderNotes()
                </div>
            }
        </div>
    </div>

    {
        //custom tabs
        var eventMessage = new AdminTabStripCreated(this.Html, "order-edit");
        EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
        
        foreach (var eventBlock in eventMessage.BlocksToRender)
        {
            @eventBlock
        }
    }
}

@Html.DeleteConfirmation("order-delete")

@helper TabInfo()
{
    @Html.Partial("_OrderDetails.Info", Model)
}

@helper TabBillingInfo()
{
    @Html.Partial("_OrderDetails.Billing", Model)
}

@helper TabShippingInfo()
{
    @Html.Partial("_OrderDetails.Shipping", Model)
}

@helper TabProducts()
{
    @Html.Partial("_OrderDetails.Products", Model)
}

@helper TabOrderNotes()
{
    @Html.Partial("_OrderDetails.Notes", Model)
}