﻿@model InventoryReportModel

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Reports.InventoryReport").Text;
}

@section ViewScripts
{
    <script src="~/Administration/Scripts/Views/Order/inventoryReport.js"></script>

    <style>
        #ReportGrid {
            height: 100%;
            width: 100%;
        }
    </style>
}
<div class="container-fluid" style="padding-left: 0;">
    <div class="col-md-6" style="padding-left: 0;">
        <h4><span class="glyphicon glyphicon-list-alt offset-right-10"></span>&nbsp;@T("Admin.Reports.InventoryReport")</h4>
    </div>
    <div class="col-md-6 text-right">
        <input type="button" id="ExportToExcelButton" name="ExportToExcelButton" class="btn btn-sm btn-default" style="display: none;" value="@T("Admin.Common.ExportToExcel")" />
    </div>
</div>


@{ Html.RenderPartial("_InventoryReportForm", Model); }

<div id="InventoryReportContainer" class="container-fluid">
    @{ Html.RenderPartial("_InventoryReportList", Model); }
</div>

<script type="text/javascript">

    $(document).ready(function () {

        inventoryReport.initializeView();

    });

    ux.disableValidationOnHiddenFields();

</script>