﻿@model OrderQueueModel

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.ERPOrderProcessing").Text;
}

@section ViewScripts
{
    <script src="~/Administration/Scripts/Views/Order/erpQueue.js"></script>
}

<h4><span class="glyphicon glyphicon-list-alt offset-right-10"></span>&nbsp;@T("Admin.ERPOrderProcessing")</h4>

@using (Ajax.BeginForm("SearchQueue", "Order", new AjaxOptions { HttpMethod = "POST", OnBegin = "ux.showProgressBar();", OnComplete = "erpQueue.postSearchActions();", UpdateTargetId = "QueuedOrders" }, new { id = "SearchForm" }))
{
    @Html.AntiForgeryToken()

    <div class="well">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    @Html.NopLabelFor(model => model.SearchFields.CustomerServiceRepresentatives, false):
                </div>
                <div class="col-sm-10">
                    @for (var i = 0; i < Model.SearchFields.CustomerServiceRepresentatives.Count; i++)
                    {
                        <div class="col-sm-3">

                            @Html.HiddenFor(model => Model.SearchFields.CustomerServiceRepresentatives[i].Value)
                            @Html.CheckBoxFor(model => Model.SearchFields.CustomerServiceRepresentatives[i].Selected, new { @data_bind = "employees", @data_code = Model.SearchFields.CustomerServiceRepresentatives[i].Value, @data_name = Model.SearchFields.CustomerServiceRepresentatives[i].Text })
                            @Html.LabelFor(model => Model.SearchFields.CustomerServiceRepresentatives[i].Selected, Model.SearchFields.CustomerServiceRepresentatives[i].Text, new { @style = "font-weight: normal;" })

                        </div>
                    }
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-sm-2">&nbsp;</div>
                <div class="col-sm-10"><input type="submit" id="SearchQueuedOrdersButton" class="btn btn-primary" value="@T("Admin.Common.Search")" /></div>
            </div>
        </div>
    </div>
}

<div id="QueuedOrders" class="container-fluid">
    @{ Html.RenderPartial("_QueueList", Model); }
</div>
    
<script type="text/javascript">

    $(document).ready(function () {

        erpQueue.initializeView();

    });


</script>
