﻿@model SalesHistorySearchModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.AllOrders").Text;
}

@using (Html.BeginForm("SalesHistoryList", "Order", FormMethod.Post, new { id = "search-sales-order-history-form" }))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="col-md-6">
            <h4><span class="glyphicon glyphicon-list-alt offset-right-10"></span>&nbsp;@T("Admin.AllOrders")</h4>
        </div>
        <div class="col-md-6 text-right">
            @if (!Model.IsLoggedInAsVendor)
            {
                //a vendor cannot export/import orders             
                <input type="button" id="exportexcel-all" name="exportexcel-all" class="btn btn-sm btn-default" value="@T("Admin.Common.ExportToExcel.All")" />
                <input type="button" id="exportexcel-selected" class="btn btn-sm btn-default" value="@T("Admin.Common.ExportToExcel.Selected")" />
            }
        </div>
    </div>
    <div class="well">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">@Html.NopLabelFor(model => model.InvoiceStartDate, false):</div>
                <div class="col-sm-2">
                    @Html.EditorFor(model => model.InvoiceStartDate, new { @class = "form-control" })
                </div>
                <div class="col-sm-2 control-label">@Html.NopLabelFor(model => model.InvoiceEndDate, false):</div>
                <div class="col-sm-2">
                    @Html.EditorFor(model => model.InvoiceEndDate, new { @class = "form-control" })
                </div>
                <div class="col-sm-2 control-label">@Html.NopLabelFor(model => model.InvoiceNumber, false):</div>
                <div class="col-sm-2">@Html.TextBoxFor(model => model.InvoiceNumber, new { @class = "form-control" })</div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">@Html.NopLabelFor(model => model.CustomerFirstName, false):</div>
                <div class="col-sm-2">@Html.TextBoxFor(model => model.CustomerFirstName, new { @class = "form-control" })</div>
                <div class="col-sm-2 control-label">@Html.NopLabelFor(model => model.CustomerLastName, false):</div>
                <div class="col-sm-2">@Html.TextBoxFor(model => model.CustomerLastName, new { @class = "form-control" })</div>
                <div class="col-sm-2 control-label">@Html.NopLabelFor(model => model.CustomerEmail, false):</div>
                <div class="col-sm-2">@Html.TextBoxFor(model => model.CustomerEmail, new { @class = "form-control" })</div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">@Html.NopLabelFor(model => model.CustomerNumber, false):</div>
                <div class="col-sm-2">@Html.TextBoxFor(model => model.CustomerNumber, new { @class = "form-control" })</div>
                <div class="col-sm-2 control-label">@Html.NopLabelFor(model => model.Company, false):</div>
                <div class="col-sm-2">@Html.TextBoxFor(model => model.Company, new { @class = "form-control" })</div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">@Html.NopLabelFor(model => model.ProductNumber, false):</div>
                <div class="col-sm-2">
                    @Html.TextBoxFor(model => model.ProductNumber, new { @class = "form-control" })
                    <span class="help-block">@T("Admin.Orders.Fields.ProductNumber.Hint")</span>
                </div>
                <div class="col-sm-2 control-label">@Html.NopLabelFor(model => model.ProductName, false):</div>
                <div class="col-sm-2">
                    @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control" })
                    <span class="help-block">@T("Admin.Orders.Fields.ProductName.Hint")</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">@Html.NopLabelFor(model => model.Warehouses, false):</div>
                <div class="col-sm-10">
                    @for (var i = 0; i < Model.Warehouses.Count; i++)
                    {
                        <div class="col-sm-2">

                            @Html.HiddenFor(model => Model.Warehouses[i].Value)
                            @Html.CheckBoxFor(model => Model.Warehouses[i].Selected, new { @data_bind = "warehouses", @data_code = Model.Warehouses[i].Value, @data_name = Model.Warehouses[i].Text })
                            @Html.LabelFor(model => Model.Warehouses[i].Selected, Model.Warehouses[i].Text, new { @style = "font-weight: normal;" })

                        </div>

                        @*if ((i + 1) % 3 == 0)
                        {
                            @:</tr><tr>
                        }*@
                    }   
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-sm-2">&nbsp;</div>
                <div class="col-sm-10"><input type="submit" id="search-orders" class="btn btn-primary" value="@T("Admin.Common.Search")" /></div>
            </div>
        </div>
    </div>

    <table class="adminContent">
        <tr>
            <td>
                <div id="orders-grid"></div>

                <script>
                    $(document).ready(function () {
                                              


                    $("#orders-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("SalesHistoryList", "Order"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            requestEnd: function (e) {
                                if (e.type == "read") {
                                    var response = e.response;
                                    if (response) {
                                        //store extra data
                                        reportAggregates = e.response["ExtraData"];
                                    }
                                }
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        detailInit: function(e) {
                            //e.detailRow.find(".grid").kendoGrid( {
                            $("<div/>").appendTo(e.detailCell).kendoGrid({
                                dataSource: e.data.InvoiceItems,
                                columns: [
                                    {
                                        field: "Product.Sku",
                                        title: "@T("Admin.Orders.Fields.Sku")",
                                        width: 50
                                    },
                                    {
                                        field: "Product.Name",
                                        title: "@T("Admin.Orders.Fields.ProductName")",
                                        template: "<a href='/Admin/Product/Edit/#=Product.Id#'>#=Product.Name#</a>",
                                        width: 50
                                    },
                                    {
                                        field: "Quantity",
                                        title: "@T("Admin.Orders.Fields.Quantity")",
                                        width: 50
                                    },
                                    {
                                        field: "UnitPrice",
                                        title: "@T("Admin.Orders.Fields.Price")",
                                        width: 50,
                                        format: "{0:c2}"
                                    },
                                    {
                                        field: "Total",
                                        title: "@T("Admin.Orders.Fields.Total")",
                                        width: 50,
                                        format: "{0:c2}"
                                    }],
                                scrollable: false,
                                sortable: false,
                                pageable: false
                            });
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)]
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        dataBound: onDataBound,
                        columns: [
                            {
                                field: "InvoiceNumber",
                                headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: "<input type='checkbox' value='#=InvoiceNumber#' class='checkboxGroups'/>",
                                width: 50
                            },
                            {
                                field: "InvoiceNumber",
                                title: "@T("Admin.Orders.Fields.InvoiceNumber")",
                            width: 50
                            },
                            {
                                field: "OrderNumber",
                                title: "@T("Admin.Orders.Fields.OrderNumber")",
                            width: 50
                            },
                            {
                                field: "Customer.CustomerNumber",
                                title: "@T("Admin.Orders.Fields.CustomerNumber")",
                                width: 50,
                            },
                            {
                                field: "Customer",
                                title: "@T("Admin.Orders.Fields.Customer")",
                                width: 300,
                                template: "<a href='/Admin/Customer/Edit/#=Customer.Id#'>#=Customer.Username# (#=Customer.Email#)</a>",
                            },
                            {
                                field: "Customer.SystemName",
                                title: "@T("Admin.Orders.Fields.Company")",
                                width: 50,
                            },
                            {
                                field: "DateInvoiceCreated",
                                title: "@T("Admin.Orders.Fields.DateOfInvoice")",
                                width: 200,
                                type: "date",
                                format: "{0:MM-dd-yyyy}"
                            },
                            {
                                field: "Warehouse.Name",
                                title: "@T("Admin.Orders.Fields.Warehouse")",
                                width: 200,
                                template: "#=Warehouse.Name# (#=Warehouse.Code#)"
                            },
                            {
                                field: "FreightCharge",
                                title: "@T("Admin.Orders.Fields.FreightCharge")",
                                width: 50,
                                format: "{0:c2}"
                            },
                            {
                                field: "SalesTax",
                                title: "@T("Admin.Orders.Fields.SalesTax")",
                                width: 50,
                                format: "{0:c2}"
                            },
                            {
                                field: "InvoiceAmount",
                                title: "@T("Admin.Orders.Fields.Total")",
                                width: 50,
                                format: "{0:c2}"
                            }
                        ]
                    } );
                });
                </script>

                <script type="text/javascript">

                var selectedIds = [];
                var reportAggregates = "";

                $(document).ready(function () {

                    //search button
                    $('#search-orders').click(function () {
                        //search
                        var grid = $('#orders-grid').data('kendoGrid');
                        grid.dataSource.page(1); //new search. Set page size to 1
                        //grid.dataSource.read(); we already loaded the grid above using "page" function
                        //clear selected checkboxes
                        $('.checkboxGroups').attr('checked', false).change();
                        selectedIds = [];
                        return false;
                    });
                        
                    $('#mastercheckbox').click(function () {
                        $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                    });

                    //wire up checkboxes.
                    $('#orders-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                        var $check = $(this);
                        if ($check.is(":checked") == true) {
                            var checked = jQuery.inArray($check.val(), selectedIds);
                            if (checked == -1) {
                                //add id to selectedIds.
                                selectedIds.push($check.val());
                            }
                        }
                        else {
                            var checked = jQuery.inArray($check.val(), selectedIds);
                            if (checked > -1) {
                                //remove id from selectedIds.
                                selectedIds = $.grep(selectedIds, function (item, index) {
                                    return item != $check.val();
                                });
                            }
                        }
                        updateMasterCheckbox();
                    });
                });

                function additionalData() {
                    var data = {
                        InvoiceStartDate: $('#@Html.FieldIdFor(model => model.InvoiceStartDate)').val(),
                        InvoiceEndDate: $('#@Html.FieldIdFor(model => model.InvoiceEndDate)').val(),
                        CustomerFirstName: $('#@Html.FieldIdFor(model => model.CustomerFirstName)').val(),
                        CustomerLastName: $('#@Html.FieldIdFor(model => model.CustomerLastName)').val(),
                        CustomerEmail: $('#@Html.FieldIdFor(model => model.CustomerEmail)').val(),
                        CustomerNumber: $('#@Html.FieldIdFor(model => model.CustomerNumber)').val(),
                        Company: $('#@Html.FieldIdFor(model => model.Company)').val(),
                        InvoiceNumber: $('#@Html.FieldIdFor(model => model.InvoiceNumber)').val(),
                        ProductName: $('#@Html.FieldIdFor(model => model.ProductName)').val(),
                        ProductNumber: $('#@Html.FieldIdFor(model => model.ProductNumber)').val(),
                        Warehouses: $("input[data-bind='warehouses']:checked").map(function() {
                            return new Warehouse(true, $(this).data("name"), $(this).data("code"));
                        }).get()
                    };
                    addAntiForgeryToken(data);
                    return data;
                }

                function Warehouse(selected, text, value) {
                    this.Selected = selected;
                    this.Value = value;
                    this.Text = text;
                }

                function onDataBound(e) {

                    $('#orders-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                        var currentId = $(this).val();
                        var checked = jQuery.inArray(currentId, selectedIds);
                        //set checked based on if current checkbox's value is in selectedIds.
                        $(this).attr('checked', checked > -1);
                    });

                    updateMasterCheckbox();

                    // Uncomment this if you'd like the details automatically expanded.
                    //if (e.data == 1)
                    //this.expandRow(this.tbody.find("tr.k-master-row").first());
                }

                function updateMasterCheckbox() {
                    var numChkBoxes = $('#orders-grid input[type=checkbox][id!=mastercheckbox]').length;
                    var numChkBoxesChecked = $('#orders-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                    $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                }
                </script>
            </td>
        </tr>
    </table>
}

@*export selected (XML). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
@using (Html.BeginForm("ExportXmlSelected", "Order", FormMethod.Post, new { id = "export-xml-selected-form" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
}

<script type="text/javascript">

    $(document).ready(function () {

        $('#exportxml-selected').click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
            $('#export-xml-selected-form #selectedIds').val(ids);
            $('#export-xml-selected-form').submit();
            return false;
        });

        $("#exportexcel-all").click(function (e) {
            e.preventDefault();

            var form = $("#search-sales-order-history-form");
            console.log(form);
            form[0].action = "@Url.Action("ExportFoundInvoicesToExcel", "Order")";
            form[0].submit();

        });
    });

</script>

@*export selected (Excel). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
@using (Html.BeginForm("ExportSelectedInvoicesToExcel", "Order", FormMethod.Post, new { id = "export-excel-selected-form" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
}

<script type="text/javascript">

    $(document).ready(function () {
        $('#exportexcel-selected').click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
            $('#export-excel-selected-form #selectedIds').val(ids);
            $('#export-excel-selected-form').submit();
            return false;
        });
    });

</script>