﻿@model ProductDetailsModel.AddToCartModel
@using Nop.Web.Models.Catalog;
@using Nop.Core.Domain.Orders;
@*@if (!User.Identity.IsAuthenticated)
{
    <div class="add-to-cart">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">&nbsp;</div>
                <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                    <div class="text-success"><strong><a class="text-success" href="/Login">Please login in to purchase.</a></strong></div>
                </div>
            </div>
        </div>
    </div>
}*@
@if (!Model.DisableBuyButton || Model.CustomerEntersPrice)
{
    <div class="add-to-cart">
        @if (Model.UpdatedShoppingCartItemId > 0)
        {
            @Html.HiddenFor(x => x.UpdatedShoppingCartItemId)
        }
        @if (Model.CustomerEntersPrice)
        {
            <div class="customer-entered-price">
                <div class="price-input">
                    @Html.LabelFor(model => model.CustomerEnteredPrice, new { @class = "enter-price-label" }, ":")
                    @*round price*@
                    @Html.TextBox("CustomerEnteredPrice", Convert.ToInt32(Math.Ceiling(Model.CustomerEnteredPrice)), new { @class = "enter-price-input" })
                </div>
                <div class="price-range">
                    @Model.CustomerEnteredPriceRange
                </div>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.MinimumQuantityNotification))
        {
            <div class="min-qty-notification">@Model.MinimumQuantityNotification</div>
        }
        @if (!Model.DisableBuyButton)
        {
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">&nbsp;</div>
                    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                        <div class="input-group">
                            @Html.LabelFor(model => model.EnteredQuantity, new { @class = "qty-label" }, ":")
                            @if (Model.AllowedQuantities.Count > 0)
                            {
                                @Html.DropDownListFor(model => model.EnteredQuantity, Model.AllowedQuantities, new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.EnteredQuantity, new { @class = "form-control", @style = "height: 43px; padding: 15px 15px;" })

                                //when a customer clicks 'Enter' button we submit the "add to cart" button (if visible)
                                <script type="text/javascript">
            $(document).ready(function () {
                $("#@Html.FieldIdFor(model => model.EnteredQuantity)").keydown(function (event) {
                    if (event.keyCode == 13) {
                        $("#add-to-cart-button-@Model.ProductId").click();
                        return false;
                    }
                });
            });
                                </script>

                            }
                            @{
                                var addToCartText = "";
                                if (Model.UpdatedShoppingCartItemId > 0)
                                {
                                    addToCartText = T("ShoppingCart.AddToCart.Update").Text;
                                }
                                else
                                {
                                    addToCartText = T("ShoppingCart.AddToCart").Text;
                                    if (Model.IsRental)
                                    {
                                        addToCartText = T("ShoppingCart.Rent").Text;
                                    }
                                    if (Model.AvailableForPreOrder)
                                    {
                                        addToCartText = T("ShoppingCart.PreOrder").Text;
                                    }
                                }
                                <span class="input-group-btn"><input type="button" id="add-to-cart-button-@Model.ProductId" class="btn  btn-lg btn-primary add-to-cart-button" value="@addToCartText" data-productid="@Model.ProductId" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { productId = Model.ProductId, shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart })', '#product-details-form');return false;" /></span>
                            }
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-3">&nbsp;</div>
                </div>
            </div>
                                }
        @Html.Widget("productdetails_add_info", Model.ProductId)
    </div>
}