﻿@model IList<ManufacturerModel>
@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div class="manufacturers container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6 text-right">
                @if (Model.Count == 1)
                {
                    <span><strong>@T("Products.Manufacturer"):</strong></span>
                }
                else
                {
                    <span class=""><strong>@T("Products.Manufacturers"):</strong></span>
                }
            </div>
            <div class="col-md-9 col-sm-9 col-xs-6 text-left">
                <span class="value">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        var item = Model[i];
                        <a href="@Url.RouteUrl("Manufacturer", new { SeName = item.SeName })">@item.Name</a>
                        if (i != Model.Count - 1)
                        {
                            <span class="separator">,</span>
                        }
                    }
                </span>
            </div>
        </div>
    </div>
}