﻿@model ProductDetailsModel.ProductBreadcrumbModel
@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@{
    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
}
@if (Model.Enabled)
{
   <section class="section-20 section-md-20 section-md-bottom-0">
        <div class="shell text-sm-left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <h2>@T("Categories.Breadcrumb.Top")</h2>
                        <hr class="divider divider-lg bg-primary hr-sm-left-0">
                    </div>
                    <div class="col-md-9">
                        <div class="breadcrumb-classic offset-md-top-12">
                            <ul class="list-inline list-inline-lg list-inline-dashed p">
                                @Html.Widget("productbreadcrumb_before", Model.ProductId)
                                @*<li>
                                    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                                        <a href="@Url.RouteUrl("HomePage")" itemprop="url">
                                            <span itemprop="title">@T("Products.Breadcrumb.Top")</span>
                                        </a>
                                    </span>
                                    @*<span class="delimiter">@breadcrumbDelimiter</span>
                                </li>*@
                                @foreach (var category in Model.CategoryBreadcrumb)
                                {
                                    if (category.Name != "Home")
                                    {
                                    <li>
                                        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                                            <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" itemprop="url">
                                                <span itemprop="title">@category.Name</span>
                                            </a>
                                        </span>
                                        @*<span class="delimiter">@breadcrumbDelimiter</span>*@
                                    </li>
                                    }
                                }
                                <li>
                                    <strong class="current-item">@Model.ProductName</strong>
                                    @*<strong class="current-item"><a href="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })" itemprop="url">@Model.ProductName</a></strong>*@
                                    @Html.Widget("productbreadcrumb_after", Model.ProductId)
                                </li>
                            </ul>
                        </div>
                        @*@Html.Widget("categorydetails_after_breadcrumb", Model.Id)*@
                    </div>
                </div>
            </div>
        </div>
    </section>

}