﻿@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
    @*Manufacturer part number*@
    @if (!String.IsNullOrWhiteSpace(Model.ManufacturerPartNumber) && Model.ShowManufacturerPartNumber)
    {
            <div class="container-fluid">
                <div class="manufacturer-part-number row">
                    <div class="col-md-3 col-sm-3 col-xs-6 text-right"><strong>@T("Products.ManufacturerPartNumber"):</strong></div>
                    <div class="col-md-9 col-sm-9 col-xs-6 text-left" id="mpn-@Model.Id">@Model.ManufacturerPartNumber</div>
                </div>
            </div>
        }
        @*SKU*@
        @if (!String.IsNullOrWhiteSpace(Model.Sku) && Model.ShowSku)
        {
            <div class="container-fluid">
                <div class="sku row">
                    <div class="col-md-3 col-sm-3 col-xs-6 text-right"><strong>@T("Products.Sku"):</strong></div>
                    <div class="col-md-9 col-sm-9 col-xs-6 text-left" itemprop="sku" id="sku-@Model.Id">@Model.Sku</div>
                </div>
            </div>
        }
        @*GTIN*@
        @if (!String.IsNullOrWhiteSpace(Model.Gtin) && Model.ShowGtin)
        {
            <div class="container-fluid">
                <div class="gtin row">
                    <div class="col-md-3 text-right"><strong>@T("Products.GTIN"):</strong></div>
                    <div class="col-md-9" id="gtin-@Model.Id">@Model.Gtin</div>
                </div>
            </div>
        }
        @*Vendor*@
        @if (Model.ShowVendor)
        {
            <div class="container-fluid">
                <div class="product-vendor row">
                    <div class="col-md-3 text-right"><strong>@T("Products.Vendor"):</strong></div>
                    <div class="col-md-9"><a href="@Url.RouteUrl("Vendor", new { SeName = Model.VendorModel.SeName })">@Model.VendorModel.Name</a></div>
                </div>
            </div>
        }
