﻿@using Nop.Core
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Services.Localization;
@using Nop.Web.Framework.Themes;
@using Nop.Web.Models.Catalog;

@model ProductDetailsModel

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title, meta
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(storeName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(storeName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
    }

    var themeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;

    Html.AppendScriptParts(String.Format("~/Themes/{0}/Scripts/Views/Favorites.js", themeName));
}
<!--product breadcrumb-->
@section Breadcrumb
{
    @Html.Partial("_ProductBreadcrumb", Model.Breadcrumb)
}
@Html.Widget("productdetails_after_breadcrumb", Model.Id)
<div class="page product-details-page">
    <div class="page-body">
        @Html.Widget("productdetails_top", Model.Id)
        @using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
        {
            <div itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id">
                <div class="product-essential">
                    @Html.Widget("productdetails_before_pictures", Model.Id)
                    <!--product pictures-->
                    @Html.Partial("_ProductDetailsPictures", Model)
                    @Html.Widget("productdetails_after_pictures", Model.Id)
                    <div class="overview">
                        @Html.Partial("_Discontinued", Model)
                        <div class="product-name">
                            <h1 itemprop="name" style="margin-bottom: 0;">
                                @Model.Name
                            </h1>
                        </div>
                        @if (!String.IsNullOrEmpty(Model.ShortDescription))
                        {
                            <div class="short-description">
                                @Html.Raw(Model.ShortDescription)
                            </div>
                        }
                        <!--product manufacturers-->
                        @Html.Partial("_ProductManufacturers", Model.ProductManufacturers)


                        @if (Model.AddToCart.DisableBuyButton)
                        {
                            <div class="alert alert-info"><span class="fa fa-2x fa-pull-left fa-info-circle" aria-hidden="true" style="margin-top: -5px;"></span><span style="font-weight: 500;">To purchase this product: please <a href="/login">log in</a>, call <a href="tel:800-888-5502">800-888-5502</a>, or e-mail <a href="mailto:orders@oldhamchem.com?subject=OldhamChem.com%20Product%20Inquiry:%20@(Model.Name)%20(@(Model.Sku))">orders@oldhamchem.com</a>.</span></div>
                        }
                        <hr style="margin-bottom: 10px; margin-top: 10px;" />
                        <!--associated products-->
                        <div class="product-variant-list">
                            @foreach (var variant in Model.AssociatedProducts)
                            {
                                <div class="product-variant-line" data-productid="@variant.Id">
                                    <div class="container-fluid">
                                        <div class="col-md-3">
                                            @if (!String.IsNullOrWhiteSpace(variant.DefaultPictureModel.ImageUrl))
                                            {
                                                <div class="variant-picture">
                                                    <img alt="@variant.DefaultPictureModel.AlternateText" src="@variant.DefaultPictureModel.ImageUrl"
                                                         title="@variant.DefaultPictureModel.Title" id="main-product-img-@variant.Id" />
                                                </div>
                                            }
                                        </div>
                                        <div class="col-md-9">

                                            <div class="variant-overview">
                                                @if (!String.IsNullOrWhiteSpace(variant.Name))
                                                {
                                                    bool IsFavorite = variant.IsCustomerFavorite;
                                                    string FavoriteClassName = "fa fa-heart";
                                                    string FavoritesTitle = null;

                                                    if (IsFavorite)
                                                    {
                                                        FavoriteClassName += " ButtonRemoveProductFromFavorites";
                                                        FavoritesTitle = "Remove from Favorites";
                                                    }
                                                    else
                                                    {
                                                        FavoriteClassName += "-o ButtonAddProductToFavorites";
                                                        FavoritesTitle = "Add to Favorites";
                                                    }

                                                    <div class="variant-name">
                                                        <div class="col-md-10 col-sm-11 col-xs-12">@variant.Name</div>
                                                        <div class="col-md-2 col-sm-1 col-xs-12 text-center"><a class="@FavoriteClassName" data-sku="@variant.Sku" title="@FavoritesTitle"></a></div>

                                                    </div>
                                                }
                                                @if (!String.IsNullOrWhiteSpace(variant.ShortDescription))
                                                {
                                                    <div class="variant-description">
                                                        @Html.Raw(variant.ShortDescription)
                                                    </div>
                                                }

                                                @if (!String.IsNullOrWhiteSpace(variant.ProductPrice.CustomSpecial))
                                                {
                                                    <div class="text-danger"><strong>SPECIAL:</strong>&nbsp;@Html.Raw(variant.ProductPrice.CustomSpecial)</div>
                                                }
                                                <!--availability-->
                                                @Html.Partial("_Availability", variant)
                                                <!--SKU, MAN, GTIN, vendor-->
                                                @Html.Partial("_SKU_Man_GTIN_Ven", variant)
                                                <!--delivery-->
                                                @Html.Partial("_DeliveryInfo", variant)
                                                <!--sample download-->
                                                @Html.Partial("_DownloadSample", variant)
                                                <!--attributes-->
                                                @{
                                                    var dataDictAttributes = new ViewDataDictionary();
                                                    dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", variant.Id);
                                                    @Html.Partial("_ProductAttributes", variant.ProductAttributes, dataDictAttributes)
                                                }
                                                <!--gift card-->
                                                @{
                                                    var dataDictGiftCard = new ViewDataDictionary();
                                                    dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = string.Format("giftcard_{0}", variant.Id);
                                                    @Html.Partial("_GiftCardInfo", variant.GiftCard, dataDictGiftCard)
                                                }
                                                <!--rental info-->
                                                @{
                                                    var dataDictRental = new ViewDataDictionary();
                                                    dataDictRental.TemplateInfo.HtmlFieldPrefix = string.Format("rental_{0}", variant.Id);
                                                    @Html.Partial("_RentalInfo", variant, dataDictRental)
                                                }
                                                <!--price & add to cart-->
                                                @{
                                                    var dataDictPrice = new ViewDataDictionary();
                                                    dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", variant.Id);
                                                    @Html.Partial("_ProductPrice", variant.ProductPrice, dataDictPrice)
                                                }
                                                <!--price breaks-->
                                                @Html.Partial("_ProductTierPrices", variant.TierPrices)
                                                @{
                                                    var dataDictAddToCart = new ViewDataDictionary();
                                                    dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", variant.Id);
                                                    @Html.Partial("_AddToCart", variant.AddToCart, dataDictAddToCart)
                                                }
                                                <!--wishlist-->
                                                @{
                                                    var dataDictAddToWishlist = new ViewDataDictionary();
                                                    dataDictAddToWishlist.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", variant.Id);
                                                    @Html.Partial("_AddToWishlist", variant.AddToCart, dataDictAddToWishlist)
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (Model.AssociatedProducts.Count == 0)
                            {
                                <div class="no-associated-products">
                                    @T("Products.NoAssociatedProducts")
                                </div>
                            }
                        </div>
                        @Html.Widget("productdetails_overview_top", Model.Id)
                        <!--product reviews-->
                        @Html.Partial("_ProductReviewOverview", Model.ProductReviewOverview)
                        <!--compare, email a friend-->
                        <div class="overview-buttons">
                            @Html.Widget("productdetails_inside_overview_buttons_before", Model.Id)
                            @Html.Partial("_CompareProductsButton", Model)
                            @Html.Partial("_ProductEmailAFriendButton", Model)
                            @Html.Widget("productdetails_inside_overview_buttons_after", Model.Id)
                        </div>
                        @Html.Partial("_ShareButton", Model)
                        @Html.Widget("productdetails_overview_bottom", Model.Id)
                    </div>
                    @if (!String.IsNullOrEmpty(Model.FullDescription))
                    {
                        <div class="full-description" itemprop="description">
                            @Html.Raw(Model.FullDescription)
                        </div>
                    }
                </div>
                @Html.Widget("productdetails_before_collateral", Model.Id)
                <div class="product-collateral">
                    @Html.Partial("_ProductSpecifications", Model.ProductSpecifications)
                    @Html.Partial("_ProductTags", Model.ProductTags)
                </div>
                @*we do not display "also purchased" for grouped products
                @Html.Action("ProductsAlsoPurchased", "Product", new { productId = Model.Id })*@
                @Html.Action("RelatedProducts", "Product", new { productId = Model.Id })
            </div>
        }
        @Html.Widget("productdetails_bottom", Model.Id)
    </div>
</div>
<script type="text/javascript">

    $(function () {

        favorites.initializeView();

    });
</script>
