//
// RD Navbar Default First level of Menu
// --------------------------------------------------

%rd-navbar-default-menu-first-lvl{
  .rd-navbar-nav {
    @include clearfix;
    > li {
      float: left;
      position: relative;
      padding-left: 30px;
      padding-right: 30px;
      border-right: 1px solid rgba(255,255,255,0.2);
      > a {
        @extend %rd-navbar-default-link-font;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        color: $rd-navbar-light-menu-first-lvl-list-item-link-color;
        font-family: $font-family-accent;
        &:before {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          width: 0;
          height: 3px;
          margin-top: 11px;
          background: $brand-primary;
          transition: .3s all ease;
        }
        > .rd-navbar-label {
          position: absolute;
          margin: -10px 0 0 -15px;
        }
      }

      &.active > a, &.focus > a, > a:hover {
        &:before {
          left: 0;
          width: 100%;
        }
      }

      &.rd-navbar--has-megamenu {
        position: static;
        & + li{
          border-left: 1px solid rgba(255,255,255,0.2);
        }
      }
      &.rd-navbar--has-dropdown,
      &.rd-navbar--has-megamenu{
        > a{
          &:after{
            content: "\f0d7";
            font-family: "FontAwesome";
            font-size: 14px;
            color: inherit;
            padding-left: 13px;
          }
        }
      }
      &:last-child{
        border-right: none;
      }
    }

    li.focus {
      > .rd-navbar-dropdown, > .rd-navbar-megamenu {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
