//
// RD Navbar Default Menu Dropdown
// --------------------------------------------------

%rd-navbar-default-menu-dropdown {

  .rd-navbar-dropdown, .rd-navbar-megamenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 240px;
    padding: 30px;
    visibility: hidden;
    transition: .3s all ease;
    text-align: left;
    opacity: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    background: $rd-navbar-light-menu-dropdown-lists-dropdown-megamenu-background;
    .rd-navbar-dropdown {
      left: 100%;
      top: -1px;
      margin: 0;
      z-index: 2;
    }
    .rd-navbar-dropdown .rd-navbar-dropdown {
      z-index: 3;
    }
    &.rd-navbar-open-left, &.rd-navbar-open-left .rd-navbar-dropdown {
      right: 100%;
      left: auto;
    }
    li {
      &.rd-navbar--has-dropdown:after {
        color: $rd-navbar-light-menu-dropdown-lists-dropdown-megamenu-active-item-color;
      }
      > a {
        color: $rd-navbar-light-menu-dropdown-lists-dropdown-megamenu-item-link-color;
      }
      &:hover {
        > a {
          color: $brand-picton-blue;
        }
      }
    }
    h6 {
      .small {
        color: $gray-base;
      }
    }
    @media (max-height: $screen-md-min) {

    }
  }

  .rd-navbar-nav > .rd-navbar-submenu > .rd-navbar-dropdown.rd-navbar-open-left {
    right: 0;
  }

  .rd-navbar-megamenu {
    padding: 30px 20px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
  }

  .rd-navbar-dropdown, .rd-navbar-cart-dropdown {
    margin-top: 14px;
  }

  .rd-navbar-dropdown, .rd-navbar-megamenu {
    li {
      position: relative;
      > a {
        @extend %rd-navbar-default-link-font;
        font-weight: 300;
        display: block;
        padding-left: 25px;
        padding-right: 25px;
        &:before {
          position: absolute;
          left: 0;
          top: -2px;
          content: "\f105";
          font-family: "FontAwesome";
          font-size: 16px;
        }
        > span {
          vertical-align: middle;
        }
      }
      .rd-navbar-label {
        margin-left: 5px;
      }
      .rd-navbar-icon {
        margin-right: 10px;
        font-size: 18px;
        line-height: 24px;
        vertical-align: middle;
      }
      &.rd-navbar--has-dropdown:after {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 13px;
        font-size: $rd-navbar-menu-dropdown-lists-dropdown-megamenu-item-caret-icon-size;
        font-family: $rd-navbar-menu-dropdown-lists-dropdown-megamenu-item-caret-icon-family;
        line-height: $rd-navbar-menu-dropdown-lists-dropdown-megamenu-item-caret-icon-line-height;
        content: $rd-navbar-menu-dropdown-lists-dropdown-megamenu-item-caret-icon;
        @include transform(translateY(-50%));
        transition: .3s all ease;
      }
      & + li {
        margin-top: 14px;
      }
    }
  }
}
