//
// RD Navbar Default Panel
// --------------------------------------------------

%rd-navbar-default-panel {
  .rd-navbar-panel {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 16;
    background: $rd-navbar-light-background;
    box-shadow: nth($shadow-area-sm, 1) nth($shadow-area-sm, 2) nth($shadow-area-sm, 3) nth($shadow-area-sm, 4) rgba($gray-darker, .35);
  }
  .rd-navbar-panel-title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    text-align: center;
    h4{
      display: inline-block;
      line-height: 56px;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 0;
      min-width: 165px;
      @media (min-width: $screen-xs-min) {
        font-size: $font-size-h4;
      }
    }
  }
  &, .rd-navbar-panel {
    height: $rd-navbar-fixed-height;
  }

  .rd-navbar-toggle {
    position: fixed;
    z-index: 17;
    top: 4px;
    left: 4px;
    @include toggle-lines-to-arrow(48px, 24px, $rd-navbar-panel-toggle-color);
    span {
      &, &:before, &:after {
        background: $rd-navbar-light-toggle-background;
      }
    }
  }
  .rd-navbar-right-side-toggle {
    @include toggle-icons-via-rotation(48px, 30px, $gray-base, "\f2ce", "\f24c");
    position: absolute;
    vertical-align: middle;
    z-index: 17;
    top: 4px;
    display: inline-block;
    width: 48px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    right: 10px;
  }
  .right-side{
    @media (max-width: $screen-lg-min) {
      position: absolute;
      right: 0;
      top: 100%;
      opacity: 0;
      visibility: hidden;
      background: $white;
      box-shadow: $shadow-area-sm;
      padding: 20px;
      margin-top: 0;
      border-bottom-left-radius: 50%;
      transition: 0.35s all ease;
      li{
        a:hover{
         color: $brand-primary;
        }
        & + li{
          margin-top: 5px;
        }
      }
      &.active{
        opacity: 1;
        visibility: visible;
        border-bottom-left-radius: 0;
      }
    }
  }

  @media (min-width: $screen-xs) {
    .rd-navbar-brand {
      display: block;
      position: fixed;
      top: 10px;
      left: 50%;
      width: auto;
    }
  }
}
