//
// RD Navbar Default Mobile Search
// --------------------------------------------------

%rd-navbar-default-mobile-search {
  .rd-navbar-search-mobile {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
    top: 100%;
    transition: 0.35s all ease;
    .rd-navbar-search-form-input {
      border: none;
      color: $brand-dark-blue;
      background: $white;
      padding-left: 35px;
    }
    .form-label {
      left: 35px;
    }
    .form-search-submit {
      color: $rd-navbar-light-mobile-search-form-search-submit-color;
    }
    .form-group {
      .form-label, .form-lable.focus {
        color: $brand-dark-blue;
      }
    }
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  .rd-navbar-mobile-search-toggle {
    margin-left: $rd-navbar-search-toggle-offset-left;
    @include toggle-icons-via-rotation($rd-navbar-search-toggle-icon-size, $rd-navbar-search-toggle-icon-size, $rd-navbar-search-toggle-icon-color, $rd-navbar-search-toggle-open-icon, $rd-navbar-search-toggle-close-icon, "FontAwesome", "FontAwesome");
    position: relative;
    z-index: 3;
    vertical-align: bottom;
    left: 20px;
    top: 3px;
  }
}
