//
// RD Navbar Default Aside Left
// --------------------------------------------------

%rd-navbar-default-mobile-menu {
  .rd-navbar-nav {
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: $rd-navbar-mobile-menu-list-offset-top;
    > li:last-child {
      margin-bottom: 10px;
    }
    li {
      float: none;
      a {
        @extend %rd-navbar-default-link-font;
        cursor: pointer;
        display: block;
        padding: $rd-navbar-mobile-menu-list-item-link-padding;
        vertical-align: middle;
        color: $rd-navbar-light-mobile-menu-list-item-link-color;
      }

      &.opened > a, &.active > a, &.focus > a, &:hover > a {
        color: $brand-primary;
      }

      &.opened, &.active, &:hover {
        > .rd-navbar-submenu-toggle {
          color: $rd-navbar-light-mobile-menu-list-item-hover-toggle-color;
          content: $rd-navbar-mobile-menu-list-item-arrow-active-content;
        }
      }
      + li {
        margin-top: $rd-navbar-mobile-menu-list-item-offset-top;
      }
    }
  }

  .rd-navbar-submenu {
    position: relative;
  }

  .rd-navbar-submenu-toggle {
    position: absolute;
    top: 12px;
    right: 0;
    cursor: pointer;
    width: $rd-navbar-mobile-menu-list-item-arrow-width;
    font-size: $rd-navbar-mobile-menu-list-item-arrow-size;
    line-height: $rd-navbar-mobile-menu-list-item-arrow-line-height;
    font-family: "FontAwesome";
    transition: .3s all ease;
    vertical-align: middle;
    color: $rd-navbar-light-mobile-menu-submenu-toggle-color;
    &:before {
      content: $rd-navbar-mobile-menu-list-item-arrow-content;
      display: inline-block;
    }
  }

  .rd-navbar-dropdown {
    display: none;
    > li {
      > a {
        padding-left: 15px;
        color: $rd-navbar-light-mobile-menu-dropdown-item-link-color;
        padding-top: 0;
        padding-bottom: 0;
        font-weight: 300;
        &:before {
          content: "\f105";
          font-family: "FontAwesome";
          padding-right: 15px;
        }
      }
      &.active > a, &.focus > a, &:hover a {
        color: $white;
      }
      .rd-navbar-dropdown > li {
        > a {
          padding-left: $rd-navbar-mobile-menu-dropdown2-item-link-padding-left;
        }
        .rd-navbar-dropdown > li > a {
          padding-left: $rd-navbar-mobile-menu-dropdown3-item-link-padding-left;
        }
      }
    }
  }

  .rd-navbar-megamenu {
    display: none;
    margin-top: 20px;
    padding-left: 50px;
    h6 {
      font-family: $font-family-base;
      .small {
        color: $white;
      }
    }
    ul > li > ul > li {
      > a {
        padding-left: 15px;
        color: $rd-navbar-light-mobile-menu-dropdown-item-link-color;
        padding-top: 0;
        padding-bottom: 0;
        font-weight: 300;
        &:before {
          content: "\f105";
          font-family: "FontAwesome";
          padding-right: 15px;
        }
      }
      &.active > a, &.focus > a, &:hover a {
        color: $white;
      }
      .rd-navbar-dropdown > li {
        > a {
          padding-left: $rd-navbar-mobile-menu-dropdown2-item-link-padding-left;
        }
        .rd-navbar-dropdown > li > a {
          padding-left: $rd-navbar-mobile-menu-dropdown3-item-link-padding-left;
        }
      }
    }
    > ul > li {
      & + li{
        margin-top: 20px;
      }
    }
    [class*="col-"] + [class*="col-"] {
      margin-top: 20px;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  .rd-navbar-submenu.opened {
    > .rd-navbar-dropdown, > .rd-navbar-megamenu {
      display: block;
    }
  }
}


