﻿@using Nop.Web.Models.Catalog;

@model TopMenuModel

<div class="section-lg-top-20 section-md-top-20 section-sm-top-80 section-xs-top-80 section-bottom-50 section-bottom-50 text-left inset-left-40 inset-right-40">
    <h2>Browse Our Catalog</h2>
    <hr class="divider divider-lg bg-primary hr-sm-left-0">
    <div class="range text-left range-xs-center offset-top-30">
        <div class="cell-xs-8 cell-sm-6 cell-md-4">
            <a class="thumbnail-classic" href="services.html" target="_self">
                <figure>
                    <img src="~/Themes/OldhamChem1/Content/images/68305213-favorite-rubber-stamp.jpg" alt="">
                    <figcaption class="thumbnail-classic-caption text-center">
                        <span class="icon icon-xxs fa-arrow-right"></span>
                        <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">My Products</h6>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="cell-xs-8 cell-sm-6 cell-md-4 offset-top-30 offset-sm-top-0">
            <a class="thumbnail-classic" href="services.html#undefined2" target="_self">
                <figure>
                    <img src="~/Themes/OldhamChem1/Content/images/554_contrac_rodenticide.png" alt="">
                    <figcaption class="thumbnail-classic-caption text-center">
                        <span class="icon icon-xxs fa-arrow-right"></span>
                        <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">Chemical</h6>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="cell-xs-8 cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0 offset-sm-top-30">
            <a class="thumbnail-classic" href="services.html#undefined5" target="_self">
                <figure>
                    <img src="~/Themes/OldhamChem1/Content/images/pumpunit.png" alt="">
                    <figcaption class="thumbnail-classic-caption text-center">
                        <span class="icon icon-xxs fa-arrow-right"></span>
                        <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">Equipment</h6>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="cell-xs-8 cell-sm-6 cell-md-4 offset-top-30">
            <a class="thumbnail-classic" href="services.html" target="_self">
                <figure>
                    <img src="~/Themes/OldhamChem1/Content/images/services-09-370x250.jpg" alt="">
                    <figcaption class="thumbnail-classic-caption text-center">
                        <span class="icon icon-xxs fa-arrow-right"></span>
                        <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">Manufacturers</h6>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="cell-xs-8 cell-sm-6 cell-md-4 offset-top-30">
            <a class="thumbnail-classic" href="services.html#undefined2" target="_self">
                <figure>
                    <img width="400" height="250" src="~/Themes/OldhamChem1/Content/images/special-offer-370x250.jpg" alt="">
                    @*<div class="text-center"><span class="fa fa-5x fa-flask"></span></div>*@
                    <figcaption class="thumbnail-classic-caption text-center">
                        <span class="icon icon-xxs fa-arrow-right"></span>
                        <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">Promotions</h6>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
</div>