﻿@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //store context
    var StoreContext = EngineContext.Current.Resolve<IStoreContext>().CurrentStore;
}
@Html.Widget("home_page_top")
@Html.Widget("home_page_before_news")
<div class="section-skew bg-white">
    <div class="skew-block"></div>
</div>
@Html.Action("HomepageCategories", "Catalog")
<div class="bg-lightest section-skew">
    <div class="skew-block"></div>
    <div class="section-lg-top-20 section-md-top-20 section-sm-top-20 section-xs-top-20 section-bottom-50 section-bottom-50 text-left inset-left-20 inset-right-20">
        @Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })
    </div>
</div>