//
// Search Results
// --------------------------------------------------

// Base styles
// --------------------------------------------------

.search_list {
  text-align: left;
  padding-left: 0;
  font-size: $rd-search-list-size;
  list-style-type: none;
}

.result-item {
  padding-left: $rd-result-item-padding-left;
  list-style-type: decimal;
  margin-left: $rd-result-item-offset-left;
  color: $rd-result-item-color;
  > * {
    color: $rd-result-item-inside-color;
  }
  p {
    font-size: $font-size-base;
  }

  + .result-item {
    margin-top: $rd-result-item-offset-top-between;
  }
  @media (min-width: $screen-sm-min) {
    padding-left: $rd-result-item-sm-padding-left;
  }
}

.search_title {
  color: $rd-search-title-color;
}

.match {
  font-size: $rd-search-math-size;
  text-transform: uppercase;
  letter-spacing: $rd-search-math-letter-spacing;
  color: $rd-search-math-color;
  em {
    font-style: normal;
  }
}

.search {
  background: $rd-search-background;
}

#rd-search-results-live{
  #search-results {
    background: $white;
    box-shadow: $shadow-area-xs;
    border-top: 1px solid $gray;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.33s all ease-in;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    &.active {
      visibility: visible;
      opacity: 1;
    }
    .result-item {
      padding-left: 15px;
    }

    p.match {
      font-size: 14px;
      letter-spacing: 0;

      em {
        display: block;
      }
    }
    .result-item {
      + .result-item {
        margin-top: 20px;
      }
    }
    .search_all{
      margin-top: 20px;
      a{
        &:hover{
          color: $brand-primary;
        }
      }
    }
  }
}
