//
// RD Navbar Sidebar Toggle
// --------------------------------------------------

.rd-navbar-humburger-menu {
  &.rd-navbar-fixed {
    @extend %rd-navbar-default-mobile-menu;
    @extend %rd-navbar-default-aside-left;
    @extend %rd-navbar-default-mobile-search;
    @extend %rd-navbar-sidebar-toggle-panel;
    @extend %rd-navbar-sidebar-toggle-footer;

    .rd-navbar-nav-wrap {
      height: 100%;
      overflow: auto;
      bottom: auto;
      background: $brand-dark-blue;
    }
    .rd-navbar-mobile-header-wrap {
      position: fixed;
      padding-top: 20px;
      padding-bottom: 20px;
      background: $brand-primary;
      left: 0;
      right: 0;
      z-index: 20;
      box-shadow: $shadow-area-xs;
      width: 290px;
      top: 56px;
      @include transform(translateX(-105%));
      &.active {
        @include transform(translateX(0));
      }
      @extend %rd-navbar-transition;
      &.active {
        @include transform(translateX(0));
      }
      @media (min-width: $screen-lg-min) {
        width: 315px;
        top: 0
      }
    }
    .rd-navbar-mobile-scroll-holder {
      @include display-flex;
      @include flex-direction(row);
    }
    .rd-navbar-megamenu{
      padding-left: 25px;
    }
    .rd-navbar-mobile-scroll {
      min-height: 100vh;
      @include display-flex;
      @include flex-direction(column);
      @include flex-basis(100%);
      @include justify-content(space-between);
    }
    .rd-navbar-nav {
      @include flex(2 1 auto);
      margin-top: 150px;
    }

    @media (min-width: $screen-lg) {
      .rd-navbar-footer {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        .rd-navbar-address {
          .list {
            a:hover {
              color: $brand-primary;
            }
          }
        }
        .btn {
          font-size: 16px;
          letter-spacing: .06em;
        }
      }
      .rd-navbar-nav-wrap {
        width: $rd-navbar-sidebar-toggle-lg-toggle-width;
        padding: $rd-navbar-sidebar-toggle-lg-toggle-padding;
      }

      .rd-navbar-mobile-scroll {
        overflow-y: hidden;
        max-height: inherit;
      }
      .rd-navbar-megamenu {
        padding-left: 0;
      }
      .resp-tab-item {
        display: none;
      }
    }
  }

}