//
// RD Navbar Default
// --------------------------------------------------

.rd-navbar-minimal {
  @extend %rd-navbar-transition;

  &.rd-navbar-fixed {
    @extend %rd-navbar-default-panel;
    @extend %rd-navbar-default-mobile-menu;
    @extend %rd-navbar-default-aside-left;
    @extend %rd-navbar-default-mobile-search;
    .rd-navbar-nav-wrap {
      background: $brand-dark-blue;
    }
    .rd-navbar-brand {
      display: none;
    }
    .rd-navbar-search {
      display: none;
    }

    @media (min-width: $screen-lg) {
      .rd-navbar-mobile-brand {
        display: none;
      }
      .rd-navbar-brand {
        display: block;
        @include transform(translateX(-50%));
      }
    }
  }

  &.rd-navbar-static {
    @extend %rd-navbar-default-menu-first-lvl;
    @extend %rd-navbar-default-menu-dropdown;
    @extend %rd-navbar-default-search;
    // Panel style
    .rd-navbar-mobile-brand {
      display: none;
    }
    .rd-navbar-brand {
      float: left;

      img {
        vertical-align: middle;
        transition: .3s all ease;
        height: auto;
      }
    }

    .rd-navbar-menu-wrap {
      float: right;
      margin-top: 23px;
    }
    #rd-search-results-live{
      #search-results {
        max-height: calc(100vh - 150px);
      }
    }
    .rd-navbar-panel .rd-navbar-toggle, .form-search-wrap {
      display: none;
    }

    .rd-navbar-inner {
      @include clearfix;
      transition: .3s all ease;
      padding: 15px 30px;
      position: relative;
      text-align: left;
      background: $brand-primary;
      @media (min-width: $screen-xl) {
        padding: 20px 120px;
      }
    }

    .rd-navbar-nav-wrap, .rd-navbar-panel {
      transition: .3s all ease;
    }
    .rd-navbar-megamenu {
      right: 0;
    }
    .rd-navbar-nav {
      > li {
        &.active > a, &.focus > a, > a:hover {
          color: $brand-dark-blue;
        }
      }
    }
    .rd-navbar-nav-wrap {
      @include clearfix;
      margin-top: 6px;
      display: inline-block;
    }
    .rd-navbar-dropdown {
      margin-top: 38px;
      @media (min-width: $screen-xl-min) {
        margin-top: 43px;
      }
    }
    .rd-navbar-search-form {
      right: 50px;
      @media (min-width: $screen-xl-min) {
        right: 120px;
      }
    }
    .rd-navbar-search {
      margin-top: 7px;
    }
    &.rd-navbar--is-stuck {
      box-shadow: $shadow-area-xs;
      .rd-navbar-brand {
        img {
          width: 60%;
        }
      }
      .rd-navbar-dropdown {
        margin-top: 19px;
      }
      .rd-navbar-menu-wrap {
        margin-top: 7px;
      }

      .rd-navbar-inner {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .rd-navbar-megamenu {
        margin-top: 0;
      }
    }
  }

  // Mobile Fixed Layout Colors
  &.rd-navbar-fixed {
    @extend %rd-navbar-default-panel;
    @extend %rd-navbar-default-mobile-menu;
    @extend %rd-navbar-default-aside-left;
    @extend %rd-navbar-default-mobile-search;
  }

  // Desktop Static Layout Colors
  &.rd-navbar-static {
    @extend %rd-navbar-default-menu-first-lvl;
    @extend %rd-navbar-default-menu-dropdown;
    @extend %rd-navbar-default-search;
  }
}
