//
// RD Navbar Default
// --------------------------------------------------

.rd-navbar-transparent {
  @extend %rd-navbar-transition;
  background: $white;
  &.rd-navbar-fixed {
    @extend %rd-navbar-default-panel;
    @extend %rd-navbar-default-mobile-menu;
    @extend %rd-navbar-default-aside-left;
    @extend %rd-navbar-default-mobile-search;
    .rd-navbar-nav-wrap {
      background: $brand-dark-blue;
    }
    .rd-navbar-brand {
      display: none;
    }

    .rd-navbar-search {
      display: none;
    }
    .rd-navbar-mobile-search-toggle{
      position: absolute;
      top: 19px;
      right: 19px;
      left: auto;
      span{
        color: #000;
      }
    }
    .rd-navbar-search-mobile{
      top: 6px;
      right: 56px;
      left: 56px;
      .form-control{
        color: #212121;
        background: #f7f7f7;
        height: 44px;
        padding: 5px 10px;
      }
      .form-label{
        top: 23px;
        left: 10px;
        &.focus{
          font-size: 13px;
          top: 2px;
        }
      }
    }
    @media (min-width: $screen-lg) {
      .rd-navbar-mobile-brand {
        display: none;
      }
      .rd-navbar-brand {
        display: block;
        @include transform(translateX(-50%));
      }
    }

  }

  &.rd-navbar-static {
    @extend %rd-navbar-default-menu-first-lvl;
    @extend %rd-navbar-default-menu-dropdown;
    @extend %rd-navbar-default-search;
    // Panel style
    .rd-navbar-mobile-brand {
      display: none;
    }

    .rd-navbar-brand {
      float: left;

      img {
        vertical-align: baseline;
      }
    }
    .rd-navbar-panel{
      height: 0;
    }
    .rd-navbar-menu-wrap {
      max-width: 1170px;
      margin-left: auto;
      margin-right: auto;
      text-align: right;
      position: relative;
      font-size: 0;
      &:before {
        position: absolute;
        content: "";
        height: 100%;
        width: 5000px;
        left: 20%;
        background: $brand-dark-blue;
        transform: skew(-36deg);
        z-index: -2;
      }
      &:after {
        position: absolute;
        content: "";
        height: 100%;
        width: 10000px;
        right: calc(80% + 20px);
        background: $brand-primary;
        transform: skew(-36deg);
        z-index: -1;
      }
    }
    .rd-navbar-nav-wrap {
      padding-top: 14px;
      padding-bottom: 14px;
      display: inline-block;
    }
    .rd-navbar-panel .rd-navbar-toggle, .form-search-wrap {
      display: none;
    }

    .rd-navbar-inner {
      @include clearfix;
      transition: .3s all ease;
      position: relative;
      text-align: left;
    }

    .rd-navbar-nav-wrap, .rd-navbar-panel {
      transition: .3s all ease;
    }

    .rd-navbar-search-toggle {
      margin-top: 5px;
    }

    &.rd-navbar--is-stuck {
      .rd-navbar-menu-wrap{
        &:before{
          left:0;
        }
      }
      box-shadow: $shadow-area-md;

      .rd-navbar-nav > li > .rd-navbar-dropdown {
        margin-top: 26px;

      }
      .rd-navbar-nav{
        > li{
          .rd-navbar-dropdown{
            margin-top: 14px;
          }
        }
      }

      .rd-navbar-megamenu {
        margin-top: 0;
      }
    }
  }

  .rd-navbar-search-toggle {
    span {
      color: $gray-darkest;
    }
  }

}