//
// RD Navbar Default
// --------------------------------------------------

.rd-navbar-default {
  @extend %rd-navbar-transition;
  background: $white;
  &.rd-navbar-fixed {
    @extend %rd-navbar-default-panel;
    @extend %rd-navbar-default-mobile-menu;
    @extend %rd-navbar-default-aside-left;
    @extend %rd-navbar-default-mobile-search;
    .rd-navbar-nav-wrap {
      background: $brand-dark-blue;
    }
    .rd-navbar-brand {
      display: none;
    }

    .rd-navbar-search {
      display: none;
    }

    @media (min-width: $screen-md) {
      .rd-navbar-mobile-brand {
        display: none;
      }
      .rd-navbar-brand {
        display: block;
        @include transform(translateX(-50%));
      }
    }
  }

  &.rd-navbar-static {
    @extend %rd-navbar-default-menu-first-lvl;
    @extend %rd-navbar-default-menu-dropdown;
    @extend %rd-navbar-default-search;
    // Panel style
    .rd-navbar-panel {
      .shell {
        height: 100%;
        position: relative;
        z-index: 0;
        padding-top: 22px;
        padding-bottom: 18px;
        &:after {
          position: absolute;
          content: "";
          height: 100%;
          width: 10000px;
          background: $brand-primary;
          right: -1000px;
          top: 0;
          z-index: -1;
        }
        @media (min-width: $screen-lg-min) {
          &:after{
            right: 78%;
            transform: skew(-36deg);
          }
        }
      }
      .right-side{
        ul {
          li {
            a:hover {
              color: $white;
              @media (min-width: $screen-lg-min) {
                color: $brand-primary;
              }
            }
            & + li {
              margin-left: 60px;
            }
            .icon-primary{
              color: $white;
              @media (min-width: $screen-lg-min) {
                  color: $brand-primary;
              }
            }
          }
        }
      }

    }
    .rd-navbar-megamenu{
      @media (max-height: 693px) {
        height: 450px;
        overflow-y: scroll;
      }
      @media (min-width: $screen-md-min) {
        padding: 30px 60px;
      }
      @media (min-width: $screen-lg-min) {
        padding: 30px 20px;
      }
    }
    .rd-navbar-mobile-brand {
      display: none;
    }

    .rd-navbar-brand {
      float: left;

      img {
        vertical-align: baseline;
        width: 70%;
        height: auto;
        @media (min-width: $screen-lg-min) {
          width: 100%;
        }
      }
    }

    .rd-navbar-brand-slogan {
      vertical-align: baseline;
      font-size: 18px;
      margin-left: 7px;
    }
    .rd-navbar-search{
      @media (min-width: $screen-md-min) {
        margin-right: 15px;
        padding-right: 15px;
      }
      @media (min-width: $screen-lg-min) {
        margin-right: 0;
        padding-right: 0;
      }
    }
    .rd-navbar-menu-wrap {
      max-width: 1170px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      position: relative;
      font-size: 0;
      &:before {
        position: absolute;
        content: "";
        height: 100%;
        width: 10000px;
        left: -100px;
        background: $brand-dark-blue;
        transition: 0.35s all ease;
        z-index: -1;
      }
      @media (min-width: $screen-lg-min) {
        text-align: right;
        margin-top: -30px;
        &:before{
          left: 20%;
          transform: skew(-36deg);
        }
      }
    }
    .rd-navbar-nav-wrap {
      padding-top: 14px;
      padding-bottom: 14px;
      display: inline-block;
    }
    .rd-navbar-panel .rd-navbar-toggle, .form-search-wrap {
      display: none;
    }

    .rd-navbar-inner {
      @include clearfix;
      transition: .3s all ease;
      position: relative;
      text-align: left;
    }

    .rd-navbar-nav-wrap, .rd-navbar-panel {
      transition: .3s all ease;
    }

    .rd-navbar-search-toggle {
      margin-top: 5px;
    }

    &.rd-navbar--is-stuck {
      .rd-navbar-menu-wrap{
        text-align: center;
        margin-top: 0;
        &:before{
          left:-100%;
        }
      }
      .shell{
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        .left-side,
        .right-side{
          opacity: 0;
          visibility: hidden;
        }
      }
      box-shadow: $shadow-area-md;

      .rd-navbar-nav > li > .rd-navbar-dropdown {
        margin-top: 14px;

      }
      .rd-navbar-megamenu {
        margin-top: 0;
      }
    }
  }

  .rd-navbar-search-toggle {
    span {
      color: $gray-darkest;
    }
  }

}