//
// RD Navbar Default
// --------------------------------------------------

.rd-navbar-center {
  @extend %rd-navbar-transition;
  background: $white;
  &.rd-navbar-fixed {
    @extend %rd-navbar-default-panel;
    @extend %rd-navbar-default-mobile-menu;
    @extend %rd-navbar-default-aside-left;
    @extend %rd-navbar-default-mobile-search;
    .rd-navbar-nav-wrap {
      background: $brand-dark-blue;
    }
    .rd-navbar-brand {
      display: none;
    }

    .rd-navbar-search {
      display: none;
    }

    @media (min-width: $screen-lg) {
      .rd-navbar-mobile-brand {
        display: none;
      }
      .rd-navbar-brand {
        display: block;
        @include transform(translateX(-50%));
      }
    }
  }

  &.rd-navbar-static {
    @extend %rd-navbar-default-menu-first-lvl;
    @extend %rd-navbar-default-menu-dropdown;
    @extend %rd-navbar-default-search;
    // Panel style
    .rd-navbar-panel {
      .bottom-part {
        background: $brand-primary;
        padding: 20px 0 15px;
      }
      .top-part {
        padding: 15px 0;
      }
      .right-side {
        ul {
          li {
            a:hover {
              color: $brand-primary;
            }
            & + li {
              margin-left: 60px;
            }
          }
        }
      }

    }
    .rd-navbar-mobile-brand {
      display: none;
    }

    .rd-navbar-brand {
      img {
        vertical-align: baseline;
      }
    }
    .rd-navbar-megamenu{
      @media (max-height: 700px) {
        height: 400px;
        overflow-y: scroll;
      }
    }
    .rd-navbar-menu-wrap {
      background: $brand-dark-blue;
    }
    .rd-navbar-nav-wrap {
      padding-top: 14px;
      padding-bottom: 14px;
      display: block;
      max-width: 1170px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      position: relative;
      font-size: 0;
    }
    .rd-navbar-panel .rd-navbar-toggle, .form-search-wrap {
      display: none;
    }
    .rd-navbar-nav {
      text-align: center;
      display: inline-block;
      > li {
        float: none;
        display: inline-block;
        &.rd-navbar--has-megamenu + li{
          border-left: none;
        }
        &:last-child{
          border-right: none;
        }
      }
    }
    .rd-navbar-inner {
      @include clearfix;
      transition: .3s all ease;
      position: relative;
      text-align: center;
    }
    #rd-search-results-live{
      #search-results {
        max-height: calc(100vh - 270px);
      }
    }
    .rd-navbar-nav-wrap, .rd-navbar-panel {
      transition: .3s all ease;
    }
    .rd-navbar-search{
      margin-top: 0;
      padding-right: 135px;
    }
    .rd-navbar-search-toggle {
      margin-top: 3px;
    }
    .rd-navbar-search-form{
      right: 135px;
    }
    &.rd-navbar--is-stuck {
      .rd-navbar-menu-wrap {
        text-align: center;
        margin-top: 0;
      }
      .rd-navbar-panel{
        display: none;
      }
      ul.rd-navbar-nav{
        > li > {
          .rd-navbar-dropdown{
            margin-top: 14px;
          }
        }
      }

      box-shadow: $shadow-area-md;

      .rd-navbar-nav > li > .rd-navbar-dropdown {
        margin-top: 26px;
      }
      .rd-navbar-megamenu {
        margin-top: 0;
      }
    }
  }

  .rd-navbar-search-toggle {
    span {
      color: $gray-darkest;
    }
  }

}