//
// Easy Responsive Tabs
// --------------------------------------------------

// Classic Tabs
// --------------------------------------------------

.responsive-tabs {
  // Collapse Tab
  .resp-accordion {
    position: $accordion-arrow-icon-position;
    padding: $accordion-accordion-inset;
    overflow: hidden;
    font-size: $accordion-size;
    font-weight: $accordion-weight;
    color: $accordion-color;
    text-align: left;
    font-family: $font-family-accent;
    text-overflow: ellipsis;
    transition: all .35s ease;
    background: $gray-lightest;

    .resp-arrow {
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      right: 20px;
      width: $accordion-arrow-icon-width;
      font-family: $accordion-arrow-icon-family;
      font-size: 20px;
      font-weight: $accordion-arrow-icon-weight;
      color: $gray;
      text-align: center;
      transition: all .35s ease;
      &:before {
        content: $accordion-arrow-icon;
      }
      @media (min-width: $screen-md-min) {
        font-size: $accordion-arrow-icon-size;
        right: 35px;
      }
    }

    // Active tab accordion
    &.resp-tab-active,
    &:hover{
      color: $accordion-active-color;
      background-color: $brand-primary;
      cursor: pointer;
      .resp-arrow:before {
        color: $white;
      }
    }
    &.resp-tab-active{
      .resp-arrow{
        &:before{
          content: $accordion-arrow-icon-active;
        }
      }
    }
  }

  // Accordion Content
  .resp-tab-content {
    padding: 50px 0;
    @media (min-width: $screen-lg-min) {
      padding: $accordion-content-inset;
    }
  }

  // Tabs List
  .resp-tabs-list {
    display: none;
    padding: 0;
    margin-bottom: 0;

    li {
      position: relative;
      display: inline-block;
      padding: $accordion-list-inset;
      font-size: $accordion-list-size;
      font-weight: $accordion-list-weight;
      color: $accordion-list-color;
      text-transform: uppercase;
      list-style-type: none;
      cursor: pointer;
      transition: all .2s ease-in;

      &.resp-tab-active,
      &:hover {
        color: $accordion-list-active-color;
        background: transparent;
      }
    }
  }
  &[data-type="accordion"]{
    border-bottom: none;
    .resp-tab-content {
      padding: 30px 0;
      @media (min-width: $screen-md-min) {
        padding: $accordion-content-inset;
      }
      &+ .resp-accordion{
        margin-top: 10px;
        border-top: none;
      }
    }
  }
  // Tab Content
  .resp-tab-content {
    display: none;
  }

  // Turn accordion to Horizontal Tabs
  @media (min-width: $screen-md-min) {
    &[data-type="horizontal"]:not(.tabs-lg-collapsed),
    &[data-type="vertical"]:not(.tabs-lg-collapsed) {
      border-bottom: $accordion-md-border-bottom;

      .resp-tab-content + .resp-accordion {
        border-top: $accordion-md-border-top;
      }

      .resp-accordion {
        display: none;
      }

      .resp-tabs-list {
        display: block;
      }
    }
  }

  // Style for vertical tabs
  @media (min-width: $screen-lg-min) {
    &[data-type="vertical"] {
      @include display-flex();
      @include flex(0 1 auto);
      @include align-items(flex-start);

      .resp-tabs-list {
        text-align: left;
        @include flex-basis(29%);

        li {
          display: block;
        }

        li + li {
          margin-left: 0;
        }
      }

      .resp-tabs-container {
        @include flex-basis(71%);
      }
    }
    &.tabs-lg-collapsed{
      border-bottom: $accordion-md-border-bottom;

      .resp-tab-content + .resp-accordion {
        border-top: $accordion-md-border-top;
      }

      .resp-accordion {
        display: none;
      }

      .resp-tabs-list {
        display: block;
      }
    }
  }
}

// Classic Tabs
// --------------------------------------------------

.responsive-tabs-classic {
  border-bottom: $accordion-border;

  .resp-tab-content + .resp-accordion {
    border-top: $accordion-border;
  }

  @media (min-width: $screen-md-min) {
    &[data-type="vertical"],
    &[data-type="horizontal"] {
      border-bottom: $accordion-tabs-list-border-bottom;

      .resp-tab-content + .resp-accordion {
        border-top: $accordion-tabs-list-border-top;
        margin-top: 10px;
      }

      .resp-tabs-list {
        font-size: 0;
        text-align: left;
        li {
          font-size: 22px;
          font-weight: 300;
          text-transform: capitalize;
          color: $brand-primary;
          padding: 10px 29px;
          border-left: 1px solid $gray;
          &.resp-tab-active,
          &:hover {
            background: $brand-primary;
            color: $white;
            border-left-color: transparent;
            & + li {
              border-left-color: transparent;
            }
          }
          &:last-child {
            border-right: 1px solid $gray;
          }
        }
      }

      // Tab Content
      .resp-tab-content {
        padding-top: 25px;
        padding-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  // Turn Horizontal Tabs to Vertical Tabs
  @media (min-width: $screen-lg-min) {

    // Style for vertical tabs
    &[data-type="vertical"] {
      .resp-tabs-list {
        li {
          border-left: none;
          border-top: 1px solid $gray;
          &.resp-tab-active,
          &:hover {
            border-top-color: transparent;
            &:after{
              content: "\f105";
              font-size: 22px;
              line-height: 22px;
              font-family: "FontAwesome";
              position: absolute;
              right: 30px;
              top: 50%;
              @include transform(translateY(-50%));
            }
            & + li {
              border-top-color: transparent;

            }
          }
          &:last-child {
            border-right: none;
            border-bottom: 1px solid $gray;
          }
        }

      }
      .resp-tab-content {
        padding: 0;
      }
    }
  }
}

// Boxed Tabs
// --------------------------------------------------

.responsive-tabs-boxed {
  // Collapse Tab
  .resp-accordion {
    border-radius: $border-radius-small;
    border: $accordion-tabs-boxed-border;
    padding-left: $accordion-tabs-boxed-inset-left;
    padding-right: $accordion-tabs-boxed-inset-right;

    .resp-arrow {
      right: $accordion-tabs-boxed-arrow-position-right;
    }
  }

  // Tab Content
  .resp-tab-content {
    padding-top: $accordion-tabs-boxed-content-inset;
    padding-bottom: $accordion-tabs-boxed-content-inset;
    padding-left: 0;
    padding-right: 0;
  }

  .resp-tab-content + .resp-accordion {
    margin-top: $accordion-tabs-boxed-content-offset-top;
  }

  // Turn accordion to Horizontal Tabs
  @media (min-width: $screen-md-min) {
    &[data-type="horizontal"],
    &[data-type="vertical"] {
      .resp-tabs-list {
        text-align: left;
        font-size: 0;

        li {
          position: relative;
          padding: $accordion-tabs-boxed-list-inset;
          margin-bottom: -1px;
          font-size: $accordion-tabs-boxed-list-size;
          font-weight: $accordion-tabs-boxed-list-weight;
          letter-spacing: $accordion-tabs-boxed-list-letter-spacing;
          color: $accordion-tabs-boxed-list-letter-color;
          text-transform: uppercase;
          border: $accordion-tabs-boxed-list-md-li-border;
          & + li {
            margin-left: 10px;
          }
          &.resp-tab-active,
          &:hover {
            background: $brand-primary;
            color: $white;
          }
        }
      }

      .resp-tab-content + .resp-accordion {
        margin-top: $accordion-tabs-boxed-list-md-offset-top;
      }
    }

    // Turn Horizontal Tabs to Vertical Tabs
    @media (min-width: $screen-lg-min) {
      &[data-type="vertical"] {
        .resp-tabs-list {
          text-align: center;
          margin: $accordion-tabs-boxed-list-lg-offsets;

          li {
            & + li {
              margin-left: 0;
              margin-top: 10px;
            }

            &.resp-tab-active {
            }
          }
        }
        .resp-tab-content {
          padding-top: 0;
          padding-bottom: 0;
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }
  }
}

