// Our Mission
section.bg-lightest.section-skew
  .skew-block
  .shell.text-sm-left
    .range.range-xs-center.range-lg-right.offset-top-0
      .cell-xs-10.cell-sm-12.cell-lg-8.section-image-aside.section-image-aside-left
        .section-image-aside-img.veil.reveal-lg-block(style="background-image: url(images/home-01-746-561.jpg)")
        .section-image-aside-body.section-80.offset-lg-top-0.section-lg-90.inset-lg-left-100
          h2= ourMission.sect1.elem1
          hr.divider.divider-lg.bg-primary.hr-sm-left-0
          .offset-top-20.offset-lg-top-50
            p= ourMission.sect1.elem2
            p= ourMission.sect1.elem3
          .offset-top-20
            a(href= cfg.nav.pages.submenu.pageslvl1.submenu.aboutUs.href).btn.btn-primary.btn-sm learn more

