include ../elements/_ui-thumbnail-default
// Latest news
section.section-80.section-md-bottom-120
  .shell.text-md-left
    h2= news.sect1.elem1
    hr.divider.divider-lg.bg-primary.hr-md-left-0
    .range.text-md-left.offset-top-50.range-xs-center
      .cell-sm-8.cell-md-4
        article.post-news
          +thumbnail-default({
            "type": "thumbnail",
            "thumb": {"src": "images/news-01-370x270.jpg", "width": 370, "height": 270, "alt": ""},
            "target": {"href": cfg.nav.blog.submenu.postPage.href}
          })
          .offset-top-10
            h5.text-primary.text-bold
              a.post-news-title(href=cfg.nav.blog.submenu.postPage.href)= news.sect1.elem2
          .offset-top-15
            .post-meta
              span.icon.icon-xxs.fa-calendar.text-gray.text-middle
              time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")= news.sect1.elem3
          p= news.sect1.elem4
      .cell-sm-8.cell-md-4.offset-top-50.offset-md-top-0
        article.post-news
          +thumbnail-default({
            "type": "thumbnail",
            "thumb": {"src": "images/news-02-370x270.jpg", "width": 370, "height": 270, "alt": ""},
            "target": {"href": cfg.nav.blog.submenu.postPage.href}
          })
          .offset-top-10
            h5.text-primary.text-bold
              a.post-news-title(href=cfg.nav.blog.submenu.postPage.href)= news.sect1.elem5
          .offset-top-15
            .post-meta
              span.icon.icon-xxs.fa-calendar.text-gray.text-middle
              time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")= news.sect1.elem6
          p= news.sect1.elem7
      .cell-sm-8.cell-md-4.offset-top-50.offset-md-top-0
        article.post-news
          +thumbnail-default({
            "type": "thumbnail",
            "thumb": {"src": "images/news-03-370x270.jpg", "width": 370, "height": 270, "alt": ""},
            "target": {"href": cfg.nav.blog.submenu.postPage.href}
          })
          .offset-top-10
            h5.text-primary.text-bold
              a.post-news-title(href=cfg.nav.blog.submenu.postPage.href)= news.sect1.elem8
          .offset-top-15
            .post-meta
              span.icon.icon-xxs.fa-calendar.text-gray.text-middle
              time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")= news.sect1.elem9
          p= news.sect1.elem10
    .offset-top-50
      a(href= cfg.nav.blog.submenu.archive.href).btn.btn-primary.btn-sm view all news