// Corporate footer
footer.section-60.page-footer.bg-dark-blue.section-skew
  .skew-block
  .shell-wide
    .range.range-xs-center.range-sm-middle.text-md-left
      .cell-xs-10.cell-md-6
        //Footer brand
        a(href="index.html") !{cfg.brand.logoLight}
      .cell-xs-10.cell-md-6.text-md-right.offset-top-20.offset-md-top-0
        p.text-dark
          | &copy; #[span(id="copyright-year")] All Rights Reserved Terms of Use and #[a(href="privacy.html" class="text-dark") Privacy Policy]

