// Why choose us
section.section-80.section-md-top-65.section-md-bottom-120.bg-dark-blue.context-dark.section-skew.section-skew-wide
  .skew-block
  .shell.text-md-left
    h2= chooseUs.sect1.elem1
    hr.divider.divider-lg.bg-primary.hr-md-left-0
    .range.text-md-left.offset-top-50.range-xs-center
      .cell-sm-8.cell-md-4
        .unit.unit-md.unit-md-horizontal.text-md-left
          .unit-left
            span.icon.icon-lg.icon-circle.icon-primary-filled.fa-thumbs-up
          .unit-body
            h4.text-bold= chooseUs.sect1.elem2
            p= chooseUs.sect1.elem3
      .cell-sm-8.cell-md-4.offset-top-50.offset-md-top-0
        .unit.unit-md.unit-md-horizontal.text-md-left
          .unit-left
            span.icon.icon-lg.icon-circle.icon-primary-filled.fa-users
          .unit-body
            h4.text-bold= chooseUs.sect1.elem4
            p= chooseUs.sect1.elem5
      .cell-sm-8.cell-md-4.offset-top-50.offset-md-top-0
        .unit.unit-md.unit-md-horizontal.text-md-left
          .unit-left
            span.icon.icon-lg.icon-circle.icon-primary-filled.mdi.fa-lock
          .unit-body
            h4.text-bold= chooseUs.sect1.elem6
            p= chooseUs.sect1.elem7

