include ../elements/_ui-thumbnail-classic
section.section-80.section-lg-top-90.section-lg-bottom-120
  .shell.text-sm-left
    h2= ourService.sect1.elem1
    hr.divider.divider-lg.bg-primary.hr-sm-left-0
    .range.range-xs-center.range-sm-left.offset-top-50
      .cell-xs-10.cell-sm-8
        p= ourService.sect1.elem2
    .range.text-left.range-xs-center.offset-top-50
      .cell-xs-8.cell-sm-6.cell-md-4
        +thumbnail-classic({
          "type": "thumbnail",
          "title": ourService.sect1.elem3,
          "thumb": {"src": "images/services/service-01-370x250.jpg", "width": 370, "height": 250, "alt": ""},
          "target": {"href": "services.html"}
        })
      .cell-xs-8.cell-sm-6.cell-md-4.offset-top-30.offset-sm-top-0
        +thumbnail-classic({
          "type": "thumbnail",
          "title": ourService.sect1.elem4,
          "thumb": {"src": "images/services/service-02-370x250.jpg", "width": 370, "height": 250, "alt": ""},
          "target": {"href": "services.html#undefined2"}
        })
      .cell-xs-8.cell-sm-6.cell-md-4.offset-top-30.offset-md-top-0
        +thumbnail-classic({
          "type": "thumbnail",
          "title": ourService.sect1.elem5,
          "thumb": {"src": "images/services/service-03-370x250.jpg", "width": 370, "height": 250, "alt": ""},
          "target": {"href": "services.html#undefined3"}
        })
      .cell-xs-8.cell-sm-6.cell-md-4.offset-top-30
        +thumbnail-classic({
          "type": "thumbnail",
          "title": ourService.sect1.elem6,
          "thumb": {"src": "images/services/service-04-370x250.jpg", "width": 370, "height": 250, "alt": ""},
          "target": {"href": "services.html#undefined4"}
        })
      .cell-xs-8.cell-sm-6.cell-md-4.offset-top-30
        +thumbnail-classic({
          "type": "thumbnail",
          "title": ourService.sect1.elem7,
          "thumb": {"src": "images/services/service-05-370x250.jpg", "width": 370, "height": 250, "alt": ""},
          "target": {"href": "services.html#undefined5"}
        })
      .cell-xs-8.cell-sm-6.cell-md-4.offset-top-30
        +thumbnail-classic({
          "type": "thumbnail",
          "title": ourService.sect1.elem8,
          "thumb": {"src": "images/services/service-06-370x250.jpg", "width": 370, "height": 250, "alt": ""},
          "target": {"href": "services.html#undefined6"}
        })
    .offset-top-50
      a(href= cfg.nav.pages.submenu.pageslvl1.submenu.services1.href).btn.btn-default.btn-sm view all services