//- Includes
include ../elements/_widget-flickrfeed
include ../elements/_widget-tags
.cell-xs-12.cell-xs-push-1.cell-md-push-1
  // Aside post
  h5= sidebar.sect1.elem1
  .text-subline
  article.post-default.text-left
    .offset-top-30
      img.img-responsive.reveal-inline-block(src="images/sidebar-img-01-340x220.jpg", width="340", height="220", alt="")
    .offset-top-20
      p= sidebar.sect1.elem2
    .offset-top-20
      a(href= cfg.nav.pages.submenu.pageslvl1.submenu.aboutUs.href).btn.btn-primary.btn-sm learn more
.offset-top-60.cell-xs-push-2.cell-xs-6.cell-md-push-1.cell-md-12
  // Category
  h5= sidebar.sect1.elem3
  div.text-subline
  ul.list.list-marked.list-marked-primary.offset-top-30
    li
      a(href="#")= sidebar.sect1.elem4
    li
      a(href="#")= sidebar.sect1.elem5
    li
      a(href="#")= sidebar.sect1.elem6
    li
      a(href="#")= sidebar.sect1.elem7
    li
      a(href="#")= sidebar.sect1.elem8
    li
      a(href="#")= sidebar.sect1.elem9
    li
      a(href="#")= sidebar.sect1.elem10
    li
      a(href="#")= sidebar.sect1.elem11

.cell-xs-12.offset-top-60.cell-xs-push-4.cell-md-push-1
  // Flickr Feed
  h5= sidebar.sect1.elem12
  .text-subline
  .offset-top-30.text-center
    +widget-flickrfeed("transitec-58977", {"data-image_q": "src"}, 6)

.cell-xs-12.offset-top-60.cell-xs-push-5.cell-md-push-1
  // Recent Posts
  h5 Recent Posts
  .text-subline
  .offset-top-30
    p.text-bold.text-primary.font-accent.text-line-height-125
      a(href= cfg.nav.blog.submenu.postPage.href)= sidebar.sect1.elem13
    ul.list-inline
      li
        span.icon.icon-xxs.fa-calendar.text-gray.text-middle
        time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")= sidebar.sect1.elem14
      li
        span.icon.icon-xxs.fa-user.text-gray.text-middle
        a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle= sidebar.sect1.elem15
  .offset-top-20
    p.text-bold.text-primary.font-accent.text-line-height-125
      a(href= cfg.nav.blog.submenu.postPage.href)= sidebar.sect1.elem16
    ul.list-inline
      li
        span.icon.icon-xxs.fa-calendar.text-gray.text-middle
        time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")= sidebar.sect1.elem17
      li
        span.icon.icon-xxs.fa-user.text-gray.text-middle
        a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle= sidebar.sect1.elem18

  .offset-top-20
    p.text-bold.text-primary.font-accent.text-line-height-125
      a(href= cfg.nav.blog.submenu.postPage.href)= sidebar.sect1.elem19
    ul.list-inline
      li
        span.icon.icon-xxs.fa-calendar.text-gray.text-middle
        time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")= sidebar.sect1.elem20
      li
        span.icon.icon-xxs.fa-user.text-gray.text-middle
        a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle= sidebar.sect1.elem21

.cell-xs-12.offset-top-60.cell-xs-push-6.cell-md-push-1
  // Tags
  h5 Tags
  .offset-top-20
    +widget-tags("btn btn-xs btn-lightest", [
      {"title": sidebar.sect1.elem22, "href": "#"},
      {"title": sidebar.sect1.elem23, "href": "#"},
      {"title": sidebar.sect1.elem24, "href": "#"},
      {"title": sidebar.sect1.elem25, "href": "#"},
      {"title": sidebar.sect1.elem26, "href": "#"},
      {"title": sidebar.sect1.elem27, "href": "#"},
      {"title": sidebar.sect1.elem28, "href": "#"},
      {"title": sidebar.sect1.elem29, "href": "#"},
      {"title": sidebar.sect1.elem30, "href": "#"}
    ])

.cell-xs-12.offset-top-60.text-center.cell-xs-push-7.cell-md-push-1
  a(href="#")
    img.img-responsive.reveal-inline-block(src="images/banner-340x500.jpg", width="340", height="500", alt="")