// Testimonials
section.section-80.section-md-top-65.section-md-bottom-100.bg-dark-blue.context-dark.section-skew.section-skew-wide
  .skew-block
  .shell.text-md-left
    h2= testimonials.sect1.elem1
    hr.divider.divider-lg.bg-primary.hr-md-left-0
    .offset-top-50
      .owl-carousel.owl-carousel-default(data-loop="false" data-items="1" data-dots="true" data-mouse-drag="false" data-sm-items="2" data-nav="false" data-margin="30")
        div
          .quote
            .unit.unit-md.unit-md-horizontal.text-md-left
              .unit-left
                img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-evelyn-fisher-140x140.jpg", width="140", height="140", alt="")
              .unit-body
                .inset-md-right-40
                  p
                    q= testimonials.sect1.elem2
                  p
                    cite= testimonials.sect1.elem3
        div
          .quote
            .unit.unit-md.unit-md-horizontal.text-md-left
              .unit-left
                img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-lawrence-sims-140x140.jpg", width="140", height="140", alt="")
              .unit-body
                .inset-md-right-40
                  p
                    q= testimonials.sect1.elem4
                  p
                    cite= testimonials.sect1.elem5
        div
          .quote
            .unit.unit-md.unit-md-horizontal.text-md-left
              .unit-left
                img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-cristal-smith-270x270.jpg", width="140", height="140", alt="")
              .unit-body
                .inset-md-right-40
                  p
                    q= testimonials.sect1.elem6
                  p
                    cite= testimonials.sect1.elem7
        div
          .quote
            .unit.unit-md.unit-md-horizontal.text-md-left
              .unit-left
                img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-patrick-pool-170x170.jpg", width="140", height="140", alt="")
              .unit-body
                .inset-md-right-40
                  p
                    q= testimonials.sect1.elem8
                  p
                    cite= testimonials.sect1.elem9
        div
          .quote
            .unit.unit-md.unit-md-horizontal.text-md-left
              .unit-left
                img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-sam-kromstain-270x270.jpg", width="140", height="140", alt="")
              .unit-body
                .inset-md-right-40
                  p
                    q= testimonials.sect1.elem10
                  p
                    cite= testimonials.sect1.elem11
        div
          .quote
            .unit.unit-md.unit-md-horizontal.text-md-left
              .unit-left
                img.img-responsive.reveal-inline-block.img-circle(src="images/users/user-eva-pool-270x270.jpg", width="140", height="140", alt="")
              .unit-body
                .inset-md-right-40
                  p
                    q= testimonials.sect1.elem12
                  p
                    cite= testimonials.sect1.elem13