// Corporate footer
footer.section-65.page-footer.bg-lightest.section-skew
  .skew-block
  .shell
    .range.range-xs-center.range-sm-middle
      .cell-xs-10.cell-md-3.text-md-left.cell-md-push-1
        //Footer brand
        a(href="index.html") !{cfg.brand.logoDark}
      .cell-xs-10.cell-md-3.text-md-right.cell-md-push-3.offset-top-20.offset-md-top-0
        ul.list-inline.list-inline-dark
          li
            a(href="#").icon.icon-xxs.fa-facebook
          li
            a(href="#").icon.icon-xxs.fa-twitter
          li
            a(href="#").icon.icon-xxs.fa-pinterest
          li
            a(href="#").icon.icon-xxs.fa-vimeo
          li
            a(href="#").icon.icon-xxs.fa-google
          li
            a(href="#").icon.icon-xxs.fa-rss
      .cell-xs-10.cell-md-6.cell-md-push-2.offset-top-20.offset-md-top-0
        p.text-gray
          | &copy; #[span(id="copyright-year")] All Rights Reserved Terms of Use and #[a(href="privacy.html" class="text-dark") Privacy Policy]

