section.section-70.section-md-90.section-md-bottom-110
  .shell.text-sm-left
    h2= capabilities.sect1.elem1
    hr.divider.divider-lg.bg-primary.hr-sm-left-0
    .range.range-xs-center.offset-top-50
      .cell-xs-10.cell-sm-5.cell-sm-push-2.text-sm-right
        img.img-responsive.reveal-inline-block(src="images/services-13-450x304.jpg" width="450" height="304" alt="")
      .cell-xs-10.cell-sm-7.cell-sm-push-1.offset-top-30.offset-sm-top-0
        p= capabilities.sect1.elem2
        p= capabilities.sect1.elem3
        .offset-top-20
          a(href= cfg.nav.services.href).btn.btn-sm.btn-primary learn more

