include ../elements/_ui-thumbnail-classic
section.section-90.section-skew.bg-white
  .skew-block
  .shell.text-sm-left
    h2= featuredService.sect1.elem1
    hr.divider.divider-lg.bg-primary.hr-sm-left-0
    .range.text-left.range-xs-center.offset-top-50
      .cell-xs-8.cell-sm-6.cell-md-4
        +thumbnail-classic({
          "type": "thumbnail",
          "title": featuredService.sect1.elem2,
          "thumb": {"src": "images/services/service-01-370x250.jpg", "width": 370, "height": 250, "alt": ""},
          "target": {"href": "services.html#undefined1"}
        })
      .cell-xs-8.cell-sm-6.cell-md-4.offset-top-30.offset-sm-top-0
        +thumbnail-classic({
          "type": "thumbnail",
          "title": featuredService.sect1.elem3,
          "thumb": {"src": "images/services/service-02-370x250.jpg", "width": 370, "height": 250, "alt": ""},
          "target": {"href": "services.html#undefined2"}
        })
      .cell-xs-8.cell-sm-6.cell-md-4.offset-top-30.offset-md-top-0
        +thumbnail-classic({
          "type": "thumbnail",
          "title": featuredService.sect1.elem4,
          "thumb": {"src": "images/services/service-03-370x250.jpg", "width": 370, "height": 250, "alt": ""},
          "target": {"href": "services.html#undefined3"}
        })
      .cell-xs-8.cell-sm-6.cell-md-4.offset-top-30
        +thumbnail-classic({
          "type": "thumbnail",
          "title": featuredService.sect1.elem5,
          "thumb": {"src": "images/services/service-04-370x250.jpg", "width": 370, "height": 250, "alt": ""},
          "target": {"href": "services.html#undefined4"}
        })
      .cell-xs-8.cell-sm-6.cell-md-4.offset-top-30
        +thumbnail-classic({
          "type": "thumbnail",
          "title": featuredService.sect1.elem6,
          "thumb": {"src": "images/services/service-05-370x250.jpg", "width": 370, "height": 250, "alt": ""},
          "target": {"href": "services.html#undefined5"}
        })
      .cell-xs-8.cell-sm-6.cell-md-4.offset-top-30
        +thumbnail-classic({
          "type": "thumbnail",
          "title": featuredService.sect1.elem7,
          "thumb": {"src": "images/services/service-06-370x250.jpg", "width": 370, "height": 250, "alt": ""},
          "target": {"href": "services.html#undefined6"}
        })