section.context-dark.bg-dark-blue
  // Swiper
  .swiper-container.swiper-slider(data-height="35.5%" data-loop="true" data-dragable="false" data-min-height="480px" data-slide-effect="true")
    .swiper-wrapper
      .swiper-slide(data-slide-bg='images/backgrounds/bg-02-1920x660.jpg' style="background-position: center center")
        .swiper-slide-caption
          .container
            .range.range-xs-center.range-lg-left
              .cell-lg-7.text-lg-left.cell-xs-10
                div(data-caption-animate="fadeInUp" data-caption-delay="100")
                  h1
                    a(href= cfg.nav.pages.submenu.pageslvl1.submenu.aboutUs.href)= welcome.sect1.elem1
                .offset-top-30(data-caption-animate="fadeInUp" data-caption-delay="150")
                  h4.font-default.text-light.text-spacing-20.veil.reveal-sm-block= welcome.sect1.elem2
                  h4.font-default.text-light.text-spacing-20.veil-sm= welcome.sect1.elem3
                .offset-top-20(data-caption-animate="fadeInUp" data-caption-delay="200")
                  a(href= cfg.nav.pages.submenu.pageslvl1.submenu.aboutUs.href).btn.btn-default.btn-sm.veil.reveal-lg-inline-block learn more
                  a(href="#" data-custom-toggle="quote-form").btn.btn-primary.btn-sm.veil-lg Request a Quote
      .swiper-slide(data-slide-bg='images/backgrounds/bg-03-1918x761.jpg' style="background-position: center center")
        .swiper-slide-caption
          .container
            .range.range-xs-center.range-lg-left
              .cell-lg-7.text-lg-left.cell-xs-10
                div(data-caption-animate="fadeInUp" data-caption-delay="100")
                  h1
                    a(href= cfg.nav.pages.submenu.pageslvl1.submenu.aboutUs.href)= welcome.sect1.elem4
                .offset-top-30(data-caption-animate="fadeInUp" data-caption-delay="150")
                  h4.font-default.text-light.text-spacing-20.veil.reveal-sm-block= welcome.sect1.elem5
                  h4.font-default.text-light.text-spacing-20.veil-sm= welcome.sect1.elem6
                .offset-top-20(data-caption-animate="fadeInUp" data-caption-delay="200")
                  a(href= cfg.nav.pages.submenu.pageslvl1.submenu.aboutUs.href).btn.btn-default.btn-sm.veil.reveal-lg-inline-block learn more
                  a(href="#" data-custom-toggle="quote-form").btn.btn-primary.btn-sm.veil-lg Request a Quote
      .swiper-slide(data-slide-bg='images/backgrounds/bg-04-1918x660.jpg' style="background-position: center center")
        .swiper-slide-caption
          .container
            .range.range-xs-center.range-lg-left
              .cell-lg-7.text-lg-left.cell-xs-10
                div(data-caption-animate="fadeInUp" data-caption-delay="200")
                  h1
                    a(href= cfg.nav.pages.submenu.pageslvl1.submenu.aboutUs.href)= welcome.sect1.elem7
                .offset-top-30(data-caption-animate="fadeInUp" data-caption-delay="300")
                  h4.font-default.text-light.text-spacing-20.veil.reveal-sm-block= welcome.sect1.elem8
                  h4.font-default.text-light.text-spacing-20.veil-sm= welcome.sect1.elem9
                .offset-top-20(data-caption-animate="fadeInUp" data-caption-delay="500")
                  a(href= cfg.nav.pages.submenu.pageslvl1.submenu.aboutUs.href).btn.btn-default.btn-sm.veil.reveal-lg-inline-block  learn more
                  a(href="#" data-custom-toggle="quote-form").btn.btn-primary.btn-sm.veil-lg Request a Quote
    // Swiper Pagination
    .swiper-pagination
    .quote-form#quote-form
      .container
        .range.range-xs-center.range-lg-right
          .cell-xs-10.cell-sm-8.cell-lg-5.text-left.offset-top-0
            .inset-lg-left-70
              .quote-form-body
                a(href= "" data-custom-toggle="quote-form").close.icon.icon-xxs.fa-close.text-white
                div
                  h3= welcome.sect1.elem10
                .offset-top-25
                  p= welcome.sect1.elem11
                .offset-top-20
                  .form-group
                    select.form-control.select-filter(data-placeholder="Select an option", data-minimum-results-for-search="Infinity")
                      option City-poster
                      option(value="2") San Francisco
                      option(value="3") New York
                      option(value="4") Las Vegas
                  .form-group
                    select.form-control.select-filter(data-placeholder="Select an option", data-minimum-results-for-search="Infinity")
                      option City-recepient
                      option(value="2") San Francisco
                      option(value="3") New York
                      option(value="4") Las Vegas
                  .form-group
                    select.form-control.select-filter(data-placeholder="Select an option", data-minimum-results-for-search="Infinity")
                      option Type of departure
                      option(value="1") Cargo
                      option(value="2") Water
                      option(value="3") Rail
                      option(value="4") Road

                  a(href= cfg.nav.pages.submenu.pageslvl1.submenu.calculate.href).btn.btn-sm.btn-primary know the cost