// Corporate footer
footer.section-60.page-footer.bg-lightest.section-skew
  .skew-block
  .shell
    //Footer brand
    a(href="index.html") !{cfg.brand.logoDark}
    .offset-top-20
      ul.list-inline.list-inline-dark
        li
          a(href="#").icon.icon-xxs.fa-facebook
        li
          a(href="#").icon.icon-xxs.fa-twitter
        li
          a(href="#").icon.icon-xxs.fa-pinterest
        li
          a(href="#").icon.icon-xxs.fa-vimeo
        li
          a(href="#").icon.icon-xxs.fa-google
        li
          a(href="#").icon.icon-xxs.fa-rss
    .offset-top-20
      p.text-dark
        | &copy; #[span(id="copyright-year")] All Rights Reserved Terms of Use and #[a(href="privacy.html" class="text-dark") Privacy Policy]

