// Corporate footer
footer.section-65.page-footer.bg-dark-blue.section-skew.context-dark
  .skew-block
  .shell
    .range.range-xs-center.range-sm-top
      .cell-xs-10.cell-md-4.text-md-left.cell-md-middle.cell-md-push-2
        h5 Recent Posts
        .offset-top-20
          p.text-bold.text-primary.font-accent.text-line-height-125
            a(href= cfg.nav.blog.submenu.postPage.href) You have to transport something – we tell you how!
          ul.list-inline
            li
              span.icon.icon-xxs.fa-calendar.text-dark.text-middle
              time.text-dark.inset-left-5.text-middle(datetime="2016-01-01") March 10, 2016, 12:35
            li
              span.icon.icon-xxs.fa-user.text-dark.text-middle
              span.text-dark.inset-left-10.text-middle Admin
          .offset-top-25
            p.text-bold.text-primary.font-accent.text-line-height-125
              a(href= cfg.nav.blog.submenu.postPage.href) Everything you wanted to know about transportation
            ul.list-inline
              li
                span.icon.icon-xxs.fa-calendar.text-dark.text-middle
                time.text-dark.inset-left-5.text-middle(datetime="2016-01-01") March 17, 2016, 12:35
              li
                span.icon.icon-xxs.fa-user.text-dark.text-middle
                span.text-dark.inset-left-10.text-middle Admin

          .offset-top-25
            p.text-bold.text-primary.font-accent.text-line-height-125
              a(href= cfg.nav.blog.submenu.postPage.href) Meeting the needs of shippers in today's marketplace
            ul.list-inline
              li
                span.icon.icon-xxs.fa-calendar.text-dark.text-middle
                time.text-dark.inset-left-5.text-middle(datetime="2016-01-01") March 23, 2016, 12:35
              li
                span.icon.icon-xxs.fa-user.text-dark.text-middle
                span.text-dark.inset-left-10.text-middle Admin
      .cell-xs-10.cell-md-4.offset-top-50.offset-md-top-0.text-md-left.cell-md-push-3
        h5 About Us
        p.text-dark Our transportation company with 30 years of experience is you best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.
        p.text-dark You are granted complete control over the process of delivery by phone or by our mobile app. Your freight is tracked every step of the way. We provide a high standard of shipping, regardless of its volume.

      .cell-xs-10.cell-md-4.text-md-left.cell-md-push-1.offset-top-50.offset-md-top-0
        //Footer brand
        a(href="index.html") !{cfg.brand.logoLight}
        .offset-top-30
          ul.list-inline.list-inline-dark
            li
              a(href="#").icon.icon-xxs.fa-facebook
            li
              a(href="#").icon.icon-xxs.fa-twitter
            li
              a(href="#").icon.icon-xxs.fa-pinterest
            li
              a(href="#").icon.icon-xxs.fa-vimeo
            li
              a(href="#").icon.icon-xxs.fa-google
            li
              a(href="#").icon.icon-xxs.fa-rss
        .offset-md-top-145.offset-top-20
          p.text-dark
            | &copy; #[span(id="copyright-year")] All Rights Reserved Terms of Use and #[a(href="privacy.html" class="text-dark") Privacy Policy]