-
  var cfg = {
    "brand": {
      "name": "Intense Child Care",
      "slogan": "Best for child care",
      "logoLight": "<img width='165' height='76' src='images/logo-light-165x76.png' alt=''/>",
      "logoDark": "<img width='164' height='76' src='images/logo-dark-164x76.png' alt=''/>"

    },
    "nav": {
      "home": {
        "title": "Home",
        "href": "index.html"
      },
      "vehicleGallery": {
        "title": "Vehicle Gallery",
        "href": "gallery-masonry.html",
        "submenu": {
          "galleryMasonry": {
            "title": "Masonry Grid",
            "href": "gallery-masonry.html"
          },
          "galleryGrid3Column":{
            "title": "Grid With Padding",
            "href": "gallery-grid-3-columns.html"
          },
          "galleryGrid3ColumnFullwidth":{
            "title": "Grid With No Padding",
            "href": "gallery-grid-3-columns-fullwidth.html"
          },
          "galleryCobbles":{
            "title": "Cobbles Grid",
            "href": "gallery-cobbles.html"
          }
        }
      },
      "services": {
        "title": "Services",
        "href": "services.html",
        "submenu" : {
          "transportation" :{
            "title": "Transportation",
            "href": "services.html#0"
          },
          "logistics" :{
            "title": "Logistics",
            "href": "services.html#1"
          },
          "towingService" : {
            "title": "Towing service",
            "href": "services.html#2"
          },
          "leasing": {
            "title": "Maintenance leasing",
            "href": "services.html#3"
          },
          "distribution": {
            "title": "Distribution Services",
            "href": "services.html#4"
          },
          "storage": {
            "title": "Storage",
            "href": "services.html#5"
          }
        }
      },
      "pages": {
        "title": "Pages",
        "href": "#",
        "submenu" : {
          "pageslvl1" : {
            "title": "Pages",
            "href": "#",
            "submenu": {
              "aboutUs" : {
                "title" : "About Us",
                "href" : "about-us.html"
              },
              "prices" : {
                "title":  "Prices",
                "href": "prices.html"
              },
              "calculate" : {
                "title": "Calculate",
                "href": "calculate.html"
              },
              "team" : {
                "title": "Our Team",
                "href": "team.html"
              },
              "services1" : {
                "title": "Services 1",
                "href": "services-1.html"
              },
              "services2" : {
                "title": "Services 2",
                "href": "services-2.html"
              },
              "teamMember": {
                "title": "Team Member Profile",
                "href": "team-member.html"
              },
              "page404":{
                "title": "404",
                "href": "404.html"
              },
              "maintenance":{
                "title" : "Maintenance",
                "href": "maintenance.html"
              },
              "commingSoon":{
                "title": "Comming Soon",
                "href": "comming-soon.html"
              },
              "faq" : {
                "title": "FAQs",
                "href": "faq.html"
              },
              "clients": {
                "title": "Clients",
                "href": "clients.html"
              }
            }
          },
          "aditionalPages" : {
            "title": "Aditional Pages",
            "href": "#",
            "submenu" : {
              "tabsAndAccordions" : {
                "title": "Tabs & Accordions",
                "href": "tabs-and-accordions.html"
              },
              "typography": {
                "title": "Typography",
                "href": "typography.html"
              },
              "forms": {
                "title": "Forms",
                "href": "forms.html"
              },
              "buttons": {
                "title": "Buttons",
                "href": "buttons.html"
              },
              "grid": {
                "title" : "Grid",
                "href": "grid.html"
              },
              "icons": {
                "title": "Icons",
                "href":  "icons.html"
              },
              "tables":{
                "title": "Tables",
                "href": "tables.html"
              },
              "progressBars": {
                "title": "Progress bars",
                "href": "progress-bars.html"
              }
            }
          },
          "elements": {
            "title": "Elements",
            "href": "#",
            "submenu": {
              "headerTransparent" : {
                "title": "Header Transparent",
                "href": "header-transparent.html"
              },
              "headerCenterFooterLight": {
                "title": "Header Center, Footer Light",
                "href": "header-center-footer-light.html"
              },
              "headerMinimalFooterCorporate": {
                "title":  "Header Minimal, Footer Corporate",
                "href": "header-minimal-footer-corporate.html"
              },
              "headerCorporate":{
                "title": "Header Corporate",
                "href": "header-corporate.html"
              },
              "headerHamburgerMenu": {
                "title": "Header Hamburger Menu",
                "href": "header-hamburger-menu.html"
              },
              "footerCenterDark" : {
                "title": "Footer Center Dark",
                "href": "footer-center-dark.html"
              },
              "footerCenterLight" : {
                "title": "Footer Center Light",
                "href": "footer-center-light.html"
              },
              "footerMinimalDark" : {
                "title": "Footer Minimal Dark",
                "href": "footer-minimal-dark.html"
              },
              "footerWidgetLight" : {
                "title": "Footer Widget Light",
                "href": "footer-widget-light.html"
              },
              "footerWidgetDark": {
                "title": "Footer Widget Dark",
                "href": "footer-widget-dark.html"
              }
            }
          }
        }
      },
      "blog": {
        "title": "Blog",
        "href": "blog-default.html",
        "submenu": {
          "archive":{
            "title": "Archive Page",
            "href": "blog-archive.html"
          },
          "blog2ColumnsLayout": {
            "title": "2 Columns Layout",
            "href": "blog-2-columns-layout.html"
          },
          "blog3ColumnsLayout": {
            "title": "3 Columns Grid Layout",
            "href": "blog-3-column-layout.html"
          },
          "default":{
            "title": "Default Blog",
            "href": "blog-default.html"
          },
          "defaultLeftSidebar": {
            "title": "Left Sidebar",
            "href": "blog-left-sidebar.html"
          },
          "defaultRightSidebar": {
            "title": "Right Sidebar",
            "href": "blog-right-sidebar.html"
          },
          "timeline":{
            "title":"Timeline",
            "href": "blog-timeline.html"
          },
          "postPage": {
            "title": "Post Page",
            "href": "blog-post-page.html"
          }
        }
      },
      "contacts": {
        "title": "Contacts",
        "href": "contacts.html",
        "submenu": {
          "contacts1":{
            "title": "Contacts",
            "href": "contacts.html"
          },
          "contacts2":{
            "title":"Contacts 2",
            "href": "contacts-variant-2.html"
          }
        }
      }
    }
  }