﻿@model CatalogPagingFilteringModel
@using Nop.Web.Models.Catalog;

<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            @*sorting*@
            @if (Model.AllowProductSorting)
            {

                @*<div class="product-sorting">*@
                <div>
                    @*<span>@T("Catalog.OrderBy")</span>*@
                    @Html.DropDownList("products-orderby", Model.AvailableSortOptions, new { @class = "form-control", @onchange = "setLocation(this.value);" })
                </div>
            }
        </div>
        <div class="col-md-4 text-center">
            @*view mode*@
            @if (Model.AllowProductViewModeChanging)
            {
                <div>
                    @*<span>@T("Catalog.ViewMode")</span>*@
                    @if (Model.AvailableViewModes.Count > 1)
                    {
                        var gridMode = Model.AvailableViewModes[0];
                        var listMode = Model.AvailableViewModes[1];
                        var noImageMode = Model.AvailableViewModes[2];

                        <a class="fa fa-2x fa-th @if(gridMode.Selected){<text>selected</text>} inset-right-10" href="@gridMode.Value" title="@gridMode.Text"></a>
                        <a class="fa fa-2x fa-list @if(listMode.Selected){<text>selected</text>} inset-right-10" href="@listMode.Value" title="@listMode.Text"></a>
                        <a class="fa fa-2x fa-bars @if(noImageMode.Selected){<text>selected</text>}" href="@noImageMode.Value" title="@noImageMode.Text"></a>
                        @*<a class="" href="@gridMode.Value" title="@gridMode.Text"><span class="fa fa-th"></span>@gridMode.Text</a>
                        <a class="fa fa-list @if (listMode.Selected){<text>selected</text>}" href="@listMode.Value" title="@listMode.Text">@listMode.Text</a>*@
                    }
                </div>
            }
        </div>
        <div class="col-md-4 text-right">
            @*page size*@
            @if (Model.AllowCustomersToSelectPageSize)
            {
                @*<div class="product-page-size">*@
                <div>
                    @*<span>@T("Catalog.PageSize")</span>*@
                    @Html.DropDownList("products-pagesize", Model.PageSizeOptions, new { @class = "form-control", @onchange = "setLocation(this.value);", @style = "width: 100px;" })
                    @*<span>@T("Catalog.PageSize.PerPage")</span>*@
                </div>
            }
        </div>
    </div>
</div>
<hr />