﻿@model IList<CategoryModel>

@using Nop.Web.Models.Catalog;

@if (Model.Count > 0)
{
    <div class="section-lg-top-20 section-md-top-20 section-sm-top-80 section-xs-top-80 section-bottom-50 section-bottom-50 text-left inset-left-40 inset-right-40">
        <h2>Browse Our Catalog</h2>
        <hr class="divider divider-lg bg-primary hr-sm-left-0 offset-bottom-0">
        <div class="range text-left range-xs-center offset-top-0">

            <div class="cell-xs-8 cell-sm-6 cell-md-3 offset-top-30">
                <a class="thumbnail-classic" href="@Url.RouteUrl("Category", new { SeName = "MyProducts" })" target="_self">
                    <figure>
                        <img src="~/Themes/OldhamChem1/Content/images/FavoriteStamp.jpg" alt="">
                        <figcaption class="thumbnail-classic-caption text-center">
                            <span class="icon icon-xxs fa-arrow-right"></span>
                            <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">My Products</h6>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <div class="cell-xs-8 cell-sm-6 cell-md-3 offset-top-30">
                <a class="thumbnail-classic" href="@Url.RouteUrl("Category", new { SeName = "Promotions" })" target="_self">
                    <figure>
                        <img src="~/Themes/OldhamChem1/Content/images/PromotionStamp.png" alt="">
                        <figcaption class="thumbnail-classic-caption text-center">
                            <span class="icon icon-xxs fa-arrow-right"></span>
                            <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">Promotions</h6>
                        </figcaption>
                    </figure>
                </a>
            </div>

            @foreach (var item in Model)
            {
                <div class="cell-xs-8 cell-sm-6 cell-md-3 offset-top-30">
                    <a class="thumbnail-classic" href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title" target="_self">
                        <figure>
                            <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title">
                            <figcaption class="thumbnail-classic-caption text-center">
                                <span class="icon icon-xxs fa-arrow-right"></span>
                                <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">@item.Name</h6>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            }

            @*<div class="cell-xs-8 cell-sm-6 cell-md-3 offset-top-30">
        <a class="thumbnail-classic" href="@Url.RouteUrl("ManufacturerList")" target="_self">
            <figure>
                <img src="~/Themes/OldhamChem1/Content/images/services-09-370x250.jpg" alt="">
                <figcaption class="thumbnail-classic-caption text-center">
                    <span class="icon icon-xxs fa-arrow-right"></span>
                    <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">Manufacturers</h6>
                </figcaption>
            </figure>
        </a>
    </div>
    <div class="cell-xs-8 cell-sm-6 cell-md-4 offset-top-30">
        <a class="thumbnail-classic" href="#" target="_self">
            <figure>
                <img width="400" height="250" src="~/Themes/OldhamChem1/Content/images/special-offer-370x250.jpg" alt="">
                <figcaption class="thumbnail-classic-caption text-center">
                    <span class="icon icon-xxs fa-arrow-right"></span>
                    <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">Promotions</h6>
                </figcaption>
            </figure>
        </a>
    </div>*@
        </div>
    </div>
}