﻿@model IList<CategoryModel>

@using Nop.Web.Models.Catalog;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}

<h2>@T("PageTitle.Catalog")</h2>

@if (Model != null && Model.Count > 0)
{
    <div class="category-grid sub-category-grid">
        <div class="item-grid">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    <div class="sub-category-item">
                        <h2 class="title">
                            <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                @item.Name
                            </a>
                        </h2>
                        <div class="picture">
                            <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
