﻿@model CategoryModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(categoryUrl);
    }

    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
}
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;




@*category breadcrumb*@
@section Breadcrumb
{
    @if (Model.DisplayCategoryBreadcrumb)
    {
        <section class="section-20 section-md-20 section-md-bottom-0">
            <div class="shell text-sm-left">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <h2>@T("Categories.Breadcrumb.Top")</h2>
                            <hr class="divider divider-lg bg-primary hr-sm-left-0">
                        </div>
                        <div class="col-md-9">
                            <div class="breadcrumb-classic offset-md-top-12">
                                <ul class="list-inline list-inline-lg list-inline-dashed p">
                                    @foreach (var cat in Model.CategoryBreadcrumb)
                                    {
                                        var isLastCategory = cat.Id == Model.Id;
                                        <li style="font-size: 20px;"><strong>
                                            @if (isLastCategory)
                                            {
                                                @cat.Name
                                            }
                                            else
                                            {
                                                <a href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" title="@cat.Name">@cat.Name</a>
                                                    @*<span class="delimiter">@breadcrumbDelimiter</span>*@
                                            }
                                        </strong></li>
                                    }
                                </ul>
                            </div>
                            @Html.Widget("categorydetails_after_breadcrumb", Model.Id)
                        </div>
                    </div>
                </div>
            </div>
        </section>        
    }
}


                <div class="page category-page">
                    <div class="page-body">
                        @*description*@
                        @if (!String.IsNullOrWhiteSpace(Model.Description))
                        {
                            <div class="category-description">
                                @Html.Raw(Model.Description)
                            </div>
                        }
                        @if (Model.Products.Count == 0)
                        {
                            <div class="alert alert-warning">You do not have any approved products</div>
                        }
                        @if (Model.Products.Count > 0)
                        {
                            @Html.Partial("_CatalogSelectors", Model.PagingFilteringContext, new ViewDataDictionary())
                        }

                        @Html.Widget("categorydetails_before_filters", Model.Id)

                        @if (Model.PagingFilteringContext.PriceRangeFilter.Enabled || Model.PagingFilteringContext.SpecificationFilter.Enabled)
                        {
                            <div class="product-filters">
                                @*filtering*@
                                @if (Model.PagingFilteringContext.PriceRangeFilter.Enabled)
                                {
                                    @Html.Partial("_FilterPriceBox", Model.PagingFilteringContext.PriceRangeFilter, new ViewDataDictionary())
                                }
                                @*filtering*@
                                @if (Model.PagingFilteringContext.SpecificationFilter.Enabled)
                                {
                                    @Html.Partial("_FilterSpecsBox", Model.PagingFilteringContext.SpecificationFilter, new ViewDataDictionary())
                                }
                            </div>
                        }
                        @Html.Widget("categorydetails_before_product_list", Model.Id)

                        @if (Model.Products.Count > 0)
                        {
                            if (Model.PagingFilteringContext.ViewMode == "noimage")
                            {
                                <div class="row">
                                    <div class="col-md-2 text-bold">Sku</div>
                                    <div class="col-md-5 text-bold">Product</div>
                                    <div class="col-md-2 text-center text-bold">Price</div>
                                    <div class="col-md-3 text-center text-bold">Quantity</div>
                                </div>
                                <hr />
                                foreach (var product in Model.Products)
                                {
                                        @Html.Partial("_ProductList.Simple", product)
                                    <hr />
                                }
                            }
                            else
                            {
                                <div class="@(Model.PagingFilteringContext.ViewMode == "list" ? "product-list" : "product-grid")">
                                    <div class="item-grid">
                                        @foreach (var product in Model.Products)
                                        {
                                            <div class="item-box">
                                                @Html.Partial("_ProductBox", product)
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        }
                        @{
                            var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
                        }
                        @if (!pager.IsEmpty())
                        {
                            <hr />
                            <div class="text-center">
                                @pager
                            </div>
                        }
                        @Html.Widget("categorydetails_bottom", Model.Id)
                    </div>
                </div>
