﻿@model Nop.Web.Models.Catalog.SearchModel

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.SDSLabels").Text);    
}

<main class="page-content">
    <section class="section-lg-top-20 section-md-top-20 section-sm-top-150 section-xs-top-150 section-bottom-50">
        <div class="shell text-sm-left">
            <h2>@T("PageTitle.SDSLabels")</h2>
            <hr class="divider divider-lg bg-primary hr-sm-left-0">
            <div class="container-fluid">
                <form>
                    <div class="form-group">
                        @Html.LabelFor(m => m.q, "Product Name/Sku", new { @class = "form-label rd-input-label" })
                        @Html.TextBoxFor(m => m.q, new { @class = "form-control" })                        
                    </div>
                    <div>
                        <input id="Search" class="btn btn-sm btn-primary"  type="submit" value="Search SDS/Label" />
                    </div>
                </form>
                <hr />
                @if (Model.Products != null && Model.Products.Any())
                {
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>SKU(s)</th>
                                @*<th>Manufacturer</th>*@
                                <th>SDS</th>
                                <th>Label</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model.Products)
                            {
                                <tr>
                                    <td><a href="@Url.RouteUrl("Product", new { SeName = product.SeName })" title="@product.Name">@product.Name</a></td>
                                    <td>@product.Sku</td>
                                    @*<td>                                    
                                    </td>*@
                                    <td>
                                        @{ 
                                            string SkuForSDSAndLabel = null;
                                            if (!String.IsNullOrWhiteSpace(product.Sku))
                                            {
                                                if (product.Sku.Contains(", "))
                                                {
                                                    SkuForSDSAndLabel = product.Sku.Split(',')[0].Trim();
                                                }
                                                else
                                                {
                                                    SkuForSDSAndLabel = product.Sku;
                                                }
                                            }

                                        }
                                        @if (!String.IsNullOrWhiteSpace(SkuForSDSAndLabel) && product.SpecificationAttributeModels.Any(a => a.SpecificationAttributeName == "SDS"))
                                        {
                                            <a href="/Catalog/SDS/@SkuForSDSAndLabel" target="_blank">SDS</a>
                                        }
                                    </td>
                                    <td>
                                        @if (!String.IsNullOrWhiteSpace(SkuForSDSAndLabel) && product.SpecificationAttributeModels.Any(a => a.SpecificationAttributeName == "Label"))
                                        {
                                            <a href="/Catalog/Label/@SkuForSDSAndLabel" target="_blank">Label</a>
                                        }
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>

        </div>
    </section>
</main>

<script type="text/javascript">

    $(function () {

    });

</script>