﻿@model SearchBoxModel
@using Nop.Web.Models.Catalog;
@*<form action="search-results.html" data-search-live="rd-search-results-live" method="GET" class="rd-navbar-search-form search-form-icon-right rd-search">
        <div class="form-group">
            <label for="rd-navbar-search-form-input" class="form-label">Search</label>
            <input id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest" />
            <div id="rd-search-results-live" class="rd-search-results-live"></div>
        </div>
    </form>*@
@using (Html.BeginRouteForm("ProductSearch", FormMethod.Get, new { @id = "small-search-box-form", @class = "rd-navbar-search-form search-form-icon-right rd-search" }))
{
    <div class="input-group">
        <input id="small-searchterms" type="text" name="q" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest" placeholder="@T("Search.SearchBox.Tooltip")" />
        @*@Html.Widget("searchbox_before_search_button")*@
        <span class="input-group-btn"><input type="submit" class="btn btn-sm btn-primary" style="height: auto;" value="@T("Search.Button")" /></span>
    </div>

    if (Model.SearchTermMinimumLength > 0)
    {
        <script type="text/javascript">

            $("#small-search-box-form").submit(function(event) {

                if ($("#small-searchterms").val() == "") {

                    alert('@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Search.EnterSearchTerms").Text))');
                    $("#small-searchterms").focus();
                    event.preventDefault();

                }

            });

        </script>
    }

    if (Model.AutoCompleteEnabled)
    {
        <text>
            <script type="text/javascript">

                $(function() {

                    $('#small-searchterms, #small-searchterms-mobile').autocomplete({
                            delay: 500,
                            minLength: @(Model.SearchTermMinimumLength.ToString()),
                            source: '@(Url.RouteUrl("ProductSearchAutoComplete"))',
                            appendTo: '.search-box',
                            select: function(event, ui) {
                                $("#small-searchterms, #small-searchterms-mobile").val(ui.item.label);
                                setLocation(ui.item.producturl);
                                return false;
                            }
                        })
                        .data("ui-autocomplete")._renderItem = function(ul, item) {
                            var t = item.label;
                            //html encode
                            t = htmlEncode(t);
                            return $("<li></li>")
                                .data("item.autocomplete", item)
                                .append("<a>@(Model.ShowProductImagesInSearchAutoComplete ? Html.Raw("<img src='\" + item.productpictureurl + \"'>") : null)<span>" + t + "</span></a>")
                                .appendTo(ul);
                        };

                    $("#small-searchterms").focus();

                });

            </script>
        </text>
    }
    @Html.Widget("searchbox")
}