﻿@model SearchModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Search").Text);
}
@using Nop.Web.Models.Catalog;
<script type="text/javascript">
    $(document).ready(function () {

        $("#@Html.FieldIdFor(model => model.adv)").click(toggleAdvancedSearch);

        toggleAdvancedSearch();
    });

    function toggleAdvancedSearch() {

        if ($('#@Html.FieldIdFor(model => model.adv)').is(':checked')) {
            $('#advanced-search-block').show();
        }
        else {
            $('#advanced-search-block').hide();
        }
    }
</script>
@*category breadcrumb*@
@section Breadcrumb
{
    <section class="section-20 section-md-20 section-md-bottom-0">
        <div class="shell text-sm-left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <h2>@T("Categories.Breadcrumb.Top")</h2>
                        <hr class="divider divider-lg bg-primary hr-sm-left-0">
                    </div>
                    <div class="col-md-9" style="font-size: 20px; margin-top: 10px;">
                        <h3>@T("Search")</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<main class="page-content">
    <section class="section-20 section-md-20 section-md-bottom-50">
        <div class="shell text-sm-left">
            @using (Html.BeginRouteForm("ProductSearch", FormMethod.Get))
            {
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.q, new { @class = "form-label" })
                                @Html.TextBoxFor(model => model.q, new { autofocus = "autofocus", @class = "form-control form-validation-inside" })
                            </div>
                            @Html.Widget("productsearch_page_basic")
                        </div>
                    </div>
                    <div class="row offset-top-10">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.CheckBoxFor(model => model.sid)
                                @Html.LabelFor(model => model.sid)
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="form-group">
                                @Html.CheckBoxFor(model => model.adv)
                                @Html.LabelFor(model => model.adv)
                            </div>
                        </div>
                    </div>
                </div>
                <div id="advanced-search-block" class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            @if (Model.AvailableCategories.Count > 0)
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.cid, new { @class = "form-label" })
                                    @Html.DropDownListFor(model => model.cid, Model.AvailableCategories)
                                </div>
                                <div class="form-group">
                                    @Html.CheckBoxFor(model => model.isc)
                                    @Html.LabelFor(model => model.isc)
                                </div>
                            }
                        </div>
                        <div class="col-md-6">
                            @if (Model.AvailableManufacturers.Count > 0)
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.mid, new { @class = "form-label" })
                                    @Html.DropDownListFor(model => model.mid, Model.AvailableManufacturers)
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @*<label>@T("Search.PriceRange"):</label>*@
                                <span class="price-range">
                                    @*@T("Search.PriceRange.From")*@
                                    @Html.LabelFor(model => model.pf, T("Search.PriceRange").Text + ": " + T("Search.PriceRange.From").Text, new { @class = "form-label" })                                    
                                    @Html.TextBoxFor(model => model.pf, new { autofocus = "autofocus", @class = "form-control form-validation-inside price-from" })
                                    
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @*@T("Search.PriceRange.To")*@
                                @Html.LabelFor(model => model.pt, T("Search.PriceRange").Text + ": " + T("Search.PriceRange.To").Text, new { @class = "form-label" })
                                @Html.TextBoxFor(model => model.pt, new { autofocus = "autofocus", @class = "form-control form-validation-inside price-to" })
                            </div>
                        </div>
                        @Html.Widget("productsearch_page_advanced")
                    </div>                        
                </div>
                <div class="container-fluid offset-bottom-10 offset-top-10">
                    <input type="submit" class="btn btn-sm btn-primary search-button" value="@T("Search.Button")" />
                </div>
            }

            @if (Model.Products.Count > 0)
            {
                @Html.Partial("_CatalogSelectors", Model.PagingFilteringContext, new ViewDataDictionary())
            }

            @Html.Widget("productsearch_page_before_results")
            
            <div class="search-results">
                @if (!String.IsNullOrEmpty(Model.Warning))
                {
                    <div class="warning">
                        @Model.Warning
                    </div>
                }

                @if (Model.NoResults)
                {
                    <div class="no-result">
                        @T("Search.NoResultsText")
                    </div>
                }

                @if (Model.Products.Count > 0)
                {
                    if (Model.PagingFilteringContext.ViewMode == "noimage")
                    {
                        <div class="row">
                            <div class="col-md-2 text-bold">Sku</div>
                            <div class="col-md-5 text-bold">Product</div>
                            <div class="col-md-2 text-center text-bold">Price</div>
                            <div class="col-md-3 text-center text-bold">Quantity</div>
                        </div>
                                <hr />
                        foreach (var product in Model.Products)
                        {
                            @Html.Partial("_ProductList.Simple", product)
                            <hr />
                        }
                    }
                    else
                    {
                        <div class="@(Model.PagingFilteringContext.ViewMode == "list" ? "product-list" : "product-grid")">
                            <div class="item-grid">
                                @foreach (var product in Model.Products)
                                {
                                    <div class="item-box">
                                        @Html.Partial("_ProductBox", product)
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }

                @{
                    var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").BooleanParameterName("adv").BooleanParameterName("isc").BooleanParameterName("sid").RenderEmptyParameters(true);
                }

                @if (!pager.IsEmpty())
                {
                    <div class="text-center">
                        @pager
                    </div>
                }
            </div>
            @Html.Widget("productsearch_page_after_results")
        </div>
    </section>
</main>

                @*<div class="page search-page">
                    <div class="page-body">
                        <div class="search-input">
                            
                        </div>
                    </div>
                </div>*@
