﻿@model TopMenuModel
@using Nop.Web.Models.Catalog;

@helper RenderCategoryLine(CategorySimpleModel category, int level, bool responsiveMobileMenu)
{
    <li>
        <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name
        @if (category.NumberOfProducts.HasValue)
        {
            <text> </text>@T("Categories.TotalProducts", category.NumberOfProducts.Value)
        }
        </a>
        @{
            //Deleted the code to render the subcategories

            var levelClass = "";
            if (level == 0)
            {
                levelClass = "first-level";
            }
        }
    </li>
}

<ul class="rd-navbar-nav">
    @Html.Widget("header_menu_before")
    @{
        var rootCategories = Model.Categories.Where(x => x.IncludeInTopMenu).ToList();
        bool IsAuthenticated = HttpContext.Current.User.Identity.IsAuthenticated; //WorkContext.CurrentCustomer != null;
        var FirstCategory = (IsAuthenticated ? "MyProducts" : Model.Categories.FirstOrDefault().SeName);
    }

    <li><a href="@Url.RouteUrl("Category", new { SeName = "MyProducts" })">My Products</a>
        <ul class="rd-navbar-dropdown">
            <li><a href="@Url.RouteUrl("Category", new { SeName = "MyProducts" })">Contract Prices</a></li>
            <li><a href="@Url.RouteUrl("Category", new { SeName = "Favorites" })">Favorite Products</a></li>
        </ul>
    </li>
    <li><a href="@Url.RouteUrl("Category", new { SeName = "Promotions" })">Promotions</a></li>
    <li><a href="@Url.RouteUrl("Catalog")">@T("PageTitle.Catalog")</a>    
        <ul class="rd-navbar-dropdown">
            @foreach (var category in rootCategories)
            {
                @RenderCategoryLine(category, 0, false)
            }
            <li><a href="@Url.RouteUrl("ManufacturerList")">@T("PageTitle.Manufacturers")</a></li>
        </ul>
    </li>
    <li><a href="@Url.RouteUrl("Category", new { SeName = "SDSLabels" })">SDS/Labels</a></li>
    <li><a href="@Url.RouteUrl("Topic", new { SeName = "about-us" })">Company</a>
        <ul class="rd-navbar-dropdown">
            <li><a href="@Url.RouteUrl("Topic", new { SeName = "about-us" })">About Us</a></li>
            <li><a href="@Url.RouteUrl("Topic", new { SeName = "locations" })">Our Locations</a></li>
            <li><a href="@Url.RouteUrl("NewsArchive")">@T("News")</a></li>
            <li><a href="@Url.RouteUrl("Topic", new { SeName = "return-and-refund-policy" })">Return/Refund Policy</a></li>
            <li><a href="@Url.RouteUrl("Topic", new { SeName = "contactus" })">Contact Us</a></li>
        </ul>
    </li>
    @*@foreach (var topic in Model.Topics)
    {
        //string Action = ViewContext.RouteData.Values["generic_se_name"].ToString();
        //bool IsActive = Action == topic.SeName;
        //string ActiveClass = IsActive ? "active" : "";
        <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
    }*@
    @if (rootCategories.Count == 0 && Model.Topics.Count == 0)
    {
        //no categories or topis to display? in this case let's diplay some default menu items (should we?)
        <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
        if (Model.NewProductsEnabled)
        {
            <li><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a>
            </li>
        }
        <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a></li>
        <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
        if (Model.BlogEnabled)
        {
            <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
        }
        if (Model.ForumEnabled)
        {
            <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
        }
        <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
    }
    @Html.Widget("header_menu_after")
</ul>

    
    <script type="text/javascript">
        $(document).ready(function () {
            $('.menu-toggle').click(function () {
                $(this).siblings('.top-menu.mobile').slideToggle('slow');
            });
            $('.top-menu.mobile .sublist-toggle').click(function () {
                $(this).siblings('.sublist').slideToggle('slow');
            });
        });
    </script>
}



