﻿@{
    Layout = "";
}
@model Nop.Plugin.Payments.PurchaseOrder.Models.PaymentInfoModel
@using Nop.Web.Framework;
<div class="form-group">
    @Html.LabelFor(model => model.PurchaseOrderNumber, new { @class = "form-label" })
    @*@Html.NopLabelFor(model => model.PurchaseOrderNumber, false)*@
    @Html.TextBoxFor(model => model.PurchaseOrderNumber, new { @class = "form-control", autocomplete = "off", maxlength = "25" })
    <div class="help-block text-left">Please do not enter special instructions into this field.</div>
    @Html.ValidationMessageFor(model => model.PurchaseOrderNumber)
    
</div>
<script type="text/javascript">
    $(function () {

        var PONumberLabel = $("label[for='PurchaseOrderNumber']");

        if (PONumberLabel) {
            plugins.rdInputLabel.push($("label[for='PurchaseOrderNumber']")[0]);

        }

        plugins.rdInputLabel.RDInputLabel();
    });

</script>
@*<table width="100%" cellspacing="2" cellpadding="1" border="0">
    <tr>
        <td width="100px">
        </td>
        <td>
        </td>
    </tr>
</table>*@
