-
  var text = {
    "sect1": {
      "elem1": "company at a glance",
      "elem2": "Our transportation company with 30 years of experience is you best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.",
      "elem3": "You are granted complete control over the process of delivery by phone or by our mobile app. Your freight is tracked every step of the way. We provide a high standard of shipping, regardless of its volume. If your company needs to establish a supply chain, we have prepared several readymade solutions with flexible pricing rates for you. Our urgent cargo services offer defined time frames for convenience of your business. Our supply chain services include shipping, warehousing, packaging, quality control and distribution."
    },
    "sect2": {
      "elem1": "counters",
      "elem2": "Trucks",
      "elem3": "Planes",
      "elem4": "Vessels",
      "elem5": "Tons of cargo"
    },
    "sect3": {
      "elem1": "what we offer",
      "elem2": "Team Spirit",
      "elem3": "We help each other, wherever we are. This makes work easier.",
      "elem4": "Join the Industry",
      "elem5": "As you might expect, joining this industry gives new opportunities.",
      "elem6": "Find the Nearest Branch",
      "elem7": "You can freely use our interactive map to find the nearest office.",
      "elem8": "New Technologies",
      "elem9": "If you're in logistics, expect to work with 3-D graphics.",
      "elem10": "24/7 Support",
      "elem11": "Our experts work day and night to solve all your car-related problems.",
      "elem12": "Document Preparation",
      "elem13": "Our document maintenance methodology is dependable."
    },
    "sect4": {
      "elem1": "Professional team",
      "elem2": "Mark Johnson",
      "elem3": "Finance Director",
      "elem4": "Mark is the Finance Director at Transitec and started in 2015. He is responsible for the...",
      "elem5": "Eva Pool",
      "elem6": "Office Manager",
      "elem7": "Eva is the Office Manager at Transitec and has been with the company since 2011...",
      "elem8": "Sam Kromstain",
      "elem9": "Head of Account Management",
      "elem10": "Sam joined Transitec in September 2015 as the Head of Account Management and Customer...",
      "elem11": "Cristal Smith",
      "elem12": "Commercial Relationship Manager",
      "elem13": "Cristal is the Commercial Relationship Manager at Transitec and is responsible for a portfolio..."
    }
  }