-
  var sidebar = {
    "sect1" : {
      "elem1": "About Us",
      "elem2": "Our transportation company with 30 years of experience is you best choice for shipping cargo of any size, storage, packing or delivering wares to your customers.",
      "elem3": "Categories",
      "elem4": "Preservation",
      "elem5": "Mobility",
      "elem6": "Environment",
      "elem7": "Stewardship",
      "elem8": "Economic Vitality",
      "elem9": "Modern vehicle fleet",
      "elem10": "Innovative technologies",
      "elem11": "Corporate discounts",
      "elem12": "Flickr Feed",

      "elem13": "You have to transport something – we tell you how!",
      "elem14": "March 10, 2016, 12:35",
      "elem15": "Admin",

      "elem16": "Everything you wanted to know about transportation",
      "elem17": "March 17, 2016, 12:35",
      "elem18": "Admin",

      "elem19": "Meeting the needs of shippers in today's marketplace",
      "elem20": "March 23, 2016, 12:35",
      "elem21": "Admin",

      "elem22": "Cheap",
      "elem23": "Transportation",
      "elem24": "Safe",
      "elem25": "Packaging",
      "elem26": "Air",
      "elem27": "Logistics",
      "elem28": "Trucking",
      "elem29": "Vessels",
      "elem30": "Storage"
    }
  }
