-
  var text = {
    "sect1": {
      "elem1": "Truckers to Seek HOS Waiver to Ease Calif",
      "elem2": "September 16, 2016, 12:20",
      "elem3": "Admin",
      "elem4": "2",
      "elem5": "Southern California port truckers, crippled by extensive delays, intend to seek the first-ever federal hours-of-service rule waiver for the sector in a bid to free up clogged cargo at the two largest U.S. ports. “The situation is dire right now,” said Mike Johnson, president of the Harbor Trucking Association and...",

      "elem6": "Parking Shortage Worsens in Every City Nowadays",
      "elem7": "September 24, 2016, 12:20",
      "elem8": "Admin",
      "elem9": "2",
      "elem10": "WASHINGTON — Concerns over the ongoing plight to park trucks safely is prompting a group of national and regional stakeholders to plan ways to improve parking availability, given a new Department of Transportation survey that found dire shortages in metropolitan areas. Deputy Transportation Secretary...",

      "elem11": "Don’t Push for Profitability Pull! You Need to Know:",
      "elem12": "January 10, 2016, 16:40",
      "elem13": "Admin",
      "elem14": "2",
      "elem15": "Operational costs consume much of the revenue a carrier can earn and is therefore suspect in being the biggest drain on profits for most carriers. The majority of operational costs are incurred the moment the driver is dispatched to the customer’s facility for a pick up or delivery. Along the way to the customer’s...",

      "elem16": "For-hire Freight Dips Slightly in January, BTS reports",
      "elem17": "January 12, 2016, 12:30",
      "elem18": "Admin",
      "elem19": "2",
      "elem20": "The Bureau of Transportation Statistics (BTS) reports that the Freight Transportation Services Index (TSI) — which is based on the amount of freight carried by the for-hire transportation industry — fell 0.2 percent in January from December. This is second consecutive month of decline. The January 2015 index level...",

      "elem21": "Load Boards Show Flat Demand, Higher Rates",
      "elem22": "January 20, 2016, 12:35",
      "elem23": "Admin",
      "elem24": "2",
      "elem25": "Spot market freight activity is softening modestly on a sequential basis, though rates paid to carriers continue to hit record levels, two load board operators said last week in separate reports. DAT’s Trendlines report said national average rates remained at $2.44 per mile for refrigerated freight, and 3 cents less for flatbeds. At the same time, van rates rose 1 cent to $2.08 per mile in the June 15-22 period compared...",

      "elem26": "BTS Updates Transportation Statistics",
      "elem27": "July 23, 2016, 12:35",
      "elem28": "Admin",
      "elem29": "2",
      "elem30": "The U.S. Department of Transportation’s Bureau of Transportation Statistics (BTS) on July 17 updated National Transportation Statistics (NTS) — a web-only reference guide to national-level transportation data. NTS, updated quarterly, includes a wide range of national transportation information. NTS consists of more than 260 tables of national data on the transportation system, safety, the economy and energy and the..."
    }
  }
//- Include sidebar
include ../dump/_blog-sidebar