-
  var text = {
    "sect1": {
      "elem1": "Truckers to Seek HOS Waiver to Ease Calif",
      "elem2": "September 16, 2016, 12:20",
      "elem3": "Admin",
      "elem4": "2",
      "elem5": "Southern California port truckers, crippled by extensive delays, intend to seek the first-ever federal hours-of-service rule waiver for the sector in a bid to free up clogged cargo at the two largest U.S. ports. “The situation is dire right now,” said Mike Johnson, president of the Harbor Trucking Association and...",

      "elem6": "Parking Shortage Worsens in Every City Nowadays",
      "elem7": "September 24, 2016, 12:20",
      "elem8": "Admin",
      "elem9": "2",
      "elem10": "WASHINGTON — Concerns over the ongoing plight to park trucks safely is prompting a group of national and regional stakeholders to plan ways to improve parking availability, given a new Department of Transportation survey that found dire shortages in metropolitan areas. Deputy Transportation Secretary...",

      "elem11": "Don’t Push for Profitability Pull! You Need to Know:",
      "elem12": "January 10, 2016, 16:40",
      "elem13": "Admin",
      "elem14": "2",
      "elem15": "Operational costs consume much of the revenue a carrier can earn and is therefore suspect in being the biggest drain on profits for most carriers. The majority of operational costs are incurred the moment the driver is dispatched to the customer’s facility for a pick up or delivery. Along the way to the customer’s...",

      "elem16": "For-hire Freight Dips Slightly in January, BTS reports",
      "elem17": "January 12, 2016, 12:30",
      "elem18": "Admin",
      "elem19": "2",
      "elem20": "The Bureau of Transportation Statistics (BTS) reports that the Freight Transportation Services Index (TSI) — which is based on the amount of freight carried by the for-hire transportation industry — fell 0.2 percent in January from December. This is second consecutive month of decline. The January 2015 index level...",
    }
  }
//- Include sidebar
include ../dump/_blog-sidebar