-
  var text = {
  "sect1": {
    "elem1": "Truckers to Seek HOS Waiver to Ease Calif",
    "elem2": "September 16, 2016, 12:20",
    "elem3": "Admin",
    "elem4": "2",
    "elem5": "Southern California port truckers, crippled by extensive delays, intend to seek the first-ever federal hours-of-service rule waiver for the sector in a bid to free up clogged cargo at the two largest U.S. ports. “The situation is dire right now,” said Mike Johnson, president of the Harbor Trucking Association and operations manager for Port Logistics Group.",
    "elem6": "He told Transport Topics the waiver from the Federal Motor Carrier Safety Administration is required because truckers need more time to move delayed cargo. Johnson explained that cargo is unloaded faster from ships at Los Angeles and neighboring Long Beach than it can be moved through terminals. Chassis shortages, not enough dockworkers and cargo surges from larger vessels add to congestion.",
    "elem7": "Some shippers and brokers have advised of delays of at least 10 days. “There is a most compelling waiver case that can be made in the Southern California region,” said Curtis Whalen, executive director of American Trucking Associations’ Intermodal Motor Carrier Conference. He said the waiver request covering 90 days could be filed within two weeks.",
    "elem8": "Whalen stressed that congestion-plagued port truckers are similar to others who have been granted waivers. Because of the extensive waiting time at port gates and inside the terminals, those truckers today are in a similar situation to others who have been granted FMCSA waivers, he said. In those cases, waivers were granted for extended workdays, such as 16 hours on duty on a temporary basis to respond to crisis situations.",
    "elem9": "Whalen compared port truckers with a power company or agricultural workers who also don’t spend much of their work time driving.",

    "elem10": "Share:",

    "elem11": "Posted By",
    "elem12": "Patrick Pool",
    "elem13": "Vice President, Logistics",
    "elem14": "We use only eco-friendly vehicles to carry out transportation.",
    "elem15": "Our carriers have successfully passed all the emissions tests, so if your company states care about nature as your primary feature, it will be true on all stages including transportation. We can additionally certify your products as eco-friendly thanks to our partnership with the largest independent testing agencies.",

    "elem16": "Related Posts",
    "elem17": "Parking Shortage Worsens in Every City Nowadays",
    "elem18": "September 24, 2016, 12:20",
    "elem19": "Admin",
    "elem20": "2",
    "elem21": "WASHINGTON — Concerns over the ongoing plight to park trucks safely is prompting a group of national and regional stakeholders to plan ways to improve parking availability, given a new Department of Transportation survey that found dire shortages in metropolitan areas. Deputy Transportation Secretary Victor Mendez said a National Coalition on Truck Parking would convene in a few months to develop...",

    "elem22": "Don’t Push for Profitability Pull! You Need to Know:",
    "elem23": "January 10, 2016, 16:40",
    "elem24": "Admin",
    "elem25": "2",
    "elem26": "Operational costs consume much of the revenue a carrier can earn and is therefore suspect in being the biggest drain on profits for most carriers. The majority of operational costs are incurred the moment the driver is dispatched to the customer’s facility for a pick up or delivery. Along the way to the customer’s dock, costs impact the carrier’s earnings in the form of fuel/oil costs, tractor/trailer payments, repair...",

    "elem27": "2 comments",
    "elem28": "John Doe",
    "elem29": "September 16, 2016, 12:20",
    "elem30": "John Doe",
    "elem31": "Thanks a lot for the quick response. I was really impressed, your solution is excellent!! Your competence is justified!!",
    "elem32": "Kathy Gordon",
    "elem33": "September 17, 2016, 12:20",
    "elem34": "Kathy Gordon",
    "elem35": "Thanks for sharing! Very informative article!",
    "elem36": "John Doe",

    "elem37": "Leave Your Comment"
    }
  }
//- Include sidebar
include ../dump/_blog-sidebar