-
  var text = {
    "sect1": {
      "elem1": "Button Sizes",
      "elem2": "4 different sizes: super, large, default and small.",
      "elem3": "Button Shapes",
      "elem4": "4 different shapes: default, round, square and circle.",
      "elem5": "Buttons with Icons",
      "elem6": "Buttons are fully integrated with 900+ icons.",
      "elem7": "Buttons with Shadow",
      "elem8": "Enhance your button with a shadow effect."
    }
  }