-
  var text = {
    "sect1": {
      "elem1": "Testimonials",
      "elem2": "Jenny Myers",
      "elem3": "I’ve been looking for affordable yet high-quality services to move the property of my company to another state. You did everything better than I expected.",
      "elem4": "Peter Johnson",
      "elem5": "My company needed a fast transportation of very expensive equipment. due to your services, it was delivered in a very short term. Thank you for your timely and affordable assistance!",
      "elem6": "Danny Nelson",
      "elem7": "Thank you for the job you’ve done for me! I thought it was impossible to deliver my cars overseas from Spain, but you managed to do it. The cars were delivered quickly and secure.",
      "elem8": "Peter Johnson",
      "elem9": "My company needed a fast transportation of very expensive equipment. due to your services, it was delivered in a very short term. Thank you for your timely and affordable assistance!",
    },
    "sect2": {
      "elem1": "Testimonials",
      "elem2": "Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!",
      "elem3": "Evelyn Fisher",
      "elem4": "Hi, guys! You’ve solved my problem in no time! Your efficient services and customer care are second to none! I am very happy! I will surely share my experience with my friends!",
      "elem5": "Lawrence Sims",
      "elem6": "Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!",
      "elem7": "Evelyn Fisher",
      "elem8": "Hi, guys! You’ve solved my problem in no time! Your efficient services and customer care are second to none! I am very happy! I will surely share my experience with my friends!",
      "elem9": "Lawrence Sims",
      "elem10": "Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!",
      "elem11": "Evelyn Fisher",
      "elem12": "Hi, guys! You’ve solved my problem in no time! Your efficient services and customer care are second to none! I am very happy! I will surely share my experience with my friends!",
      "elem13": "Lawrence Sims"
    },
    "sect3": {
      "elem1": "Testimonials",
      "elem2": "I’ve been looking for affordable yet high-quality services to move the property of my company to another state. You did everything better than I expected, and I appreciate it.",
      "elem3": "Ann McMillan",
      "elem4": "Your employees helped me a lot in delivering the exclusive mahogany furniture from Seattle to Miami. Your help is highly appreciated. From now on, you are my number one transportation company.",
      "elem5": "James Wilkinson",
      "elem6": "Thank you for your fast and secure courier service! I am very satisfied how you delivered important business documents to the European offices of my company located in Brussels, Paris, and Budapest.",
      "elem7": "Jim Smith",
      "elem8": "I’ve been looking for affordable yet high-quality services to move the property of my company to another state. You did everything better than I expected, and I appreciate it.",
      "elem9": "Ann McMillan",
      "elem10": "Your employees helped me a lot in delivering the exclusive mahogany furniture from Seattle to Miami. Your help is highly appreciated. From now on, you are my number one transportation company.",
      "elem11": "James Wilkinson",
      "elem12": "Thank you for your fast and secure courier service! I am very satisfied how you delivered important business documents to the European offices of my company located in Brussels, Paris, and Budapest.",
      "elem13": "Jim Smith",
      "elem14": "I’ve been looking for affordable yet high-quality services to move the property of my company to another state. You did everything better than I expected, and I appreciate it.",
      "elem15": "Ann McMillan",
      "elem16": "Your employees helped me a lot in delivering the exclusive mahogany furniture from Seattle to Miami. Your help is highly appreciated. From now on, you are my number one transportation company.",
      "elem17": "James Wilkinson",
      "elem18": "Thank you for your fast and secure courier service! I am very satisfied how you delivered important business documents to the European offices of my company located in Brussels, Paris, and Budapest.",
      "elem19": "Jim Smith"
    },
    "sect4": {
      "elem1": "Our satisfied clients",
      "elem2": "Tourner",
      "elem3": "www.tourner.com",
      "elem4": "We are awed by human resilience, and believe in the ability of all people to thrive, not just exist.",
      "elem5": "Frank’s Co.",
      "elem6": "www.franksco.com",
      "elem7": "We are open and transparent about the work we do and how we do it.",
      "elem8": "Retro Press",
      "elem9": "www.retropress.com",
      "elem10": "We believe that all people have the right to live in peaceful communities and participate fully in the decisions.",
      "elem11": "Retro Beats",
      "elem12": "www.retrobeats.com",
      "elem13": "We commit to achieving demonstrable impact for our stakeholders, using their feedback to innovate, learn and improve."
    },
    "sect5": {
      "elem1": "Corporate Clients & Testimonials",
      "elem2": "Tourner",
      "elem3": "www.tourner.com",
      "elem4": "Our commitment to supporting and adding value for our customers drives everything we do. If your company needs to establish a supply chain, we have prepared several readymade solutions with flexible pricing rates for you. Our urgent cargo services offer defined time frames for convenience of your business.",
      "elem5": "Your warehousing specialists provided our company with unmatched services. Your company helped us a lot in avoiding unnecessary risks and expenses that were impending over us.",
      "elem6": "Alexandra Miles"
    },
    "sect6": {
      "elem1": "all our clients"
    }

  }