-
  var text = {
    "sect1": {
      "elem1": "Get in Touch",
      "elem2": "You can contact us any way that is convenient for you. We are available 24/7 via fax or email. You can also use a quick contact form on the right or visit our office personally.",
      "elem3": "Email us with any questions or inquiries or use our contact data. We would be happy to answer your questions.",
      "elem4": "Follow Us",
      "elem5": "Post Address",
      "elem6": "Phones",
      "elem7": "Email",
      "elem8": "Open Hours"
    }
  }