-
  var text = {
    "sect1": {
      "elem1": "login form",
      "elem2": "Enter with:"
    },
    "sect2": {
      "elem1": "Contact us"
    },
    "sect3": {
      "elem1": "Newsletter",
      "elem2": "Enter your email address to receive all news, updates, special offers and other discount information."
    }
  }