-
  var text = {
    "sect1": {
      "elem1": "Pricing",
      "elem2": "Personal",
      "elem3": "Professional",
      "elem4": "Businnes",
      "elem5": "Gold",
      "elem6": "No limits on time or users",
      "elem7": "Per user 20 GB free space on server",
      "elem8": "Unlimited free on server",
      "elem9": "Special support online chat",
      "elem10": "24/7 technical support",
      "elem11": "$0.00",
      "elem12": "$30.00",
      "elem13": "$100.00",
      "elem14": "$120.00",
      "elem15": "Free"
    },
    "sect2": {
      "elem1": "Choose Your Plan",
      "elem2": "Personal",
      "elem3": "29.00",
      "elem4": "Professional",
      "elem5": "49.00",
      "elem6": "Bussines",
      "elem7": "79.00",
      "elem8": "Gold",
      "elem9": "109.00"
    },
    "sect3": {
      "elem1": "What We Offer",
      "elem2": "Mini",
      "elem3": "29.00",
      "elem4": "Medium",
      "elem5": "49.00",
      "elem6": "Normal",
      "elem7": "79.00",
      "elem8": "Super",
      "elem9": "129.00"
    }
  }