-
  var text = {
    "sect1": {
      "elem1": "Skill Bars",
      "elem2": "Cargo Transportation",
      "elem3": "Passenger Transportation",
      "elem4": "Air Transportation",
      "elem5": "Marine Transportation",
      "elem6": "Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.",
      "elem7": "It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out.",
      "elem8": "The layout is aesthetically appealing, contains concise texts in order not to take your precious time."
    },
    "sect2": {
      "elem1": "counters",
      "elem2": "Trucks",
      "elem3": "Planes",
      "elem4": "Vessels",
      "elem5": "Tons of cargo"
    },
    "sect3": {
      "elem1": "progress Bars",
      "elem2": "Cargo Transportation",
      "elem3": "Passenger Transportation",
      "elem4": "Air Transportation",
      "elem5": "Marine Transportation"
    }
  }