-
  var ourService = {
    "sect1": {
      "elem1": "our services",
      "elem2": "Welcome to our transportation world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for.",
      "elem3": "Transportation",
      "elem4": "Logistics",
      "elem5": "Towing Service",
      "elem6": "Maintenance Leasing",
      "elem7": "Distribution Services",
      "elem8": "Storage"
    }
  }