-
  var welcome = {
    "sect1": {
      "elem1": "Delivery unlimited.",
      "elem2": "We help people to save time, make their life better, exercising communications, both in business and in private life.",
      "elem3": "Learn more about Transitec",
      "elem4": "A partnership based on trust.",
      "elem5": "We strive to ensure that our services have become a benchmark of quality in the field of the delivery.",
      "elem6": "Learn more about Transitec",
      "elem7": "Comfortable Payment System.",
      "elem8": "Payment for services are made by credit or advance system. Form of payment - in the the discretion of the customer.",
      "elem9": "Learn more about Transitec",
      "elem10": "Request a Quote",
      "elem11": "Get in touch with us if you have any queries and we will get back to you as soon as possible."
    }
  }