-
  var testimonials = {
    "sect1": {
      "elem1": "Testimonials",
      "elem2": "Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!",
      "elem3": "Evelyn Fisher",
      "elem4": "Hi, guys! You’ve solved my problem in no time! Your efficient services and customer care are second to none! I am very happy! I will surely share my experience with my friends!",
      "elem5": "Lawrence Sims",
      "elem6": "Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!",
      "elem7": "Cristal Smith",
      "elem8": "Hi, guys! You’ve solved my problem in no time! Your efficient services and customer care are second to none! I am very happy! I will surely share my experience with my friends!",
      "elem9": "Patrick Pool",
      "elem10": "Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!",
      "elem11": "Sam Kromstain",
      "elem12": "Hi, guys! You’ve solved my problem in no time! Your efficient services and customer care are second to none! I am very happy! I will surely share my experience with my friends!",
      "elem13": "Eva Pool"
    }
  }