-
  var news = {
    "sect1": {
      "elem1": "latest news",
      "elem2": "Improving on Strategic Sourcing",
      "elem3": "26 January 2016, 15:34",
      "elem4": "There is an organizational expectation that transportation modes will be sourced and cost will be taken out of the network with some regularity.",
      "elem5": "How Transportation and Procurement Can Improve Spend",
      "elem6": "26 January 2016, 15:34",
      "elem7": "Negotiating truckload rates has always been a key element to transportation relationships and budgeting — and it always will be.",
      "elem8": "Predictive Analytics Comes to the Logistics Industry",
      "elem9": "26 January 2016, 15:34",
      "elem10": "I’m not sure we have a good understanding in the field of how predictive analytics differs from forecasting."
    }
  }