-
  var overview = {
    "sect1": {
      "elem1": "services overview",
      "elem2": "Sea & Air Services",
      "elem3": "We have contracts with world's major ocean and air carriers. No matter what type of transportation you choose - your cargo will arrive in due time to any city. We will take care of all the paperwork, leaving you only satisfaction by our services.",
      "elem4": "Supply Chain Management",
      "elem5": "If your company needs to sell their products around the world or in a particular country, we can help you. We are involved in supply chain management for manufacturers and retailers in many industries.",
      "elem6": "Open for Partnerships",
      "elem7": "Our company is always looking for new partners. If you are a professional with experience in logistics, customer support or marketing, we would like to work with you. Talk to our representative or fill a form to learn more.",
      "elem8": "Warehousing & Storage",
      "elem9": "All of our storage facilities are equipped with climate control and are certified for food storage. We offer both short-term and long-term storage options, and guarantee the best conditions for your wares.",
    }
  }