-
  var capabilities = {
    "sect1": {
      "elem1": "our capabilities",
      "elem2": "Our supply chain services include shipping, warehousing, packaging, quality control and distribution. All these steps are well coordinated, so they don't even need your involvement. We will send you regular reports concerning your supply chains weekly or on request.",
      "elem3": "Choosing our company as your transportation partner you invest into success of your business. Our reliable service and competitive rates are called to deliver you unmatched customer experience. Just provide us with the information about your cargo, pickup and delivery details, time frame, and budget, - and our specialist will find you a solution with the best performance/price ratio."
    }
  }