-
  var featuredService = {
    "sect1": {
      "elem1": "featured services",
      "elem2": "Transportation",
      "elem3": "Logistics",
      "elem4": "Towing Service",
      "elem5": "Maintenance Leasing",
      "elem6": "Distribution Services",
      "elem7": "Storage"
    }
  }