-
  var ourMission = {
    "sect1": {
      "elem1": "Our Mission:",
      "elem2": "Transitec Transportation Company is committed to providing efficient and reliable services across all its business segments to its valued customers where safety is our top priority. Transitec will commit its resources to safe and environmentally sound operating practices.",
      "elem3": "That will result in providing our employees with a safe work environment and our customers with assurance of safe, dependable service. We aim to be recognized among current and prospective shipper clients as a premier provider of logistics and transportation services, to be the leader in the transportation management industry."
    }
  }