-
  var chooseUs = {
    "sect1": {
      "elem1": "WHY CHOOSE US",
      "elem2": "Best Service",
      "elem3": "Our mission is to attract and retain customers by providing Best in Class transportation solutions and fostering a profitable, disciplined culture of safety, service, and trust.",
      "elem4": "Reputation",
      "elem5": "We have established a strong presence in the transportation industry. Our award-winning services earn a reputation for quality and excellence that few can rival.",
      "elem6": "Safety & Security",
      "elem7": "Safety for our employees, customers and motoring public will always remain our primary focus in all the policies, procedures and programs that govern our business."
    }
  }

