-
  var text = {
    "sect1": {
      "elem1": "our capabilities",
      "elem2": "Our supply chain services include shipping, warehousing, packaging, quality control and distribution. All these steps are well coordinated, so they don't even need your involvement. We will send you regular reports concerning your supply chains weekly or on request.",
      "elem3": "Choosing our company as your transportation partner you invest into success of your business. Our reliable service and competitive rates are called to deliver you unmatched customer experience. Just provide us with the information about your cargo, pickup and delivery details, time frame, and budget, - and our specialist will find you a solution with the best performance/price ratio."
    },
    "sect2": {
      "elem1": "featured services",
      "elem2": "Transportation",
      "elem3": "Transportation Planning develops long-term plans and policies to guide all modes of transportation.",
      "elem4": "Logistics",
      "elem5": "Logistics management is the process of planning, services and related information on the route from their places of origin to the place.",
      "elem6": "Towing Service",
      "elem7": "No matter if you are in a personal, commercial, or industrial vehicle, we offer towing services and emergency roadside assistance 24 hours a day.",
      "elem8": "Maintenance Leasing",
      "elem9": "We specialise in Full Maintenance Leasing (FML) contracts. The correct vehicles are selected and customised for use by the customer.",
      "elem10": "Distribution Services",
      "elem11": "We specialise in consolidated as well as full loads to different cities. The company sends multiple vehicles to these destinations on a daily basis.",
      "elem12": "Storage",
      "elem13": "All of our storage facilities are equipped with climate control and are certified for food storage. We offer both short-term and long-term storage options."
    }
  }