-
  var text = {
    "sect1": {
      "elem1": "our services",
      "elem2": "Transportation",
      "elem3": "Logistics",
      "elem4": "Towing Service",
      "elem5": "Maintenance Leasing",
      "elem6": "Distribution Services",
      "elem7": "Storage",

      "elem8": "Fast. Cheap. Painless.",
      "elem9": "We specialize in servicing the need of overnight delivery throughout New England. We operate through three strategically located terminals. Our home headquarters is located in Billerica, MA. Our offices are conveniently situated near Interstates 90, 93, 95, 495, and US Route 1. We operate out of additional Transitec service centers located in Northford, CT, and Westbrook, ME, for your convenience.",
      "elem10": "When you ship by Transitec, your shipment is handled and routed in the most efficient manner to arrive at its destination. Our terminals are strategically located to allow ease of transit and pick up coverage all over New England.",
      "elem11": "Our Advantages",
      "elem12": "Fast Delivery",
      "elem13": "The optimal transport logistics and the use of large vehicles allow us to offer a favorable price of freight traffic in 24, 48 and 72 hours.",
      "elem14": "Branched Network",
      "elem15": "We have a widespread network of offices and centers allowing us to take care of your cargo and deliver it quickly to the destination.",
      "elem16": "24/7 Support",
      "elem17": "Our Company offers extensive 24/7 support giving you an opportunity to take care about your cargo every step of its way.",
      "elem18": "Document Preparation",
      "elem19": "Our managers will prepare all necessary documentation to get your load to any point on the map as soon as possible.",

      "elem20": "Care Courier",
      "elem21": "Transitec offers our clients professional courier services within the areas of our clients’ residence. Local knowledge of our couriers is second to none. For example, if your customer/recipient isn't at home but works around the corner, our couriers will usually be happy to make a detour to ensure the successful delivery.",
      "elem22": "Flatbed Shipping",
      "elem23": "Our flatbed shipping experts have the tools and relationships to obtain capacity and move your freight safely and on-time. Whether you need regularly contracted flatbed deliveries, a spot shipment or a long haul, we will give you necessary assistance in choosing the most efficient route and the best flatbed trailer for your freight.",
      "elem24": "Specialized Shipping",
      "elem25": "If you need more than just an ordinary delivery, this service is just what you need. At Transitec, we will work with you to learn the specific shipping requirements of your freight and help you simplify the transportation process. We monitor your specialized freight shipments to ensure they are delivered to the destination on-time.",

      "elem26": "Flatbed Towing",
      "elem27": "Our services are not limited to delivery of your cargo to any spot on the globe. In the event that your prized car breaks down and needs to be towed to a service station, a flatbed towing truck can provide greater peace of mind that your car will not sustain wear and tear while getting towed to safety. With us, you can request a flatbed tow for your vehicle 24/7.",
      "elem28": "Many tow truck providers prefer using both a dolly and a flatbed tow truck. The former is inexpensive and agile, so providers often favor it when they need to get a motorist stranded on the highway shoulder. Unfortunately, dolly trucks pass wear and tear onto the car attached, and they cannot be considered reliable enough to deliver your car without any troubles to the nearest repair shop.",
      "elem29": "Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.",
      "elem30": "Dennis Williams",
      "elem31": "Transitec Towing",
      "elem32": "Traditionally, motorists in need are at the mercy of the nearest tow service provider that is available to come to their aid. They may be able to request a flatbed tow, but this message could get lost in translation from the dispatch to the towing truck. We eliminate middlemen, sending your message straight to our affiliates near your vehicle offering you top-notch towing and delivery services.",

      "elem33": "Taking Care of Your Fleet",
      "elem34": "Transitec maintenance leasing is a comprehensive fleet management solution at an agreed rental for the use of specifically selected vehicles over a set period of time and distance. In terms of this all-inclusive, hassle-free contract, we source, procure and deliver the vehicles and bear all risk and maintenance costs, offering you the following:",
      "elem35": "Vehicle selection",
      "elem36": "Financing",
      "elem37": "Customized Leasing",
      "elem38": "Free Replacement",
      "elem39": "Fuel consumption",
      "elem40": "Detailed Features",
      "elem41": "Transitec Maintenance Leasing Policy",
      "elem42": "A unique feature of our full maintenance lease policy is that we provide courtesy replacement vehicles allowing you to minimize downtime and business disruption. With a single call to our Leasing Department, we can arrange to send a tow truck to you in the case of a breakdown, or arrange special servicing.",
      "elem43": "Advantages of Using Transitec Leasing Services",
      "elem44": "We offer our customers a full range of maintenance and leasing services with numerous financial and operational benefits. Financially, your company can preserve capital for other parts of its business that generate a higher return. Operationally, it allows your company to completely focus on its business.",

      "elem45": "Worldwide Distribution",
      "elem46": "As a part of our global transportation solutions, Transitec distribution services provide our clients with stable and reliable delivery services, creating a perfect link between you and your clients. We see successful distribution as the process of making a product or service available for immediate use or consumption, making this service vital for every modern company.",
      "elem47": "When using Transitec distribution services, you can eliminate the unnecessary delivery expenses, and take advantage of the following benefits:",
      "elem48": "International Parcels Delivery",
      "elem49": "Business Mail Delivery",
      "elem50": "Domestic Shipping",
      "elem51": "Secure Shipments",
      "elem52": "Flexible Pricing Program",

      "elem53": "Warehousing Services the World",
      "elem54": "Transitec full-service warehouses are strategically located throughout the New England. Whether you need short-term regional storage services or long-term warehousing, order fulfillment, logistics and distribution solutions, we have the facilities and expertise to help. We can also organize the delivery to any storage.",
      "elem55": "Distributing Your Goods",
      "elem56": "Warehousing is closely connected with distribution, and that’s why we designed our distribution solutions as a strategic way to add value to your business. We understand the movement of goods across suppliers, vendors, and customers. It's about getting things where they need to be, exactly when they need to be there.",
      "elem57": "Storage Resources",
      "elem58": "We have the resources and equipment to handle containerized loads, both for unloading or loading, employing either mechanical or manual handling methods if necessary. We think out the planning of the storage for our clients so that their cargo could be kept in a safe place straight after its delivery by our drivers.",
      "elem59": "Logistics Centers",
      "elem60": "Our logistics centers play a vital role in storing of your load. They are used not only for raw materials and inventories storage but also invigorate logistics of our clients as the strategic bases for supply chain management (SCM) which can perform up to distribution processing and pre-processing operations."
    }
  }

