-
  var text = {
    "sect1": {
      "elem1": "Horizontal button Tabs",
      "elem2": "All",
      "elem3": "Tab 1",
      "elem4": "Tab 2",
      "elem5": "Tab 3",

      "elem6": "Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.",
      "elem7": "It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out.",
      "elem8": "The layout is aesthetically appealing, contains concise texts in order not to take your precious time.",

      "elem9": "Vertical button Tabs",

      "elem10": "horizontal link Tabs",

      "elem11": "vertical link Tabs",

      "elem12": "Accordion",
      "elem13": "How do you calculate your rates?",
      "elem14": "How long will it take?",
      "elem15": "Where are you located?",
      "elem16": "What are your areas of operation?",
      "elem17": "What foreign languages does your staff speak?",
      "elem18": "What are your hours of operation?",
      "elem19": "Our rates are time based. We charge by the hour with a 2 hour minimum. Time is calculated garage to garage in 15 minute increments. The price is not affected by the number of passengers.",
      "elem20": "Our fleet consists of fully wheelchair customized Ford Econoline 350’s. Our vehicles have lifts and high top doors and roofs. They accommodate one passenger in a wheelchair and 3 adults plus luggage. We also have a few vans that can accommodate 2 passengers in wheelchairs.",
      "elem21": "Vega Transportation’s offices are located in Flushing, Queens, in New York City. Our bases of operations for ambulette services are in Queens and the Bronx.",
      "elem22": "We are available for trips throughout the NY Metro area and out of town trips up to a 250 mile radius.",
      "elem23": "We speak Spanish, Chinese, Russian, and Korean.",
      "elem24": "Our office is open 8am to 7pm Mon. thru Fri. and 8am to 3pm on Sat. & Sun. Our main phone 718-507-0500 is answered 24 hours. With sufficient notice our vehicles are available 7 days a week 24 hours a day, with the exception of special holidays."
    }
  }