-
  var text = {
    "sect1": {
      "elem1": "The company you can trust",
      "elem2": "Patrick Pool",
      "elem3": "Vice President, Logistics",
      "elem4": "We use only eco-friendly vehicles to carry out transportation.",
      "elem5": "Our carriers have successfully passed all the emissions tests, so if your company states care about nature as your primary feature, it will be true on all stages including transportation. We can additionally certify your products as eco-friendly thanks to our partnership with the largest independent testing agencies.",
      "elem6": "Our goal is to provide our clients with professional freight services that add value to the overall supply chain and assist our customers in the growth and success of their business with mutually beneficial results. If you want a customized solution, we deliver global coverage, managed costs, and reliable project continuity. When choosing our company, you choose a long-lasting partner that will help you with success of your business."
    },
    "sect2": {
      "elem1": "Skill Bars",
      "elem2": "Cargo Transportation",
      "elem3": "Passenger Transportation",
      "elem4": "Air Transportation",
      "elem5": "Marine Transportation",
      "elem6": "Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.",
      "elem7": "It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out.",
      "elem8": "The layout is aesthetically appealing, contains concise texts in order not to take your precious time."
    }
  }