-
  var text = {
    "sect1": {
      "elem1": "4 Columns",
      "elem2": "Mark Johnson",
      "elem3": "Finance Director",
      "elem4": "Eva Pool",
      "elem5": "Office Manager",
      "elem6": "Sam Kromstain",
      "elem7": "Head of Account Management",
      "elem8": "Cristal Smith",
      "elem9": "Commercial Relationship"
    },
    "sect2": {
      "elem1": "3 Columns",
      "elem2": "Mark Johnson",
      "elem3": "Finance Director",
      "elem4": "Eva Pool",
      "elem5": "Office Manager",
      "elem6": "Sam Kromstain",
      "elem7": "Head of Account Management"
    },
    "sect3": {
      "elem1": "Professional team",
      "elem2": "Mark Johnson",
      "elem3": "Finance Director",
      "elem4": "Mark is the Finance Director at Transitec and started in 2015. He is responsible for the...",
      "elem5": "Eva Pool",
      "elem6": "Office Manager",
      "elem7": "Eva is the Office Manager at Transitec and has been with the company since 2011...",
      "elem8": "Sam Kromstain",
      "elem9": "Head of Account Management",
      "elem10": "Sam joined Transitec in September 2015 as the Head of Account Management and Customer...",
      "elem11": "Cristal Smith",
      "elem12": "Commercial Relationship Manager",
      "elem13": "Cristal is the Commercial Relationship Manager at Transitec and is responsible for a portfolio..."
    },
    "sect4": {
      "elem1": "List Layout",
      "elem2": "Mark Johnson",
      "elem3": "Finance Director",
      "elem4": "Mark is the Finance Director at Transitec and started in 2015. He is responsible for the...",
      "elem5": "Eva Pool",
      "elem6": "Office Manager",
      "elem7": "Eva is the Office Manager at Transitec and has been with the company since 2011...",
      "elem8": "Sam Kromstain",
      "elem9": "Head of Account Management",
      "elem10": "Sam joined Transitec in September 2015 as the Head of Account Management and Customer...",
      "elem11": "Cristal Smith",
      "elem12": "Commercial Relationship Manager",
      "elem13": "Cristal is the Commercial Relationship Manager at Transitec and is responsible for a portfolio..."
    },
    "sect5": {
      "elem1": "List Layout - Carousel",
      "elem2": "Mark Johnson",
      "elem3": "Finance Director",
      "elem4": "Mark is the Finance Director at Transitec and started in 2015. He is responsible for the...",
      "elem5": "Eva Pool",
      "elem6": "Office Manager",
      "elem7": "Eva is the Office Manager at Transitec and has been with the company since 2011...",
      "elem8": "Sam Kromstain",
      "elem9": "Head of Account Management",
      "elem10": "Sam joined Transitec in September 2015 as the Head of Account Management and Customer...",
      "elem11": "Cristal Smith",
      "elem12": "Commercial Relationship Manager",
      "elem13": "Cristal is the Commercial Relationship Manager at Transitec and is responsible for a portfolio...",
      "elem14": "Eva Pool",
      "elem15": "Office Manager",
      "elem16": "Eva is the Office Manager at Transitec and has been with the company since 2011...",
      "elem17": "Mark Johnson",
      "elem18": "Finance Director",
      "elem19": "Mark is the Finance Director at Transitec and started in 2015. He is responsible for the..."
    }
  }