﻿@using Nop.Admin.Extensions

@model AddressModel

@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script type="text/javascript">
        $(document).ready(function() {
            $("#@Html.FieldIdFor(model => model.CountryId)").change(function() {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("GetStatesByCountryId", "Country"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "false" },
                    success: function(data) {
                        ddlStates.html('');
                        $.each(data, function(id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                    }
                });
            });
        });
    </script>
}

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.FirstNameEnabled)
@Html.HiddenFor(model => model.FirstNameRequired)
@Html.HiddenFor(model => model.LastNameEnabled)
@Html.HiddenFor(model => model.LastNameRequired)
@Html.HiddenFor(model => model.EmailEnabled)
@Html.HiddenFor(model => model.EmailRequired)
@Html.HiddenFor(model => model.CompanyEnabled)
@Html.HiddenFor(model => model.CompanyRequired)
@Html.HiddenFor(model => model.CountryEnabled)
@Html.HiddenFor(model => model.StateProvinceEnabled)
@Html.HiddenFor(model => model.CityEnabled)
@Html.HiddenFor(model => model.CityRequired)
@Html.HiddenFor(model => model.StreetAddressEnabled)
@Html.HiddenFor(model => model.StreetAddressRequired)
@Html.HiddenFor(model => model.StreetAddress2Enabled)
@Html.HiddenFor(model => model.StreetAddress2Required)
@Html.HiddenFor(model => model.ZipPostalCodeEnabled)
@Html.HiddenFor(model => model.ZipPostalCodeRequired)
@Html.HiddenFor(model => model.PhoneEnabled)
@Html.HiddenFor(model => model.PhoneRequired)
@Html.HiddenFor(model => model.FaxEnabled)
@Html.HiddenFor(model => model.FaxRequired)

<div class="form-horizontal">
    <div class="form-group">
        @if (Model.FirstNameEnabled)
        {
            <div class="col-sm-2 control-label">
                @Html.LabelFor(model => model.FirstName)
            </div>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "text-danger" })
            </div>
        }
        @if (Model.LastNameEnabled)
        {
            <div class="col-sm-2 control-label">
                @Html.LabelFor(model => model.LastName)
            </div>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "text-danger" })
            </div>
        }
    </div>
    @if (Model.EmailEnabled)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @data_val = "true", data_val_required = "Email is required." })
                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
            </div>
        </div>
    }
    @if (Model.CompanyEnabled)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Company, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Company, new { @class = "form-control", @data_val = "true", data_val_required = "Company is required." })
                @Html.ValidationMessageFor(model => model.Company, null, new { @class = "text-danger" })
            </div>
        </div>
    }
    @if (Model.CountryEnabled)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.CountryId, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.DropDownListFor(model => model.CountryId, Model.AvailableCountries, new { @class = "form-control", @data_val = "true", data_val_required = "Country is required." }, !Model.CanModify)
                @Html.ValidationMessageFor(model => model.CountryId, null, new { @class = "text-danger" })
            </div>
        </div>
    }
    @if (Model.StreetAddressEnabled)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Address1, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Address1, new { @class = "form-control", @data_val = "true", data_val_required = "Address 1 is required." }, !Model.CanModify)
                @Html.ValidationMessageFor(model => model.Address1, null, new { @class = "text-danger" })
            </div>
        </div>
    }
    @if (Model.StreetAddress2Enabled)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Address2, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Address2, new { @class = "form-control" }, !Model.CanModify)
                @Html.ValidationMessageFor(model => model.Address2, null, new { @class = "text-danger" })
            </div>
        </div>
    }
    <div class="form-group">
        @if (Model.CityEnabled)
        {
            <div class="col-sm-2 control-label">
                @Html.LabelFor(model => model.City)
            </div>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.City, new { @class = "form-control", @data_val = "true", data_val_required = "City is required." }, !Model.CanModify)
                @Html.ValidationMessageFor(model => model.City, null, new { @class = "text-danger" })
            </div>
        }

        @if (Model.CountryEnabled && Model.StateProvinceEnabled)
        {
            <div class="col-sm-2 control-label">
                @Html.LabelFor(model => model.StateProvinceId)
            </div>
            <div class="col-sm-4">
                @Html.DropDownListFor(model => model.StateProvinceId, Model.AvailableStates, new { @class = "form-control", @data_val = "true", data_val_required = "State is required." }, !Model.CanModify)
                @Html.ValidationMessageFor(model => model.StateProvinceId, null, new { @class = "text-danger" })
            </div>
        }

    </div>
    <div class="form-group">
        @if (Model.ZipPostalCodeEnabled)
        {
            <div class="col-sm-2 control-label">
                @Html.LabelFor(model => model.ZipPostalCode)
            </div>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.ZipPostalCode, new { @class = "form-control", @data_val = "true", data_val_required = "Postal Code is required." }, !Model.CanModify)
                @Html.ValidationMessageFor(model => model.ZipPostalCode, null, new { @class = "text-danger" })
            </div>
        }
        <div class="col-sm-2 control-label">
            @Html.LabelFor(model => model.ShipToNumber)
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(model => model.ShipToNumber, new { @class = "form-control" }, !Model.CanModify)
            @Html.ValidationMessageFor(model => model.ShipToNumber, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2 control-label">
            @Html.LabelFor(model => model.Latitude)
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(model => model.Latitude, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Latitude, null, new { @class = "text-danger" })
        </div>
        <div class="col-sm-2 control-label">
            @Html.LabelFor(model => model.Longitude)
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(model => model.Longitude, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Longitude, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @if (Model.PhoneEnabled)
        {
            <div class="col-sm-2 control-label">
                @Html.LabelFor(model => model.PhoneNumber)
            </div>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PhoneNumber, null, new { @class = "text-danger" })
            </div>
        }
        @if (Model.FaxEnabled)
        {
            <div class="col-sm-2 control-label">
                @Html.LabelFor(model => model.FaxNumber)
            </div>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.FaxNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FaxNumber, null, new { @class = "text-danger" })
            </div>
        }
    </div>
    @if (Model.CustomAddressAttributes.Count > 0)
    {
        @Html.Partial("_AddressAttributes", Model.CustomAddressAttributes)
    }
</div>