﻿@model AccountActivationModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.AccountActivation").Text);
}
<main class="page-content">
    <section class="section-20 section-md-20 section-md-bottom-50">
        <div class="shell text-sm-left">
            <h1>@T("Account.AccountActivation")</h1>

            <hr class="divider divider-lg bg-primary hr-sm-left-0">

            @Model.Result

            <div class="buttons">
                <input type="button" class="btn btn-sm btn-primary" onclick="location.href='/login'" value="@T("Account.Register.Result.Continue")" />
            </div>
        </div>
    </section>
</main>