﻿@model CustomerAddressEditModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Addresses })
}

@*category breadcrumb*@
@section Breadcrumb
    {
    <section class="section-20 section-md-20 section-md-bottom-0">
        <div class="shell text-sm-left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 inset-left-0">
                        <h2>@T("Account.MyAccount")<span class="fa fa-long-arrow-right inset-left-15 inset-right-15 text-gray"></span>@T("Account.CustomerAddresses.Edit")</h2>
                        <hr class="divider divider-lg bg-primary hr-sm-left-0">
                    </div>
                </div>
            </div>
        </div>
    </section>

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    var validationSummary = Html.ValidationSummary(true);

    if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
    {
    <div class="message-error">
        @validationSummary
    </div>
    }

    {
        var dataDictAddress = new ViewDataDictionary();
        //Merge ModelState (required for validation)
        dataDictAddress.ModelState.Merge(ViewData.ModelState);
        dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
        @Html.Partial("_CreateOrUpdateAddress", Model.Address, dataDictAddress)
    }
    <div class="buttons offset-top-10 text-center">
        <input type="submit" class="btn btn-sm btn-primary save-address-button" value="@T("Common.Save")" />                       
    </div>
}