﻿@model CustomerAddressListModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}

@*category breadcrumb*@
@section Breadcrumb
{
    <section class="section-20 section-md-20 section-md-bottom-0">
        <div class="shell text-sm-left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <h2>@T("Account.MyAccount")<span class="fa fa-long-arrow-right inset-left-15 inset-right-15 text-gray"></span>@T("Account.CustomerAddresses")</h2>
                        <hr class="divider divider-lg bg-primary hr-sm-left-0">
                    </div>
                    <div class="col-md-3 text-right">
                        <div class="add-button">
                            <input type="button" class="btn btn-xs btn-primary add-address-button" onclick="location.href='@Url.RouteUrl("CustomerAddressAdd")'" value="@T("Common.AddNew")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}

@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Addresses })
}
        @if (Model.Addresses.Count > 0)
        {
            <div class="container-fluid">
                @for (int i = 0; i < Model.Addresses.Count; i++)
                {
                var address = Model.Addresses[i];

                <div class="row">
                    <div class="col-md-6 inset-left-0"><h3>@address.FirstName @address.LastName</h3></div>
                    <div class="col-md-6 text-right"><input type="button" class="btn btn-xs btn-primary edit-address-button" onclick="location.href='@(Url.RouteUrl("CustomerAddressEdit", new { addressId = address.Id }))'" value='@T("Common.Edit")' />
                        <input type="button" class="btn btn-xs btn-primary delete-address-button" onclick="if (confirm('@(T("Common.AreYouSure").Text)')) {location.href='@(Url.RouteUrl("CustomerAddressDelete", new { addressId = address.Id }))';}" value="@T("Common.Delete")" />
                    </div>
                </div>
                <div class="row">
                    <ul class="info">
                        @*<li class="name">
                            @address.FirstName @address.LastName
                        </li>*@
                        <li class="email">
                            @Html.LabelFor(model => model.Addresses[i].Email, new { }, ":")
                            @address.Email
                        </li>
                        @if (address.PhoneEnabled)
                        {
                            <li class="phone">
                                @Html.LabelFor(model => model.Addresses[i].PhoneNumber, new { }, ":")
                                @address.PhoneNumber
                            </li>
                        }
                        @if (address.FaxEnabled)
                        {
                            <li class="fax">
                                @Html.LabelFor(model => model.Addresses[i].FaxNumber, new { }, ":")
                                @address.FaxNumber
                            </li>
                        }
                        @if (address.CompanyEnabled && !String.IsNullOrEmpty(address.Company))
                        {
                            <li class="company">@address.Company</li>
                        }
                        @if (address.StreetAddressEnabled)
                        {
                            <li class="address1">
                                @address.Address1
                            </li>
                        }
                        @if (address.StreetAddress2Enabled && !String.IsNullOrEmpty(address.Address2))
                        {
                            <li class="address2">
                                @address.Address2
                            </li>
                        }
                        @if (address.CityEnabled || address.StateProvinceEnabled || address.ZipPostalCodeEnabled)
                        {
                            var cityStateZip = "";
                            if (address.CityEnabled)
                            {
                                cityStateZip = address.City;
                                if (address.StateProvinceEnabled || address.ZipPostalCodeEnabled)
                                {
                                    cityStateZip += ",";
                                }
                            }
                            if (address.StateProvinceEnabled)
                            {
                                if (!String.IsNullOrEmpty(cityStateZip))
                                {
                                    cityStateZip += " ";
                                }
                                cityStateZip += address.StateProvinceName;
                            }
                            if (address.ZipPostalCodeEnabled)
                            {
                                if (!String.IsNullOrEmpty(cityStateZip))
                                {
                                    cityStateZip += " ";
                                }
                                cityStateZip += address.ZipPostalCode;
                            }

                            <li class="city-state-zip">
                                @cityStateZip
                            </li>
                        }
                        @if (address.CountryEnabled && !String.IsNullOrEmpty(address.CountryName))
                        {
                            <li class="country">
                                @address.CountryName
                            </li>
                        }
                        @if (!String.IsNullOrEmpty(address.FormattedCustomAddressAttributes))
                        {
                            <li class="custom-attributes-view">
                                @Html.Raw(address.FormattedCustomAddressAttributes)
                            </li>
                        }
                    </ul>                    
                </div>
                <hr />
            }
            </div>
        }
        else
        {
        <div class="no-data">
            @T("Account.CustomerAddresses.NoAddresses")
        </div>
        }
