﻿@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}

@*category breadcrumb*@
@section Breadcrumb
    {
    <section class="section-20 section-md-20 section-md-bottom-0">
        <div class="shell text-sm-left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 inset-left-0">
                        <h2>@T("Account.MyAccount")<span class="fa fa-long-arrow-right inset-left-15 inset-right-15 text-gray"></span>@T("Account.ChangePassword")</h2>
                        <hr class="divider divider-lg bg-primary hr-sm-left-0">
                    </div>
                </div>
            </div>
        </div>
    </section>

}

@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                @if (!String.IsNullOrEmpty(Model.Result))
                {
                    <div class="result">
                        @Model.Result
                    </div>
                }

                @{
                    var validationSummary = Html.ValidationSummary(true);
                }

                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }

                <div class="form-group">
                    @Html.LabelFor(model => model.OldPassword, new { @class = "form-label" })
                    @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                    @Html.ValidationMessageFor(model => model.OldPassword)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NewPassword, new { @class = "form-label" })
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "form-label" })
                    @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                </div>

                <div class="buttons">
                    <input type="submit" class="btn btn-sm btn-primary change-password-button" value="@T("Account.ChangePassword.Button")" />
                </div>
            </div>
        </div>
    </div>
}
