﻿@model CustomerInfoModel
@using Nop.Web.Models.Customer;
@using Nop.Core;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}

@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script type="text/javascript">
        $(function () {
            $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
    </script>
}
    @*category breadcrumb*@
    @section Breadcrumb
    {
        <section class="section-20 section-md-20 section-md-bottom-0">
            <div class="shell text-sm-left">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 inset-left-0">
                            <h2>@T("Account.MyAccount")<span class="fa fa-long-arrow-right inset-left-15 inset-right-15 text-gray"></span>@T("Account.CustomerInfo")</h2>
                            <hr class="divider divider-lg bg-primary hr-sm-left-0">
                        </div>
                    </div>
                </div>
            </div>
        </section>

    }

    @section left
    {
        @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Info })
    }

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    var validationSummary = Html.ValidationSummary(true);
    if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
    {
        <div class="message-error">@validationSummary</div>
    }
    <h3 class="offset-top-0">@T("Account.YourPersonalDetails")</h3>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control form-validation-inside firstname", @data_constraints = "@Required" })
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>
            <div class="col-md-6 offset-top-0 offset-md-top-0 offset-sm-top-10 offset-xs-top-10">
                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control form-validation-inside lastname", @data_constraints = "@Required" })
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>
        </div>
        <div class="row offset-top-10">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-validation-inside email", @data_constraints = "@Required" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="col-md-6 offset-top-0 offset-md-top-0 offset-sm-top-10 offset-xs-top-10">
                @if (Model.UsernamesEnabled)
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.Username, new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control form-validation-inside username", @data_constraints = "@Required" })
                        @Html.ValidationMessageFor(model => model.Username)

                        @if (Model.CheckUsernameAvailabilityEnabled)
                        {
                            @Html.Partial("_CheckUsernameAvailability")
                        }
                    </div>
                }
            </div>
        </div>
        <div class="row">
            @if (Model.GenderEnabled)
            {
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label(T("Account.Fields.Gender").Text, new { @class = "form-label", @style = "top: 0; left: 0;" }):
                        <span class="male">
                            @Html.RadioButton("Gender", "M", (Model.Gender == "M"), new { id = "gender-male" })
                            <label class="forcheckbox" for="gender-male">@T("Account.Fields.Gender.Male")</label>
                        </span>
                        <span class="female">
                            @Html.RadioButton("Gender", "F", (Model.Gender == "F"), new { id = "gender-female" })
                            <label class="forcheckbox" for="gender-female">@T("Account.Fields.Gender.Female")</label>
                        </span>
                    </div>
                </div>
            }

            @if (Model.DateOfBirthEnabled)
            {
                <div class="inputs date-of-birth">
                    <label>@T("Account.Fields.DateOfBirth"):</label>
                    @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.DateOfBirthDay),
                                         Html.FieldNameFor(x => x.DateOfBirthMonth),
                                         Html.FieldNameFor(x => x.DateOfBirthYear),
                                         DateTime.Now.Year - 110,
                                         DateTime.Now.Year,
                                         Model.DateOfBirthDay,
                                         Model.DateOfBirthMonth,
                                         Model.DateOfBirthYear)
                    @if (Model.DateOfBirthRequired)
                    {
                        @Html.RequiredHint()
                    }
                    @Html.ValidationMessageFor(model => model.DateOfBirthDay)
                    @Html.ValidationMessageFor(model => model.DateOfBirthMonth)
                    @Html.ValidationMessageFor(model => model.DateOfBirthYear)
                </div>
            }
        </div>
    </div>

    if (Model.CompanyEnabled || Model.DisplayVatNumber)
    {
        <h3>@T("Account.CompanyDetails")</h3>

        <div class="container-fluid">
            <div class="row">
                @if (Model.CompanyEnabled)
                {
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Company, new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.Company, new { @class = "form-control form-validation-inside company", @data_constraints = "@Required" })
                            @Html.ValidationMessageFor(model => model.Company)
                        </div>
                    </div>
                }

                @if (Model.DisplayVatNumber)
                {
                    <div class="col-md-6 offset-top-0 offset-md-top-0 offset-sm-top-10 offset-xs-top-10">
                        <div class="form-group">
                            @Html.LabelFor(model => model.VatNumber, new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.VatNumber, new { @class = "form-control form-validation-inside vatnumber" })
                            <span class="vat-note"><em>@T("Account.Fields.VatNumber.Note")</em></span>
                        </div>
                    </div>
                }
            </div>
        </div>
    }

    if (Model.StreetAddressEnabled || Model.StreetAddress2Enabled || Model.ZipPostalCodeEnabled || Model.CityEnabled || Model.CountryEnabled)
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 offset-top-10">
                    @Html.HiddenFor(model => model.CountryId)
                    @if (Model.StreetAddressEnabled)
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.StreetAddress, new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.StreetAddress, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                            @Html.ValidationMessageFor(model => model.StreetAddress)
                        </div>
                    }
                    @if (Model.StreetAddress2Enabled)
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.StreetAddress2, new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.StreetAddress2, new { @class = "form-control form-validation-inside" })
                            @Html.ValidationMessageFor(model => model.StreetAddress2)
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-top-10">
                    @if (Model.CityEnabled)
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.City, new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.City, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                            @Html.ValidationMessageFor(model => model.City)
                        </div>
                    }
                </div>
                <div class="col-md-3 offset-top-10">
                    @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.StateProvinceId, new { @class = "form-label" })
                            @Html.DropDownListFor(model => model.StateProvinceId, Model.AvailableStates, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                            @Html.ValidationMessageFor(model => model.StateProvinceId)
                            <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                        </div>
                    }
                </div>
                <div class="col-md-3 offset-top-10">
                    @if (Model.ZipPostalCodeEnabled)
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.ZipPostalCode, new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.ZipPostalCode, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                            @Html.ValidationMessageFor(model => model.ZipPostalCode)
                        </div>
                    }
                </div>
                @*<div class="col-md-3 offset-top-10">
                    @if (Model.CountryEnabled)
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.CountryId, new { @class = "form-label" })
                            @Html.DropDownListFor(model => model.CountryId, Model.AvailableCountries, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                            @Html.ValidationMessageFor(model => model.CountryId)
                        </div>
                    }
                </div>*@
            </div>

        </div>
    }

    if (Model.PhoneEnabled || Model.FaxEnabled)
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 offset-top-10">
                    @if (Model.PhoneEnabled)
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone, new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                            @Html.ValidationMessageFor(model => model.Phone)
                        </div>
                    }
                </div>
                <div class="col-md-6 offset-top-10">
                    @if (Model.FaxEnabled)
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.Fax, new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.Fax, new { @class = "form-control form-validation-inside" })
                            @Html.ValidationMessageFor(model => model.Fax)
                        </div>
                    }
                </div>
            </div>
        </div>
    }

    <div class="container-fluid text-center offset-top-50">
        <div class="row">
            <input type="submit" id="save-info-button" class="btn btn-sm btn-primary save-customer-info-button" value="@T("Common.Save")" name="save-info-button" />
        </div>
    </div>
}
    @*<div class="page account-page customer-info-page">
            <div class="page-title">
                <h1>@T("Account.MyAccount") - @T("Account.CustomerInfo")</h1>
            </div>
            <div class="page-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    var validationSummary = Html.ValidationSummary(true);
                    if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                    {
                        <div class="message-error">@validationSummary</div>
                    }
                    <div class="fieldset">
                        <div class="title">
                            <strong>@T("Account.YourPersonalDetails")</strong>
                        </div>
                        <div class="form-fields">
                            @if (Model.GenderEnabled)
                            {
                                <div class="inputs">
                                    <label>@T("Account.Fields.Gender"):</label>
                                    <div class="gender">
                                        <span class="male">
                                            @Html.RadioButton("Gender", "M", (Model.Gender == "M"), new { id = "gender-male" })
                                            <label class="forcheckbox" for="gender-male">@T("Account.Fields.Gender.Male")</label>
                                        </span>
                                        <span class="female">
                                            @Html.RadioButton("Gender", "F", (Model.Gender == "F"), new { id = "gender-female" })
                                            <label class="forcheckbox" for="gender-female">@T("Account.Fields.Gender.Female")</label>
                                        </span>
                                    </div>
                                </div>
                            }
                            <div class="inputs">
                                @Html.LabelFor(model => model.FirstName, new { }, ":")
                                @Html.EditorFor(model => model.FirstName)
                                @Html.RequiredHint()
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                            <div class="inputs">
                                @Html.LabelFor(model => model.LastName, new { }, ":")
                                @Html.EditorFor(model => model.LastName)
                                @Html.RequiredHint()
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                            @if (Model.DateOfBirthEnabled)
                            {
                                <div class="inputs date-of-birth">
                                    <label>@T("Account.Fields.DateOfBirth"):</label>
                                    @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.DateOfBirthDay),
                                    Html.FieldNameFor(x => x.DateOfBirthMonth),
                                    Html.FieldNameFor(x => x.DateOfBirthYear),
                                    DateTime.Now.Year - 110,
                                    DateTime.Now.Year,
                                    Model.DateOfBirthDay,
                                    Model.DateOfBirthMonth,
                                    Model.DateOfBirthYear)
                                    @if (Model.DateOfBirthRequired)
                                    {
                                        @Html.RequiredHint()
                                    }
                                    @Html.ValidationMessageFor(model => model.DateOfBirthDay)
                                    @Html.ValidationMessageFor(model => model.DateOfBirthMonth)
                                    @Html.ValidationMessageFor(model => model.DateOfBirthYear)
                                </div>
                            }
                            <div class="inputs">
                                @Html.LabelFor(model => model.Email, new { }, ":")
                                @Html.EditorFor(model => model.Email)
                                @Html.RequiredHint()
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                            @if (Model.UsernamesEnabled)
                            {
                                if (Model.AllowUsersToChangeUsernames)
                                {
                                    <div class="inputs">
                                        @Html.LabelFor(model => model.Username, new { }, ":")
                                        @Html.EditorFor(model => model.Username)
                                        @Html.RequiredHint()
                                        @Html.ValidationMessageFor(model => model.Username)
                                        @if (Model.CheckUsernameAvailabilityEnabled)
                                        {
                                            @Html.Partial("_CheckUsernameAvailability")
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="inputs">
                                        @Html.LabelFor(model => model.Username, new { }, ":")
                                        @Model.Username
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    if (Model.CompanyEnabled || Model.DisplayVatNumber)
                    {
                        <div class="fieldset">
                            <div class="title">
                                <strong>@T("Account.CompanyDetails")</strong>
                            </div>
                            <div class="form-fields">
                                @if (Model.CompanyEnabled)
                {
                                    <div class="inputs">
                                        @Html.LabelFor(model => model.Company, new { }, ":")
                                        @Html.EditorFor(model => model.Company)
                                        @if (Model.CompanyRequired)
                                        {
                                            @Html.RequiredHint()
                                        }
                                        @Html.ValidationMessageFor(model => model.Company)
                                    </div>
                                }
                                @if (Model.DisplayVatNumber)
                {
                                    <div class="inputs">
                                        @Html.LabelFor(model => model.VatNumber, new { }, ":")
                                        @Html.EditorFor(model => model.VatNumber)
                                        <span class="vat-status">@Model.VatNumberStatusNote</span>
                                        <span class="vat-note"><em>@T("Account.Fields.VatNumber.Note")</em></span>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    if (Model.StreetAddressEnabled ||
                                Model.StreetAddress2Enabled ||
                                Model.ZipPostalCodeEnabled ||
                                Model.CityEnabled ||
                                Model.CountryEnabled)
                    {
                        <div class="fieldset">
                            <div class="title">
                                <strong>@T("Account.YourAddress")</strong>
                            </div>
                            <div class="form-fields">
                                @if (Model.StreetAddressEnabled)
                {
                                    <div class="inputs">
                                        @Html.LabelFor(model => model.StreetAddress, new { }, ":")
                                        @Html.EditorFor(model => model.StreetAddress)
                                        @if (Model.StreetAddressRequired)
                                        {
                                            @Html.RequiredHint()
                                        }
                                        @Html.ValidationMessageFor(model => model.StreetAddress)
                                    </div>
                                }
                                @if (Model.StreetAddress2Enabled)
                {
                                    <div class="inputs">
                                        @Html.LabelFor(model => model.StreetAddress2, new { }, ":")
                                        @Html.EditorFor(model => model.StreetAddress2)
                                        @if (Model.StreetAddress2Required)
                                        {
                                            @Html.RequiredHint()
                                        }
                                        @Html.ValidationMessageFor(model => model.StreetAddress2)
                                    </div>
                                }
                                @if (Model.ZipPostalCodeEnabled)
                {
                                    <div class="inputs">
                                        @Html.LabelFor(model => model.ZipPostalCode, new { }, ":")
                                        @Html.EditorFor(model => model.ZipPostalCode)
                                        @if (Model.ZipPostalCodeRequired)
                                        {
                                            @Html.RequiredHint()
                                        }
                                        @Html.ValidationMessageFor(model => model.ZipPostalCode)
                                    </div>
                                }
                                @if (Model.CityEnabled)
                {
                                    <div class="inputs">
                                        @Html.LabelFor(model => model.City, new { }, ":")
                                        @Html.EditorFor(model => model.City)
                                        @if (Model.CityRequired)
                                        {
                                            @Html.RequiredHint()
                                        }
                                        @Html.ValidationMessageFor(model => model.City)
                                    </div>
                                }
                                @if (Model.CountryEnabled)
                {
                                    <div class="inputs">
                                        @Html.LabelFor(model => model.CountryId, new { }, ":")
                                        @Html.DropDownList("CountryId", Model.AvailableCountries)
                                        @if (Model.CountryRequired)
                                        {
                                            @Html.RequiredHint()
                                        }
                                        @Html.ValidationMessageFor(model => model.CountryId)
                                    </div>
                                }
                                @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                {
                                    <div class="inputs">
                                        @Html.LabelFor(model => model.StateProvinceId, new { }, ":")
                                        @Html.DropDownList("StateProvinceId", Model.AvailableStates)
                                        @if (Model.StateProvinceRequired)
                                        {
                                            @Html.RequiredHint()
                                        }
                                        @Html.ValidationMessageFor(model => model.StateProvinceId)
                                        <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    if (Model.PhoneEnabled || Model.FaxEnabled)
                    {
                        <div class="fieldset">
                            <div class="title">
                                <strong>@T("Account.YourContactInformation")</strong>
                            </div>
                            <div class="form-fields">
                                @if (Model.PhoneEnabled)
                {
                                    <div class="inputs">
                                        @Html.LabelFor(model => model.Phone, new { }, ":")
                                        @Html.EditorFor(model => model.Phone)
                                        @if (Model.PhoneRequired)
                                        {
                                            @Html.RequiredHint()
                                        }
                                        @Html.ValidationMessageFor(model => model.Phone)
                                    </div>
                                }
                                @if (Model.FaxEnabled)
                {
                                    <div class="inputs">
                                        @Html.LabelFor(model => model.Fax, new { }, ":")
                                        @Html.EditorFor(model => model.Fax)
                                        @if (Model.FaxRequired)
                                        {
                                            @Html.RequiredHint()
                                        }
                                        @Html.ValidationMessageFor(model => model.Fax)
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    if (Model.NewsletterEnabled || Model.CustomerAttributes.Count > 0)
                    {
                        <div class="fieldset">
                            <div class="title">
                                <strong>@T("Account.Options")</strong>
                            </div>
                            <div class="form-fields">
                                @if (Model.NewsletterEnabled)
                {
                                    <div class="inputs">
                                        @Html.LabelFor(model => model.Newsletter, new { }, ":")
                                        @Html.EditorFor(model => model.Newsletter)
                                        @Html.ValidationMessageFor(model => model.Newsletter)
                                    </div>
                                }
                                @if (Model.CustomerAttributes.Count > 0)
                {
                                    @Html.Partial("_CustomerAttributes", Model.CustomerAttributes)
                                }
                            </div>
                        </div>
                    }
                    if (Model.AllowCustomersToSetTimeZone || Model.SignatureEnabled)
                    {
                        <div class="fieldset">
                            <div class="title">
                                <strong>@T("Account.Preferences")</strong>
                            </div>
                            <div class="form-fields">
                                @if (Model.AllowCustomersToSetTimeZone)
                {
                                    <div class="inputs">
                                        @Html.LabelFor(model => model.TimeZoneId, new { }, ":")
                                        @Html.DropDownList("TimeZoneId", Model.AvailableTimeZones)
                                        @Html.ValidationMessageFor(model => model.TimeZoneId)
                                    </div>
                                }
                                @if (Model.SignatureEnabled)
                                {
                                    <div class="inputs">
                                        @Html.LabelFor(model => model.Signature, new { }, ":")
                                        @Html.TextAreaFor(model => model.Signature, new { @class = "account-signature-text" })
                                    </div>
                                }
                            </div>
                        </div>
                    }

                    if (Model.NumberOfExternalAuthenticationProviders > 0)
                    {
                        <div class="fieldset">
                            <div class="title">
                                <strong>@T("Account.AssociatedExternalAuth")</strong>
                            </div>
                            @if (Model.AssociatedExternalAuthRecords.Count > 0)
                            {
                                //existing associated external records
                                <div class="table-wrapper">
                                    <table class="data-table">
                                        <colgroup>
                                            <col />
                                            <col />
                                            <col />
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th class="auth-method-name">
                                                    @T("Account.AssociatedExternalAuth.AuthMethodName")
                                                </th>
                                                <th class="email">
                                                    @T("Account.AssociatedExternalAuth.Email")
                                                </th>
                                                <th class="external-id">
                                                    @T("Account.AssociatedExternalAuth.ExternalIdentifier")
                                                </th>
                                                <th class="remove">
                                                    @T("Account.AssociatedExternalAuth.Remove")
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.AssociatedExternalAuthRecords)
                                            {
                                                <tr>
                                                    <td class="auth-method-name">
                                                        @item.AuthMethodName
                                                    </td>
                                                    <td class="email">
                                                        @item.Email
                                                    </td>
                                                    <td class="external-id">
                                                        @CommonHelper.EnsureMaximumLength(item.ExternalIdentifier, 40, "...")
                                                    </td>
                                                    <td class="remove">
                                                        <a href="@Url.Action("RemoveExternalAssociation", "Customer", new { id = item.Id })">@T("Account.AssociatedExternalAuth.Remove")</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }

                            @if (Model.NumberOfExternalAuthenticationProviders > Model.AssociatedExternalAuthRecords.Count)
                            {
                                //we can add more external records
                                <div class="form-fields add-more-external-records">
                                    @T("Account.AssociatedExternalAuth.AddMoreRecords") <a href="@Url.RouteUrl("Login", null, "http")">@Url.RouteUrl("Login", null, "http")</a>
                                </div>
                            }
                        </div>
                    }
                    <div class="buttons">
                        <input type="submit" value="@T("Common.Save")" name="save-info-button" class="button-1 save-customer-info-button" />
                    </div>
                }
            </div>
        </div>*@
