﻿@model LoginModel
@using Nop.Web.Models.Customer;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
        Layout = "~/Views/Shared/_ColumnsOne.cshtml";

        //title
        Html.AddTitleParts(T("PageTitle.Login").Text);

        //register URL with return URL (if specified)
        var registerUrl = Url.RouteUrl("Register");
        if (!String.IsNullOrEmpty(this.Context.Request.QueryString["returnUrl"]))
        {
            var webHelper = EngineContext.Current.Resolve<IWebHelper>();
            registerUrl = webHelper.ModifyQueryString(registerUrl, "returnurl=" + HttpUtility.UrlEncode(this.Context.Request.QueryString["returnUrl"]), null);
        }
}

<main class="page-content text-left">
    <section class="section-lg-top-20 section-md-top-20 section-sm-top-150 section-xs-top-150 section-bottom-50">
        <div class="shell text-sm-left">
            <h2>@T("Account.Login.Welcome")</h2>
            <hr class="divider divider-lg bg-primary hr-sm-left-0">
            @*<div class="range range-xs-center range-sm-left offset-top-0"></div>*@
                @Html.Partial("_ExternalAuthentication.AssociateMessage")
                @Html.Partial("_ExternalAuthentication.Errors")
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 offset-top-30">
                        <div class="section-30 inset-left-30 inset-right-30" style="height: 100%;">
                            @using (Html.BeginForm())
                            {
                                <h3>@T("Account.Login.ReturningCustomer")</h3>
                                var validationSummary = Html.ValidationSummary(true, T("Account.Login.Unsuccessful").Text);

                                if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                                {
                                    <div class="message-error">@validationSummary</div>
                                }

                                if (Model.UsernamesEnabled)
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Username, new { @class = "form-label" })
                                        @Html.TextBoxFor(model => model.Username, new { autofocus = "autofocus", @class = "form-control form-validation-inside username", @data_constraints = "@Required" })
                                        @Html.ValidationMessageFor(m => m.Username)
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, new { @class = "form-label" })
                                        @Html.TextBoxFor(model => model.Email, new { autofocus = "autofocus", @class = "form-control form-validation-inside Email", @data_constraints = "@Required" })
                                        @Html.ValidationMessageFor(m => m.Email)
                                        @if (Model.IsDemo)
                                        {
                                            <span class="help-block">Email: demo@oldhamchem.com</span>
                                        }
                                    </div>
                                }

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Password, new { @class = "form-label" })
                                    @Html.PasswordFor(model => model.Password, new { autofocus = "autofocus", @class = "form-control form-validation-inside Password", @data_constraints = "@Required" })
                                    @Html.ValidationMessageFor(m => m.Password)
                                        @if (Model.IsDemo)
                                        {
                                            <span class="help-block">Password: oldhamdemo</span>
                                        }
                                </div>

                                <div class="form-group">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>

                                if (Model.DisplayCaptcha)
                                {
                                    <div class="captcha-box">
                                        @Html.Raw(Html.GenerateCaptcha())
                                    </div>
                                }

                                <div class="buttons">
                                    <input class="btn btn-sm btn-primary" type="submit" value="@T("Account.Login.LoginButton")" />
                                    
                                @if (!Model.IsDemo)
                                {
                                    <div class="text-">
                                        @Html.RouteLink(T("Account.Login.ForgotPassword").Text, "PasswordRecovery", new { @class = "text-blue-gray" })
                                    </div>
                                }
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-6 offset-top-30">
                        @if (!Model.IsDemo)
                        {
                        <div class="bg-lightest section-30 inset-left-30 inset-right-30" style="height: 100%;">
                            @if (Model.CheckoutAsGuest)
                            {
                                <h3>@T("Account.Login.CheckoutAsGuestOrRegister")</h3>
                                <div>@Html.Action("TopicBlock", "Topic", new { systemName = "CheckoutAsGuestOrRegister" })</div>
                                <div class="offset-md-top-20">
                                    <input type="button" class="btn btn-sm btn-primary" onclick="location.href='@registerUrl'" value="@T("Account.Register")" />
                                    <input type="button" class="btn btn-sm btn-primary offset-top-30" onclick="location.href='@Url.RouteUrl("Checkout")'" value="@T("Account.Login.CheckoutAsGuest")" />
                                </div>
                            }
                            else
                            {
                                <h3 style="margin-bottom: 5px;">@T("Account.Login.NewCustomer")</h3>
                                <div class="row">
                                    <div class="col-md-2 col-sm-2 col-xs-3"><span class="fa fa-10x fa-exclamation text-warning" style="margin-right: 5px;"></span></div>
                                    <div class="col-md-10 col-sm-10 col-xs-9">
                                        <div class="text-warning text-lg"><h5>Please Note: </h5></div>
                                        <div><small>We only sell to licensed pest control operators. If you are considering a DIY approach to pest control, please visit the links below.</small></div>
                                        <ul style="list-style: disc; padding-left: 20px;">
                                            <li><small><a href="http://pestworld.org/news-hub/pest-articles/how-to-know-when-to-hire-a-pest-professional/" target="_blank">When to Hire a Pest Professional</a></small></li>
                                            <li><small><a href="http://pestworld.org/find-local-exterminators/" target="_blank">Find a Local Exterminator</a></small></li>
                                        </ul>
                                    </div>                                   
                                </div>
                                <h5 class="col-md-offset-2">Pest Control Operators:</h5>
                                <div class="col-md-offset-2"><small>Click the button below to request access to order online.</small></div>
                                <div class="offset-md-top-20">
                                    <input type="button" class="btn btn-xs btn-primary" onclick="location.href='@registerUrl'" value="@T("Account.Register")" />
                                </div>
                            }
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
</section>
</main>