﻿@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
<main class="page-content text-left">
    <section class="section-20 section-md-20 section-md-bottom-50">
        <div class="shell text-sm-left">
            <h2>@T("Account.PasswordRecovery")</h2>
            <hr class="divider divider-lg bg-primary hr-sm-left-0">

            <div class="page password-recovery-page">
                <div class="page-body">
                    @if (!String.IsNullOrEmpty(Model.Result))
                    {
                        <div class="result">
                            @Model.Result
                        </div>
                    }
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, new { @class = "form-label" }, ":")
                                    @Html.TextBoxFor(model => model.Email, new { autofocus = "autofocus", @class = "form-control form-validation-inside email", @data_constraints = "@Required" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                        <div class="buttons">
                            <input type="submit" name="send-email" class="btn btn-sm btn-primary password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</main>
