﻿@model PasswordRecoveryConfirmModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
@using Nop.Web.Models.Customer;
<main class="page-content text-left">
    <section class="section-20 section-md-20 section-md-bottom-50">
        <div class="shell text-sm-left">
            <h2>@T("Account.PasswordRecovery")</h2>
            <hr class="divider divider-lg bg-primary hr-sm-left-0">
            <div class="page password-recovery-page">
                <div class="page-body">
                    @if (!String.IsNullOrEmpty(Model.Result))
                    {
                        <div class="result">
                            @Model.Result
                        </div>
                    }
                    @if (!Model.DisablePasswordChanging)
                    {
                        using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.LabelFor(model => model.NewPassword, new { @class = "form-label" }, ":")
                                @Html.TextBoxFor(model => model.NewPassword, new { autofocus = "autofocus", @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                                @Html.ValidationMessageFor(model => model.NewPassword)
                            </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "form-label" }, ":")
                                        @Html.TextBoxFor(model => model.ConfirmNewPassword, new { autofocus = "autofocus", @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                                        @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                                    </div>
                                    <div class="buttons">
                                        <input type="submit" name="set-password" class="btn btn-sm btn-primary new-password-button" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
                                    </div>
                        }
                    }
                </div>
            </div>
        </div>
    </section>
</main>
            
