﻿@model RegisterModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
}
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script type="text/javascript">
        $(function () {
            $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
    </script>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <main class="page-content">
        <section class="section-lg-top-20 section-md-top-20 section-sm-top-150 section-xs-top-150 section-bottom-50">
            <div class="shell text-sm-left">

                <h2>@T("Account.Register")</h2>

                <hr class="divider divider-lg bg-primary hr-sm-left-0">
                <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-2 text-center"><span class="fa fa-7x fa-exclamation text-warning" style="margin-right: 5px;"></span></div>
                    <div class="col-md-11 col-sm-11 col-xs-10">
                        <div class="text-warning text-lg"><h5>Please Note: </h5></div>
                        <div><small>We only sell to licensed pest control operators. If you are considering a DIY approach to pest control, please visit the links below.</small></div>
                        <ul style="list-style: disc; padding-left: 20px;">
                            <li><small><a href="http://pestworld.org/news-hub/pest-articles/how-to-know-when-to-hire-a-pest-professional/" target="_blank">When to Hire a Pest Professional</a></small></li>
                            <li><small><a href="http://pestworld.org/find-local-exterminators/" target="_blank">Find a Local Exterminator</a></small></li>
                        </ul>
                        <h5>Pest Control Operators:</h5>
                        <div>@Html.Action("TopicBlock", "Topic", new { systemName = "RequestAccess" })</div>
                    </div>
                </div>

                @{
                    var validationSummary = Html.ValidationSummary(true);
                }
                
                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }
                
                @Html.Partial("_ExternalAuthentication.AssociateMessage")

                <h3>@T("Account.YourPersonalDetails")</h3>
                
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, new { @class = "form-label" })
                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control form-validation-inside firstname", @data_constraints = "@Required" })
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                        </div>
                        <div class="col-md-6 offset-top-0 offset-md-top-0 offset-sm-top-10 offset-xs-top-10">
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, new { @class = "form-label" })
                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control form-validation-inside lastname", @data_constraints = "@Required" })
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                        </div>
                    </div>
                    <div class="row offset-top-10">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "form-label" })
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-validation-inside email", @data_constraints = "@Required" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>
                        <div class="col-md-6 offset-top-0 offset-md-top-0 offset-sm-top-10 offset-xs-top-10">
                            @if (Model.UsernamesEnabled)
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Username, new { @class = "form-label" })
                                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control form-validation-inside username", @data_constraints = "@Required" })
                                    @Html.ValidationMessageFor(model => model.Username)

                                    @if (Model.CheckUsernameAvailabilityEnabled)
                                    {
                                        @Html.Partial("_CheckUsernameAvailability")
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        @if (Model.GenderEnabled)
                        {
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label(T("Account.Fields.Gender").Text, new { @class = "form-label", @style = "top: 0; left: 0;" }):
                                        <span class="male">
                                            @Html.RadioButton("Gender", "M", (Model.Gender == "M"), new { id = "gender-male" })
                                            <label class="forcheckbox" for="gender-male">@T("Account.Fields.Gender.Male")</label>
                                        </span>
                                        <span class="female">
                                            @Html.RadioButton("Gender", "F", (Model.Gender == "F"), new { id = "gender-female" })
                                            <label class="forcheckbox" for="gender-female">@T("Account.Fields.Gender.Female")</label>
                                        </span>
                                </div>
                            </div>
                        }

                        @if (Model.DateOfBirthEnabled)
                        {
                            <div class="inputs date-of-birth">
                                <label>@T("Account.Fields.DateOfBirth"):</label>
                                @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.DateOfBirthDay),
                                                            Html.FieldNameFor(x => x.DateOfBirthMonth),
                                                            Html.FieldNameFor(x => x.DateOfBirthYear),
                                                            DateTime.Now.Year - 110,
                                                            DateTime.Now.Year,
                                                            Model.DateOfBirthDay,
                                                            Model.DateOfBirthMonth,
                                                            Model.DateOfBirthYear)
                                @if (Model.DateOfBirthRequired)
                                {
                                    @Html.RequiredHint()
                                }
                                @Html.ValidationMessageFor(model => model.DateOfBirthDay)
                                @Html.ValidationMessageFor(model => model.DateOfBirthMonth)
                                @Html.ValidationMessageFor(model => model.DateOfBirthYear)
                            </div>
                        }
                    </div>
                </div>

                @if (Model.CompanyEnabled || Model.DisplayVatNumber)
                {
                    <h3>@T("Account.CompanyDetails")</h3>

                    <div class="container-fluid">
                        <div class="row">
                            @if (Model.CompanyEnabled)
                            {
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Company, new { @class = "form-label" })
                                        @Html.TextBoxFor(model => model.Company, new { @class = "form-control form-validation-inside company", @data_constraints = "@Required" })
                                        @Html.ValidationMessageFor(model => model.Company)
                                    </div>
                                </div>
                            }

                            @if (Model.DisplayVatNumber)
                            {
                                <div class="col-md-6 offset-top-0 offset-md-top-0 offset-sm-top-10 offset-xs-top-10">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.VatNumber, new { @class = "form-label" })
                                        @Html.TextBoxFor(model => model.VatNumber, new { @class = "form-control form-validation-inside vatnumber" })
                                        <span class="vat-note"><em>@T("Account.Fields.VatNumber.Note")</em></span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }

                @if (Model.StreetAddressEnabled || Model.StreetAddress2Enabled || Model.ZipPostalCodeEnabled || Model.CityEnabled || Model.CountryEnabled)
                {
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 offset-top-10">
                                @Html.HiddenFor(model => model.CountryId)
                                @if (Model.StreetAddressEnabled)
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.StreetAddress, new { @class = "form-label" })
                                        @Html.TextBoxFor(model => model.StreetAddress, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                                        @Html.ValidationMessageFor(model => model.StreetAddress)
                                    </div>
                                }
                                @if (Model.StreetAddress2Enabled)
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.StreetAddress2, new { @class = "form-label" })
                                        @Html.TextBoxFor(model => model.StreetAddress2, new { @class = "form-control form-validation-inside" })
                                        @Html.ValidationMessageFor(model => model.StreetAddress2)
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 offset-top-10">
                                @if (Model.CityEnabled)
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.City, new { @class = "form-label" })
                                        @Html.TextBoxFor(model => model.City, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                                        @Html.ValidationMessageFor(model => model.City)
                                    </div>
                                }
                            </div>
                            <div class="col-md-3 offset-top-10">
                                @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.StateProvinceId, new { @class = "form-label" })
                                        @Html.DropDownListFor(model => model.StateProvinceId, Model.AvailableStates, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                                        @Html.ValidationMessageFor(model => model.StateProvinceId)
                                        <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                    </div>
                                }
                            </div>
                            <div class="col-md-3 offset-top-10">
                                @if (Model.ZipPostalCodeEnabled)
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ZipPostalCode, new { @class = "form-label" })
                                        @Html.TextBoxFor(model => model.ZipPostalCode, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                                        @Html.ValidationMessageFor(model => model.ZipPostalCode)
                                    </div>
                                }
                            </div>
                            @*<div class="col-md-3 offset-top-10 hidden">
                                @if (Model.CountryEnabled)
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CountryId, new { @class = "form-label" })
                                        @Html.DropDownListFor(model => model.CountryId, Model.AvailableCountries, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                                        @Html.ValidationMessageFor(model => model.CountryId)
                                    </div>
                                }
                            </div>*@
                        </div>

                    </div>
                }

                @if (Model.PhoneEnabled || Model.FaxEnabled)
                {
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 offset-top-10">
                                @if (Model.PhoneEnabled)
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Phone, new { @class = "form-label" })
                                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                                        @Html.ValidationMessageFor(model => model.Phone)
                                    </div>
                                }
                            </div>
                            <div class="col-md-6 offset-top-10">
                                @if (Model.FaxEnabled)
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Fax, new { @class = "form-label" })
                                        @Html.TextBoxFor(model => model.Fax, new { @class = "form-control form-validation-inside" })
                                        @Html.ValidationMessageFor(model => model.Fax)
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }

                <h3>@T("Account.YourPassword")</h3>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, new { @class = "form-label" })
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                        </div>
                        <div class="col-md-6  offset-top-0 offset-md-top-0 offset-sm-top-10 offset-xs-top-10">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "form-label" })
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.DisplayCaptcha)
                {
                    <h3>Human Verification</h3>
                    <div class="container-fluid">
                        @*@Html.Raw(Html.GenerateCaptcha())*@
                        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                        <div class="g-recaptcha" data-sitekey="6LcUCDcUAAAAAHPUPkt2mQhuNnlMVzF04urAeCpj"></div>
                        @*<div id="recaptcha_widget" style="display:none">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="recaptcha_image"></div>
                                    <div style="margin-top: 10px;"><a class="small" href="javascript:Recaptcha.reload()"><span class="fa fa-2x fa-refresh" style="margin-right: 10px;"></span>Refresh CAPTCHA</a></div>
                                </div>
                            </div>
                            <div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>
                            <div class="form-group">
                                <label class="recaptcha_only_if_image form-label" for="recaptcha_response_field">Enter the Words Above</label>
                                <label class="recaptcha_only_if_audio form-label" for="recaptcha_response_field">Enter the Numbers You Hear</label>
                                <input id="recaptcha_response_field" class="form-control form-validation-inside" name="recaptcha_response_field" type="text" />
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="recaptcha_only_if_image"><a class="small" href="javascript:Recaptcha.switch_type('audio')"><span class="fa fa-file-audio-o" title="Get an Audio CAPTCHA"></span></a></span>
                                    <span class="recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')"><span class="fa fa-file-image-o" title="Get an Image CAPTCHA"></span></a></span>
                                    <span style="margin-left: 10px;"><a class="small" href="javascript:Recaptcha.showhelp()"><span class="fa fa-question-circle" title="What is this?"></span></a></span>
                                </div>
                            </div>


                            <div></div>
                        </div>*@
                    </div>
                }
                @if (Model.HoneypotEnabled)
                {
                    @Html.Raw(Html.GenerateHoneypotInput())
                }
                <div class="container-fluid text-center offset-top-50">
                    <div class="row">
                        <input type="submit" id="register-button" class="btn btn-sm btn-primary" value="@T("Account.Register.Button")" name="register-button" />
                    </div>
                </div>
            </div>
        </section>
    </main>
}