﻿@model RegisterResultModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);

    //continue URL
    var qs = this.Context.Request.QueryString["returnUrl"];
    var continueUrl = "";
    if (!String.IsNullOrEmpty(qs) && Url.IsLocalUrl(qs))
    {
        continueUrl = qs;
    }
    else
    {
        continueUrl = Url.RouteUrl("HomePage");
    }
}
<main class="page-content">
    <section class="section-20 section-md-20 section-md-bottom-50">
        <div class="shell text-sm-left">

            <h2>@T("Account.Register")</h2>

            <hr class="divider divider-lg bg-primary hr-sm-left-0">

            @Model.Result

            <div class="buttons">
                <input type="button" class="btn btn-sm btn-primary" onclick="location.href='@continueUrl'" value="@T("Account.Register.Result.Continue")" />
            </div>
        </div>
    </section>
</main>
