﻿@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
@{
    //current category ID
    int currentCategoryId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
    {
        currentCategoryId = Convert.ToInt32(Url.RequestContext.RouteData.Values["categoryId"].ToString());
    }


    //current manufacturer ID
    int currentManufacturerId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("manufacturer", StringComparison.InvariantCultureIgnoreCase))
    {
        currentManufacturerId = Convert.ToInt32(Url.RequestContext.RouteData.Values["manufacturerId"].ToString());
    }


    //current product ID
    int currentProductId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("product", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("productdetails", StringComparison.InvariantCultureIgnoreCase))
    {
        currentProductId = Convert.ToInt32(Url.RequestContext.RouteData.Values["productId"].ToString());
    }
}
<main class="page-content">
    <section class="section-20 section-md-20 section-md-bottom-50">
        <div class="shell text-sm-left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        @if (IsSectionDefined("left"))
                        {
                            @RenderSection("left")
                        }
                        else
                        {
                            @Html.Widget("left_side_column_before")
                            @Html.Action("CategoryNavigation", "Catalog", new { currentCategoryId = currentCategoryId, currentProductId = currentProductId })
                            @Html.Widget("left_side_column_after_category_navigation")
                            @Html.Action("ManufacturerNavigation", "Catalog", new { currentManufacturerId = currentManufacturerId })
                            @Html.Action("VendorNavigation", "Catalog")
                            @Html.Action("RecentlyViewedProductsBlock", "Product", new { productThumbPictureSize = 64 })
                            @*@Html.Action("PopularProductTags", "Catalog")*@
                            @Html.Action("PollBlock", "Poll", new { systemKeyword = "LeftColumnPoll" })
                            @Html.Widget("left_side_column_after")
                        }
                    </div>
                    <div class="col-md-9">

                        @if (IsSectionDefined("Breadcrumb"))
                        {
                            @section Breadcrumb {
                                @RenderSection("Breadcrumb")
                            }
                        }

                        @Html.Widget("main_column_before")
                        @RenderBody()
                        @Html.Widget("main_column_after")
                    </div>
                </div>
            </div>            
            <div class="side-2">                
            </div>
            <div class="center-2">
            </div>
        </div>
    </section>
</main>
            
