﻿@model AddressModel
@using Nop.Web.Models.Common;
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script type="text/javascript">
        $(function () {
            $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
    </script>
}
@Html.HiddenFor(model => model.Id)
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.LastName, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>
    </div>
    <div class="row offset-top-10">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            @if (Model.CompanyEnabled)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Company, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.Company, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                    @Html.ValidationMessageFor(model => model.Company)
                </div>
            }
            @if (Model.CountryEnabled)
            {
                @Html.HiddenFor(model => model.CountryId)
            }
            @if (Model.StreetAddressEnabled)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Address1, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.Address1, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                    @Html.ValidationMessageFor(model => model.Address1)
                </div>
            }
            @if (Model.StreetAddress2Enabled)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Address2, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.Address2, new { @class = "form-control form-validation-inside" })
                    @Html.ValidationMessageFor(model => model.Address2)
                </div>
            }
        </div>
    </div>
    <div class="row offset-top-10">
        <div class="col-md-6">
            @if (Model.CityEnabled)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.City, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.City, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                    @Html.ValidationMessageFor(model => model.City)
                </div>
            }
        </div>
        <div class="col-md-3">
            @if (Model.CountryEnabled && Model.StateProvinceEnabled)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.StateProvinceId, new { @class = "form-label" })
                    @Html.DropDownListFor(model => model.StateProvinceId, Model.AvailableStates, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                    <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                    @Html.ValidationMessageFor(model => model.StateProvinceId)
                </div>
            }
        </div>
        <div class="col-md-3">
            @if (Model.ZipPostalCodeEnabled)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.ZipPostalCode, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.ZipPostalCode, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                    @Html.ValidationMessageFor(model => model.ZipPostalCode)
                </div>
            }
        </div>
    </div>
    <div class="row offset-top-10">
        <div class="col-md-6">
            @if (Model.PhoneEnabled)
            {
            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                @if (Model.PhoneRequired)
                {

                }
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        }
        </div>
        <div class="col-md-6">
            @if (Model.FaxEnabled)
            {
            <div class="form-group">
                @Html.LabelFor(model => model.FaxNumber, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.FaxNumber, new { @class = "form-control form-validation-inside", @data_constraints = "@Required" })
                @if (Model.FaxRequired)
                {

                }
                @Html.ValidationMessageFor(model => model.FaxNumber)
            </div>
        }
        </div>
    </div>           
            
    @if (Model.CustomAddressAttributes.Count > 0)
    {
        @Html.Partial("_AddressAttributes", Model.CustomAddressAttributes)
    }
</div>
