﻿@model Nop.Web.Models.Common.SimplePagerModel
@using (Ajax.BeginForm("SearchOrderHistory", "Order", new AjaxOptions { HttpMethod = "POST", OnBegin = "OldhamChem.ShowProgressBar();", OnComplete = "OldhamChem.HideProgressBar();", UpdateTargetId = "OrderHistoryResults" }, new { id = "order-history-search" }))
{
    @Html.HiddenFor(model => model.PageSize)
    @Html.HiddenFor(model => model.PageIndex)
    @Html.HiddenFor(model => model.PageNumber)
    @Html.HiddenFor(model => model.TotalItems)
    @Html.HiddenFor(model => model.TotalPages)
        <ul class="pagination">
            @if (Model.TotalPages > Model.IndividualPagesToShow && Model.PageNumber > 1)
            {
                <li id="FirstPageContainer" class="pageNumber"><a class="pageNumberLink" data-pagenumber="1">@T("Pager.First")</a></li>
            }

            @if (Model.PageNumber > 1)
            {
                <li id="PreviousPageContainer" class="pageNumber"><a class="pageNumberLink" data-pagenumber="@(Model.PageNumber - 1)">@T("Pager.Previous")</a></li>
            }

            @if (Model.TotalPages > 1)
            {
                int FirstPageToShow = Model.GetFirstIndividualPageIndex() + 1;
                int LastPageToShow = Model.GetLastIndividualPageIndex() + 1;

                for (int Page = FirstPageToShow; Page <= LastPageToShow; Page++)
                {
                    string CssClass = "pageNumber";
                    if (Page == Model.PageNumber)
                    {
                        CssClass += " active";
                    }

                    <li class="@CssClass"><a class="pageNumberLink" data-pagenumber="@Page">@Page</a></li>
                }
            }
            else
            {
                <li class="pageNumber active"><a class="pageNumberLink" data-pagenumber="1">1</a></li>
            }

            @if (Model.TotalPages > 1 && Model.PageNumber < Model.TotalPages)
            {
                <li class="pageNumber"><a class="pageNumberLink" data-pagenumber="@(Model.PageNumber + 1)">@T("Pager.Next")</a></li>
            }

            @if (Model.TotalPages > 1 && Model.TotalPages > Model.IndividualPagesToShow && Model.PageNumber < Model.TotalPages)
            {
                <li class="pageNumber"><a class="pageNumberLink" data-pagenumber="@Model.TotalPages">@T("Pager.Last")</a></li>
            }
            
        </ul>
}
