﻿@model ProductOverviewModel
@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@{
    //prepare "Add to cart" AJAX link
    string addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = Model.EnteredQuantity;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
        //addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId });
    }

    var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}
<div class="product-item" data-productid="@Model.Id">
    <div class="picture">
        <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
        </a>
    </div>
    <div class="details">
        <h4 class="product-title">
            <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })">@Model.Name</a>
        </h4>
        @if (Model.ReviewOverviewModel.AllowCustomerReviews)
        {
            int ratingPercent = 0;
            if (Model.ReviewOverviewModel.TotalReviews != 0)
            {
                ratingPercent = ((Model.ReviewOverviewModel.RatingSum * 100) / Model.ReviewOverviewModel.TotalReviews) / 5;
            }
            <div class="product-rating-box" title="@string.Format(T("Reviews.TotalReviews").Text, Model.ReviewOverviewModel.TotalReviews)">
                <div class="rating">
                    <div style="width: @(ratingPercent)%">
                    </div>
                </div>
            </div>
        }
        <div class="description">
            @Html.Raw(Model.ShortDescription)
        </div>
        <div class="add-info">
            @Html.Widget("productbox_addinfo_before", Model.Id)

            @if (!String.IsNullOrWhiteSpace(Model.ProductPrice.Price))
            {
            <div class="prices">

                @if (!String.IsNullOrEmpty(Model.ProductPrice.OldPrice))
                {
                    <span class="price old-price">@Model.ProductPrice.OldPrice</span>
                }
                <span class="price actual-price">@Model.ProductPrice.Price</span>
                @if (Model.ProductPrice.DisplayTaxShippingInfo)
                {
                    var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
                    //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                    //of course, you can modify appropriate locales to include VAT info there
                    <span class="tax-shipping-info">
                        @T(inclTax ? "Products.Price.TaxShipping.InclTax" : "Products.Price.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                    </span>
                }
            </div>
            }
            @Html.Widget("productbox_addinfo_middle", Model.Id)
            <div class="buttons">
                @*<input type="button" value="@T("Products.Details")" class="button-1 product-box-detail-button" onclick="setLocation('@Url.RouteUrl("Product", new { SeName = Model.SeName })')" />*@
                @if (!Model.ProductPrice.DisableBuyButton)
                {
                    var addToCartText = T("ShoppingCart.AddToCart").Text;
                    if (Model.ProductPrice.IsRental)
                    {
                        addToCartText = T("ShoppingCart.Rent").Text;
                    }
                    if (Model.ProductPrice.AvailableForPreOrder)
                    {
                        addToCartText = T("ShoppingCart.PreOrder").Text;
                    }

                    @*if (Model.AddToCart != null)
                    {
                        var dataDictAddToCart = new ViewDataDictionary();
                        dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                        @Html.Partial("../Product/_AddToCart", Model.AddToCart, dataDictAddToCart)
                    }
                    else*@
                    //{
                    <div class="input-group">
                        @*@Html.TextBoxFor(model => model.EnteredQuantity, new { @class = "form-control", @style = "height: 43px; padding: 15px 15px;" })*@
                        <input id="entered-quantity-@Model.Id" class="form-control" style="height: 43px; padding: 15px 15px;" type="text" value="1" />
                        <script type="text/javascript">
                            $(document).ready(function () {

                                $("#@Html.FieldIdFor(model => model.EnteredQuantity)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#add-to-cart-button-@Model.Id").click();
                                        return false;
                                    }
                                });

                                $(".add-to-cart-button").click(function (e) {

                                    var ProductId = $(this).attr("data-productId");
                                    var EnteredQuantity = $("#entered-quantity-" + ProductId).val();

                                    var AddToCartUrl = "/addproducttocart/catalog/" + ProductId + "/1/" + EnteredQuantity;
                                    console.log(AddToCartUrl);
                                    AjaxCart.addproducttocart_catalog(AddToCartUrl);
                                    return false;

                                });
                            });
                        </script> 
                        <span class="input-group-btn"><input type="button" id="add-to-cart-button-@Model.Id" class="btn btn-xs btn-primary add-to-cart-button" value="@addToCartText" data-productid="@Model.Id" /></span>
                        @*<input type="button" value="@(addToCartText)" class="btn btn-xs btn-primary product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart_details('@addtocartlink');return false;" />*@

                    </div>
                   // }

                }
                @if (!Model.ProductPrice.DisableAddToCompareListButton)
                {
                    <input type="button" value="@T("ShoppingCart.AddToCompareList")" title="@T("ShoppingCart.AddToCompareList")" class="btn btn-xs btn-primary add-to-compare-list-button" onclick="AjaxCart.addproducttocomparelist('@addtocomparelink');return false;" />
                }
                @if (!Model.ProductPrice.DisableWishlistButton)
                {
                    <input type="button" value="@T("ShoppingCart.AddToWishlist")" title="@T("ShoppingCart.AddToWishlist")" class="btn btn-xs btn-primary add-to-wishlist-button" onclick="AjaxCart.addproducttocart_catalog('@addtowishlistlink');return false;" />
                }
            </div>

            @if (!String.IsNullOrWhiteSpace(Model.ProductPrice.CustomSpecial))
            {
                <h5 class="text-danger text-center" style="margin-bottom: 5px; margin-top: 5px;"><strong>@Html.Raw(Model.ProductPrice.CustomSpecial)</strong></h5>
            }
            @Html.Widget("productbox_addinfo_after", Model.Id)
        </div>
    </div>
</div>
