﻿@model ProductOverviewModel
@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@{
    //prepare "Add to cart" AJAX link
    string addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = Model.EnteredQuantity;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
        //addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId });
    }

    var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}

<div class="row" data-productid="@Model.Id" data-productsku="@Model.Sku">
    @{
        string ProductNameClass = "col-md-5";
        if (Model.ShowRemoveFromList)
        {
            ProductNameClass = "col-md-4";
            <div class="col-md-1"><a class="fa fa-remove text-danger ButtonRemoveProductFromFavorites" data-sku="@Model.Sku" title="Remove from Favorites"></a></div>
        }
    }
    <div class="col-md-2">@Model.Sku</div>
    <div class="@ProductNameClass"><a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })">@Model.Name</a></div>
    <div class="col-md-2 text-center">@Model.ProductPrice.Price</div>
    <div class="col-md-3">
        @if (!Model.ProductPrice.DisableBuyButton)
        {
            var addToCartText = T("ShoppingCart.AddToCart").Text;
            if (Model.ProductPrice.IsRental)
            {
                addToCartText = T("ShoppingCart.Rent").Text;
            }
            if (Model.ProductPrice.AvailableForPreOrder)
            {
                addToCartText = T("ShoppingCart.PreOrder").Text;
            }

            @*if (Model.AddToCart != null)
            {
                var dataDictAddToCart = new ViewDataDictionary();
                dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                @Html.Partial("../Product/_AddToCart", Model.AddToCart, dataDictAddToCart)
            }
            else*@
            //{
            <div class="input-group">
                @*@Html.TextBoxFor(model => model.EnteredQuantity, new { @class = "form-control", @style = "height: 43px; padding: 15px 15px;" })*@
                <input id="entered-quantity-@Model.Id" class="form-control" style="height: 43px; padding: 15px 15px;" type="text" value="1" />
                <script type="text/javascript">
                            $(document).ready(function () {

                                $("#@Html.FieldIdFor(model => model.EnteredQuantity)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#add-to-cart-button-@Model.Id").click();
                                        return false;
                                    }
                                });

                                $(".add-to-cart-button").click(function (e) {

                                    var ProductId = $(this).attr("data-productId");
                                    var EnteredQuantity = $("#entered-quantity-" + ProductId).val();

                                    var AddToCartUrl = "/addproducttocart/catalog/" + ProductId + "/1/" + EnteredQuantity;
                                    console.log(AddToCartUrl);
                                    AjaxCart.addproducttocart_catalog(AddToCartUrl);
                                    return false;

                                });
                            });
                </script>
                <span class="input-group-btn"><input type="button" id="add-to-cart-button-@Model.Id" class="btn btn-xs btn-primary add-to-cart-button" value="@addToCartText" data-productid="@Model.Id" style="padding: 10px 10px; line-height: 19px;" /></span>
                @*<input type="button" value="@(addToCartText)" class="btn btn-xs btn-primary product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart_details('@addtocartlink');return false;" />*@

            </div>
            // }

        }
        @if (!String.IsNullOrWhiteSpace(Model.ProductPrice.CustomSpecial))
            {
            <h5 class="text-danger text-center" style="margin-bottom: 5px;">@Html.Raw(Model.ProductPrice.CustomSpecial)</h5>
        }
    </div>
</div>