﻿<div class="modal fade" id="ModalProgressBar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" style="height: 75px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: transparent; border-width: 0px; box-shadow: none;">
    <div class="modal-body">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
            </div>
        </div>
    </div>
</div>