﻿@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")

<div class="page text-center">
    @Html.Partial("Header")
    <script type="text/javascript">
        AjaxCart.init(false, '.cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
    </script>
    @*<div class="header-menu">
        @Html.Action("TopMenu", "Catalog")
    </div>*@
    @*<div class="master-wrapper-content">*@
        @Html.Widget("content_before")

        @if (IsSectionDefined("Breadcrumb"))
        {
            @RenderSection("Breadcrumb")
        }
        @*<div class="master-column-wrapper">*@
            @RenderBody()
        @*</div>*@
        @Html.Widget("content_after")
    </div>
    @Html.Action("Footer", "Common")
@*</div>*@
@Html.Action("EuCookieLaw", "Common")


@Html.Partial("_ProgressBar")

@Html.Widget("body_end_html_tag_before")
@*@Html.Action("AdminHeaderLinks", "Common")*@