﻿@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@{
    //logo path
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/images/logo-mix.png";

    //store name
    var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);

}

<header id="header" class="header page-head header-panel-absolute">
    @Html.Widget("header")
    <!-- RD Navbar Transparent-->
    <div class="rd-navbar-wrap">
        <nav data-md-device-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-stick-up-offset="95" class="rd-navbar rd-navbar-default" data-lg-auto-height="true" data-auto-height="false" data-md-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                    <!--Navbar Brand Mobile-->
                    <div class="rd-navbar-mobile-brand"><a href="@Url.RouteUrl("HomePage")"><img src='@Url.Content(logoPath)' alt='@storeName' /></a></div>

                    <!-- RD Navbar Toggle-->
                    <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle bg-primary text-primary" value="Menu"><span class="bg-primary text-primary"></span></button>
                    <div class="rd-navbar-panel-title veil-md reveal-inline-block">
                        <!--RD Navbar Mobile Search-->
                        <div id="rd-navbar-search-mobile" style="margin-top: 8px;">
                            <form id="MobileSearchForm" action="search" method="GET" class="">
                                <div class="input-group">
                                    <input id="small-searchterms-mobile" type="text" name="q" autocomplete="off" class="form-control input-xxs form-control-gray-lightest" placeholder="@T("Search.SearchBox.Tooltip")" />
                                    @*@Html.Widget("searchbox_before_search_button")*@
                                    <span class="input-group-btn"><a id="MobileSearchFormSubmit" class="btn btn-xxs btn-primary" href="#" style="height: auto;"><span class="mdi mdi-18px mdi-magnify"></span></a></span>
                                </div>
                            </form>
                        </div>
                        @*<h4>Home</h4>*@
                    </div>
                    <!-- RD Navbar Right Side Toggle-->
                    <button data-rd-navbar-toggle=".right-side" class="rd-navbar-right-side-toggle veil-md bg-primary text-primary"><span class="bg-primary text-primary"></span></button>
                    <div class="shell">
                        <div class="range range-md-middle range-lg-top">
                            <div class="cell-md-3 left-side">
                                <div class="clearfix text-lg-left text-center">
                                    <!--Navbar Brand-->
                                    <div class="rd-navbar-brand"><a href="@Url.RouteUrl("HomePage")"><img title="" alt="@storeName" src="@Url.Content(logoPath)"></a></div>
                                </div>
                            </div>
                            <div class="cell-md-9 text-md-right right-side">
                                @Html.Action("HeaderLinks", "Common")
                                @Html.Action("FlyoutShoppingCart", "ShoppingCart")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rd-navbar-menu-wrap">
                    <div class="rd-navbar-nav-wrap">
                        <div class="rd-navbar-mobile-scroll">
                            <div class="rd-navbar-mobile-header-wrap">
                                <!--Navbar Brand Mobile-->
                                <div class="rd-navbar-mobile-brand"></div>
                                
                            </div>
                            <!-- RD Navbar Nav-->
                            @Html.Action("TopMenu", "Catalog")
                            
                        </div>
                    </div>
                    <!--RD Navbar Search-->
                    <div class="rd-navbar-search">
                        <a data-rd-navbar-toggle=".rd-navbar-search" href="#" class="rd-navbar-search-toggle mdi"><span></span></a>                        
                        @Html.Action("SearchBox", "Catalog")                        
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<script>
    $(function () {

        $("#MobileSearchFormSubmit").click(function (e) {

            $("#MobileSearchForm").submit();

        });

        $(".rd-navbar-search").click(function (e) {
            // Sets the focus to the search box when the search button is clicked
            // The timeout is necessary to make sure the element is visible before setting the focus.
            setTimeout(function () { $("#small-searchterms").focus() }, 100);
        });


    });
</script>