//- Bootstrap Pagination
//- size - pagination sizing class
//- active - active index of pagination
//- index - an array of {link} for indexes
//- prev - prev button {link}
//- next - next button {link}

mixin pagination-bootstrap(size, active, indexes, prev, next)
  // Bootstrap Pagination
  nav
    ul.pagination(class=size)
      //- Indexes
      each index, i in indexes
        if (i === (active -1))
          li(class= i === active - 1 ? "active" : "")
            span= i + 1
        else
          li(class= i === active - 1 ? "active" : "")
            a(href=index.href)= i + 1

