//- progress - object{progress}
mixin progress-bar-circle(progress)
  // Circle Progress bar-circle
  .progress-bar-circle(data-value= progress.value, data-gradient= progress.colorFill, data-thickness="10", data-empty-fill= progress.colorEmpty, data-size= progress.circleSize )
    span
  block