include ../elements/_ui-tabs-classic
include ../mixins/_rd-navbar-submenu-simple
//- RD Navbar Transparent
//- skin - rd navbar skin (transparent, inverse, default)
//- attrs - additional HTML attributes of rd navbar
//- logo - logo markup (<img/> or text)
//- links - nav links object
mixin rd-navbar-hamburger-menu(skin, attrs, logo, activeLink, links, title, showYear)
  // RD Navbar Transparent
  .rd-navbar-wrap
    nav&attributes(attrs).rd-navbar(class="#{skin}")#rd-navbar
      .rd-navbar-inner
        // RD Navbar Panel
        .rd-navbar-panel
          // RD Navbar Toggle
          button.rd-navbar-toggle(data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap, .rd-navbar-mobile-header-wrap")
            span
          .rd-navbar-panel-title.veil-lg.reveal-inline-block
            h4= title
        .rd-navbar-menu-wrap
          .rd-navbar-mobile-header-wrap
            //Navbar Brand Mobile
            .rd-navbar-mobile-brand
              a(href="index.html") !{logo}
              a.rd-navbar-mobile-search-toggle.mdi(data-custom-toggle="rd-navbar-search-mobile" href="#")
                span
            //RD Navbar Mobile Search
            div.rd-navbar-search-mobile#rd-navbar-search-mobile
              form(action="search-results.html" method="GET").rd-navbar-search-form.search-form-icon-right.rd-search
                div.form-group
                  label(for="rd-navbar-mobile-search-form-input" class="form-label") Search
                  input(class="rd-navbar-search-form-input form-control form-control-gray-lightest" id="rd-navbar-mobile-search-form-input" type="text" name="s" autocomplete="off")

          .rd-navbar-nav-wrap#rd-navbar-nav-wrap
            -var tabs = ""
            -var megamenus = [cfg.nav.pages]
            -var type = 'simple'
            .rd-navbar-mobile-scroll-holder
              .rd-navbar-mobile-scroll
                // RD Navbar Nav
                ul.rd-navbar-nav
                  each link, title in links
                    -type = 'simple'
                    li(class=(activeLink.title == link.title) ? 'active' : '')
                      a(href=link.href class=link.icon)
                        span= link.title
                      each tab in tabs
                        - if (JSON.stringify(tab) === JSON.stringify(link) ) type = 'tabs'
                      each megamenu in megamenus
                        -if (JSON.stringify(megamenu) === JSON.stringify(link) ) type = 'megamenu'
                      case type
                        when 'tabs'
                          .rd-navbar-megamenu
                            -var tabList = []
                            each title in link.submenu
                              -tabList.push(title.title)
                            if tabList.length > 0
                              +tabs-classic(tabList)
                                each tab in link.submenu
                                  .row
                                    ul
                                      each dropdown in tab.submenu
                                        li
                                          a(href=dropdown.href)= dropdown.title

                        when 'megamenu'
                          .rd-navbar-megamenu
                            ul
                              each dropdown in link.submenu
                                li
                                  h6
                                    span.small #{dropdown.title}
                                  ul.list-unstyled.offset-lg-top-25
                                    each link in dropdown.submenu
                                      li
                                        a(href=link.href)= link.title


                        default
                          +rd-navbar-simple-submenu(link)
                .rd-navbar-footer
                  .rd-navbar-address
                    ul.list-unstyled.list.p
                      li
                        span.icon.icon-xxs.fa-envelope-o.text-middle.icon-primary
                        a.inset-left-10.text-middle.text-white(href="mailto:#") info@demolink.org
                      li.offset-top-20
                        span.icon.icon-xxs.fa-clock-o.text-middle.icon-primary
                        span.inset-left-10.text-middle.text-white Mon-Sat: 7:00-19:00
                      li.offset-top-20
                        span.icon.icon-xxs.fa-phone.text-middle.icon-primary
                        a.inset-left-10.text-middle.text-white(href="callto:#") 1-800-1234-567
                    .offset-top-20
                      a(href="#").btn.btn-xs.btn-primary.btn-block know the cost
