//- Comment Box
//- type - comment box type
//- image - {image} object
//- date - comment date
//- title - comment author
//- body - comment body
mixin box-comment(type, image, date, title, body, replyTo)
  // Box Comment
  .box-comment.text-left(class=type)
    .unit.unit-xs-horizontal
      .unit-left
        img.img-circle.box-comment-img(src= image.src alt= image.alt width= image.width height= image.height)
      .unit-body
        div
          p.box-comment-title.text-primary.text-bold=  title
        ul.box-comment-meta.list-inline.list-inline-sm.text-gray
          li
            time(datetime="2016-01-01")= date
          if replyTo != undefined
            li
              span.box-comment-icon.mdi.fa-reply
              span.inset-left-5= replyTo

        .box-comment-body.offset-top-10
          p= body
          a(href="#").icon.reply.fa-reply.icon-xs.icon-primary
    block

