//- title - counter title
//- titleAttr - counter title classes
//- counter - {counter} Object

mixin counter-type-1(title, counter)
  // Counter type 1
  div.counter-type-1
    if counter.preffix != null
      .h2
        span.counter(data-speed= counter.dataSpeed data-from="0" data-to= counter.dataTo)
        span= counter.preffix
    else
      div
        .h2.font-accent
          span.counter(data-step= counter.dataSpeed data-from="0" data-to= counter.dataTo)
    if title != null
      .offset-top-12
        h6.text-gray= title

