//- Includes
include ../elements/_ui-rd-parallax
//- title - page title
//- icon - page icon
//- breacrumbs - an array of {link} object
mixin breadcrumb-classic(title, breadcrumbs)
    +rd-parallax({
      "backgroundSpeed": "0.35",
      "attrType": "media",
      "src": "images/backgrounds/bg-01-1920x400.jpg",
      "htmlSpeed": "0"
    })
      // Classic Breadcrumbs
      section.breadcrumb-classic.context-dark
        .shell.section-35.section-lg-top-85.text-sm-left
          h1.veil.reveal-sm-block= title
          .offset-lg-top-75.offset-sm-top-40
            ul.list-inline.list-inline-lg.list-inline-dashed.p
              each link, index in breadcrumbs
                if breadcrumbs[parseInt(index) + 1]
                  li
                    a(href=link.href).text-light= link.title
                else
                  li.text-light
                    = link.title
