//- progress - object{progress}
mixin progress-bar-linear(progress)
  // Linear progress bar
  .progress-linear(data-to= progress.valueTo)
    .progress-header.clearfix.font-accent
      span.small.text-bold.pull-left= progress.title
      span.text-bold.pull-right.progress-value.text-gray= progress.valueTo
    .progress-bar-linear-wrap.offset-top-5
      .progress-bar-linear.bg-primary