//- Subscribe Form Widget
//- holder - input placeholder
//- id - id of form output element
//- external - true if form output element is an external element
mixin widget-form-subscribe(holder, id, external, btnText)
  - var btn = (btnText === undefined) ? "Subscribe": btnText
  form.rd-mailform(data-form-output=id, data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
    .form-group
      .input-group.input-group-sm
        input.form-control(placeholder=holder, type="email", name="email" data-constraints="@Required @Email")
        span.input-group-btn
          button(type="submit").btn.btn-sm.btn-primary= btn

    if !external
      .form-output(id=id)