﻿@model StoreModel

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)

<script type="text/javascript">
    $(document).ready(function () {

        $("#@Html.FieldIdFor(model => model.SslEnabled)").click(toggleSslEnabled);
        
        toggleSslEnabled();
    });

    function toggleSslEnabled() {
        if ($('#@Html.FieldIdFor(model => model.SslEnabled)').is(':checked')) {
            $('#pnlSecureUrl').show();
        }
        else {
            $('#pnlSecureUrl').hide();
        }
    }
</script>
@(Html.LocalizedEditor<StoreModel, StoreLocalizedModel>("store-localized",
    @<table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Locales[item].Name):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Locales[item].Name)
                @Html.ValidationMessageFor(model => model.Locales[item].Name)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.HiddenFor(model => model.Locales[item].LanguageId)
            </td>
        </tr>
    </table>
    ,
    @<table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Name):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </td>
        </tr>
    </table>
))
<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Url):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.SslEnabled):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.SslEnabled)
            @Html.ValidationMessageFor(model => model.SslEnabled)
        </td>
    </tr>
    <tr>
        <td class="adminTitle" colspan="2">
            <em>@T("Admin.Configuration.Stores.Fields.SslEnabled.Hint2")</em>
        </td>
    </tr>
    <tr id="pnlSecureUrl">
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.SecureUrl):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.SecureUrl)
            @Html.ValidationMessageFor(model => model.SecureUrl)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Hosts):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Hosts)
            @Html.ValidationMessageFor(model => model.Hosts)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.DefaultLanguageId):
        </td>
        <td class="adminData">
            @Html.DropDownListFor(model => model.DefaultLanguageId, Model.AvailableLanguages)
            @Html.ValidationMessageFor(model => model.DefaultLanguageId)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.DisplayOrder):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.DisplayOrder)
            @Html.ValidationMessageFor(model => model.DisplayOrder)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.CompanyName):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.CompanyName)
            @Html.ValidationMessageFor(model => model.CompanyName)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.CompanyAddress):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.CompanyAddress)
            @Html.ValidationMessageFor(model => model.CompanyAddress)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Latitude):
        </td>
        <td class="adminData">
            @Html.TextBoxFor(model => model.Latitude)
            @Html.ValidationMessageFor(model => model.Latitude)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Longitude):
        </td>
        <td class="adminData">
            @Html.TextBoxFor(model => model.Longitude)
            @Html.ValidationMessageFor(model => model.Longitude)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.CompanyPhoneNumber):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.CompanyPhoneNumber)
            @Html.ValidationMessageFor(model => model.CompanyPhoneNumber)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.CompanyFaxNumber):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.CompanyFaxNumber)
            @Html.ValidationMessageFor(model => model.CompanyFaxNumber)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.CompanyVat):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.CompanyVat)
            @Html.ValidationMessageFor(model => model.CompanyVat)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.StoreEmail):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.StoreEmail)
            @Html.ValidationMessageFor(model => model.StoreEmail)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.StoreHours):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.StoreHours)
            @Html.ValidationMessageFor(model => model.StoreHours)
        </td>
    </tr>
</table>
