﻿@using Nop.Web.Models.ReturnRequest;

@model SubmitRepairRequestModel

<div id="ModalRepairRequest" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Repair Request #@Model.RepairRequest.AuthorizationNumber</h3>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-3 text-right"><strong>@T("Admin.ReturnRequests.Fields.Customer"):</strong></div>
                        <div class="col-sm-9">@Model.CustomerInfo.FirstName @Model.CustomerInfo.LastName</div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-3 text-right"><strong>@T("admin.orders.fields.company"):</strong></div>
                        <div class="col-sm-9">@Model.CustomerInfo.Company</div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-3 text-right"><strong>@T("Admin.Customers.Customers.Fields.Email"):</strong></div>
                        <div class="col-sm-9"><a href="mailto:@Model.CustomerInfo.Email?subject=Repair Request #@Model.RepairRequest.Id">@Model.CustomerInfo.Email</a></div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-3 text-right"><strong>@T("Admin.Customers.Customers.Fields.Phone"):</strong></div>
                        <div class="col-sm-9">@Model.CustomerInfo.Phone</div>
                    </div>
                </div>
                <hr />
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-3 text-right"><strong>@T("ReturnRequests.RepairRequests.DateCreated"):</strong></div>
                        <div class="col-sm-3">@Model.RepairRequest.CreatedOn.ToShortDateString()</div>
                        <div class="col-sm-3 text-right"><strong>@T("ReturnRequests.RepairRequests.Status"):</strong></div>
                        <div class="col-sm-3">@Model.RepairRequest.ReturnRequestStatus</div>
                    </div>
                </div>
                <hr />
                <div class="container-fluid">
                    <div class="row">
                        <div><strong>@T("ReturnRequests.RepairRequests.Product"):</strong></div>
                        <div>
                            @if (Model.RepairRequest.ProductId.HasValue) {
                                <div id="ContainerProduct" class="media offset-bottom-10">
                                    <div class="media-left"><img id="ImageProduct" class="media-object img-thumbnail" src="@Model.RepairRequest.ProductImageUrl" style="height: 100px;" /></div>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a id="LinkProduct" href="@Model.RepairRequest.ProductSeName" target="_blank">@Model.RepairRequest.ProductName</a></h4>
                                        <div>Sku: #<span id="ProductSku">@Model.RepairRequest.ProductSku</span></div>
                                    </div>
                                </div>
                            }
                            else {
                                <div>@Model.RepairRequest.ProductName</div>
                            }
                        </div>
                    </div>
                </div>
                <hr />
                <div class="container-fluid">
                    <div class="row">
                        <strong>@T("ReturnRequests.Comments"):</strong>&nbsp;@Model.RepairRequest.Comments
                    </div>
                </div>
            </div><!-- /.modal-content -->

            <div class="modal-footer">
                <button id="ButtonCloseRepairRequestModal" type="button" class="btn btn-xxs btn-danger">@T("Common.Close")</button>
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
