﻿@using Nop.Web.Models.Customer;
@using Nop.Web.Models.ReturnRequest;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.Themes;

@model RepairRequestsModel

@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.RepairRequests").Text);

    //store context
    var themeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
}

@*category breadcrumb*@
@section Breadcrumb
{
    <section class="section-20 section-md-20 section-md-bottom-0">
        <div class="shell text-sm-left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 inset-left-0">
                        <h2>@T("Account.MyAccount")<span class="fa fa-long-arrow-right inset-left-15 inset-right-15 text-gray"></span>@T("ReturnRequests.RepairRequests")</h2>
                        <hr class="divider divider-lg bg-primary hr-sm-left-0">
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.RepairRequests })
}
<br />
<div class="container-fluid">
    <div class="row">
        @if (!Model.RepairRequests.IsNullOrEmpty())
        {
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th style="width: 125px;">Auth. #</th>
                        <th>@T("ReturnRequests.RepairRequests.Product")</th>
                        <th style="width: 125px;">@T("ReturnRequests.RepairRequests.DateCreated")</th>
                        <th style="width: 75px;">@T("ReturnRequests.RepairRequests.Status")</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var request in Model.RepairRequests)
                    {
                        <tr>
                            <td>@request.AuthorizationNumber</td>
                            <td>
                                @if (request.ProductId.HasValue) {
                                    <a href="@Url.RouteUrl("Product", new { SeName = request.ProductSeName })">@request.ProductName</a>
                                }
                                else {
                                    <span>@request.ProductName</span>
                                }
                            </td>
                            <td>@request.CreatedOn.ToShortDateString()</td>
                            <td>@request.ReturnRequestStatus</td>
                            <td class="text-right"><button class="btn btn-xxs btn-default ButtonViewRequest" data-request-id="@request.Id">@T("Common.View")</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            @T("ReturnRequests.NoRepairRequests")
        }
    </div>
</div>

<script type="module">
        import RepairRequestsController from '@String.Format("/Themes/{0}/Scripts/Views/ReturnRequest/repairRequestsController.js", themeName)';
        const repairRequestsController = new RepairRequestsController();
</script>