﻿@using Nop.Web.Models.Order;

@model OrderHistorySearchModel

<input type="button" id="ExportOrderHistoryToExcel" name="ExportOrderHistoryToExcel" class="btn btn-xs btn-primary" value="@T("Admin.Common.ExportToExcel")" />
@*export selected (Excel). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
@using (Html.BeginForm("ExportInvoicesToExcel", "Order", FormMethod.Post, new { id = "ExportOrderHistoryToExcelForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => Model.OrderHistorySearchFormModel.InvoiceDateRange.StartDate)
    @Html.HiddenFor(m => Model.OrderHistorySearchFormModel.InvoiceDateRange.EndDate)
    @Html.HiddenFor(m => Model.OrderHistorySearchFormModel.InvoiceNumber)
    @Html.HiddenFor(m => Model.OrderHistorySearchFormModel.OrderNumber)
    @Html.HiddenFor(m => Model.OrderHistorySearchFormModel.ProductNumber)
}
<script type="text/javascript">

    $(function () {

        $('#ExportOrderHistoryToExcel').click(function (e) {

            e.preventDefault();

            OldhamChem.ShowProgressBar();

            SubmitOrderHistoryExportForm();
            
            setTimeout(function () {
                OldhamChem.HideProgressBar();
            }, 5000);


            return false;

        });

    });

    function SubmitOrderHistoryExportForm() {

        $('#ExportOrderHistoryToExcelForm').submit();

        return true;

    }

</script>
