﻿@using Nop.Web.Models.Order;

@model OrderHistorySearchModel

<div class="row">
    @if (Model.Invoices != null && Model.Invoices.Count > 0)
    {

        <div class="text-right offset-bottom-10">@{ Html.RenderPartial("_OrderHistoryExportForm", Model); }</div>
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>@T("Account.CustomerOrders.Order#")</th>
                        <th style="text-align: center;">@T("Account.CustomerOrders.Invoice#")</th>
                        <th style="text-align: center;">@T("Account.CustomerOrders.Date")</th>
                        <th style="text-align: right;">@T("Account.CustomerOrders.FreightCharge")</th>
                        <th style="text-align: right;">@T("Account.CustomerOrders.SalesTax")</th>
                        <th style="text-align: right;">@T("Account.CustomerOrders.Total")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.Invoices)
                    {
                        <tr>
                            <td style="width: 75px;">@order.OrderNumber</td>
                            <td style="text-align: center;">@order.InvoiceNumber</td>
                            <td style="text-align: center;">@order.DateInvoiceCreated.ToShortDateString()</td>
                            <td style="text-align: right;">@String.Format("{0:C}", order.FreightCharge)</td>
                            <td style="text-align: right;">@String.Format("{0:C}", order.SalesTax)</td>
                            <td style="text-align: right;">@String.Format("{0:C}", order.InvoiceAmount)</td>
                        </tr>

                        <tr>
                            <td>&nbsp;</td>
                            <td colspan="5" style="text-align: center;">
                                @if (order.InvoiceItems != null && order.InvoiceItems.Count > 0)
                                {
                                    <table>
                                        <thead>
                                        <th style="text-align: left;">@T("Products.SKU")</th>
                                        <th style="text-align: left;">@T("Account.CustomerOrders.Product")</th>
                                        <th style="text-align: center;">@T("ShoppingCart.Quantity")</th>
                                        <th style="text-align: center;">@T("Products.Price")</th>
                                        <th style="text-align: right;">@T("Account.CustomerOrders.Total")</th>
                                        </thead>
                                        <tbody>
                                            @foreach (var orderItem in order.InvoiceItems)
                                            {
                                                <tr class="border-top">
                                                    <td style="text-align: left; vertical-align: top;">@orderItem.Product.Sku</td>
                                                    <td style="text-align: left; vertical-align: top;">
                                                        @if (orderItem.Product != null && orderItem.Product.MetaDescription != null)
                                                        {
                                                            <a href="@Url.RouteUrl("Product", new { SeName = orderItem.Product.MetaDescription })" title="@orderItem.Product.Name">@orderItem.Product.Name</a>
                                                        }
                                                    </td>
                                                    <td style="text-align: center; vertical-align: top;">@orderItem.Quantity</td>
                                                    <td style="text-align: center; vertical-align: top;">@String.Format("{0:C}", orderItem.UnitPrice)</td>
                                                    <td style="text-align: right; vertical-align: top;"> @String.Format("{0:C}", orderItem.Total)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <div class="text-danger">No Items were available for reporting</div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div id="PagerContainer" class="text-center offset-top-10">
                @Html.HiddenFor(model => model.Pagination.PageSize)
                @Html.HiddenFor(model => model.Pagination.PageIndex)
                @Html.HiddenFor(model => model.Pagination.PageNumber)
                @Html.HiddenFor(model => model.Pagination.TotalItems)
                @Html.HiddenFor(model => model.Pagination.TotalPages)

                @{ Html.RenderPartial("_Pager", Model.Pagination); }
            </div>

            <script type="text/javascript">

                $(function () {

                    $('.pageNumberLink').click(function (e) {

                        e.preventDefault();

                        var pageNumber = $(this).data("pagenumber");
                        $("#Pagination_PageNumber").val(pageNumber);

                        SubmitOrderHistorySearchForm();

                    });



                    function SubmitOrderHistorySearchForm() {

                        $('#order-history-search').submit();

                        return true;

                    }

                });

            </script>
    }
    else
    {
        @T("Account.CustomerOrders.NoOrders")
    }
</div>
