﻿@model Nop.Web.Models.Order.OrderHistorySearchFormModel


@using (Ajax.BeginForm("SearchOrderHistory", "Order", new AjaxOptions { HttpMethod = "POST", OnBegin = "$('#Pagination_PageNumber').val('1');OldhamChem.ShowProgressBar();", OnComplete = "OldhamChem.HideProgressBar();", UpdateTargetId = "OrderHistoryResults" }, new { id = "order-history-search" }))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.InvoiceNumber, "Invoice #", new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.InvoiceNumber, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.OrderNumber, "Order #", new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.OrderNumber, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductNumber, "SKU", new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.ProductNumber, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row offset-top-10">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.InvoiceDateRange.StartDate, "Invoice Start Date", new { @class = "form-label" })
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.InvoiceDateRange.StartDate, new { @class = "form-control datepicker" })
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.InvoiceDateRange.EndDate, "Invoice End Date", new { @class = "form-label" })
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.InvoiceDateRange.EndDate, new { @class = "form-control datepicker" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row offset-top-10">
            <div class="col-md-12">
                @Html.HiddenFor(model => model.Pagination.FirstItem)
                @Html.HiddenFor(model => model.Pagination.HasNextPage)
                @Html.HiddenFor(model => model.Pagination.HasPreviousPage)
                @Html.HiddenFor(model => model.Pagination.LastItem)
                @Html.HiddenFor(model => model.Pagination.PageIndex)
                @Html.HiddenFor(model => model.Pagination.PageNumber)
                @Html.HiddenFor(model => model.Pagination.PageSize)
                @Html.HiddenFor(model => model.Pagination.TotalItems)
                @Html.HiddenFor(model => model.Pagination.TotalPages)
                <input id="ButtonSearchOrderHistory" class="btn btn-xs btn-primary" type="submit" value="@T("Common.Search")" />
                <input id="ButtonClearSearchOrderHistory" class="btn btn-xs btn-danger" type="reset" value="@T("Admin.Common.Clear")" />
            </div>
        </div>
    </div>
}
<hr />

<script type="text/javascript">
    $(function () {

        $('.datepicker').datepicker({
            orientation: "bottom"
        });

        $('#ButtonClearSearchOrderHistory').click(function (e) {

            e.preventDefault();

            ResetOrderHistorySearchForm();

            SubmitOrderHistorySearchForm();

        });

        function ResetOrderHistorySearchForm() {

            $("#order-history-search")[0].reset();
            $("#Pagination_PageNumber").val("1");

            return true;

        }

        function SubmitOrderHistorySearchForm() {

            $("#order-history-search").submit();

            return true;

        }

    });
</script>