﻿@model CustomerOrderListModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@using Nop.Web.Models.Customer
@using Nop.Web.Models.Order;

@*category breadcrumb*@
@section Breadcrumb
    {
    <section class="section-20 section-md-20 section-md-bottom-0">
        <div class="shell text-sm-left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h2>@T("Account.MyAccount")<span class="fa fa-long-arrow-right inset-left-15 inset-right-15 text-gray"></span>@T("Account.CustomerOrders")</h2>
                        <hr class="divider divider-lg bg-primary hr-sm-left-0">
                    </div>
                </div>
            </div>
        </div>
    </section>

}

@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Orders })
}

<div class="container-fluid">
    <div class="row">
        @if (Model.Orders.Count > 0)
            {
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>@T("Account.CustomerOrders.OrderNumber")</th>
                        <th>@T("Account.CustomerOrders.OrderStatus")</th>
                        <th>@T("Account.CustomerOrders.OrderDate")</th>
                        <th>@T("Account.CustomerOrders.OrderTotal")</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.Orders)
                    {
                        <tr>
                            <td>@order.Id</td>
                            <td>@order.OrderStatus</td>
                            <td>@order.CreatedOn.ToString()</td>
                            <td>@order.OrderTotal</td>
                            <td>
                                @if (order.IsReturnRequestAllowed)
                                {
                                    <input type="button" value="@T("Account.CustomerOrders.ReturnItems")" class="btn btn-xs btn-primary return-items-button" onclick="setLocation('@Url.RouteUrl("ReturnRequest", new { orderId = order.Id })')" />
                                }
                                <input type="button" value="@T("Account.CustomerOrders.OrderDetails")" class="btn btn-xs btn-primary order-details-button" onclick="setLocation('@Url.RouteUrl("OrderDetails", new { orderId = order.Id })')" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            @T("Account.CustomerOrders.NoOrders")
        }
    </div>
</div>


@*@if (Model.RecurringOrders.Count > 0)
    {
        <div class="section recurring-payments">
            <div class="title">
                <strong>@T("Account.CustomerOrders.RecurringOrders")</strong>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="table-wrapper">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="start-date">
                                    @T("Account.CustomerOrders.RecurringOrders.StartDate")
                                </th>
                                <th class="cycle-info">
                                    @T("Account.CustomerOrders.RecurringOrders.CycleInfo")
                                </th>
                                <th class="next-payment">
                                    @T("Account.CustomerOrders.RecurringOrders.NextPayment")
                                </th>
                                <th class="total-cycles">
                                    @T("Account.CustomerOrders.RecurringOrders.TotalCycles")
                                </th>
                                <th class="cycles-remaining">
                                    @T("Account.CustomerOrders.RecurringOrders.CyclesRemaining")
                                </th>
                                <th class="initial-order">
                                    @T("Account.CustomerOrders.RecurringOrders.InitialOrder")
                                </th>
                                <th class="cancel">
                                    @T("Account.CustomerOrders.RecurringOrders.Cancel")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.RecurringOrders)
                            {
                                <tr>
                                    <td class="start-date">
                                        @item.StartDate
                                    </td>
                                    <td class="cycle-info">
                                        @item.CycleInfo
                                    </td>
                                    <td class="next-payment">
                                        @item.NextPayment
                                    </td>
                                    <td class="total-cycles">
                                        @item.TotalCycles
                                    </td>
                                    <td class="cycles-remaining">
                                        @item.CyclesRemaining
                                    </td>
                                    <td class="initial-order">
                                        <a href="@Url.RouteUrl("OrderDetails", new { orderId = item.InitialOrderId })">@string.Format(T("Account.CustomerOrders.RecurringOrders.ViewInitialOrder").Text, item.InitialOrderId)</a>
                                    </td>
                                    <td class="cancel">
                                        @if (item.CanCancel)
                                        {
                                            <input type="submit" name="cancelRecurringPayment@(item.Id)" value="@T("Account.CustomerOrders.RecurringOrders.Cancel")" class="button-2 cancel-recurring-order-button" />
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
        if (Model.CancelRecurringPaymentErrors.Count > 0)
        {
        <div class="message-error">
            <ul>
                @foreach (var error in Model.CancelRecurringPaymentErrors)
                {
                    <li>@error</li>
                }
            </ul>
        </div>
        }
    }*@


