@model OrderDetailsModel
@using Nop.Web.Models.Order
@{
    if (!Model.PrintMode)
    {
        Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Print.cshtml";
    }
    //title
    Html.AddTitleParts(T("PageTitle.OrderDetails").Text);
}
@if (Model.PrintMode)
{
    <script type="text/javascript">
        $(document).ready(function () {
            window.print();
        });
    </script>
}

<main class="page-content">
    <section class="section-20 section-md-20 section-md-bottom-50">
        <div class="shell text-sm-left">
            @if (!Model.PrintMode)
            {
                <div class="container-fluid offset-bottom-20">
                    <div class="row">
                        <div class="col-md-7 inset-left-0">
                            <h2>@T("Order.OrderInformation")</h2>
                            <hr class="divider divider-lg bg-primary hr-sm-left-0">
                        </div>
                        <div class="col-md-5 text-right">
                            <a href="@Url.RouteUrl("PrintOrderDetails", new { orderId = Model.Id })" target="_blank" class="btn btn-xs btn-primary print-order-button">@T("Order.Print")</a>
                            @if (!Model.PdfInvoiceDisabled)
                            {
                                <a href="@Url.RouteUrl("GetOrderPdfInvoice", new { orderId = Model.Id })" class="btn btn-xs btn-primary pdf-invoice-button">@T("Order.GetPDFInvoice")</a>
                            }
                        </div>
                    </div>
                </div>
            }

            @Html.Widget("orderdetails_page_top", Model.Id)

            <div class="container-fluid order-overview offset-bottom-20">
                <div class="row">
                    <div class="col-md-12">
                        <div class="order-number">
                            <h3>@T("Order.Order#")@Model.Id</h3>
                        </div>
                        <div class="order-date">
                            @T("Order.OrderDate"): @Model.CreatedOn.ToString("D")
                        </div>
                        <div class="order-status">
                            @T("Order.OrderStatus"): @Model.OrderStatus
                        </div>
                        <div class="order-total">
                            @T("Order.OrderTotal"): <strong>@Model.OrderTotal</strong>
                        </div>
                    </div>
                </div>
            </div>

            @Html.Widget("orderdetails_page_overview", Model.Id)

                <div class="container-fluid offset-bottom-20 order-details-area">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="bg-lightest section-20 inset-left-20 inset-right-20">
                                <div class="title">
                                    @T("Order.BillingAddress")
                                </div>
                                <div class="name">
                                    @Model.BillingAddress.FirstName @Model.BillingAddress.LastName
                                </div>
                                <div class="email">
                                    @T("Order.Email"): @Model.BillingAddress.Email
                                </div>
                                @if (Model.BillingAddress.PhoneEnabled)
                                {
                                    <div class="phone">
                                        @T("Order.Phone"): @Model.BillingAddress.PhoneNumber
                                    </div>
                                }
                                @if (Model.BillingAddress.FaxEnabled)
                                {
                                    <div class="fax">
                                        @T("Order.Fax"): @Model.BillingAddress.FaxNumber
                                    </div>
                                }
                                @if (Model.BillingAddress.CompanyEnabled && !String.IsNullOrEmpty(Model.BillingAddress.Company))
                                {
                                    <div class="company">
                                        @Model.BillingAddress.Company
                                    </div>
                                }
                                @if (Model.BillingAddress.StreetAddressEnabled)
                                {
                                    <div class="address1">
                                        @Model.BillingAddress.Address1
                                    </div>
                                }
                                @if (Model.BillingAddress.StreetAddress2Enabled && !String.IsNullOrEmpty(Model.BillingAddress.Address2))
                                {
                                    <div class="address2">
                                        @Model.BillingAddress.Address2
                                    </div>
                                }
                                @if (Model.BillingAddress.CityEnabled || Model.BillingAddress.StateProvinceEnabled || Model.BillingAddress.ZipPostalCodeEnabled)
                                {
                                    <div class="city-state-zip">
                                        @if (Model.BillingAddress.CityEnabled)
                                        {
                                            @Model.BillingAddress.City
                                        }
                                        @if (Model.BillingAddress.CityEnabled && (Model.BillingAddress.StateProvinceEnabled || Model.BillingAddress.ZipPostalCodeEnabled))
                                        {
                                            <text>,</text>
                                        }
                                        @if (Model.BillingAddress.StateProvinceEnabled)
                                        {
                                            @Model.BillingAddress.StateProvinceName
                                        }
                                        @if (Model.BillingAddress.ZipPostalCodeEnabled)
                                        {
                                            @Model.BillingAddress.ZipPostalCode
                                        }
                                    </div>
                                }
                                @if (Model.BillingAddress.CountryEnabled && !String.IsNullOrEmpty(Model.BillingAddress.CountryName))
                                {
                                    <div class="country">
                                        @Model.BillingAddress.CountryName
                                    </div>
                                }
                                @if (!String.IsNullOrEmpty(Model.VatNumber))
                                {
                                    <div class="vat">
                                        <span class="label">
                                            @T("Order.VATNumber")
                                        </span>
                                        <span class="value">
                                            @Model.VatNumber
                                        </span>
                                    </div>
                                }
                                @if (!String.IsNullOrEmpty(Model.BillingAddress.FormattedCustomAddressAttributes))
                                {
                                    <div class="custom-attributes-view">
                                        @Html.Raw(Model.BillingAddress.FormattedCustomAddressAttributes)
                                    </div>
                                }
                                @if (!String.IsNullOrEmpty(Model.PaymentMethod))
                                {
                                    @*<div class="title">
                                        @T("Order.Payment")
                                    </div>*@
                                    <div class="payment-method">
                                        <strong>
                                            @T("Order.Payment.Method"):
                                        </strong>
                                        <span class="value">
                                            @Model.PaymentMethod
                                        </span>
                                    </div>
                                    if (!Model.PrintMode)
                                    {
                                        <div class="payment-method-status">
                                            <strong>
                                                @T("Order.Payment.Status"):
                                            </strong>
                                            <span class="value">
                                                @Model.PaymentMethodStatus
                                            </span>
                                        </div>
                                    }
                                    if (!Model.PrintMode && Model.CanRePostProcessPayment)
                                    {
                                        @*Complete payment (for redirection payment methods)*@
                                        <div class="repost">
                                            @using (Html.BeginRouteForm("OrderDetails", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                <input type="submit" name="repost-payment" value="@T("Order.RetryPayment")" class="button-2 re-order-button" />
                                                <p class="hint">
                                                    <em>@T("Order.RetryPayment.Hint")</em>
                                                </p>
                                            }
                                        </div>
                                    }
                                }
                                @if (Model.CustomValues != null)
                                {
                                    foreach (var item in Model.CustomValues)
                                    {
                                        <div class="custom-value">
                                            <strong>
                                                @item.Key:
                                            </strong>
                                            <span class="value">
                                                @(item.Value != null ? item.Value.ToString() : "")
                                            </span>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="bg-lightest section-20 inset-left-20 inset-right-20">
                                @if (Model.IsShippable)
                            {
                                if (!Model.PickUpInStore)
                                {

                                    <div class="title">
                                        @T("Order.ShippingAddress")
                                    </div>
                                        <div class="name">
                                            @Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName
                                        </div>
                                        <div class="email">
                                            @T("Order.Email"): @Model.ShippingAddress.Email
                                        </div>
                                    if (Model.ShippingAddress.PhoneEnabled)
                                    {
                                        <div class="phone">
                                            @T("Order.Phone"): @Model.ShippingAddress.PhoneNumber
                                        </div>
                                    }
                                    if (Model.ShippingAddress.FaxEnabled)
                                    {
                                        <div class="fax">
                                            @T("Order.Fax"): @Model.ShippingAddress.FaxNumber
                                        </div>
                                    }
                                    if (Model.ShippingAddress.CompanyEnabled && !String.IsNullOrEmpty(Model.ShippingAddress.Company))
                                    {
                                        <div class="company">
                                            @Model.ShippingAddress.Company
                                        </div>
                                    }
                                    if (Model.ShippingAddress.StreetAddressEnabled)
                                    {
                                        <div class="address1">
                                            @Model.ShippingAddress.Address1
                                        </div>
                                    }
                                    if (Model.ShippingAddress.StreetAddress2Enabled && !String.IsNullOrEmpty(Model.ShippingAddress.Address2))
                                    {
                                        <div class="address2">
                                            @Model.ShippingAddress.Address2
                                        </div>
                                    }
                                    if (Model.ShippingAddress.CityEnabled ||
                                        Model.ShippingAddress.StateProvinceEnabled ||
                                        Model.ShippingAddress.ZipPostalCodeEnabled)
                                    {
                                        <div class="city-state-zip">
                                            @if (Model.ShippingAddress.CityEnabled)
                                            {
                                                @Model.ShippingAddress.City
                                            }
                                            @if (Model.ShippingAddress.CityEnabled && (Model.ShippingAddress.StateProvinceEnabled || Model.ShippingAddress.ZipPostalCodeEnabled))
                                            {
                                                <text>,</text>
                                            }
                                            @if (Model.ShippingAddress.StateProvinceEnabled)
                                            {
                                                @Model.ShippingAddress.StateProvinceName
                                            }
                                            @if (Model.ShippingAddress.ZipPostalCodeEnabled)
                                            {
                                                @Model.ShippingAddress.ZipPostalCode
                                            }
                                        </div>
                                    }
                                    if (Model.ShippingAddress.CountryEnabled && !String.IsNullOrEmpty(Model.ShippingAddress.CountryName))
                                    {
                                        <div class="country">
                                            @Model.ShippingAddress.CountryName
                                        </div>
                                    }
                                    if (!String.IsNullOrEmpty(Model.ShippingAddress.FormattedCustomAddressAttributes))
                                    {
                                        <div class="custom-attributes-view">
                                            @Html.Raw(Model.ShippingAddress.FormattedCustomAddressAttributes)
                                        </div>
                                    }
                                }
                                @*<div class="title">
                                    @T("Order.Shipping")
                                </div>*@
                                    <div class="shipping-method">
                                        <strong>
                                            @T("Order.Shipping.Name"):
                                        </strong>
                                        <span class="value">
                                            @Model.ShippingMethod
                                        </span>
                                    </div>
                                if (!Model.PrintMode && !Model.PickUpInStore)
                                {
                                    <div class="shipping-status">
                                        <strong>
                                            @T("Order.Shipping.Status"):
                                        </strong>
                                        <span class="value">
                                            @Model.ShippingStatus
                                        </span>
                                    </div>
                                }
                            }
                            </div>
                        </div>
                    </div>
                </div>

                @if (Model.Items.Count > 0)
                {
                    @Html.Widget("orderdetails_page_beforeproducts", Model.Id)
                    <div class="container-fluid section products">
                        <div class="row">
                            <h3>@T("Order.Product(s)")</h3>
                        </div>
                            <table class="table table-striped table-condensed">
                                @*<colgroup>
                                    @if (Model.ShowSku)
                                    {
                                        <col width="1" />
                                    }
                                    <col />
                                    <col width="1" />
                                    <col width="1" />
                                    <col width="1" />
                                </colgroup>*@
                                <thead>
                                    <tr>
                                        @if (Model.ShowSku)
                                        {
                                            <th class="sku">
                                                @T("Order.Product(s).SKU")
                                            </th>
                                        }
                                        <th class="name">
                                            @T("Order.Product(s).Name")
                                        </th>
                                        <th class="price">
                                            @T("Order.Product(s).Price")
                                        </th>
                                        <th class="quantity">
                                            @T("Order.Product(s).Quantity")
                                        </th>
                                        <th class="total">
                                            @T("Order.Product(s).Total")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Items)
                                    {
                                        <tr>
                                            @if (Model.ShowSku)
                                            {
                                                <td class="sku">
                                                    <label class="td-title">@T("Order.Product(s).SKU"):</label>
                                                    <span class="sku-number">@item.Sku</span>
                                                </td>
                                            }
                                            <td class="product">
                                                @if (!Model.PrintMode)
                                                {
                                                    <em><a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a></em>
                                                }
                                                else
                                                {
                                                    @item.ProductName
                                                }
                                                @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                                {
                                                    <div class="attributes">
                                                        @Html.Raw(item.AttributeInfo)
                                                    </div>
                                                }
                                                @if (!String.IsNullOrEmpty(item.RentalInfo))
                                                {
                                                    <div class="rental-info">
                                                        @Html.Raw(item.RentalInfo)
                                                    </div>
                                                }
                                                @if (item.DownloadId > 0)
                                                {
                                                    <div class="download">
                                                        <a href="@Url.RouteUrl("GetDownload", new { orderItemId = item.OrderItemGuid })">@T("DownloadableProducts.Fields.Download")</a>
                                                    </div>
                                                }
                                                @if (item.LicenseId > 0)
                                                {
                                                    <div class="download license">
                                                        <a href="@Url.RouteUrl("GetLicense", new {orderItemId = item.OrderItemGuid})">@T("DownloadableProducts.Fields.DownloadLicense")</a>
                                                    </div>
                                                }
                                                @Html.Widget("orderdetails_product_line", item.Id)
                                            </td>
                                            <td class="unit-price">
                                                <label class="td-title">@T("Order.Product(s).Price"):</label>
                                                <span class="product-unit-price">@item.UnitPrice</span>
                                            </td>
                                            <td class="quantity">
                                                <label class="td-title">@T("Order.Product(s).Quantity"):</label>
                                                <span class="product-quantity">@item.Quantity</span>
                                            </td>
                                            <td class="total">
                                                <label class="td-title">@T("Order.Product(s).Total"):</label>
                                                <span class="product-subtotal">@item.SubTotal</span>
                                            </td>
                                        </tr>
                                    }
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
    <td class="cart-total-left text-right" colspan="5">
        <strong>@T("Order.SubTotal"):</strong> <span>@Model.OrderSubtotal</span>
    </td>
</tr>
@if (!string.IsNullOrEmpty(Model.OrderSubTotalDiscount))
{
    <tr>
        <td class="cart-total-left text-right" colspan="5">
            <strong>@T("Order.SubTotalDiscount"):</strong> <span>@Model.OrderSubTotalDiscount</span>
        </td>
    </tr>
}
@if (Model.IsShippable)
{
    <tr>
        <td class="cart-total-left text-right" colspan="5">
            <strong>@T("Order.Shipping"):</strong> <span>@Model.OrderShipping</span>
        </td>
    </tr>
}
@if (!string.IsNullOrEmpty(Model.PaymentMethodAdditionalFee))
{
    <tr>
        <td class="cart-total-left text-right" colspan="5">
            <strong>@T("Order.PaymentMethodAdditionalFee"):</strong> <span>@Model.PaymentMethodAdditionalFee</span>
        </td>
    </tr>
}
@if (Model.DisplayTaxRates && Model.TaxRates.Count > 0)
{
    foreach (var taxRate in Model.TaxRates)
    {
        <tr>
            <td class="cart-total-left text-right" colspan="5">
                <strong>@string.Format(T("Order.TaxRateLine").Text, taxRate.Rate):</strong> <span>@taxRate.Value</span>
            </td>
        </tr>
    }
}
@if (Model.DisplayTax)
{
    <tr>
        <td class="cart-total-left text-right" colspan="5">
            <strong>@T("Order.Tax"):</strong> <span>@Model.Tax</span>
        </td>
    </tr>
}
@if (!string.IsNullOrEmpty(Model.OrderTotalDiscount))
{
    <tr>
        <td class="cart-total-left text-right" colspan="5">
            <strong>@T("Order.TotalDiscount"):</strong> <span>@Model.OrderTotalDiscount</span>
        </td>
    </tr>
}
@if (Model.GiftCards.Count > 0)
{
    foreach (var gc in Model.GiftCards)
    {
        <tr>
            <td class="cart-total-left text-right" colspan="5">
                <strong>@string.Format(T("Order.GiftCardInfo").Text, gc.CouponCode):</strong> <span>@gc.Amount</span>
            </td>
        </tr>
    }
}
@if (Model.RedeemedRewardPoints > 0)
{
    <tr>
        <td class="cart-total-left text-right" colspan="5">
            <strong>@string.Format(T("Order.RewardPoints").Text, Model.RedeemedRewardPoints):</strong> <span>@Model.RedeemedRewardPointsAmount</span>
        </td>
    </tr>
}
<tr>
    <td class="cart-total-left text-right" colspan="5">
        <strong>@T("Order.OrderTotal"):</strong> <span><strong>@Model.OrderTotal</strong></span>
    </td>
</tr>
                                </tfoot>
                            </table>                        
                    </div>
                        
                    @Html.Widget("orderdetails_page_afterproducts", Model.Id)

                    <div class="section options">
                        @if (Model.Items.Count > 0 && Model.DisplayTaxShippingInfo)
                        {
                            var inclTax = Model.PricesIncludeTax;
                            //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                            //of course, you can modify appropriate locales to include VAT info there
                            <div class="tax-shipping-info">
                                @T(inclTax ? "Order.TaxShipping.InclTax" : "Order.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                            </div>
                        }
                        @if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
                        {
                            <div class="selected-checkout-attributes">
                                @Html.Raw(Model.CheckoutAttributeInfo)
                            </div>
                        }
                        @if (!Model.PrintMode)
                        {
                            <div class="actions">
                                @if (Model.IsReOrderAllowed)
                                {
                                    <input type="button" value="@T("Order.Reorder")" class="button-1 re-order-button" onclick="setLocation('@Url.RouteUrl("ReOrder", new { orderId = Model.Id })    ')" />
                                }
                                @if (Model.IsReturnRequestAllowed)
                                {
                                    <input type="button" value="@T("Order.ReturnItems")" class="button-2 return-items-button" onclick="setLocation('@Url.RouteUrl("ReturnRequest", new { orderId = Model.Id })    ')" />
                                }
                            </div>
                        }
                    </div>

                        <div class="section totals">
                            <div class="total-info">
                                <table class="cart-total">
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                }
                @if (!Model.PrintMode)
                {
                    if (Model.Shipments.Count > 0)
                    {
                        <div class="section shipments">
                            <div class="title">
                                <strong>@T("Order.Shipments")</strong>
                            </div>
                            <div class="table-wrapper">
                                <table class="data-table">
                                    <colgroup>
                                        <col width="1" />
                                        <col />
                                        <col />
                                        <col />
                                        <col />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th class="shipment-id">
                                                @T("Order.Shipments.ID")
                                            </th>
                                            <th class="tracking-number">
                                                @T("Order.Shipments.TrackingNumber")
                                            </th>
                                            <th class="shipping-date">
                                                @T("Order.Shipments.ShippedDate")
                                            </th>
                                            <th class="delivery-date">
                                                @T("Order.Shipments.DeliveryDate")
                                            </th>
                                            <th class="view-details">
                                                @T("Order.Shipments.ViewDetails")
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Shipments)
                                        {
                                            <tr>
                                                <td class="shipment-id">
                                                    <label>@T("Order.Shipments.ID"):</label>
                                                    <span>@item.Id.ToString()</span>
                                                </td>
                                                <td class="tracking-number">
                                                    <label>@T("Order.Shipments.TrackingNumber"):</label>
                                                    @item.TrackingNumber
                                                </td>
                                                <td class="shipped-date">
                                                    <label>@T("Order.Shipments.ShippedDate"):</label>
                                                    @if (item.ShippedDate.HasValue)
                                                    {
                                                        <span>@item.ShippedDate.Value.ToString("D")</span>
                                                    }
                                                    else
                                                    {
                                                        <span>@T("Order.Shipments.ShippedDate.NotYet")</span>
                                                    }
                                                </td>
                                                <td class="delivery-date">
                                                    <label>@T("Order.Shipments.DeliveryDate"):</label>
                                                    @if (item.DeliveryDate.HasValue)
                                                    {
                                                        <span>@item.DeliveryDate.Value.ToString("D")</span>
                                                    }
                                                    else
                                                    {
                                                        <span>@T("Order.Shipments.DeliveryDate.NotYet")</span>
                                                    }
                                                </td>
                                                <td class="view-details">
                                                    <a href="@Url.RouteUrl("ShipmentDetails", new { shipmentId = item.Id })" title="@T("Order.Shipments.ViewDetails")">@T("Order.Shipments.ViewDetails")</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                }
                @if (!Model.PrintMode)
                {
                    if (Model.OrderNotes.Count > 0)
                    {
                        <div class="section order-notes">
                            <div class="title">
                                <strong>@T("Order.Notes")</strong>
                            </div>
                            <div class="table-wrapper">
                                <table class="data-table">
                                    <colgroup>
                                        <col />
                                        <col />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th class="created-on">
                                                @T("Order.Notes.CreatedOn")
                                            </th>
                                            <th class="note">
                                                @T("Order.Notes.Note")
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.OrderNotes)
                                        {
                                            <tr>
                                                <td class="created-on">
                                                    @item.CreatedOn.ToString()
                                                </td>
                                                <td class="note">
                                                    @Html.Raw(item.Note)
                                                    @if (item.HasDownload)
                                                    {
                                                        <p class="download">
                                                            <a href="@Url.RouteUrl("GetOrderNoteFile", new { ordernoteid = item.Id })">@T("Order.Notes.Download")</a>
                                                        </p>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                }
                @Html.Widget("orderdetails_page_bottom", Model.Id)
            </div>

    </section>
</main>
