﻿@using Nop.Web.Models.Customer
@using Nop.Web.Models.Order;

@model OrderHistorySearchModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}

@*category breadcrumb*@
@section Breadcrumb
    {
    <section class="section-20 section-md-20 section-md-bottom-0">
        <div class="shell text-sm-left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h2>@T("Account.MyAccount")<span class="fa fa-long-arrow-right inset-left-15 inset-right-15 text-gray"></span>@T("Account.CustomerOrders.Reporting")</h2>
                        <hr class="divider divider-lg bg-primary hr-sm-left-0">
                    </div>
                </div>
            </div>
        </div>
    </section>

}

@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Orders })
}

@Html.Partial("_OrderHistorySearchForm", Model.OrderHistorySearchFormModel)

<div id="OrderHistoryResults" class="container-fluid">
    @{ Html.RenderPartial("_OrderHistoryList", Model); }
</div>