﻿@using Nop.Services.Customers
@using Nop.Services.Catalog
@using Nop.Services.Stores

@model CustomerModel

@if (Model.Id > 0)
{
    <div id="favoriteProducts-grid"></div>

    <script>
        $(document).ready(function () {
            $("#favoriteProducts-grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("FavoriteProductList", "Customer", new {customerId = Model.Id }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        },
                        create: {
                            url: "@Html.Raw(Url.Action("FavoriteProductInsert", "Customer", new { customerId = Model.Id }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        },
                        @*update: {
                            url:"@Html.Raw(Url.Action("FavoriteProductUpdate", "Customer"))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        },*@
                        destroy: {
                            url: "@Html.Raw(Url.Action("FavoriteProductDelete", "Customer"))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors",
                        model: {
                            id: "Id",
                            fields: {
                                Store: { editable: true, type: "string" },
                                StoreId: { editable: true, type: "number" },
                                //CustomerRole: { editable: true, type: "string" },
                                //CustomerId: { editable: false, type: "number" },
                                ProductId: { editable: true, type: "number" },
                                Product: { editable: true, type: "string" },
                                //Quantity: { editable: true, type: "number" },
                                //Price: { editable: true, type: "number" },
                                Id: { editable: false, type: "number" }
                            }
                        }
                    },
                    requestEnd: function (e) {
                        if (e.type == "create" || e.type == "update") {
                            this.read();
                        }
                    },
                    error: function (e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                columns: [{
                    field: "StoreId",
                    title: "@T("Admin.Label.Store")",
                    width: 250,
                    editor: storeDropDownEditor,
                    template: "#:Store#"
                },
                {
                    field: "ProductId",
                    title: "@T("Admin.Label.Product")",
                    width: 250,
                    editor: productDropDownEditor,
                    template: "<a href='/Admin/Product/Edit/#:ProductId#' target='_blank'>#:Product#</a>"
                },

                @*{
                    field: "Quantity",
                    title: "@T("Admin.Catalog.Products.FavoriteProducts.Fields.Quantity")",
                    width: 150,
                    //integer format
                    format: "{0:0}"
                },
                {
                    field: "Price",
                    title: "@T("Admin.Catalog.Products.FavoriteProducts.Fields.Price")",
                    width: 150,
                    editor: function (container, options) {
                        $('<input name="' + options.field + '"/>')
                                .appendTo(container)
                                .kendoNumericTextBox({
                                    format: "{0:n4}",
                                    decimals: 4
                                });
                    }
                },*@
                {
                    command: [
                    @*{
                        name: "edit",
                        text: {
                            update: "@T("Admin.Common.Update")",
                            cancel: "@T("Admin.Common.Cancel")"
                        }
                    },*@
                    {
                        name: "destroy",
                        text: "@T("Admin.Common.Delete")"
                    }],
                    width: 200
                }]
            });
        });

        //local datasource
        var allStores = [
            {
                Id : 0,
                Name : "@T("Admin.Configuration.Settings.AllSettings.Fields.StoreName.AllStores")"
            }
            @{
                var storeService = EngineContext.Current.Resolve<IStoreService>();
                var allStores = storeService.GetAllStores();
            }
            @foreach (var store in allStores)
            {
                <text>
                        , {
                            Id: @(store.Id),
                            Name: "@(Html.Raw(HttpUtility.JavaScriptStringEncode(store.Name)))"
                        }
                        </text>
            }
        ];

        var products = [
            {
                Id : 0,
                Name : "@T("Admin.Catalog.Products.FavoriteProducts.Fields.Product.All")"
            }
            @{
                var productService = EngineContext.Current.Resolve<IProductService>();
                var products = productService.GetAllProducts();
            }
            @foreach (var product in products)
            {
                <text>
                    , {
            Id: @(product.Id),
            Name: "@(Html.Raw(HttpUtility.JavaScriptStringEncode(product.Name)))"
        }
        </text>
            }
        ];

        function storeDropDownEditor(container, options) {
            $('<input required data-text-field="Name" data-value-field="Id" data-bind="value:StoreId"/>')
                .appendTo(container)
                .kendoDropDownList({
                    autoBind: false,
                    dataSource: allStores
                });
        }

        function productDropDownEditor(container, options) {
            $('<input required data-text-field="Name" data-value-field="Id" data-bind="value:ProductId"/>')
                .appendTo(container)
                .kendoDropDownList({
                    autoBind: false,
                    dataSource: products
                });
        }
    </script>
}
else
{
    @T("Admin.Catalog.Products.FavoriteProducts.SaveBeforeEdit")
}