﻿@using Nop.Core.Domain.Orders

@model CustomerModel

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div id="customer-edit">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#tabInfo" aria-controls="tabInfo" role="tab" data-toggle="tab">@T("Admin.Customers.Customers.Info")</a>
        </li>
        <li role="presentation">
            <a href="#tabCustomerRoles" aria-controls="tabInfo" role="tab" data-toggle="tab">@T("Admin.Customers.Customers.CustomerRoles")</a>
        </li>
        @if (Model.Id > 0)
        {
            <li role="presentation">
                <a href="#tabOrders" aria-controls="tabInfo" role="tab" data-toggle="tab">@T("Admin.Customers.Customers.Orders")</a>
            </li>
            <li role="presentation">
                <a href="#tabAddresses" aria-controls="tabInfo" role="tab" data-toggle="tab">@T("Admin.Customers.Customers.Addresses")</a>
            </li>
            <li role="presentation">
                <a href="#tabCurrentShoppingCart" aria-controls="tabInfo" role="tab" data-toggle="tab">@T("Admin.Customers.Customers.CurrentShoppingCart")</a>
            </li>
            <li role="presentation">
                <a href="#tabCurrentWishlist" aria-controls="tabInfo" role="tab" data-toggle="tab">@T("Admin.Customers.Customers.CurrentWishlist")</a>
            </li>
            <li role="presentation">
                <a href="#tabActivityLog" aria-controls="tabInfo" role="tab" data-toggle="tab">@T("Admin.Customers.Customers.ActivityLog")</a>
            </li>
            <li role="presentation">
                <a href="#tabImpersonate" aria-controls="tabInfo" role="tab" data-toggle="tab">@T("Admin.Customers.Customers.Impersonate")</a>
            </li>
            <li role="presentation">
                <a href="#tabBackInStockSubscriptions" aria-controls="tabInfo" role="tab" data-toggle="tab">@T("Admin.Customers.Customers.BackInStockSubscriptions")</a>
            </li>
            <li role="presentation">
                <a href="#tabContractPricing" aria-controls="tabInfo" role="tab" data-toggle="tab">@T("Admin.Customers.Customers.ContractPricing")</a>
            </li>
            <li role="presentation">
                <a href="#tabFavoriteProducts" aria-controls="tabInfo" role="tab" data-toggle="tab">@T("Admin.Customers.Customers.FavoriteProducts")</a>
            </li>
        }
        @if (Model.DisplayRewardPointsHistory)
        {
            <li role="presentation">
                <a href="#tabRewardPoints" aria-controls="tabInfo" role="tab" data-toggle="tab">@T("Admin.Customers.Customers.RewardPoints")</a>
            </li>
        }
    </ul>
    <div class="tab-content">
        <div id="tabInfo" role="tabpanel" class="tab-pane fade in active">
            @TabInfo()
        </div>
        <div id="tabCustomerRoles" role="tabpanel" class="tab-pane fade">
            @TabCustomerRoles()
        </div>
        @if (Model.Id > 0)
        {
            <div id="tabOrders" role="tabpanel" class="tab-pane fade">
                @TabOrders()
            </div>
            <div id="tabAddresses" role="tabpanel" class="tab-pane fade">
                @TabAddresses()
            </div>
            <div id="tabCurrentShoppingCart" role="tabpanel" class="tab-pane fade">
                @TabCurrentShoppingCart()
            </div>
            <div id="tabCurrentWishlist" role="tabpanel" class="tab-pane fade">
                @TabCurrentWishlist()
            </div>
            <div id="tabActivityLog" role="tabpanel" class="tab-pane fade">
                @TabActivityLog()
            </div>
            <div id="tabImpersonate" role="tabpanel" class="tab-pane fade">
                @TabImpersonate()
            </div>
            <div id="tabBackInStockSubscriptions" role="tabpanel" class="tab-pane fade">
                @TabBackInStockSubscriptions()
            </div>
            <div id="tabContractPricing" role="tabpanel" class="tab-pane fade">
                @TabContractPricing()
            </div>
            <div id="tabFavoriteProducts" role="tabpanel" class="tab-pane fade">
                @TabFavoriteProducts()
            </div>
        }
        @if (Model.DisplayRewardPointsHistory)
        {
            <div id="tabRewardsPoints" role="tabpanel" class="tab-pane fade">
                @TabRewardPoints()
            </div>
        }
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "customer-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">

@helper TabInfo()
{
    if (Model.CountryEnabled && Model.StateProvinceEnabled)
    {
        <script type="text/javascript">
        $(document).ready(function() {
            $("#@Html.FieldIdFor(model => model.CountryId)").change(function() {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");

                var postData = {
                    countryId: selectedItem,
                    addSelectStateItem: "true"
                };

                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("GetStatesByCountryId", "Country"))",
                    data: postData,
                    success: function(data) {
                        ddlStates.html('');
                        $.each(data, function(id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                    }
                });
            });
        });
        </script>
    }

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-2 control-label">@Html.LabelFor(model => model.Active):</div>
        <div class="col-sm-1" style="margin-top: 5px;">
            @Html.EditorFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active)
        </div>

        @if (Model.Id > 0)
        {
            <div class="col-sm-1 control-label">@Html.LabelFor(model => model.CreatedOn):</div>
            <div class="col-sm-2" style="margin-top: 7px;">@Html.DisplayFor(model => model.CreatedOn)</div>
            <div class="col-sm-1 control-label">@Html.LabelFor(model => model.LastActivityDate):</div>
            <div class="col-sm-2" style="margin-top: 7px;">@Html.DisplayFor(model => model.LastActivityDate)</div>
            <div class="col-sm-1 control-label">@Html.LabelFor(model => model.LastIpAddress):</div>
            <div class="col-sm-2" style="margin-top: 7px;">@Html.DisplayFor(model => model.LastIpAddress)</div>
            @*<div class="col-sm-1 control-label">@Html.LabelFor(model => model.LastVisitedPage):</div>
            <div class="col-sm-3">@Html.DisplayFor(model => model.LastVisitedPage)</div>*@
        }
    </div>

    <div class="form-group">
        <div class="col-sm-2 control-label">
            @Html.LabelFor(model => model.CustomerNumber):
        </div>
        <div class="col-sm-2">
            @Html.TextBoxFor(model => model.CustomerNumber, new { @class = "form-control", @style = "width: 100px;" })
            @Html.ValidationMessageFor(model => model.CustomerNumber)
        </div>
        <div class="col-sm-2 control-label">@Html.LabelFor(model => model.SelectedNewsletterSubscriptionStoreIds):</div>
        <div class="col-sm-2" style="margin-top: 5px;">
            @foreach (var store in Model.AvailableNewsletterSubscriptionStores)
            {
                <div>
                    <input type="checkbox" name="SelectedNewsletterSubscriptionStoreIds" value="@store.Id" checked="@(Model.SelectedNewsletterSubscriptionStoreIds != null && Model.SelectedNewsletterSubscriptionStoreIds.Contains(store.Id))" />(@(store.Name))
                </div>

            }
        </div>
        <div class="col-sm-2 control-label">@Html.LabelFor(model => model.IsTaxExempt):</div>
        <div class="col-sm-2" style="margin-top: 5px;">
            @Html.EditorFor(model => model.IsTaxExempt)
            @Html.ValidationMessageFor(model => model.IsTaxExempt)
        </div>
    </div>

    @if (Model.UsernamesEnabled)
    {
        <div class="form-group">
            <div class="col-sm-2 control-label">@Html.LabelFor(model => model.Username):</div>
            <div class="col-sm-10">
                @if (Model.Id == 0 || Model.AllowUsersToChangeUsernames)
                {
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Username)
                }
                else
                {
                    @Model.Username
                    @Html.HiddenFor(model => model.Username)
                }
            </div>
            <div class="col-sm-2 control-label"></div>
            <div class="col-sm-4"></div>
        </div>
    }

    <div class="form-group">
        <div class="col-sm-2 control-label">
            @Html.LabelFor(model => model.FirstName):
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
        <div class="col-sm-2 control-label">
            @Html.LabelFor(model => model.LastName):
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2 control-label">@Html.LabelFor(model => model.Email):</div>
        <div class="col-sm-4">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="col-sm-2 control-label">@Html.LabelFor(model => model.Password):</div>
        <div class="col-sm-4">
            <div class="input-group">
                @Html.TextBoxFor(model => model.Password, new { autocomplete = "off", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password)
                @if (Model.Id > 0)
                {
                    <span class="input-group-btn"><input type="submit" name="changepassword" class="btn btn-default" value="@T("Admin.Customers.Customers.Fields.Password.Change")" /></span>
                }
            </div>
        </div>
    </div>

    <div class="form-group">
        @if (Model.CompanyEnabled)
        {
            <div class="col-sm-2 control-label">@Html.LabelFor(model => model.Company):</div>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.Company, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Company)
            </div>
        }
        <div class="col-sm-2 control-label"> @Html.LabelFor(model => model.VendorId):</div>
        <div class="col-sm-4">
            @Html.DropDownListFor(model => model.VendorId, Model.AvailableVendors, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.VendorId)
            <span class="help-block">@T("Admin.Customers.Customers.VendorShouldBeInVendorsRole")</span>
        </div>
    </div>

    <hr />

    @if (Model.StreetAddressEnabled)
    {
        <div class="form-group">
            <div class="col-sm-2 control-label">
                @Html.LabelFor(model => model.StreetAddress):
            </div>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.StreetAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StreetAddress)
            </div>
            <div class="col-sm-2 control-label"></div>
            <div class="col-sm-4"></div>
        </div>
    }

    @if (Model.StreetAddress2Enabled)
    {
        <div class="form-group">
            <div class="col-sm-2 control-label">
                @Html.LabelFor(model => model.StreetAddress2):
            </div>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.StreetAddress2, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StreetAddress2)
            </div>
            <div class="col-sm-2 control-label"></div>
            <div class="col-sm-4"></div>
        </div>
    }

    @if (Model.CountryEnabled)
    {
        <div class="form-group">
            <div class="col-sm-2 control-label">
                @Html.LabelFor(model => model.CountryId):
            </div>
            <div class="col-sm-4">
                @Html.DropDownList("CountryId", Model.AvailableCountries, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CountryId)
            </div>
            <div class="col-sm-2 control-label"></div>
            <div class="col-sm-4"></div>
        </div>
    }

    <div class="form-group">
        @if (Model.CityEnabled)
        {
            <div class="col-sm-2 control-label">
                @Html.LabelFor(model => model.City):
            </div>
            <div class="col-sm-2">
                @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.City)
            </div>
        }
        @if (Model.CountryEnabled && Model.StateProvinceEnabled)
        {
            <div class="col-sm-2 control-label">@Html.LabelFor(model => model.StateProvinceId):</div>
            <div class="col-sm-2">
                @Html.DropDownList("StateProvinceId", Model.AvailableStates, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StateProvinceId)
            </div>
        }
        @if (Model.ZipPostalCodeEnabled)
        {
            <div class="col-sm-2 control-label">@Html.LabelFor(model => model.ZipPostalCode):</div>
            <div class="col-sm-2">
                @Html.TextBoxFor(model => model.ZipPostalCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ZipPostalCode)
            </div>
        }
    </div>

    <div class="form-group">
        @if (Model.PhoneEnabled)
        {
            <div class="col-sm-2 control-label">
                @Html.LabelFor(model => model.Phone):
            </div>
            <div class="col-sm-1">
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @style = "width: 100px;" })
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        }
        @if (Model.FaxEnabled)
        {
            <div class="col-sm-1 control-label">
                @Html.LabelFor(model => model.Fax):
            </div>
            <div class="col-sm-1">
                @Html.TextBoxFor(model => model.Fax, new { @class = "form-control", @style = "width: 100px;" })
                @Html.ValidationMessageFor(model => model.Fax)
            </div>
        }
        <div class="col-sm-7"></div>
    </div>

    <hr />

    <div class="form-group">
        <div class="col-sm-2 control-label">@Html.LabelFor(model => model.CustomerServiceRepresentatives):</div>
        <div class="col-sm-10">
            @for (int i = 0; i < Model.CustomerServiceRepresentatives.Count; i++)
            {
                <div class="col-sm-3">
                    @Html.HiddenFor(model => Model.CustomerServiceRepresentatives[i].Value)
                    @Html.CheckBoxFor(model => Model.CustomerServiceRepresentatives[i].Selected)
                    @Html.LabelFor(model => Model.CustomerServiceRepresentatives[i].Selected, Model.CustomerServiceRepresentatives[i].Text, new { @style = "font-weight: normal;" })
                </div>
            }
        </div>
    </div>

    <hr />

    <div class="form-group">
        @if (Model.PhoneEnabled)
        {
            <div class="col-sm-2 control-label">
                @Html.LabelFor(model => model.PictureId)
            </div>
            <div class="col-sm-2">
                @Html.EditorFor(model => model.PictureId)
                @Html.ValidationMessageFor(model => model.PictureId)
            </div>
            <div class="col-sm-2 control-label">
                @Html.LabelFor(model => model.AdminComment):
            </div>
            <div class="col-sm-6">
                @Html.TextAreaFor(model => model.AdminComment, new { @class = "form-control", style = "width: 100%; height: 100px;" })
                @Html.ValidationMessageFor(model => model.AdminComment)
            </div>
        }
    </div>

    <hr />

    @if (Model.CustomerAttributes.Count > 0)
    {
        @Html.Partial("_CustomerAttributes", Model.CustomerAttributes)
    }

</div>
    @*<table class="adminContent customer-info-tab">

        @if (Model.Id > 0 && Model.AssociatedExternalAuthRecords.Count > 0)
        {
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.AssociatedExternalAuthRecords):
                </td>
                <td class="adminData">

                    <div id="externalauthrecords-grid"></div>

                    <script>

                        //local datasource
                        var externalauthrecords = [
                            @for (int i = 0; i < Model.AssociatedExternalAuthRecords.Count; i++)
                            {
                                var aear = Model.AssociatedExternalAuthRecords[i];
                                <text>
    {
        AuthMethodName: "@(Html.Raw(HttpUtility.JavaScriptStringEncode(aear.AuthMethodName)))",
        Email: "@(Html.Raw(HttpUtility.JavaScriptStringEncode(aear.Email)))",
        ExternalIdentifier: "@(Html.Raw(HttpUtility.JavaScriptStringEncode(aear.ExternalIdentifier)))"
    }
</text>
                                if (i != Model.AssociatedExternalAuthRecords.Count - 1)
                                {
                                    <text>,</text>
                                }
                            }
                        ];

                        $(document).ready(function () {
                            $("#externalauthrecords-grid").kendoGrid({
                                dataSource: {
                                    data: externalauthrecords,
                                    schema: {
                                        model: {
                                            fields: {
                                                AuthMethodName: { type: "string" },
                                                Email: { type: "string" },
                                                ExternalIdentifier: { type: "string" }
                                            }
                                        }
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    }
                                },
                                pageable: {
                                    refresh: true,
                                    numeric: false,
                                    previousNext: false,
                                    info: false
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        field: "AuthMethodName",
                                        title: "@T("Admin.Customers.Customers.AssociatedExternalAuth.Fields.AuthMethodName")",
                                        width: 100
                                    }, {
                                        field: "Email",
                                        title: "@T("Admin.Customers.Customers.AssociatedExternalAuth.Fields.Email")",
                                        width: 100
                                    },{
                                        field: "ExternalIdentifier",
                                        title: "@T("Admin.Customers.Customers.AssociatedExternalAuth.Fields.ExternalIdentifier")",
                                        width: 300
                                    }
                                ]
                            });
                        });

                    </script>
                </td>
            </tr>
        }
        
        @if (Model.GenderEnabled)
        {
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.Gender):
                </td>
                <td class="adminData">
                    <div class="gender">
                        @Html.RadioButton("Gender", "M", (Model.Gender == "M"), new { id = "Gender_Male" })
                        <label class="forcheckbox" for="Gender_Male">@T("Admin.Customers.Customers.Fields.Gender.Male")</label>
                    </div>
                    <div class="gender">
                        @Html.RadioButton("Gender", "F", (Model.Gender == "F"), new { id = "Gender_Female" })
                        <label class="forcheckbox" for="Gender_Female">@T("Admin.Customers.Customers.Fields.Gender.Female")</label>
                    </div>
                </td>
            </tr>
        }
        
        @if (Model.DateOfBirthEnabled)
        {
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.DateOfBirth):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.DateOfBirth)
                    @Html.ValidationMessageFor(model => model.DateOfBirth)
                </td>
            </tr>
        }     
       
        
       

        
        @if (Model.AllowCustomersToSetTimeZone)
        {
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.TimeZoneId):
                </td>
                <td class="adminData">
                    @Html.DropDownList("TimeZoneId", Model.AvailableTimeZones)
                    @Html.ValidationMessageFor(model => model.TimeZoneId)
                </td>
            </tr>
        }
        @if (Model.AffiliateId > 0)
        {
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.AffiliateId):
                </td>
                <td class="adminData">
                    <a href="@Url.Action("Edit", "Affiliate", new { id = Model.AffiliateId })">@Model.AffiliateName - @T("Admin.Common.View")</a>
                    <input type="submit" name="remove-affiliate" class="k-button" value="@T("Admin.Customers.Customers.Fields.Affiliate.Remove")" />
                </td>
            </tr>
        }
        @if (Model.DisplayVatNumber)
        {
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.VatNumber):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.VatNumber)
                    (@string.Format(T("Admin.Customers.Customers.Fields.VatNumberStatus").Text, Model.VatNumberStatusNote))
                    <input type="submit" name="markVatNumberAsValid" class="k-button" value="@T("Admin.Customers.Customers.Fields.VatNumber.MarkAsValid")" />
                    <input type="submit" name="markVatNumberAsInvalid" class="k-button" value="@T("Admin.Customers.Customers.Fields.VatNumber.MarkAsInvalid")" />
                    @Html.ValidationMessageFor(model => model.VatNumber)
                </td>
            </tr>
        }
    </table>*@
}

@helper TabCustomerRoles()
{
    if (Model.AvailableCustomerRoles != null && Model.AvailableCustomerRoles.Count > 0)
    {
        foreach (var customerRole in Model.AvailableCustomerRoles)
        {
            <div>
                <input type="checkbox" name="SelectedCustomerRoleIds" value="@customerRole.Id" checked="@(Model.SelectedCustomerRoleIds != null && Model.SelectedCustomerRoleIds.Contains(customerRole.Id))" />&nbsp;@customerRole.Name
            </div>
        }
    }
    else
    {
        @T("Admin.Customers.Customers.Fields.CustomerRoles.NoRoles")
    }
}

@helper TabOrders()
{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    <div id="order-grid"></div>

    <script>
        $(document).ready(function () {
            $("#order-grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("OrderList", "Customer", new { customerId = Model.Id }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    pageSize: @(defaultGridPageSize),
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    pageSizes: [@(gridPageSizes)]
                },
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                columns: [{
                    field: "Id",
                    title: "@T("Admin.Customers.Customers.Orders.ID")",
                    width: 50
                }, {
                    field: "OrderTotal",
                    title: "@T("Admin.Customers.Customers.Orders.OrderTotal")",
                    width: 200
                }, {
                    field: "OrderStatus",
                    title: "@T("Admin.Customers.Customers.Orders.OrderStatus")",
                    width: 200
                }, {
                    field: "PaymentStatus",
                    title: "@T("Admin.Customers.Customers.Orders.PaymentStatus")",
                    width: 200
                }, {
                    field: "ShippingStatus",
                    title: "@T("Admin.Customers.Customers.Orders.ShippingStatus")",
                    width: 200
                }, {
                    field: "StoreName",
                    title: "@T("Admin.Customers.Customers.Orders.Store")",
                    width: 200
                }, {
                    field: "CreatedOn",
                    title: "@T("Admin.System.Log.Fields.CreatedOn")",
                    width: 200,
                    type: "date",
                    format: "{0:G}"
                }, {
                    field: "Id",
                    title: "@T("Admin.Common.View")",
                    width: 100,
                    template: '<a href="@Url.Content("~/Admin/Order/Edit/")#=Id#">@T("Admin.Common.View")</a>'
                }]
            });
        });
    </script>
}
@helper TabRewardPoints()
{
    <div id="customer-rewardpoints-grid"></div>

    <script>
        $(document).ready(function () {
            $("#customer-rewardpoints-grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("RewardPointsHistorySelect", "Customer", new { customerId = Model.Id }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                columns: [{
                    field: "StoreName",
                    title: "@T("Admin.Customers.Customers.RewardPoints.Fields.Store")"
                },{
                    field: "Points",
                    title: "@T("Admin.Customers.Customers.RewardPoints.Fields.Points")"
                }, {
                    field: "PointsBalance",
                    title: "@T("Admin.Customers.Customers.RewardPoints.Fields.PointsBalance")"
                },{
                    field: "Message",
                    title: "@T("Admin.Customers.Customers.RewardPoints.Fields.Message")"
                },{
                    field: "CreatedOn",
                    title: "@T("Admin.Promotions.Campaigns.Fields.CreatedOn")",
                    width: 200,
                    type: "date",
                    format: "{0:G}"
                }]
            });
        });
    </script>
    <p>
        <strong>
            @T("Admin.Customers.Customers.RewardPoints.AddTitle")
        </strong>
    </p>
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddRewardPointsValue)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddRewardPointsValue)
                @Html.ValidationMessageFor(model => model.AddRewardPointsValue)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddRewardPointsMessage)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddRewardPointsMessage)
                @Html.ValidationMessageFor(model => model.AddRewardPointsMessage)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddRewardPointsStoreId)
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.AddRewardPointsStoreId, Model.RewardPointsAvailableStores)
                @Html.ValidationMessageFor(model => model.AddRewardPointsStoreId)
            </td>
        </tr>
        <tr>
            <td colspan="2" align="left">
                <input type="button" id="addRewardPoints" class="k-button" value="@T("Admin.Customers.Customers.RewardPoints.AddButton")" />
            </td>
        </tr>
    </table>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#addRewardPoints').click(function () {
                var rewardPointsValue = $("#@Html.FieldIdFor(model => model.AddRewardPointsValue)").val();
                var rewardPointsMessage = $("#@Html.FieldIdFor(model => model.AddRewardPointsMessage)").val();
                var rewardPointsStoreId = $("#@Html.FieldIdFor(model => model.AddRewardPointsStoreId)").val();
                $('#addRewardPoints').attr('disabled', true);

                var postData = {
                    addRewardPointsValue: rewardPointsValue,
                    addRewardPointsMessage: rewardPointsMessage,
                    storeId: rewardPointsStoreId,
                    customerId: @Model.Id
                };
                addAntiForgeryToken(postData);

                $.ajax({
                    cache:false,
                    type: "POST",
                    url: "@(Url.Action("RewardPointsHistoryAdd", "Customer"))",
                    data: postData,
                    success: function (data) {
                        var grid = $("#customer-rewardpoints-grid").data('kendoGrid');
                        grid.dataSource.read();
                        $('#addRewardPoints').attr('disabled', false);
                    },
                    error:function (xhr, ajaxOptions, thrownError){
                        alert('Failed to add reward points.');
                        $('#addRewardPoints').attr('disabled', false);
                    }
                });
            });
        });
    </script>
}
@helper TabAddresses()
{

    string EditAddressHidden = "true";
    string DeleteAddressHidden = "true";

    if (Model.EditAddressEnabled)
    {
        EditAddressHidden = "false";
    }

    if (Model.DeleteAddressEnabled)
    {
        DeleteAddressHidden = "false";
    }

    if (Model.AddAddressEnabled)
    {
        <div class="text-right"><button id="ButtonAddAddress" type="button" class="btn btn-sm btn-default">@T("Admin.Customers.Customers.Addresses.AddButton")</button></div>
    }

    <div id="customer-addresses-grid"></div>

    <script>
        $(document).ready(function () {
            $("#customer-addresses-grid").kendoGrid({
                dataBound: (e) => {
                    bindAddressGridEvents();
                },
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("AddressesSelect", "Customer", new { customerId = Model.Id }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        },
                        @*destroy: {
                            url: "@Html.Raw(Url.Action("AddressDelete", "Customer", new { customerId = Model.Id }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        }*@
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors",
                        model: {
                            id: "Id"
                        }
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                columns: [{
                    field: "ShipToNumber",
                    title: "@T("Admin.Address.Fields.ShipToNumber")"
                },{
                    field: "FirstName",
                    title: "@T("Admin.Address.Fields.FirstName")"
                }, {
                    field: "LastName",
                    title: "@T("Admin.Address.Fields.LastName")"
                }, {
                    field: "Email",
                    title: "@T("Admin.Address.Fields.Email")"
                }, {
                    field: "PhoneNumber",
                    title: "@T("Admin.Address.Fields.PhoneNumber")"
                }, {
                    field: "FaxNumber",
                    title: "@T("Admin.Address.Fields.FaxNumber")"
                }, {
                    field: "AddressHtml",
                    title: "@T("Admin.Address")",
                    encoded: false
                },{
                    field: "CreatedOnUtc",
                    title: "@T("Admin.CreatedOn")",
                    template: '#= kendo.toString(common.convertJsonDateToFriendlyDate(CreatedOnUtc), "MM/dd/yyyy") #'
                },{
                    field: "DateUpdated",
                    title: "@T("Admin.LastUpdatedOn")",
                    template: '#= kendo.toString(common.convertJsonDateToFriendlyDate(DateUpdated), "MM/dd/yyyy") #'
                },
                {
                    field: "Id",
                    hidden: @EditAddressHidden,
                    title: "@T("Admin.Common.Edit")",
                    width: 50,
                    template: '<button class="btn btn-sm btn-info ButtonEditAddress" data-addressid="#=Id#" data-customerid="@Model.Id" title="@T("Admin.Common.Edit")" type="button"><span class="glyphicon glyphicon-pencil"></button>'
                },
                {
                    field: "Id",
                    hidden: @DeleteAddressHidden,
                    title: "@T("Admin.Common.Delete")",
                    width: 50,
                    template: '<button class="btn btn-sm btn-danger ButtonDeleteAddress" data-addressid="#=Id#" data-customerid="@Model.Id" title="@T("Admin.Common.Delete")" type="button"><span class="glyphicon glyphicon-trash"></button>'
                }
                @*{
                    command: {
                        name: "destroy",
                        className: 'btn btn-sm btn-danger',
                        iconClass: 'glyphicon glyphicon-trash',
                        text: ''
                    },
                    hidden: @DeleteAddressHidden,
                    title: "@T("Admin.Common.Delete")",
                    width: 50
                    }*@
                ]
            });

            $('#ButtonAddAddress').unbind('click');
            $('#ButtonAddAddress').click((e) => {
                loadAddressForm(null);
            });

            function bindAddressGridEvents() {
                $('.ButtonDeleteAddress').unbind('click');
                $('.ButtonDeleteAddress').click((e) => {
                    const addressId = $(e.currentTarget).data('addressid');

                    deleteAddress(addressId);
                });

                $('.ButtonEditAddress').unbind('click');
                $('.ButtonEditAddress').click((e) => {
                    const addressId = $(e.currentTarget).data('addressid');

                    loadAddressForm(addressId);
                });
            }

            function deleteAddress(addressId) {
                bootbox.confirm({
                    message: 'Are you sure you would like to delete this address?',
                    title: "Confirm Address Delete",
                    buttons: {
                        confirm: {
                            label: '<span class="glyphicon glyphicon-ok"></span>',
                            className: 'btn btn-sm btn-success'
                        },
                        cancel: {
                            label: '<span class="glyphicon glyphicon-remove"></span>',
                            className: 'btn btn-sm btn-danger'
                        }
                    },
                    callback: (result) => {
                        if (result) {
                            const data = {
                                id: addressId,
                                customerId: @Model.Id
                            };

                            $.ajax({
                                type: "POST",
                                url: "@(Url.Action("AddressDelete", "Customer"))",
                                data: addAntiForgeryToken(data),
                                success: (result) => {
                                    $('#customer-addresses-grid .k-pager-refresh').click();

                                    ux.displayAlert('The address was successfully deleted.', 'success', true);
                                },
                                error: () => {
                                    ux.displayAlert('An error occurred when attempting to delete the address.', 'danger', true);
                                }
                            });
                        }
                    }
                });

            }

            function loadAddressForm(addressId) {
                $.ajax({
                    type: "GET",
                    url: "@(Url.Action("GetCreateOrUpdateAddressPartial", "Address"))",
                    data: {
                        addressId: addressId,
                        customerId: @Model.Id
                    },
                    success: (addressPartial) => {
                        $('body').append(addressPartial);

                        $('#ModalAddEditAddress').unbind('ModalAddEditAddress.Saved');
                        $('#ModalAddEditAddress').on('ModalAddEditAddress.Saved', (e) => {
                            $('#customer-addresses-grid .k-pager-refresh').click();
                        });
                    },
                    error: () => {
                        alert('Failed to load address.');
                    }
                });
            }

        });

    </script>
}
@helper TabCurrentShoppingCart()
{
    <table class="adminContent">
        <tr>
            <td>
                <div id="currentshoppingcart-grid"></div>

                <script>
                    $(document).ready(function () {
                        $("#currentshoppingcart-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("GetCartList", "Customer", new { customerId = Model.Id, cartTypeId = (int)ShoppingCartType.ShoppingCart }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                numeric: false,
                                previousNext: false,
                                info: false
                            },
                            editable: {
                                confirmation: false,
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [{
                                field: "ProductName",
                                title: "@T("Admin.CurrentCarts.Product")",
                                width:500,
                                template: '<a href="@Url.Content("~/Admin/Product/Edit/")#=ProductId#">#:ProductName#</a>' +
                                    '# if(AttributeInfo && AttributeInfo.length > 0) {# <br />#=AttributeInfo# #} #'
                            }, {
                                field: "Quantity",
                                title: "@T("Admin.CurrentCarts.Quantity")",
                                width:200
                            },{
                                field: "UnitPrice",
                                title: "@T("Admin.CurrentCarts.UnitPrice")",
                                width:200
                            },{
                                field: "Total",
                                title: "@T("Admin.CurrentCarts.Total")",
                                width:200
                            },{
                                field: "Store",
                                title: "@T("Admin.CurrentCarts.Store")",
                                width:200
                            },{
                                field: "UpdatedOn",
                                title: "@T("Admin.CurrentCarts.UpdatedOn")",
                                width: 200,
                                type: "date",
                                format: "{0:G}"
                            }]
                        });
                    });
                </script>
            </td>
        </tr>
    </table>
}
@helper TabCurrentWishlist()
{
    <table class="adminContent">
        <tr>
            <td>
                <div id="currentwishlist-grid"></div>

                <script>
                    $(document).ready(function () {
                        $("#currentwishlist-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("GetCartList", "Customer", new { customerId = Model.Id, cartTypeId = (int)ShoppingCartType.Wishlist }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                numeric: false,
                                previousNext: false,
                                info: false
                            },
                            editable: {
                                confirmation: false,
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [{
                                field: "ProductName",
                                title: "@T("Admin.CurrentCarts.Product")",
                                width:500,
                                template: '<a href="@Url.Content("~/Admin/Product/Edit/")#=ProductId#">#:ProductName#</a>' +
                                    '# if(AttributeInfo && AttributeInfo.length > 0) {# <br />#=AttributeInfo# #} #'
                            }, {
                                field: "Quantity",
                                title: "@T("Admin.CurrentCarts.Quantity")",
                                width:200
                            },{
                                field: "UnitPrice",
                                title: "@T("Admin.CurrentCarts.UnitPrice")",
                                width:200
                            },{
                                field: "Total",
                                title: "@T("Admin.CurrentCarts.Total")",
                                width:200
                            },{
                                field: "Store",
                                title: "@T("Admin.CurrentCarts.Store")",
                                width:200
                            },{
                                field: "UpdatedOn",
                                title: "@T("Admin.CurrentCarts.UpdatedOn")",
                                width: 200,
                                type: "date",
                                format: "{0:G}"
                            }]
                        });
                    });
                </script>
            </td>
        </tr>
    </table>
}
@helper TabActivityLog()
{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    <table class="adminContent">
        <tr>
            <td>
                <div id="activitylog-grid"></div>

                <script>
                    $(document).ready(function () {
                        $("#activitylog-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("ListActivityLog", "Customer", new { customerId = Model.Id }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            editable: {
                                confirmation: false,
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [{
                                field: "ActivityLogTypeName",
                                title: "@T("Admin.Customers.Customers.ActivityLog.ActivityLogType")",
                                width: 300,
                            }, {
                                field: "Comment",
                                title: "@T("Admin.Customers.Customers.ActivityLog.Comment")"
                            }, {
                                field: "CreatedOn",
                                title: "@T("Admin.Customers.Customers.ActivityLog.CreatedOn")",
                                width: 200,
                                type: "date",
                                format: "{0:G}"
                            }]
                        });
                    });
                </script>
            </td>
        </tr>
    </table>
}
@helper TabImpersonate()
{
    <table class="adminContent">
        <tr>
            <td>
                @T("Admin.Customers.Customers.Impersonate.Description1")
                <br />
                @T("Admin.Customers.Customers.Impersonate.Description2")
                <br />
                <br />
                <input type="submit" name="impersonate" class="k-button" value="@T("Admin.Customers.Customers.Impersonate.Button")" />
            </td>
        </tr>
    </table>
}
@helper TabBackInStockSubscriptions()
{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    <table class="adminContent">
        <tr>
            <td>
                <div id="backinstock-subscriptions-grid"></div>

                <script>
                    $(document).ready(function () {
                        $("#backinstock-subscriptions-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("BackInStockSubscriptionList", "Customer", new { customerId = Model.Id }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            editable: {
                                confirmation: false,
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [{
                                field: "StoreName",
                                title: "@T("Admin.Customers.Customers.BackInStockSubscriptions.Store")",
                                width: 200,
                            }, {
                                field: "ProductId",
                                title: "@T("Admin.Customers.Customers.BackInStockSubscriptions.Product")",
                                width: 300,
                                template: '<a href="@Url.Content("~/Admin/Product/Edit/")#=ProductId#">#:ProductName#</a>'
                            },{
                                field: "CreatedOn",
                                title: "@T("Admin.Customers.Customers.BackInStockSubscriptions.CreatedOn")",
                                width: 200,
                                type: "date",
                                format: "{0:G}"
                            }]
                        });
                    });
                </script>
            </td>
        </tr>
    </table>
}
@helper TabContractPricing()
{
    @Html.Partial("_CreateOrUpdate.ContractPrices", Model)

}
@helper TabFavoriteProducts()
{
    @Html.Partial("_CreateOrUpdate.FavoriteProducts", Model)
}