﻿@using Nop.Core.Domain.Catalog;

@model IList<CustomerModel.CustomerAttributeModel>

@{
    var colCounter = 0;
    var attributeCount = Model.Count;
    var attributeCounter = 0;
}

@foreach (var attribute in Model)
{
    attributeCounter++;
    string controlId = string.Format("customer_attribute_{0}", attribute.Id);
    string textPrompt = attribute.Name;

    if (colCounter == 0)
    {
        @Html.Raw(@"<div class=""form-group"">")

    }
    <div class="col-sm-2 control-label"><label for="@(controlId)">@textPrompt:</label></div>
    <div class="col-sm-2">
        @switch (attribute.AttributeControlType)
        {
            case AttributeControlType.DropdownList:
                {
                    <select name="@(controlId)" id="@(controlId)" class="form-control">
                        @if (!attribute.IsRequired)
                        {
                            <option value="0">---</option>
                        }
                        @foreach (var attributeValue in attribute.Values)
                        {
                            <option selected="@attributeValue.IsPreSelected" value="@attributeValue.Id">@attributeValue.Name</option>
                        }
                    </select>
                }
                break;
            case AttributeControlType.RadioList:
                {
                    <ul class="option-list">
                        @foreach (var attributeValue in attribute.Values)
                        {
                            <li>
                                <input id="@(controlId)_@(attributeValue.Id)" type="radio" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected" />
                                <label for="@(controlId)_@(attributeValue.Id)">@attributeValue.Name</label>
                            </li>
                        }
                    </ul>
                }
                break;
            case AttributeControlType.Checkboxes:
            case AttributeControlType.ReadonlyCheckboxes:
                {
                    foreach (var attributeValue in attribute.Values)
                    {
                        <input id="@(controlId)_@(attributeValue.Id)" type="checkbox" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected" @(attribute.AttributeControlType == AttributeControlType.ReadonlyCheckboxes ? Html.Raw(" disabled=\"disabled\"") : null) />
                        <label for="@(controlId)_@(attributeValue.Id)" class="text-normal" style="font-weight: normal;">@attributeValue.Name</label>

                    }
                }
                break;
            case AttributeControlType.TextBox:
                {
                    <input name="@(controlId)" type="text" class="form-control" id="@(controlId)" value="@attribute.DefaultValue" />
                }
                break;
            case AttributeControlType.MultilineTextbox:
                {
                    <textarea id="@(controlId)" class="form-control" style="Width: 250px; Height: 150px;" name="@(controlId)">@attribute.DefaultValue</textarea>
                }
                break;
            case AttributeControlType.Datepicker:
            case AttributeControlType.FileUpload:
            case AttributeControlType.ColorSquares:
                {
                    //not support attribute type
                }
                break;
        }
    </div>

    colCounter++;

    if (colCounter == 3 || attributeCounter == attributeCount)
    {
        @Html.Raw("</div>")

        colCounter = 0;
    }
}