﻿@model Nop.Admin.Models.Customers.LocatorFormModel

@*@using (Ajax.BegiForm("GetCustomersForMap", "Customer", new AjaxOptions { HttpMethod = "POST", OnBegin = "ux.showProgressBar();", OnComplete = "customerMap.postSearchActions();", UpdateTargetId = "MapContainer" }, new { id = "SearchForm" }))*@

@using (Html.BeginForm("GetLocatorMap", "Customer", FormMethod.Post, new { id = "FormLocatorMap" }))
{
    @Html.AntiForgeryToken()

    <div class="well">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.SelectedWarehouse.Id, "Warehouse", new { @class = "col-sm-1 control-label" })
                <div class="col-sm-2">
                    @Html.DropDownListFor(model => model.SelectedWarehouse.Id, Model.Warehouses, new { @class = "form-control" })
                </div>
                @Html.LabelFor(model => model.SelectedRadius, "Radius", new { @class = "col-sm-1 control-label" })
                <div class="col-sm-2">
                    <div class="input-group">
                        @Html.DropDownListFor(model => model.SelectedRadius, Model.Radiuses, new { @class = "form-control" })
                        <div class="input-group-addon">miles</div>
                    </div>
                </div>
                @*@Html.LabelFor(model => model.SelectedLastOrderDateRange, "Last Order", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-2">
                    <div class="input-group">
                        @Html.DropDownListFor(model => model.SelectedLastOrderDateRange, Model.LastOrderDateRanges, new { @class = "form-control" })
                    </div>
                </div>*@
                <div class="col-sm-2 text-right">
                    <input type="submit" id="ButtonLoadMap" class="btn btn-primary" value="@T("Admin.Common.LoadMap")" />
                </div>
            </div>
        </div>
    </div>
}
