﻿@model List<LocatorCustomerModel>

@{
    int NumberOfCustomerAddresses = Model != null && Model.Any() ? Model.Count() : 0;
}
<input id="HiddenFieldCustomerCount" type="hidden" value="@NumberOfCustomerAddresses" />
<table class="CustomerTable" style="width: 100%;">
    <tr>
        <td>
            <div id="ContainerCustomerGrid">
            </div>
        </td>
    </tr>
</table>
@if (Model != null && Model.Any())
{    
    @*<table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Address</th>
                <th class="text-center">Last Activity</th>
                <th class="text-center">Mapped?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Customer in Model)
            {
                <tr>
                    <td><small><a href="Edit/@Customer.CustomerAddress.CustomerId" target="_blank">@Customer.Customer.FullName (@Customer.Customer.CustomerNumber)</a>
                        <div>@Customer.Customer.Company</div></small></td>
                    <td><small><address style="margin-bottom: 0;">@Customer.CustomerAddress.Address.Address1<br />
                        @Customer.CustomerAddress.Address.City
                        ,&nbsp;@Customer.CustomerAddress.Address.StateProvinceName
                        &nbsp;@Customer.CustomerAddress.Address.ZipPostalCode</address>                        
                        @Customer.CustomerAddress.Address.PhoneNumber</small>
                    </td>
                    <td class="text-center">
                        @{
                            string LastActivityText = Customer.Customer.LastActivityDate >= new DateTime(2016, 11, 1) ? Customer.Customer.LastActivityDate.ToShortDateString() : "Never";                        
                        }
                        <small>@LastActivityText</small>
                    </td>
                    <td class="text-center">@{
                            bool IsMapped = Customer.CustomerAddress.Address.Latitude.HasValue && Customer.CustomerAddress.Address.Latitude != 0 && Customer.CustomerAddress.Address.Longitude.HasValue && Customer.CustomerAddress.Address.Longitude != 0;
                            string IsMappedClass = IsMapped ? "text-success" : "text-danger";
                            string IsMappedText = IsMapped ? "Yes" : "No";                        
                        <span class="@IsMappedClass" style="font-weight: bold;">@IsMappedText</span>
                    }</td>
                </tr>
            }
        </tbody>
    </table>*@
}
