﻿@model CustomerModel
@{
    //page title
    ViewBag.Title = T("Admin.Customers.Customers.AddNew").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="col-md-6">
            <h4>
                <span class="glyphicon glyphicon-user offset-right-10"></span>&nbsp;@T("Admin.Customers.Customers.AddNew") @Html.ActionLink("(" + T("Admin.Customers.Customers.BackToList") + ")", "List")
            </h4>
        </div>
        <div class="col-md-6 text-right">
            <input type="submit" name="save" class="btn btn-sm btn-success" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="btn btn-sm btn-success" value="@T("Admin.Common.SaveContinue")" />
        </div>
    </div>

    @Html.Partial("_CreateOrUpdate", Model)
}