﻿@model CustomerModel

@{
    //page title
    ViewBag.Title = T("Admin.Customers.Customers.EditCustomerDetails").Text;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input id="CustomerId" type="hidden" value="@Model.Id" />

    <div class="container-fluid">
        <div class="col-md-6">
            <h4><span class="glyphicon glyphicon-user offset-right-10"></span>&nbsp;@T("Admin.Customers.Customers.EditCustomerDetails")</h4>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-sm btn-default" href="/Admin/Customer/List">Customers List</a>
            <input type="submit" name="save-continue" class="btn btn-sm btn-success" value="@T("Admin.Common.Save")" />
            <span class="dropdown">
                <button id="DropDownMenuSendMessage" aria-haspopup="true" aria-expanded="false" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" type="button">Send Message <span class="caret"></span></button>
                <ul aria-labelledby="DropDownMenuSendMessage" class="dropdown-menu dropdown-menu-right">
                    <li><a id="sendemail" href="#">@T("Admin.Customers.Customers.SendEmail")</a></li>
                    @if (Model.AllowSendingOfWelcomeMessage)
                    {
                        <li><a id="buttonSendWelcomeMessage" name="buttonSendWelcomeMessage" href="#">@T("Admin.Customers.Customers.SendWelcomeMessage")</a></li>
                    }
                    @if (Model.AllowReSendingOfActivationMessage)
                    {
                        <li><a id="resend-activation-message" name="resend-activation-message" href="#" onclick="if (confirm('@T("Admin.Common.AreYouSure")')) { $('form').submit(); }">@T("Admin.Customers.Customers.ReSendActivationMessage")</a></li>
                    }
                </ul>
            </span>
            <button id="customer-delete" class="btn btn-sm btn-danger" type="button">@T("Admin.Common.Delete")</button>
        </div>
    </div>

    @Html.Partial("_CreateOrUpdate", Model)
}

@Html.DeleteConfirmation("customer-delete")

@*send email form*@
<div id="sendemail-window" style="display:none;">
    @using (Html.BeginForm("SendEmail", "Customer", new { id = Model.Id }))
    {
        @Html.AntiForgeryToken()
        <table style="text-align:left;">
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.SendEmail.Subject):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.SendEmail.Subject)
                    @Html.ValidationMessageFor(model => model.SendEmail.Subject)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.SendEmail.Body):
                </td>
                <td class="adminData">
                    @Html.TextAreaFor(model => model.SendEmail.Body, new { style = "Width: 450px; Height: 350px;" })
                    @Html.ValidationMessageFor(model => model.SendEmail.Body)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" class="k-button" value="@T("Admin.Customers.Customers.SendEmail")" />
                </td>
            </tr>
        </table>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#sendemail").click(function (e) {
            e.preventDefault();
            var window = $("#sendemail-window");
            if (!window.data("kendoWindow")) {
                window.kendoWindow({
                    modal: true,
                    width: "600px",
                    title: "@T("Admin.Customers.Customers.SendEmail")",
                    actions: ["Close"]
                });
            }
            window.data('kendoWindow').center().open();
        });
    });
</script>


@*send PM form*@
<div id="sendprivatemessage-window" style="display:none;">
    @using (Html.BeginForm("SendPm", "Customer", new { id = Model.Id }))
    {
        @Html.AntiForgeryToken()
        <table style="text-align: left;">
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.SendPm.Subject):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.SendPm.Subject)
                    @Html.ValidationMessageFor(model => model.SendPm.Subject)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.SendPm.Message):
                </td>
                <td class="adminData">
                    @Html.TextAreaFor(model => model.SendPm.Message, new { style = "Width: 350px; Height: 250px;" })
                    @Html.ValidationMessageFor(model => model.SendPm.Message)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" class="k-button" value="@T("Admin.Customers.Customers.SendPM")" />
                </td>
            </tr>
        </table>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#sendprivatemessage").click(function (e) {
            e.preventDefault();
            var window = $("#sendprivatemessage-window");
            if (!window.data("kendoWindow")) {
                window.kendoWindow({
                    modal: true,
                    width: "500px",
                    title: "@T("Admin.Customers.Customers.SendPM")",
                    actions: ["Close"]
                });
            }
            window.data('kendoWindow').center().open();
        });
    });
</script>


<script type="module">
    import CustomerAddEditController from '/Administration/Scripts/Views/Customer/customerAddEditController.js';
    const customerAddEditController = new CustomerAddEditController();
</script>