﻿@using System.Globalization;

@model CustomerListModel

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Customers.Customers").Text;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormSearchCustomers" }))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h4><span class="glyphicon glyphicon-user offset-right-10"></span>&nbsp;@T("Admin.Customers.Customers")</h4>
            </div>
            <div class="col-md-6 text-right">
                <a href="@Url.Action("Create")" class="btn btn-sm btn-info">@T("Admin.Common.AddNew")</a>
                <span class="dropdown">
                    <button id="DropDownMenuExport" aria-haspopup="true" aria-expanded="false" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" type="button">Import/Export <span class="caret"></span></button>
                    <ul aria-labelledby="DropDownMenuExport" class="dropdown-menu dropdown-menu-right">
                        <li><a id="exportxml-all" name="exportxml-all" href="#">@T("Admin.Common.ExportToXml.All")</a><input id="ExportXmlAll" name="ExportXmlAll" type="hidden" /></li>
                        <li><a id="exportxml-selected" href="#">@T("Admin.Common.ExportToXml.Selected")</a></li>
                        <li><a id="exportexcel-all" name="exportexcel-all" href="#">@T("Admin.Common.ExportToExcel.All")</a><input id="ExportExcelAll" name="ExportExcelAll" type="hidden" /></li>
                        <li><a id="exportexcel-selected" href="#">@T("Admin.Common.ExportToExcel.Selected")</a></li>
                    </ul>
                </span>
            </div>
        </div>
    </div>

    <div class="well well-sm form-horizontal">
        <div class="form-group">
            @if (Model.CustomerNumberEnabled)
            {
                <div class="col-sm-1 control-label">@Html.NopLabelFor(model => model.SearchCustomerNumber, false):</div>
                <div class="col-sm-2">@Html.TextBoxFor(model => model.SearchCustomerNumber, new { @class = "form-control" })</div>
            }
            <div class="col-sm-1 control-label">@Html.NopLabelFor(model => model.SearchEmail, false):</div>
            <div class="col-sm-2">@Html.TextBoxFor(model => model.SearchEmail, new { @class = "form-control" })</div>
            @if (Model.UsernamesEnabled)
            {
                <div class="col-sm-1 control-label">@Html.NopLabelFor(model => model.SearchUsername, false):</div>
                <div class="col-sm-2">@Html.TextBoxFor(model => model.SearchUsername, new { @class = "form-control" })</div>
            }
        </div>
        <div class="form-group">
            <div class="col-sm-1 control-label">@Html.NopLabelFor(model => model.SearchFirstName, false):</div>
            <div class="col-sm-2">@Html.TextBoxFor(model => model.SearchFirstName, new { @class = "form-control" })</div>
            <div class="col-sm-1 control-label">@Html.NopLabelFor(model => model.SearchLastName, false):</div>
            <div class="col-sm-2">@Html.TextBoxFor(model => model.SearchLastName, new { @class = "form-control" })</div>
            @if (Model.CompanyEnabled)
            {
                <div class="col-sm-1 control-label">@Html.NopLabelFor(model => model.SearchCompany, false):</div>
                <div class="col-sm-2">@Html.TextBoxFor(model => model.SearchCompany, new { @class = "form-control" })</div>
            }
        </div>
        <div class="form-group">
            @if (Model.PhoneEnabled)
            {
                <div class="col-sm-1 control-label">@Html.NopLabelFor(model => model.SearchPhone, false):</div>
                <div class="col-sm-2">@Html.TextBoxFor(model => model.SearchPhone, new { @class = "form-control" })</div>
            }
            @if (Model.ZipPostalCodeEnabled)
            {
                <div class="col-sm-1 control-label">@Html.NopLabelFor(model => model.SearchZipPostalCode, false):</div>
                <div class="col-sm-2">@Html.TextBoxFor(model => model.SearchZipPostalCode, new { @class = "form-control" })</div>
            }
            @if (Model.DateOfBirthEnabled)
            {
                <div class="col-sm-1 control-label">@Html.NopLabelFor(model => model.SearchDayOfBirth):</div>
                <div class="col-sm-2">
                    @{
                        var monthOfBirthValues = new List<SelectListItem>();
                        monthOfBirthValues.Add(new SelectListItem { Text = T("Admin.Customers.Customers.List.SearchDateOfBirth.Month").Text, Value = "0" });
                        for (int i = 1; i <= 12; i++)
                        {
                            monthOfBirthValues.Add(new SelectListItem { Text = i.ToString(CultureInfo.InvariantCulture), Value = i.ToString(CultureInfo.InvariantCulture) });
                        }
                        var dayOfBirthValues = new List<SelectListItem>();
                        dayOfBirthValues.Add(new SelectListItem { Text = T("Admin.Customers.Customers.List.SearchDateOfBirth.Day").Text, Value = "0" });
                        for (int i = 1; i <= 31; i++)
                        {
                            dayOfBirthValues.Add(new SelectListItem { Text = i.ToString(CultureInfo.InvariantCulture), Value = i.ToString(CultureInfo.InvariantCulture) });
                        }
                    }
                    @Html.DropDownListFor(model => model.SearchMonthOfBirth, monthOfBirthValues, new { @class = "form-control" })
                    @Html.DropDownListFor(model => model.SearchDayOfBirth, dayOfBirthValues, new { @class = "form-control" })
                </div>
            }
        </div>
        <div class="form-group">
            <div class="col-sm-1 control-label">@Html.NopLabelFor(model => model.SearchActive, false):</div>
            <div class="col-sm-2">@Html.DropDownList("SearchActive", Model.AvailableActiveStatus, new { @class = "form-control" })</div>
            <div class="col-sm-1 control-label">@Html.NopLabelFor(model => model.SearchCustomerRoleIds, false):</div>
            <div class="col-sm-8">
                @foreach (var customerRole in Model.AvailableCustomerRoles)
                {
                    <div class="col-sm-2">
                        <input type="checkbox" name="SearchCustomerRoleIds" value="@customerRole.Id"
                               @if (Model.SearchCustomerRoleIds != null && Model.SearchCustomerRoleIds.Contains(customerRole.Id)) { <text> checked="checked" </text> } />&nbsp;@customerRole.Name
                        </div>
                    }
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-sm-1 control-label"></div>
            <div class="col-sm-11"><button type="button" id="search-customers" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-search offset-right-10"></span>@T("Admin.Common.Search")</button></div>
        </div>
    </div>
    <table class="adminContent">
        <tr>
            <td>
                <div id="customers-grid"></div>

                <script>
                    $(document).ready(function () {

                        var AddressTemplate = "<address style=\"margin-bottom: 0\">" +
                            "#=StreetAddress#<br />" +
                            "#if (StreetAddress2 !== null && StreetAddress2 !== '') { ##=StreetAddress2# </br /># }#" +
                            "#=City#,&nbsp;#=ZipPostalCode#" +
                            "</address>" +
                            "";

                        $("#customers-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("CustomerList", "Customer"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalData
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            scrollable: false,
                            dataBound: onDataBound,
                            columns: [
                                {
                                    field: "Id",
                                    headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                    width: 50
                                },
                                {
                                    field: "Id",
                                    title: "ID",
                                    width: 50
                                },
                                {
                                    field: "CustomerNumber",
                                    title: "#",
                                    width: 50
                                },
                                {
                                    field: "Email",
                                    title: "@T("Admin.Customers.Customers.Fields.Email")",
                                    width: 200
                                },

                                @if (Model.UsernamesEnabled)
                                {
                                    <text>{
                                        field: "Username",
                                        title: "@T("Admin.Customers.Customers.Fields.Username")",
                                        width: 200
                                    },</text>
                                }

                                {
                                    field: "FullName",
                                    title: "@T("Admin.Customers.Customers.Fields.FullName")",
                                    width: 200
                                },
                                {
                                    field: "CustomerRoleNames",
                                    title: "@T("Admin.Customers.Customers.Fields.CustomerRoles")",
                                    width: 200
                                },

                                @if (Model.CompanyEnabled)
                                {
                                    <text>{
                                        field: "Company",
                                        title: "@T("Admin.Customers.Customers.Fields.Company")",
                                        width: 200
                                    },</text>
                                }

                                @if (Model.ZipPostalCodeEnabled)
                                {
                                    <text>{
                                        field: "ZipPostalCode",
                                        template: AddressTemplate,
                                        title: "@T("Admin.Address")",
                                        width: 200
                                    },</text>
                                }

                                @if (Model.PhoneEnabled)
                                {
                                    <text>{
                                        field: "Phone",
                                        title: "@T("Admin.Customers.Customers.Fields.Phone")",
                                        width: 200
                                    },</text>
                                }

                                {
                                    field: "Active",
                                    title: "@T("Admin.Customers.Customers.Fields.Active")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=Active#.gif" />'
                                },
                                {
                                    field: "CreatedOn",
                                    title: "@T("Admin.Customers.Customers.Fields.CreatedOn")",
                                    width: 200,
                                    type: "date",
                                    format: "{0:G}"
                                },
                                {
                                    field: "LastActivityDate",
                                    title: "@T("Admin.Customers.Customers.Fields.LastActivityDate")",
                                    width: 200,
                                    type: "date",
                                    format: "{0:G}"
                                },
                                {
                                    field: "Id",
                                    title: "@T("Admin.Common.Edit")",
                                    width: 50,
                                    template: '<a class="btn btn-sm btn-info" href="Edit/#=Id#" title="@T("Admin.Common.Edit")"><span class="glyphicon glyphicon-pencil"></a>'
                                }]
                        });
                    });
                </script>

                <script type="text/javascript">

                    var selectedIds = [];

                    $(document).ready(function () {

                        //search button
                        $('#search-customers').click(function () {
                            var grid = $('#customers-grid').data('kendoGrid');
                            grid.dataSource.page(1); //new search. Set page size to 1
                            //grid.dataSource.read(); we already loaded the grid above using "page" function
                            //clear selected checkboxes
                            $('.checkboxGroups').attr('checked', false).change();
                            selectedIds = [];
                            return false;
                        });

                        $("#@Html.FieldIdFor(model => model.SearchEmail)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#search-customers").click();
                                return false;
                            }
                        });
                        $("#@Html.FieldIdFor(model => model.SearchUsername)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#search-customers").click();
                                return false;
                            }
                        });
                        $("#@Html.FieldIdFor(model => model.SearchFirstName)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#search-customers").click();
                                return false;
                            }
                        });
                        $("#@Html.FieldIdFor(model => model.SearchLastName)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#search-customers").click();
                                return false;
                            }
                        });
                        $("#@Html.FieldIdFor(model => model.SearchCompany)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#search-customers").click();
                                return false;
                            }
                        });
                        $("#@Html.FieldIdFor(model => model.SearchPhone)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#search-customers").click();
                                return false;
                            }
                        });
                        $("#@Html.FieldIdFor(model => model.SearchZipPostalCode)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#search-customers").click();
                                return false;
                            }
                        });
                        $("#@Html.FieldIdFor(model => model.SearchCustomerNumber)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#search-customers").click();
                                return false;
                            }
                        });

                        $('#mastercheckbox').click(function () {
                            $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                        });

                        //wire up checkboxes.
                        $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                            var $check = $(this);
                            if ($check.is(":checked") == true) {
                                var checked = jQuery.inArray($check.val(), selectedIds);
                                if (checked == -1) {
                                    //add id to selectedIds.
                                    selectedIds.push($check.val());
                                }
                            }
                            else {
                                var checked = jQuery.inArray($check.val(), selectedIds);
                                if (checked > -1) {
                                    //remove id from selectedIds.
                                    selectedIds = $.grep(selectedIds, function (item, index) {
                                        return item != $check.val();
                                    });
                                }
                            }
                            updateMasterCheckbox();
                        });
                    });

                    function onDataBound(e) {

                        $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                            var currentId = $(this).val();
                            var checked = jQuery.inArray(currentId, selectedIds);
                            //set checked based on if current checkbox's value is in selectedIds.
                            $(this).attr('checked', checked > -1);
                        });

                        updateMasterCheckbox();
                    }

                    function updateMasterCheckbox() {
                        var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                        var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                        $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                    }

                    $('#exportxml-all').click((e) => {
                        e.preventDefault();
                        console.log('got here');
                        $('#ExportXmlAll').val('1');

                        document.getElementById('FormSearchCustomers').submit();

                        $('#ExportXmlAll').val('');

                        return false;
                    });

                    $('#exportexcel-all').click((e) => {
                        e.preventDefault();

                        $('#ExportExcelAll').val('1');

                        document.getElementById('FormSearchCustomers').submit();

                        $('#ExportExcelAll').val('');
                        return false;
                    });

                    function additionalData() {
                        var customerRoleIds = [];
                        $('[name=SearchCustomerRoleIds]:checked').each(function () {
                            customerRoleIds.push($(this).val());
                        });

                        var data = {
                            SearchCustomerRoleIds: customerRoleIds.join(","),
                            SearchEmail: $('#@Html.FieldIdFor(model => model.SearchEmail)').val(),
                            SearchUsername: $('#@Html.FieldIdFor(model => model.SearchUsername)').val(),
                            SearchFirstName: $('#@Html.FieldIdFor(model => model.SearchFirstName)').val(),
                            SearchLastName: $('#@Html.FieldIdFor(model => model.SearchLastName)').val(),
                            SearchDayOfBirth: $('#@Html.FieldIdFor(model => model.SearchDayOfBirth)').val(),
                            SearchMonthOfBirth: $('#@Html.FieldIdFor(model => model.SearchMonthOfBirth)').val(),
                            SearchCompany: $('#@Html.FieldIdFor(model => model.SearchCompany)').val(),
                            SearchPhone: $('#@Html.FieldIdFor(model => model.SearchPhone)').val(),
                            SearchZipPostalCode: $('#@Html.FieldIdFor(model => model.SearchZipPostalCode)').val(),
                            SearchCustomerNumber: $('#@Html.FieldIdFor(model => model.SearchCustomerNumber)').val(),
                            SearchActive: $('#SearchActive').val(),
                            ExportXmlToAll: $('#ExportXmlAll').val(),
                            ExportExcelToAll: $('#ExportExcelAll').val()
                        };

                        addAntiForgeryToken(data);

                        $('#ExportXmlAll').val('');
                        $('#ExportExcelAll').val('');

                        return data;
                    }
                </script>
            </td>
        </tr>
    </table>
}

@*export selected (XML). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
@using (Html.BeginForm("ExportXmlSelected", "Customer", FormMethod.Post, new { id = "export-xml-selected-form" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
}
<script type="text/javascript">

    $(document).ready(function () {
        $('#exportxml-selected').click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
            $('#export-xml-selected-form #selectedIds').val(ids);
            $('#export-xml-selected-form').submit();
            return false;
        });
    });

</script>

@*export selected (Excel). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
@using (Html.BeginForm("ExportExcelSelected", "Customer", FormMethod.Post, new { id = "export-excel-selected-form" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
}
<script type="text/javascript">

    $(document).ready(function () {
        $('#exportexcel-selected').click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
            $('#export-excel-selected-form #selectedIds').val(ids);
            $('#export-excel-selected-form').submit();
            return false;
        });
    });

</script>