﻿@model Nop.Admin.Models.Customers.LocatorModel

@{
    ViewBag.Title = "Customer Locator Map";
}

@section ViewScripts
{
    <script src="~/Administration/Scripts/Views/Customer/customerLocator.js"></script>
}

<div class="container-fluid">
    <div class="col-md-6">
        <h4><span class="glyphicon glyphicon-user offset-right-10"></span>&nbsp;@T("Admin.Customers.Map")</h4>
    </div>
    <div class="col-md-6 text-right">
        <input type="button" id="ButtonExportToExcel" name="ButtonExportToExcel" class="btn btn-sm btn-default" value="@T("Admin.Common.ExportToExcel")" />
    </div>
</div>
<div class="container-fluid">
    @{ Html.RenderPartial("_LocatorForm", Model.LocatorForm); }
    <hr />
</div>

@{
    int NumberOfCustomerAddresses = Model.LocatorMap != null && Model.LocatorMap.LocatorCustomers.Any() ? Model.LocatorMap.LocatorCustomers.Count() : 0;
    string WarehouseName = Model.LocatorForm.SelectedWarehouse.Name + " (" + Model.LocatorForm.SelectedWarehouse.Code + ")";
}
<div class="container-fluid offset-bottom-20">There are <span id="ContainerNumberOfCustomers" style="font-weight: bold;">@NumberOfCustomerAddresses</span> customer addresses within a <span id="ContainerSelectedRadius" style="font-weight: bold;">@Model.LocatorForm.SelectedRadius</span> mi. radius of warehouse <span id="ContainerSelectedWarehouseName" style="font-weight: bold;">@WarehouseName</span>.</div>

<div class="container-fluid">
    <div class="col-md-6">
        <div id="ContainerMap">
            @{ Html.RenderPartial("_LocatorMap", Model.LocatorMap); }
        </div>
    </div>
    <div class="col-md-6">
        <table class="CustomerTable" style="width: 100%;">
            <tr>
                <td>
                    <div id="ContainerCustomerGrid">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        customerLocator.initializeView();

    });

</script>
