﻿@model CheckoutCompletedModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<main class="page-content">
    <section class="section-20 section-md-20 section-md-bottom-50">
        <div class="shell text-sm-left">

            @if (!Model.OnePageCheckoutEnabled)
            {
                @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Complete })
            }
            <div class="page-title">
                <h1>@T("Checkout.ThankYou")</h1>
            </div>
            <div class="page-body checkout-data">
                @Html.Widget("checkout_completed_top", Model.OrderId)
                <div class="section order-completed">
                    <div class="title">
                        <strong>@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</strong>
                    </div>
                    <div class="details">
                        <div class="order-number">
                            <strong>@T("Checkout.OrderNumber"): @Model.OrderId</strong>
                        </div>
                        <div class="details-link">
                            <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">@T("Checkout.PlacedOrderDetails")</a>
                        </div>
                    </div>
                    <div class="buttons">
                        <input type="button" value="@T("Checkout.ThankYou.Continue")" class="btn btn-sm btn-primary" onclick="setLocation('@Url.RouteUrl("HomePage")')" />
                    </div>
                </div>
                @Html.Widget("checkout_completed_bottom", Model.OrderId)
            </div>
        </div>
    </section>
</main>
