﻿@model OnePageCheckoutModel
@using Nop.Core
@using Nop.Web.Models.Checkout;
@using Nop.Core.Infrastructure;

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddScriptParts("~/Scripts/public.accordion.js");
    Html.AddScriptParts("~/Scripts/public.onepagecheckout.js");

    var storeLocation = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();
    
    //title
            Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
@{


    //step numbers
    int billingAddressStepNumber = 1;
    int shippingAddressStepNumber = 2;
    int shippingMethodStepNumber = 3;
    int paymentMethodStepNumber = 4;
    int paymentInfoStepNumber = 5;
    int confirmOrderStepNumber = 6;

    if (!Model.ShippingRequired)
    {
        paymentMethodStepNumber = paymentMethodStepNumber - 2;
        paymentInfoStepNumber = paymentInfoStepNumber - 2;
        confirmOrderStepNumber = confirmOrderStepNumber - 2;
    }

    if (Model.DisableBillingAddressCheckoutStep)
    {
        shippingAddressStepNumber--;
        shippingMethodStepNumber--;
        paymentMethodStepNumber--;
        paymentInfoStepNumber--;
        confirmOrderStepNumber--;
    }

    if (Model.DisableShippingMethodStep)
    {
        paymentMethodStepNumber--;
        paymentInfoStepNumber--;
        confirmOrderStepNumber--;
    }

    if (Model.DisablePaymentMethodStep)
    {
        paymentInfoStepNumber--;
        confirmOrderStepNumber--;
    }
}

<main class="page-content">
    <section class="section-20 section-md-20 section-md-bottom-50">
        <div class="shell text-sm-left">
            <h2>@T("Checkout")</h2>
            <hr class="divider divider-lg bg-primary hr-sm-left-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-sm-left">
                        <div class="page checkout-page">
                            <div class="page-body checkout-data">
                                @Html.Widget("opc_content_before")
                                <ol class="opc" id="checkout-steps">
                                    <li id="opc-billing" class="tab-section allow">
                                        <div class="step-title">
                                            <span class="number">@billingAddressStepNumber</span>
                                            <span class="title">@T("Checkout.BillingAddress")</span>
                                        </div>
                                        <div id="checkout-step-billing" class="step a-item" style="display: none;">
                                            <form id="co-billing-form" action="">
                                                <div id="checkout-billing-load">
                                                    @Html.Action("OpcBillingForm", "Checkout")
                                                    @*billing address content will be loaded here*@
                                                </div>
                                            </form>
                                            <script type="text/javascript">
                                                Billing.init('#co-billing-form', '@(storeLocation)checkout/OpcSaveBilling/', @(Model.DisableBillingAddressCheckoutStep.ToString().ToLowerInvariant()));
                                                if ($("#billing-address-select").length > 0) {
                                                    Billing.newAddress(!$('#billing-address-select').val());
                                                }
                                            </script>
                                            <div class="buttons" id="billing-buttons-container">
                                                <input type="button" title="@T("Common.Continue")" class="btn btn-xs btn-primary new-address-next-step-button" onclick="Billing.save();" value="@T("Common.Continue")" />
                                                <span class="please-wait" id="billing-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                                            </div>
                                        </div>
                                    </li>                                    
                                    @if (Model.ShippingRequired)
                                    {
                                        <li id="opc-shipping" class="tab-section">
                                            <div class="step-title">
                                                <span class="number">@shippingAddressStepNumber</span>
                                                <span class="title">@T("Checkout.ShippingAddress")</span>
                                            </div>
                                            <div id="checkout-step-shipping" class="step a-item" style="display: none;">
                                                <form action="" id="co-shipping-form">
                                                    <div id="checkout-shipping-load">
                                                        @*shipping address content will be loaded here*@
                                                    </div>
                                                </form>
                                                <script type="text/javascript">
                                                    Shipping.init('#co-shipping-form', '@(storeLocation)checkout/OpcSaveShipping/');
                                                    Shipping.disableShippingMethodCheckoutStep = @(Model.DisableShippingMethodStep.ToString().ToLowerInvariant());

                                                    if ($("#shipping-address-select").length > 0) 
                                                    {
                                                        Shipping.newAddress(!$('#shipping-address-select').val());
                                                    }
                                                </script>
                                                <div class="buttons" id="shipping-buttons-container">
                                                    @if (!Model.DisableBillingAddressCheckoutStep)
                                                    {
                                                        <p class="back-link">
                                                            <a href="#" onclick="Checkout.back(); return false; "><small>&laquo; </small>@T("Common.Back")</a>
                                                        </p>
                                                    }
                                                    <input type="button" class="btn btn-sm btn-primary new-address-next-step-button" title="@T("Common.Continue")" onclick="Shipping.save()" value="@T("Common.Continue")" />
                                                    <span id="shipping-please-wait" class="please-wait" style="display: none;"> @T("Common.LoadingNextStep")</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li id="opc-shipping_method" class="tab-section">
                                            <div class="step-title">
                                                <span class="number">@shippingMethodStepNumber</span>
                                                <span class="title">@T("Checkout.ShippingMethod")</span>
                                            </div>
                                            <div id="checkout-step-shipping-method" class="step a-item" style="display: none;">
                                                <form id="co-shipping-method-form" action="">
                                                    <div id="checkout-shipping-method-load">
                                                        @*shipping methods content will be loaded here*@
                                                    </div>
                                                    <script type="text/javascript">
                                                        ShippingMethod.init('#co-shipping-method-form', '@(storeLocation)checkout/OpcSaveShippingMethod/');
                                                    </script>
                                                    <div class="buttons" id="shipping-method-buttons-container">
                                                        <p class="back-link">
                                                            <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a>
                                                        </p>
                                                        <input type="button" class="btn btn-sm btn-primary shipping-method-next-step-button" onclick="ShippingMethod.save()" value="@T("Common.Continue")" />
                                                        <span id="shipping-method-please-wait" class="please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                    }
                                    <li id="opc-payment_method" class="tab-section">
                                        <div class="step-title">
                                            <span class="number">@paymentMethodStepNumber</span>
                                            <span class="title">@T("Checkout.PaymentMethod")</span>
                                        </div>
                                        <div id="checkout-step-payment-method" class="step a-item" style="display: none;">
                                            <form action="" id="co-payment-method-form">
                                                <div id="checkout-payment-method-load">
                                                    @*payment methods content will be loaded here*@ Payment is not required
                                                </div>
                                            </form>
                                            <script type="text/javascript">
                                                PaymentMethod.init('#co-payment-method-form', '@(storeLocation)checkout/OpcSavePaymentMethod/');
                                                PaymentMethod.disablePaymentMethodCheckoutStep = @(Model.DisablePaymentMethodStep.ToString().ToLowerInvariant());
                                            </script>
                                            <div class="buttons" id="payment-method-buttons-container">
                                                <p class="back-link">
                                                    <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a>
                                                </p>
                                                <input type="button" class="btn btn-sm btn-primary payment-method-next-step-button" onclick="PaymentMethod.save()" value="@T("Common.Continue")" />
                                                <span class="please-wait" id="payment-method-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li id="opc-payment_info" class="tab-section">
                                        <div class="step-title">
                                            <span class="number">@paymentInfoStepNumber</span>
                                            <span class="title">@T("Checkout.PaymentInfo")</span>
                                        </div>
                                        <div id="checkout-step-payment-info" class="step a-item" style="display: none;">
                                            <form action="" id="co-payment-info-form">
                                                <div id="checkout-payment-info-load">
                                                    @*payment info content will be loaded here*@ Payment is not required
                                                </div>
                                            </form>
                                            <script type="text/javascript">
                        PaymentInfo.init('#co-payment-info-form', '@(storeLocation)checkout/OpcSavePaymentInfo/');
                                            </script>
                                            <div class="buttons" id="payment-info-buttons-container">
                                                <p class="back-link">
                                                    <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a>
                                                </p>
                                                <input type="button" class="btn btn-sm btn-primary payment-info-next-step-button" onclick="PaymentInfo.save()" value="@T("Common.Continue")" />
                                                <span class="please-wait" id="payment-info-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li id="opc-confirm_order" class="tab-section">
                                        <div class="step-title">
                                            <span class="number">@confirmOrderStepNumber</span>
                                            <span class="title">@T("Checkout.ConfirmOrder")</span>
                                        </div>
                                        <div id="checkout-step-confirm-order" class="step a-item" style="display: none;">
                                            <div id="checkout-confirm-order-load">
                                                @*confirm order content will be loaded here*@
                                            </div>
                                            <script type="text/javascript">
                        ConfirmOrder.init('@(storeLocation)checkout/OpcConfirmOrder/', '@(storeLocation)checkout/completed/');
                                            </script>
                                            <div class="buttons" id="confirm-order-buttons-container">
                                                <p class="back-link">
                                                    <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a>
                                                </p>
                                                <input type="button" class="btn btn-sm btn-primary confirm-order-next-step-button" onclick="ConfirmOrder.save()" value="@T("Common.Confirm")" />
                                                <span class="please-wait" id="confirm-order-please-wait" style="display: none;">@T("Checkout.SubmittingOrder")</span>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                                @Html.Widget("opc_content_after")
                            </div>
                            <script type="text/javascript">
                                Accordion.init('checkout-steps', '.step-title', true);
                                Accordion.openSection('#opc-billing');
                                Checkout.init('@(storeLocation)cart/');

                                if (Billing.disableBillingAddressCheckoutStep) {
                                    Accordion.hideSection('#opc-billing');                                    
                                    Billing.save();
                                }

                                if (Shipping.disableShippingMethodCheckoutStep) {
                                    Accordion.hideSection('#opc-shipping_method');
                                    //ShippingMethod.save();
                                }

                                if (PaymentMethod.disablePaymentMethodCheckoutStep) {
                                    Accordion.hideSection('#opc-payment_method');
                                    //PaymentMethod.save();
                                }

                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


