﻿@model AddressEditModel

<div id="ModalAddEditAddress" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title"><span class="glyphicon glyphicon-map-marker offset-right-10"></span><span id="ModalAddEditAddressTitleText">@(Model.Address != null && Model.Address.Id > 0 ? "Edit Address" : "Add Address")</span></h3>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormAddEditAddress" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.CustomerId)
                    @Html.HiddenFor(model => model.OrderId)
                    @Html.EditorFor(model => model.Address, "Address")
                }
            </div>
            <div class="modal-footer">
                <div id="ModalAddEditAddressMessageContainer"></div>
                <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
                <button id="ButtonSave" class="btn btn-success" type="button">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script language="text/javascript">

    $(document).ready(() => {

        initializeAddEditAddressModal();

        function bindModalEvents() {
            $('#ModalAddEditAddress').on('hidden.bs.modal', (e) => {
                $('#ModalAddEditAddress').remove();
            })

            $('#ButtonSave').unbind('click');
            $('#ButtonSave').click((e) => {
                e.preventDefault();

                const isValid = $('#FormAddEditAddress').valid();

                if (isValid) {
                    saveAddress();
                }
            });
        }

        function displayModalMessage(message, type, removeExistingAlerts) {
            if (removeExistingAlerts) {
                $('#ModalAddEditAddressMessageContainer').html('');
            }

            var alertHtml = "<div class=\"text-" + type + "\" role=\"alert\" style=\"margin-bottom: 0px;\">";
            alertHtml += message;
            alertHtml += "</div>";

            $('#ModalAddEditAddressMessageContainer').prepend(alertHtml);
        }

        function initializeAddEditAddressModal() {
            $('#ModalAddEditAddress').modal('show');

            $('#FormAddEditAddress').removeData('validator');
            $('#FormAddEditAddress').removeData('unobtrusiveValidation');
            $.validator.unobtrusive.parse('#FormAddEditAddress');

            bindModalEvents();
        }

        function saveAddress() {
            const isNewAddress = $('#Address_Id').val() == '0';

            // serialize ignores disabled fields. Briefly re-enable the fields and then disable them again after submission.
            let disabledFields = null;

            if (!isNewAddress) {
                disabledFields = $('#FormAddEditAddress').find(':input:disabled').removeAttr('disabled');
            }

            $.ajax({
                type: "POST",
                url: isNewAddress ? '@(Url.Action("AddressCreate", "Address"))' : '@(Url.Action("AddressEdit", "Address"))',
                data: $('#FormAddEditAddress').serialize(),
                success: (addressId) => {
                    displayModalMessage('The address was successfully saved.', 'success', true);

                    if (isNewAddress) {
                        $('#Address_Id').val(addressId);
                        $('#ModalAddEditAddressTitleText').html('Edit Address');
                    }                    

                    $('#ModalAddEditAddress').trigger('ModalAddEditAddress.Saved');
                },
                error: () => {
                    displayModalMessage('An error occurred when saving the address.', 'danger', true);
                },
                complete: () => {
                    //disable any previously disabled fields if applicable
                    if (disabledFields && disabledFields.length > 0) {
                        disabledFields.attr('disabled', 'true');
                    }
                }
            });
        }
    });

</script>
