﻿@model ProductModel

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div id="product-edit">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#tabInfo" aria-controls="tabInfo" role="tab" data-toggle="tab">@T("Admin.Catalog.Products.Info")</a>
        </li>
        <li role="presentation">
            <a href="#tabSEO" aria-controls="tabSEO" role="tab" data-toggle="tab">@T("Admin.Common.SEO")</a>
        </li>
        <li role="presentation">
            <a href="#tabPictures" aria-controls="tabPictures" role="tab" data-toggle="tab">@T("Admin.Catalog.Products.Pictures")</a>
        </li>
        <li role="presentation">
            <a href="#tabCategories" aria-controls="tabCategories" role="tab" data-toggle="tab">@T("Admin.Catalog.Products.Categories")</a>
        </li>
        <li role="presentation">
            <a href="#tabManufacturers" aria-controls="tabManufacturers" role="tab" data-toggle="tab">@T("Admin.Catalog.Products.Manufacturers")</a>
        </li>
        <li role="presentation">
            <a href="#tabSpecificationAttributes" aria-controls="tabSpecificationAttributes" role="tab" data-toggle="tab">@T("Admin.Catalog.Products.SpecificationAttributes")</a>
        </li>
        <li role="presentation">
            <a href="#tabProductAttributes" aria-controls="tabProductAttributes" role="tab" data-toggle="tab">@T("Admin.Catalog.Products.ProductAttributes")</a>
        </li>
        <li role="presentation">
            <a href="#tabTierPrices" aria-controls="tabTierPrices" role="tab" data-toggle="tab">@T("Admin.Catalog.Products.TierPrices")</a>
        </li>
        <li role="presentation">
            <a href="#tabDiscounts" aria-controls="tabDiscounts" role="tab" data-toggle="tab">@T("Admin.Catalog.Products.Discounts")</a>
        </li>
        <li role="presentation">
            <a href="#tabAcl" aria-controls="tabAcl" role="tab" data-toggle="tab">@T("Admin.Catalog.Products.Acl")</a>
        </li>
        @*<li role="presentation">
            <a href="#tabStores" aria-controls="tabStores" role="tab" data-toggle="tab">@T("Admin.Catalog.Products.Stores")</a>
        </li>*@
        <li role="presentation">
            <a href="#tabRelatedProducts" aria-controls="tabRelatedProducts" role="tab" data-toggle="tab">@T("Admin.Catalog.Products.RelatedProducts")</a>
        </li>
        @*<li role="presentation">
            <a href="#tabCrossSells" aria-controls="tabCrossSells" role="tab" data-toggle="tab">@T("Admin.Catalog.Products.CrossSells")</a>
        </li>*@
        <li role="presentation">
            <a href="#tabAssociatedProducts" aria-controls="tabAssociatedProducts" role="tab" data-toggle="tab">@T("Admin.Catalog.Products.AssociatedProducts")</a>
        </li>
        @if (Model.Id > 0)
        {
            <li role="presentation">
                <a href="#tabPurchasedWithOrders" aria-controls="tabPurchasedWithOrders" role="tab" data-toggle="tab">@T("Admin.Catalog.Products.PurchasedWithOrders")</a>
            </li>
        }
    </ul>

    <div class="tab-content">
        <div id="tabInfo" role="tabpanel" class="tab-pane fade in active">
            @TabInfo()
        </div>
        <div id="tabSEO" role="tabpanel" class="tab-pane fade">
            @TabSeo()
        </div>
        <div id="tabPictures" role="tabpanel" class="tab-pane fade">
            @TabPictures()
        </div>
        <div id="tabCategories" role="tabpanel" class="tab-pane fade">
            @TabCategories()
        </div>
        <div id="tabManufacturers" role="tabpanel" class="tab-pane fade">
            @TabManufacturers()
        </div>
        <div id="tabSpecificationAttributes" role="tabpanel" class="tab-pane fade">
            @TabSpecificationAttributes()
        </div>
        <div id="tabProductAttributes" role="tabpanel" class="tab-pane fade">
            @TabProductAttributes()
        </div>
        <div id="tabTierPrices" role="tabpanel" class="tab-pane fade">
            @TabTierPrices()
        </div>
        <div id="tabDiscounts" role="tabpanel" class="tab-pane fade">
            @TabDiscounts()
        </div>
        <div id="tabAcl" role="tabpanel" class="tab-pane fade">
            @TabAcl()
        </div>
        <div id="tabStores" role="tabpanel" class="tab-pane fade">
            @TabStores()
        </div>
        <div id="tabRelatedProducts" role="tabpanel" class="tab-pane fade">
            @TabRelatedProducts()
        </div>
        <div id="tabCrossSells" role="tabpanel" class="tab-pane fade">
            @TabCrossSells()
        </div>
        <div id="tabAssociatedProducts" role="tabpanel" class="tab-pane fade">
            @TabAssociatedProducts()
        </div>
        @if (Model.Id > 0)
        {
            <div id="tabPurchasedWithOrders" role="tabpanel" class="tab-pane fade">
                @TabPurchasedWithOrders()
            </div>
        }
    </div>
</div>

    @{
        //custom tabs
        var eventMessage = new AdminTabStripCreated(this.Html, "product-edit");
        EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
        foreach (var eventBlock in eventMessage.BlocksToRender)
        {
            @eventBlock
        }
    }

    @*save selected tab index*@
    <input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">

    @helper TabInfo()
    {
        @Html.Partial("_CreateOrUpdate.Info", Model)
    }
    @helper TabSeo()
    {
        @Html.Partial("_CreateOrUpdate.SEO", Model)
    }
    @helper TabCategories()
    {
        @Html.Partial("_CreateOrUpdate.Categories", Model)
    }
    @helper TabManufacturers()
    {
        @Html.Partial("_CreateOrUpdate.Manufacturers", Model)
    }
    @helper TabPictures()
    {
        @Html.Partial("_CreateOrUpdate.Pictures", Model)
    }
    @helper TabSpecificationAttributes()
    {
        @Html.Partial("_CreateOrUpdate.SpecificationAttributes", Model)
    }
    @helper TabAcl()
    {
        @Html.Partial("_CreateOrUpdate.Acl", Model)
    }
    @helper TabStores()
    {
        @Html.Partial("_CreateOrUpdate.Stores", Model)
    }

    @helper TabTierPrices()
    {
        @Html.Partial("_CreateOrUpdate.TierPrices", Model)
    }
    @helper TabProductAttributes()
    {
        @Html.Partial("_CreateOrUpdate.ProductAttributes", Model)
    }
    @helper TabDiscounts()
    {
        @Html.Partial("_CreateOrUpdate.Discounts", Model)
    }
    @helper TabRelatedProducts()
    {
        @Html.Partial("_CreateOrUpdate.RelatedProducts", Model)
    }
    @helper TabCrossSells()
    {
        @Html.Partial("_CreateOrUpdate.CrossSells", Model)
    }
    @helper TabAssociatedProducts()
    {
        @Html.Partial("_CreateOrUpdate.AssociatedProducts", Model)
    }
    @helper TabPurchasedWithOrders()
    {
        @Html.Partial("_CreateOrUpdate.PurchasedWithOrders", Model)
    }

