﻿@model ProductModel

@{
    //page title
    ViewBag.Title = T("Admin.Catalog.Products.EditProductDetails").Text;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "product-form" }))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h4><span class="glyphicon glyphicon-tag offset-right-10"></span>&nbsp;@T("Admin.Catalog.Products.EditProductDetails") - @Model.Name</h4>
            </div>
            <div class="col-md-6 text-right">
                <a class="btn btn-sm btn-default" href="/Admin/Product/List">Product List</a>
                <input class="btn btn-sm btn-default" onclick="javascript:OpenWindow('@Url.RouteUrl("Product", new { SeName = Model.SeName })', 800, 600, true); return false;" value="@T("Admin.Common.Preview")" type="submit" />                
                <input name="save-continue" class="btn btn-sm btn-success" value="@T("Admin.Common.Save")" type="submit" />
                <input id="copyproduct" name="copyproduct" class="btn btn-sm btn-info" value="@T("Admin.Catalog.Products.Copy")" type="submit" />
                <span id="product-delete" class="btn btn-sm btn-danger">@T("Admin.Common.Delete")</span>
            </div>
        </div>
    </div>

    @Html.Partial("_CreateOrUpdate", Model)
}

@Html.DeleteConfirmation("product-delete")

@*copy product form*@
<div id="copyproduct-window" style="display:none;">
    @using (Html.BeginForm("CopyProduct", "Product"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CopyProductModel.Id)
        <table style="text-align: left;">
            <tr>
                <td>
                    @Html.NopLabelFor(model => model.CopyProductModel.Name):
                </td>
                <td>
                    @Html.EditorFor(model => model.CopyProductModel.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.NopLabelFor(model => model.CopyProductModel.Published):
                </td>
                <td>
                    @Html.EditorFor(model => model.CopyProductModel.Published)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.NopLabelFor(model => model.CopyProductModel.CopyImages):
                </td>
                <td>
                    @Html.EditorFor(model => model.CopyProductModel.CopyImages)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" class="k-button" value="@T("Admin.Catalog.Products.Copy")" />
                </td>
            </tr>
        </table>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#copyproduct").click(function (e) {
            e.preventDefault();
            var window = $("#copyproduct-window");
            if (!window.data("kendoWindow")) {
                window.kendoWindow({
                    modal: true,
                    width: "400px",
                    title: "@T("Admin.Catalog.Products.Copy")",
                    actions: ["Close"]
                });
            }
            window.data('kendoWindow').center().open();
        });
    });
</script>