﻿@using Nop.Core.Domain.Catalog

@model ProductListModel

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    ViewBag.Title = T("Admin.Catalog.Products.Manage").Text;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormSearchProducts" }))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h4><span class="glyphicon glyphicon-tags offset-right-10"></span>&nbsp;@T("Admin.Catalog.Products.Manage")</h4>
            </div>
            <div class="col-md-6 text-right">
                    <a href="@Url.Action("Create")" class="btn btn-sm btn-info">@T("Admin.Common.AddNew")</a>
                    <span class="dropdown">
                        <button id="DropDownMenuExport" aria-haspopup="true" aria-expanded="false" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" type="button">Import/Export <span class="caret"></span></button>
                        <ul aria-labelledby="DropDownMenuExport" class="dropdown-menu">
                            @if (!Model.IsLoggedInAsVendor)
                            {
                                //a vendor cannot import products
                                <li><a id="importexcel" href="#" name="importexcel">@T("Admin.Common.ImportFromExcel")</a></li>
                            }
                            <li><a id="exportpdf-all" href="#" name="exportpdf-all">Export to PDF (all found)</a><input id="ExportPdfAll" name="ExportPdfAll" type="hidden" /></li>
                            <li><a id="exportxml-all" name="exportxml-all" href="#">@T("Admin.Common.ExportToXml.All")</a><input id="ExportXmlAll" name="ExportXmlAll" type="hidden" /></li>
                            <li><a id="exportxml-selected" href="#">@T("Admin.Common.ExportToXml.Selected")</a></li>
                            <li><a id="exportexcel-all" name="exportexcel-all" href="#">@T("Admin.Common.ExportToExcel.All")</a><input id="ExportExcelAll" name="ExportExcelAll" type="hidden" /></li>
                            <li><a id="exportexcel-selected" href="#">@T("Admin.Common.ExportToExcel.Selected")</a></li>
                        </ul>
                    </span>
                    <input type="button" id="delete-selected" class="btn btn-sm btn-danger" value="@T("Admin.Common.Delete.Selected")" />
            </div>
        </div>
    </div>
    
    <div class="well well-sm form-horizontal">
        <div class="form-group">
            <div class="col-sm-1 control-label">@Html.NopLabelFor(model => model.SearchProductName, false):</div>
            <div class="col-sm-2">@Html.TextBoxFor(model => model.SearchProductName, new { @class = "form-control" })</div>
            <div class="col-sm-1 control-label">@Html.NopLabelFor(model => model.SearchCategoryId, false):</div>
            <div class="col-sm-2">@Html.DropDownList("SearchCategoryId", Model.AvailableCategories, new { @class = "form-control" })
                <span class="help-block">@Html.CheckBoxFor(model => model.SearchIncludeSubCategories)&nbsp;@T("Admin.Catalog.Products.List.SearchIncludeSubCategories")</span>
            </div>            
            <div class="col-sm-1 control-label">@Html.NopLabelFor(model => model.SearchProductTypeId, false):</div>
            <div class="col-sm-2">@Html.DropDownList("SearchProductTypeId", Model.AvailableProductTypes, new { @class = "form-control" })</div>
        </div>
        <div class="form-group">
            <div class="col-sm-1 control-label">@Html.NopLabelFor(model => model.SearchManufacturerId, false):</div>
            <div class="col-sm-2">@Html.DropDownList("SearchManufacturerId", Model.AvailableManufacturers, new { @class = "form-control" })</div>
            @if (!Model.IsLoggedInAsVendor)
            {
                <div class="col-sm-1 control-label">@Html.NopLabelFor(model => model.SearchVendorId, false):</div>
                <div class="col-sm-2">@Html.DropDownList("SearchVendorId", Model.AvailableVendors, new { @class = "form-control" })</div>
            }
            <div class="col-sm-1 control-label">@Html.NopLabelFor(model => model.SearchWarehouseId, false):</div>
            <div class="col-sm-2">@Html.DropDownList("SearchWarehouseId", Model.AvailableWarehouses, new { @class = "form-control" })</div>
        </div>
        <div class="form-group">
            <div class="col-sm-1 control-label">@Html.NopLabelFor(model => model.SearchPublishedId, false):</div>
            <div class="col-sm-2">@Html.DropDownList("SearchPublishedId", Model.AvailablePublishedOptions, new { @class = "form-control" })</div>
            <div class="col-sm-1 control-label">@Html.NopLabelFor(model => model.SearchPrivateLabelId, false):</div>
            <div class="col-sm-2">@Html.DropDownList("SearchPrivateLabelId", Model.AvailablePrivateLabelOptions, new { @class = "form-control" })</div>
            <div class="col-sm-1 control-label">@Html.NopLabelFor(model => model.GoDirectlyToSku, false):</div>
            <div class="col-sm-2">
                <div class="input-group">
                    @Html.TextBoxFor(model => model.GoDirectlyToSku, new { @class = "form-control" })
                    <span class="input-group-btn"><button id="go-to-product-by-sku" name="go-to-product-by-sku" class="btn btn-success" type="submit">@T("Admin.Common.Go")</button></span>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-sm-1 control-label">@Html.HiddenFor(model => model.SearchStoreId)</div>
            <div class="col-sm-11"><button id="search-products" class="btn btn-sm btn-primary" type="submit"><span class="glyphicon glyphicon-search offset-right-10"></span>@T("Admin.Common.Search")</button></div>
        </div>
    </div>

    <table class="adminContent">
        <tr>
            <td>
                <div id="products-grid"></div>
                <script>
                    $(document).ready(function() {
                        $("#products-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("ProductList", "Product"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalData
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            editable: {
                                confirmation: false,
                                mode: "inline"
                            },
                            scrollable: false,
                            dataBound: onDataBound,
                            columns: [
                                {
                                    field: "Id",
                                    headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                    width: 50
                                },
                                {
                                    field: "PictureThumbnailUrl",
                                    title: "@T("Admin.Catalog.Products.Fields.PictureThumbnailUrl")",
                                    template: '<img src="#=PictureThumbnailUrl#" />',
                                    width: 100
                                },
                                {
                                    field: "Name",
                                    title: "@T("Admin.Catalog.Products.Fields.Name")",
                                    width: 300
                                }, {
                                    field: "Sku",
                                    title: "@T("Admin.Catalog.Products.Fields.Sku")",
                                    width: 100
                                }, {
                                    field: "Price",
                                    title: "@T("Admin.Catalog.Products.Fields.Price")",
                                    width: 150,
                                    //if not a grouped product, then display
                                    template: "# if(ProductTypeId != @((int)ProductType.GroupedProduct)) {# #:Price# #}  #"
                                }, {
                                    field: "StockQuantityStr",
                                    title: "@T("Admin.Catalog.Products.Fields.StockQuantity")",
                                    width: 100
                                }, {
                                    field: "ProductTypeName",
                                    title: "@T("Admin.Catalog.Products.Fields.ProductType")",
                                    width: 100
                                }, {
                                    field: "Published",
                                    title: "@T("Admin.Catalog.Products.Fields.Published")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=Published#.gif" />'
                                }, {
                                    field: "Id",
                                    title: "@T("Admin.Common.Edit")",
                                    width: 100,
                                    template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>'
                                }
                            ]
                        } );
                    });
                </script>
            </td>
        </tr>
    </table>

    <script type="text/javascript">

        var selectedIds = [];

        $(document).ready(function () {

            //search button
            $('#search-products').click(function () {
                //search
                var grid = $('#products-grid').data('kendoGrid');
                grid.dataSource.page(1); //new search. Set page size to 1
                //grid.dataSource.read(); we already loaded the grid above using "page" function
                //clear selected checkboxes
                $('.checkboxGroups').attr('checked', false).change();
                selectedIds = [];
                return false;
            });

            $("#@Html.FieldIdFor(model => model.SearchProductName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#search-products").click();
                    return false;
                }
            });

            $("#@Html.FieldIdFor(model => model.GoDirectlyToSku)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#go-to-product-by-sku").click();
                    return false;
                }
            });

            $('#exportpdf-all').click((e) => {
                e.preventDefault();

                $('#ExportPdfAll').val('1');

                document.getElementById('FormSearchProducts').submit();

                $('#ExportPdfAll').val('');
                return false;
            });

            $('#exportxml-all').click((e) => {
                e.preventDefault();

                $('#ExportXmlAll').val('1');
                document.getElementById('FormSearchProducts').submit();

                $('#ExportXmlAll').val('');
                return false;
            });

            $('#exportexcel-all').click((e) => {
                e.preventDefault();

                $('#ExportExcelAll').val('1');

                document.getElementById('FormSearchProducts').submit();

                $('#ExportExcelAll').val('');
                return false;
            });

            //delete selected
            $('#delete-selected').click(function(e) {

                e.preventDefault();

                var postData = {
                    selectedIds: selectedIds
                };
                addAntiForgeryToken(postData);

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("DeleteSelected", "Product"))",
                    data: postData,
                    complete: function(data) {
                        //reload grid
                        var grid = $('#products-grid').data('kendoGrid');
                        grid.dataSource.read();
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    },
                    traditional: true
                });
                return false;
            });

            $('#mastercheckbox').click(function () {
                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
            });

            //wire up checkboxes.
            $('#products-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                var $check = $(this);
                if ($check.is(":checked") == true) {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked == -1) {
                        //add id to selectedIds.
                        selectedIds.push($check.val());
                    }
                }
                else {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked > -1) {
                        //remove id from selectedIds.
                        selectedIds = $.grep(selectedIds, function (item, index) {
                            return item != $check.val();
                        });
                    }
                }
                updateMasterCheckbox();
            });
        });

        function additionalData() {
            var data = {
                SearchProductName: $('#@Html.FieldIdFor(model => model.SearchProductName)').val(),
                SearchCategoryId: $('#SearchCategoryId').val(),
                SearchIncludeSubCategories: $('#@Html.FieldIdFor(model => model.SearchIncludeSubCategories)').is(':checked'),
                SearchManufacturerId: $('#SearchManufacturerId').val(),
                SearchStoreId: $('#SearchStoreId').val(),
                SearchWarehouseId: $('#SearchWarehouseId').val(),
                SearchVendorId: $('#SearchVendorId').val(),
                SearchProductTypeId: $('#SearchProductTypeId').val(),
                SearchPublishedId: $('#SearchPublishedId').val(),
                SearchPrivateLabelId: $('#SearchPrivateLabelId').val(),
                GoDirectlyToSku: $('#GoDirectlyToSku').val(),
                ExportXmlToAll: $('#ExportXmlAll').val(),
                ExportExcelToAll: $('#ExportExcelAll').val(),
                ExportPdfToAll: $('#ExportPdfAll').val()
            };

            addAntiForgeryToken(data);

            $('#ExportXmlAll').val('');
            $('#ExportExcelAll').val('');
            $('#ExportPdfAll').val('');

            return data;
        }

        function onDataBound(e) {
            $('#products-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                var currentId = $(this).val();
                var checked = jQuery.inArray(currentId, selectedIds);
                //set checked based on if current checkbox's value is in selectedIds.
                $(this).attr('checked', checked > -1);
            });

            updateMasterCheckbox();
        }

        function updateMasterCheckbox() {
            var numChkBoxes = $('#products-grid input[type=checkbox][id!=mastercheckbox]').length;
            var numChkBoxesChecked = $('#products-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
        }
    </script>

}


@*import products form*@
<div id="importexcel-window" style="display:none;">
    @using (Html.BeginForm("ImportExcel", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <table style="text-align:left;">
            <tr>
                <td colspan="2">
                    <em>@T("Admin.Catalog.Products.List.ImportFromExcelTip")</em>
                </td>
            </tr>
            <tr>
                <td>
                    @T("Admin.Common.ExcelFile"):
                </td>
                <td>
                    <input type="file" id="importexcelfile" name="importexcelfile" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" class="k-button" value="@T("Admin.Common.ImportFromExcel")" />
                </td>
            </tr>
        </table>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#importexcel").click(function (e) {
            e.preventDefault();
            var window = $("#importexcel-window");
            if (!window.data("kendoWindow")) {
                window.kendoWindow({
                    modal: true,
                    width: "400px",
                    title: "@T("Admin.Common.ImportFromExcel")",
                    actions: ["Close"]
                });
            }
            window.data('kendoWindow').center().open();
        });
    });
</script>

@*export selected (XML). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
@using (Html.BeginForm("ExportXmlSelected", "Product", FormMethod.Post, new { id = "export-xml-selected-form" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
}
<script type="text/javascript">

    $(document).ready(function () {
        $('#exportxml-selected').click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
            $('#export-xml-selected-form #selectedIds').val(ids);
            $('#export-xml-selected-form').submit();
            return false;
        });
    });

</script>

@*export selected (Excel). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
@using (Html.BeginForm("ExportExcelSelected", "Product", FormMethod.Post, new { id = "export-excel-selected-form" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
}
<script type="text/javascript">

    $(document).ready(function () {
        $('#exportexcel-selected').click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
            $('#export-excel-selected-form #selectedIds').val(ids);
            $('#export-excel-selected-form').submit();
            return false;
        });
    });

</script>