﻿@using Nop.Core.Domain.Customers
@using Nop.Core.Domain.Localization
@using Nop.Web.Framework.UI;
@using Nop.Core;
@using Nop.Core.Domain.Common;
@using Nop.Services.Security;

@{
    var currentVersion = NopVersion.CurrentVersion;
    var kendoVersion = "2017.2.504";
    var supportRtl = EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Rtl && !EngineContext.Current.Resolve<LocalizationSettings>().IgnoreRtlPropertyForAdminArea;

    //CSS resources
    if (supportRtl) {
        Html.AppendCssFileParts("~/Administration/Content/styles.rtl.css");
    }
    else {
        Html.AppendCssFileParts("~/Administration/Content/styles.css");
    }
    Html.AppendCssFileParts("~/Administration/Content/bootstrap.css");
    Html.AppendCssFileParts(string.Format("~/Administration/Content/kendo/{0}/kendo.rtl.min.css", kendoVersion));
    Html.AppendCssFileParts(string.Format("~/Administration/Content/kendo/{0}/kendo.bootstrap.min.css", kendoVersion));
    Html.AppendCssFileParts(string.Format("~/Administration/Content/kendo/{0}/kendo.common-bootstrap.min.css", kendoVersion));
    Html.AppendCssFileParts("~/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.3.custom.min.css");


    Html.AppendScriptParts(string.Format("~/Administration/Scripts/kendo/{0}/kendo.web.min.js", kendoVersion));
    Html.AppendScriptParts("~/Scripts/admin.common.js");
    Html.AppendScriptParts("~/Administration/Scripts/bootstrap.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-migrate-1.2.1.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-ui-1.10.3.custom.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.unobtrusive-ajax.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-1.10.2.min.js");
    Html.AppendScriptParts("~/Administration/Scripts/common.js");
    Html.AppendScriptParts("~/Administration/Scripts/ux.js");
    Html.AppendScriptParts("~/Administration/Scripts/jszip.min.js");
}

<!DOCTYPE html>

<html>
    <head>
        <title>@ViewBag.Title</title>
        @*<style>
            @media print {
              html {
                transform: scale(0.8);
              }
            }
        </style>*@
        <link href="https://fonts.googleapis.com/css?family=Hind:400,300,700%7CMontserrat:400,700" rel="stylesheet" type="text/css" />
        @Html.NopCssFiles(this.Url, ResourceLocation.Head)        
    </head>
    <body onload="//window.print();" style="-webkit-print-color-adjust: exact;">
        <div class="container">
            <div class="row">
                <div><img src="@Url.Content("~/Administration/Content/images/PrintHeader.png")" /></div>                
                @RenderBody()
            </div>
        </div>
    </body>
</html>
