﻿@model ContactUsModel
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Common;
@using Nop.Web.Framework.Themes;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);

    //store context
    var StoreContext = EngineContext.Current.Resolve<IStoreContext>().CurrentStore;
    var themeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;


    Html.AppendScriptParts(String.Format("~/Themes/{0}/Scripts/Views/ContactUs.js", themeName));
}
<main class="page-content">
    <section class="section-lg-top-20 section-md-top-20 section-sm-top-150 section-xs-top-150 section-bottom-50">
        <div class="shell text-sm-left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7 text-sm-left inset-left-0">
                        @*<h2>@T("PageTitle.ContactUs")</h2>
    <hr class="divider divider-lg bg-primary hr-sm-left-0">*@
                        <div class="section-10">@Html.Action("TopicBlock", "Topic", new { systemName = "ContactUs" })</div>
                        <div class="offset-sm-top-35 offset-top-35">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="unit unit-sm unit-sm-horizontal text-sm-left">
                                        <div class="unit-left"><span class="icon icon-xxs icon-primary fa-envelope-o offset-top-5"></span></div>
                                        <div class="unit-body">
                                            <h5>Email</h5>
                                            <div><a href="mailto:#@StoreContext.StoreEmail" class="text-primary text-light">@StoreContext.StoreEmail</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="inset-sm-left-30">
                                        <div class="unit unit-sm unit-sm-horizontal text-sm-left">
                                            <div class="unit-left"><span style="font-size: 24px; line-height:24px" class="icon icon-xs icon-primary fa-share-alt text-middle offset-top-5"></span></div>
                                            <div class="unit-body">
                                                <h5>Follow Us</h5>
                                                <ul class="list-inline list-inline-dark list-inline-sm">
                                                    @if (!string.IsNullOrEmpty(Model.FacebookLink))
                                                    {
                                                        <li><a class="icon icon-xxs fa-facebook" href="@Model.FacebookLink" target="_blank"></a></li>
                                                    }
                                                    @if (!string.IsNullOrEmpty(Model.TwitterLink))
                                                    {
                                                        <li><a class="icon icon-xxs fa-twitter" href="@Model.TwitterLink" target="_blank"></a></li>
                                                    }
                                                    @if (!string.IsNullOrEmpty(Model.YoutubeLink))
                                                    {
                                                        <li><a class="icon icon-xxs fa-youtube" href="@Model.YoutubeLink" target="_blank"></a></li>
                                                    }
                                                    @if (!string.IsNullOrEmpty(Model.GooglePlusLink))
                                                    {
                                                        <li><a class="icon icon-xxs fa-google" href="@Model.GooglePlusLink" target="_blank"></a></li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.Widget("contactus_top")
                        @if (Model.SuccessfullySent)
                        {
                            <div class="result">
                                @Model.Result
                            </div>
                        }
                        else
                        {
                            using (Html.BeginForm(new { @class = "rd-mailform text- left" }))
                            {
                                @Html.AntiForgeryToken()
                                var validationSummary = Html.ValidationSummary(true);
                                if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                                {
                                    <div class="message-error">@validationSummary</div>
                                }
                                <div class="offset-top-30">
                                    <div class="range range-narrow">
                                        <div class="cell-lg-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FullName, T("ContactUs.FullName.Hint").Text, new { @class = "form-label" })
                                                @Html.TextBoxFor(model => model.FullName, new { @class = "form-control form-validation-inside fullname", @data_constraints = "@Required" })
                                                @*@Html.RequiredHint()*@
                                                @Html.ValidationMessageFor(model => model.FullName)
                                                @*<input id="contact-me-name" type="text" name="name" data-constraints="@Required" class="form-control form-validation-inside">*@
                                            </div>
                                        </div>
                                        <div class="cell-lg-6 offset-top-10 offset-lg-top-0">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Email, T("ContactUs.Email.Hint").Text, new { @class = "form-label" })
                                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-validation-inside email", @data_constraints = "@Required @Email" })
                                                @*@Html.RequiredHint()*@
                                                @Html.ValidationMessageFor(model => model.Email)
                                                @*<input id="contact-me-phone" type="text" name="last-name" data-constraints="@Required" class="form-control form-validation-inside">*@
                                            </div>
                                        </div>
                                        <div class="cell-lg-6 offset-top-10">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CompanyName, T("ContactUs.CompanyName.Hint").Text, new { @class = "form-label" })
                                                @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control form-validation-inside companyname", @data_constraints = "@Required" })
                                                @*@Html.RequiredHint()*@
                                                @Html.ValidationMessageFor(model => model.CompanyName)
                                                @*<input id="contact-me-name" type="text" name="name" data-constraints="@Required" class="form-control form-validation-inside">*@
                                            </div>
                                        </div>
                                        <div class="cell-lg-6 offset-top-10">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PhoneNumber, T("ContactUs.PhoneNumber.Hint").Text, new { @class = "form-label" })
                                                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control form-validation-inside phonenumber", @data_constraints = "@Required" })
                                                @*@Html.RequiredHint()*@
                                                @Html.ValidationMessageFor(model => model.PhoneNumber)
                                                @*<input id="contact-me-phone" type="text" name="last-name" data-constraints="@Required" class="form-control form-validation-inside">*@

                                            </div>
                                        </div>
                                        @if (Model.SubjectEnabled)
                                        {
                                            <div class="cell-lg-12 offset-top-10">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Subject, T("ContactUs.Subject.Hint").Text, new { @class = "form-label" })
                                                    @Html.TextBoxFor(model => model.Subject, new { @class = "form-control form-validation-inside subject", @data_constraints = "@Required" })
                                                    @*@Html.RequiredHint()*@
                                                    @Html.ValidationMessageFor(model => model.Subject)
                                                </div>
                                            </div>
                                        }
                                        <div class="cell-lg-12 offset-top-10">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Enquiry, T("ContactUs.Enquiry.Hint").Text, new { @class = "form-label" })
                                                @Html.TextAreaFor(model => model.Enquiry, new { @class = "form-control form-validation-inside enquiry", @data_constraints = "@Required" })
                                                @*@Html.RequiredHint()*@
                                                @Html.ValidationMessageFor(model => model.Enquiry)
                                            </div>
                                        </div>
                                        @if (Model.DisplayCaptcha)
                                        {
                                            <div class="cell-lg-12 offset-top-10">
                                                <div class="form-group">
                                                    @*<h3>Human Verification</h3>*@
                                                    <div class="container-fluid">
                                                        @Html.Raw(Html.GenerateCaptcha())
                                                        <div id="recaptcha_widget" style="display:none">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div id="recaptcha_image"></div>
                                                                    <div style="margin-top: 10px;"><a class="small" href="javascript:Recaptcha.reload()"><span class="fa fa-2x fa-refresh" style="margin-right: 10px;"></span>Refresh CAPTCHA</a></div>
                                                                </div>
                                                            </div>
                                                            <div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>
                                                            <div class="form-group">
                                                                <label class="recaptcha_only_if_image form-label" for="recaptcha_response_field">Enter the Words Above</label>
                                                                <label class="recaptcha_only_if_audio form-label" for="recaptcha_response_field">Enter the Numbers You Hear</label>
                                                                <input id="recaptcha_response_field" class="form-control form-validation-inside" name="recaptcha_response_field" type="text" />
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <span class="recaptcha_only_if_image"><a class="small" href="javascript:Recaptcha.switch_type('audio')"><span class="fa fa-file-audio-o" title="Get an Audio CAPTCHA"></span></a></span>
                                                                    <span class="recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')"><span class="fa fa-file-image-o" title="Get an Image CAPTCHA"></span></a></span>
                                                                    <span style="margin-left: 10px;"><a class="small" href="javascript:Recaptcha.showhelp()"><span class="fa fa-question-circle" title="What is this?"></span></a></span>
                                                                </div>
                                                            </div>


                                                            <div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                                <div class="text-center text-lg-left offset-top-10">
                                                    <input type="submit" name="send-email" class="btn btn-sm btn-primary" value="@T("ContactUs.Button")" />
                                                </div>
                                            </div>
                                        }
                                        }
                                    </div>
                    <div class="col-md-5 offset-top-50 offset-sm-top-50">
                        @if (StoreContext.Latitude.HasValue && StoreContext.Longitude.HasValue)
                        {
                            <!-- RD Google Map
                               data-x="-89.9361797" data-y="35.047637" -->
                            <div class="rd-google-map">
                                <div id="rd-google-map" data-zoom="14" data-x="@StoreContext.Latitude.Value" data-y="@StoreContext.Longitude.Value" data-styles='[{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":60}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"visibility":"on"},{"lightness":30}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ef8c25"},{"lightness":40}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#b6c54c"},{"lightness":40},{"saturation":-40}]},{}]' class="rd-google-map__model"></div>
                                <ul class="rd-google-map__locations">
                                    <li data-x="@StoreContext.Latitude.Value" data-y="@StoreContext.Longitude.Value">
                                        <p>@Html.Raw(@StoreContext.CompanyAddress)</p>
                                    </li>
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script type="text/javascript">
    $(function () {

        ContactUs.BindPhoneNumberMask();

        ContactUs.BindPhoneNumberCaretControl();

    });

    
</script>

@Html.Widget("contactus_bottom")