﻿@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Error").Text);
}
<!-- Page Content-->
@*<main class="page-content">
    <!-- Heading Style-->
    <!-- RD Parallax-->
    <div data-on="false" data-md-on="true" class="rd-parallax">
        <div data-speed="0.35" data-type="media" data-url="/Themes/OldhamChem1/Content/images/backgrounds/bg-06-1973x720.jpg" class="rd-parallax-layer"></div>
        <div data-speed="0" data-type="html" class="rd-parallax-layer">
            <div class="shell section-90 section-xl-bottom-205 section-xl-top-140 context-dark">
                <div class="range range-xs-center range-lg-left">
                    <div class="cell-xs-10 cell-lg-7 text-sm-left">
                        <div>
                            <h1>500</h1>
                        </div>
                        <div>
                            <h1>Oops! Something went wrong!</h1>
                        </div>
                        <div class="offset-top-30">*@
                            @Html.Action("TopicBlock", "Topic", new { systemName = "Error" })
                        @*</div>
                        <div class="offset-top-20"><a href="./" class="btn btn-default btn-sm">back to home page</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>*@