﻿@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Common;
@{ 

    var StoreContext = EngineContext.Current.Resolve<IStoreContext>().CurrentStore;
}
<!-- Page Footer-->
<section class="section-skew bg-dark-blue section-skew-wide context-dark section-md-65 section-35" style="padding-top: 35px;">
    <div class="skew-block"></div>
    <div class="shell">
        <div class="range text-md-left range-xs-center">
            <div class="cell-sm-8 cell-md-4">
                <div class="unit unit-md unit-md-horizontal text-md-left">
                    <div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled fa-map-marker"></span></div>
                    <div class="unit-body contact-info">
                        <h5>Post Address</h5>
                        <address>
                            <a href="#">@Html.Raw(StoreContext.CompanyAddress)</a>
                        </address>
                    </div>
                </div>
            </div>
            <div class="cell-sm-8 cell-md-4 offset-top-30 offset-md-top-0">
                <div class="unit unit-md unit-md-horizontal text-md-left">
                    <div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled fa-phone"></span></div>
                    <div class="unit-body contact-info">
                        <h5>Phones</h5>
                        <dl>
                            <dt>Phone:</dt>
                            <dd><a href="callto:#">@StoreContext.CompanyPhoneNumber</a></dd>
                        </dl>
                        <dl>
                            <dt>Fax:</dt>
                            <dd><a href="callto:#" class="inset-sm-left-20">@StoreContext.CompanyFaxNumber</a></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="cell-sm-8 cell-md-4 offset-top-30 offset-md-top-0">
                <div class="unit unit-md unit-md-horizontal text-md-left">
                    <div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled mdi fa-clock-o"></span></div>
                    <div class="unit-body">
                        <h5>Opening Hours</h5>
                        <p>@Html.Raw(StoreContext.StoreHours)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="section-10 page-footer bg-lightest section-skew">
    <div class="skew-block"></div>
    <div class="shell">
        <div class="range range-xs-center range-sm-middle">
            <div class="cell-xs-10 cell-md-3 text-md-left cell-md-push-1">
                <!--Footer brand--><a href="/"><img src='/Themes/OldhamChem1/Content/images/logo-modern-gray.png' alt='' /></a>
            </div>
            <div class="cell-xs-10 cell-md-6 cell-md-push-2 offset-top-20 offset-md-top-0">
                <p class="text-gray">@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName) <a href="/terms-of-use" class="text-gray">Terms of Use</a></p>
                
            </div>
            <div class="cell-xs-10 cell-md-3 text-md-right cell-md-push-3 offset-top-20 offset-md-top-0">
                <ul class="list-inline list-inline-dark">
                    @if (!string.IsNullOrEmpty(Model.FacebookLink))
                    {
                        <li><a class="icon icon-xxs fa-facebook" href="@Model.FacebookLink" target="_blank"></a></li>
                    }
                    @if (!string.IsNullOrEmpty(Model.TwitterLink))
                    {
                        <li><a class="icon icon-xxs fa-twitter" href="@Model.TwitterLink" target="_blank"></a></li>
                    }
                    @if (Model.NewsEnabled)
                    {
                        <li><a class="icon icon-xxs fa-rss" href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})"></a></li>
                    }
                    @if (!string.IsNullOrEmpty(Model.YoutubeLink))
                    {
                        <li><a class="icon icon-xxs fa-youtube" href="@Model.YoutubeLink" target="_blank"></a></li>
                    }
                    @if (!string.IsNullOrEmpty(Model.GooglePlusLink))
                    {
                        <li><a class="icon icon-xxs fa-google" href="@Model.GooglePlusLink" target="_blank"></a></li>
                    }
                </ul>
            </div>
        </div>
        @if (!Model.HidePoweredByNopCommerce)
        {            
            <div class="text-center">
                @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer? Find more info at http://www.nopcommerce.com/copyrightremoval.aspx*@
                Powered by&nbsp;<a href="http://www.nopcommerce.com/">nopCommerce</a>
            </div>
        }
    </div>
</footer>
<script type="text/javascript">
    $(document).ready(function () {
        $('.footer-block .title').click(function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 769) {
                $(this).siblings('.list').slideToggle('slow');
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.block .title').click(function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1001) {
                $(this).siblings('.listbox').slideToggle('slow');
            }
        });
    });
</script>
