﻿@model HeaderLinksModel
@using Nop.Web.Models.Common;
@* TODO: Set Active Style on Active Link *@
@* TODO: Dynamically Build Header Links *@
<div>
    <ul class="offset-lg-top-15 list-unstyled">
        @Html.Widget("header_links_before")
        @if (Model.IsAuthenticated)
        {
            <li class="reveal-md-inline-block"><a href="@Url.RouteUrl("CustomerOrders")" class="text-middle"><span class="icon icon-xxs fa-user text-middle icon-primary inset-right-10"></span>@Model.CustomerEmailUsername</a></li>
            <li class="reveal-md-inline-block"><a href="@Url.RouteUrl("Logout")" class="text-middle"><span class="icon icon-xxs fa-sign-out text-middle icon-primary inset-right-10"></span>@T("Account.Logout")</a></li>
        }
        else
        {
            if (!Model.IsDemo)
            {
                <li class="reveal-md-inline-block"><a href="@Url.RouteUrl("Register")" class="text-middle"><span class="icon icon-xxs fa-user-plus text-middle icon-primary inset-right-10"></span>@T("Account.Register")</a></li>
            }
            <li class="reveal-md-inline-block"><a href="@Url.RouteUrl("Login")" class="text-middle"><span class="icon icon-xxs fa-sign-in text-middle icon-primary inset-right-10"></span>@T("Account.Login")</a></li>
        }
        @if (Model.AllowPrivateMessages)
        {
            <li class="reveal-md-inline-block">
                <a href="@Url.RouteUrl("PrivateMessages", new { tab = "" })" class="inset-left-10 text-middle">
                    <span class="inbox-label">@T("PrivateMessages.Inbox")</span>
                    <span class="inbox-unread">@Model.UnreadPrivateMessages</span>
                </a>
            </li>
        }
        @if (Model.WishlistEnabled)
        {
            <li class="reveal-md-inline-block">
                <a href="@Url.RouteUrl("Wishlist")" class="inset-left-10 text-middle">
                    <span class="wishlist-label">@T("Wishlist")</span>
                    <span class="wishlist-qty">@T("Wishlist.HeaderQuantity", Model.WishlistItems)</span>
                </a>
            </li>
        }
        @if (Model.ShoppingCartEnabled)
        {
            <li id="topcartlink" class="reveal-md-inline-block">
                <a href="@Url.RouteUrl("ShoppingCart")" class="text-middle"><span class="icon icon-xxs fa-shopping-cart text-middle icon-primary inset-right-10"></span>
                    <span class="cart-label">@T("ShoppingCart")</span>
                    <span class="cart-qty">@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</span>
                </a>
            </li>
        }
        @Html.Widget("header_links_after")
    </ul>
    @if (Model.AllowPrivateMessages && !string.IsNullOrEmpty(Model.AlertMessage))
    {
        //new private message notification
        <script type="text/javascript">
            $(document).ready(function () {
                displayPopupNotification('@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.AlertMessage))', 'success', false);
            });
        </script>
    }
    @if (Model.ShoppingCartEnabled)
    {
        <script type="text/javascript">
            $(document).ready(function () {

                $('.header').on('mouseenter', '#topcartlink', function () {
                    $('#flyout-cart').addClass('active');
                });

                $('.header').on('mouseleave', '#topcartlink', function () {
                    $('#flyout-cart').removeClass('active');
                });

                $('.header').on('mouseenter', '#flyout-cart', function () {
                    $('#flyout-cart').addClass('active');
                });

                $('.header').on('mouseleave', '#flyout-cart', function () {
                    $('#flyout-cart').removeClass('active');
                });
            });
        </script>
    }
</div>
