﻿@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Common;
@model List<Nop.Core.Domain.Common.Address>
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Locations").Text);

    Nop.Core.Domain.Common.Address Headquarters = Model.FirstOrDefault(f => f.Company == "Memphis, TN");
    Model.RemoveAll(ra => ra.Company == "Memphis, TN");

    int NumberOfWarehousesForColumn1 = Convert.ToInt32(Math.Round(Convert.ToDouble(Model.Count()) / 2, 0, MidpointRounding.AwayFromZero));
    int NumberOfWarehousesForColumn2 = Model.Count - NumberOfWarehousesForColumn1;
}
<main class="page-content">
    <section class="section-lg-top-20 section-md-top-20 section-sm-top-150 section-xs-top-150 section-bottom-50">
        <div class="shell text-sm-left">  
            <h2>@T("PageTitle.Locations")</h2>
            <hr class="divider divider-lg bg-primary hr-sm-left-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="container-fluid">
                            <div class="row">
                                <h3>Headquarters:</h3>
                                <div class="col-md-12">
                                    <div class="location" data-x="@Headquarters.Latitude" data-y="@Headquarters.Longitude">
                                        <div><strong>@Headquarters.Company</strong></div>
                                        <address class="offset-bottom-0">
                                            @Headquarters.Address1
                                            @if (!String.IsNullOrWhiteSpace(Headquarters.Address2))
                                            {
                                                <br />@Headquarters.Address2
                                            }
                                            <br />@Headquarters.City,&nbsp;@Headquarters.StateProvince.Abbreviation&nbsp;@Headquarters.ZipPostalCode
                                        </address>
                                        <div><a href="tel:@Headquarters.PhoneNumber">@Headquarters.PhoneNumber</a></div>
                                        <div>Hours: M-F: 8AM to 5PM</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />          
                        <div class="container-fluid">
                            <div class="row">
                                <h3>Branches:</h3>
                                <div class="col-md-6">
                                    @for (int Column1Index = 0; Column1Index < NumberOfWarehousesForColumn1; Column1Index++)
                                    {
                                        var Warehouse = Model[Column1Index];

                                        <div class="location" data-x="@Warehouse.Latitude" data-y="@Warehouse.Longitude" style="margin-bottom: 20px;">
                                            <div><strong>@Warehouse.Company</strong></div>
                                            <address class="offset-bottom-0">
                                                @Warehouse.Address1
                                                @if (!String.IsNullOrWhiteSpace(Warehouse.Address2))
                                                {
                                                    <br />@Warehouse.Address2
                                                }
                                                <br />@Warehouse.City,&nbsp;@Warehouse.StateProvince.Abbreviation&nbsp;@Warehouse.ZipPostalCode
                                            </address>
                                            <div><a href="tel:@Warehouse.PhoneNumber">@Warehouse.PhoneNumber</a></div>
                                            <div>Hours: M-F: 8AM to 4PM</div>
                                        </div>
                                    } 
                                </div>
                                <div class="col-md-6">
                                    @for (int Column2Index = NumberOfWarehousesForColumn1; Column2Index < Model.Count(); Column2Index++)
                                    {
                                        var Warehouse = Model[Column2Index];

                                        <div class="location" data-x="@Warehouse.Latitude" data-y="@Warehouse.Longitude" style="margin-bottom: 20px;">
                                            <div><strong>@Warehouse.Company</strong></div>
                                            <address class="offset-bottom-0">
                                                @Warehouse.Address1
                                                @if (!String.IsNullOrWhiteSpace(Warehouse.Address2))
                                                {
                                                    <br />@Warehouse.Address2
                                                }
                                                <br />@Warehouse.City,&nbsp;@Warehouse.StateProvince.Abbreviation&nbsp;@Warehouse.ZipPostalCode
                                            </address>
                                            <div><a href="tel:@Warehouse.PhoneNumber">@Warehouse.PhoneNumber</a></div>
                                            <div>Hours: M-F: 8AM to 4PM</div>
                                        </div>
                                    } 

                                </div>
                            </div>
                        </div>
                        @*@Html.Action("TopicBlock", "Topic", new { systemName = "Locations" })*@
                                              
                    </div>
                    <div class="col-md-6">
                        <div class="rd-google-map">
                            <div id="rd-google-map" data-zoom="5" data-x="-90.250976" data-y="35.1294252" data-styles='[{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":60}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"visibility":"on"},{"lightness":30}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ef8c25"},{"lightness":40}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#b6c54c"},{"lightness":40},{"saturation":-40}]},{}]' class="rd-google-map__model"></div>
                            <ul class="rd-google-map__locations">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
</main>

<script type="text/javascript">

    $(function () {

        GenerateLocationMaps();

    });

    function GenerateLocationMaps() {
        
        var MarkerHtml = "";

        $.each($(".location"), function (index, obj) {

            var Latitude = $(obj).data("y");
            var Longitude = $(obj).data("x");
            var Address = $(obj).find("address").html();

            MarkerHtml = MarkerHtml + '<li data-x="' + Longitude + '" data-y="' + Latitude + '"><p>' + Address + '</p></li>';           

        });

        $(".rd-google-map__locations").html(MarkerHtml);

    }

</script>