﻿@model List<Nop.Core.Domain.Catalog.Product>

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.SDSLabels").Text);    
}

<main class="page-content">
    <section class="section-lg-top-20 section-md-top-20 section-sm-top-150 section-xs-top-150 section-bottom-50">
        <div class="shell text-sm-left">
            <h2>@T("PageTitle.SDSLabels")</h2>
            <hr class="divider divider-lg bg-primary hr-sm-left-0">
            <div class="container-fluid">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th colspan="2">Product</th>
                            <th>Manufacturer</th>
                            <th>SDS</th>
                            <th>Label</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td>@product.Sku</td>
                                <td>@product.Name</td>
                                <td>
                                    @{

                                        if (product.ProductManufacturers.Any())
                                        {
                                            string ManufacturerUrl = product.ProductManufacturers.FirstOrDefault().Manufacturer.
                                        <a href="@">@product.ProductManufacturers.FirstOrDefault().Manufacturer.Name</a>
                                        }
                                        }
                                </td>
                                <td>
                                    @{
                                        var SDSAttribute = product.ProductSpecificationAttributes.First(w => w.SpecificationAttributeOption.Name == "MSDS");

                                        if (SDSAttribute != null)
                                        {
                                        <a href="@SDSAttribute.CustomValue" target="_blank">SDS</a>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        var LabelAttribute = product.ProductSpecificationAttributes.First(w => w.SpecificationAttributeOption.Name == "Label");

                                        if (LabelAttribute != null)
                                        {
                                            <a href="@LabelAttribute.CustomValue" target="_blank">Label</a>
                                        }
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </section>
</main>

<script type="text/javascript">

    $(function () {

    });

</script>