﻿@model SitemapModel
@using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Sitemap").Text);
}

<main class="page-content">
    <section class="section-lg-top-20 section-md-top-20 section-sm-top-150 section-xs-top-150 section-bottom-50">
        <div class="shell text-sm-left">
            <h2>@T("Sitemap")</h2>
            <hr class="divider divider-lg bg-primary hr-sm-left-0">
            <div class="container-fluid">                
                <div class="description">
                    @T("Sitemap.Description")
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <div class="entity">
                            <div class="entity-title">
                                <h3>@T("Sitemap.General")</h3>
                            </div>
                            <div class="entity-body">
                                <ul>
                                    <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
                                    <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a></li>
                                    @if (Model.NewsEnabled)
                                    {
                                        <li><a href="@Url.RouteUrl("NewsArchive")">@T("News")</a></li>
                                    }
                                    @if (Model.BlogEnabled)
                                    {
                                        <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
                                    }
                                    @if (Model.ForumEnabled)
                                    {
                                        <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
                                    }
                                    <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
                                    <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
                                    @if (Model.Topics.Count > 0)
                                    {
                                        foreach (var item in Model.Topics)
                                        {
                                            <li><a href="@Url.RouteUrl("Topic", new {Sename = Html.GetTopicSeName(item.SystemName)})">@item.Title</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        @if (Model.Categories.Count > 0)
                        {
                            <div class="entity">
                                <div class="entity-title">
                                    <h3>@T("Sitemap.Categories")</h3>
                                </div>
                                <div class="entity-body">
                                    <ul>
                                        @foreach (var category in Model.Categories)
                                        {
                                            <li><a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-md-4">
                        @if (Model.Manufacturers.Count > 0)
                        {
                            <div class="entity">
                                <div class="entity-title">
                                    <h3>@T("Sitemap.Manufacturers")</h3>
                                </div>
                                <div class="entity-body">
                                    <ul>
                                        @foreach (var manufacturer in Model.Manufacturers)
                                        {
                                            <li><a href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })">@manufacturer.Name</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @if (Model.Products.Count > 0)
                {
                    <div class="entity">
                        <div class="entity-title">
                            <h3>@T("Sitemap.Products")</h3>
                        </div>
                        <div class="entity-body">
                            <ul>
                                @foreach (var product in Model.Products)
                                {
                                    <li><a href="@Url.RouteUrl("Product", new { SeName = product.SeName })">@product.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>