//
// Box member
// --------------------------------------------------

.box-member {
  position: relative;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
  img {
    display: inline-block;
  }
  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
  }
  &-body {
    color: $white;
    padding: 8px 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.35s all ease;
    transition-delay: 0.4s;
    z-index: 2;
    p {
      color: #c1c1c1;
      transition: 0.35s all ease;
      transition-delay: 0s;
    }
    .list-inline {
      position: absolute;
      margin-top: 10px;
      left: 30px;
      right: 30px;
      text-align: center;
      li {
        @include transform(translateY(40px));
        opacity: 0;
        visibility: hidden;
        .icon {
          color: $gray;
          &:hover {
            color: $white;
          }
        }
        transition: 0.35s all ease;
        transition-delay: 0.1s;
        & + li {
          transition-delay: 0.2s;
          & + li {
            transition-delay: 0.3s;
            & + li {
              transition-delay: 0.4s;
            }
          }
        }
      }
      @media (min-width: $screen-sm-min) {
        text-align: left;
      }
    }
  }
}

.tablet .box-member,
.mobile .box-member,
.box-member:hover {
  .box-member-body {
    @include transform(translateY(-40px));
    transition-delay: 0s;
    .list-inline {
      li {
        @include transform(translateY(0));
        opacity: 1;
        visibility: visible;
      }
    }
    p {
      color: $white;
    }
  }
}

.box-member-horizontal {
  &-body {
    padding-left: 15px;
    padding-right: 15px;
    @media (min-width: $screen-sm-min) {
      padding-left: 0;
      padding-top: 30px;
    }
  }
  .unit-body {
    @include display-flex();
    @include flex-direction(column);
    @include justify-content(space-between);
    @media (min-width: $screen-md-min) {
      background: $gray-lightest;
    }
    padding-bottom: 30px;
    width: 100%;
  }
  .list-inline {
    will-change: transform;
  }
}


