//
// Box Comment
// --------------------------------------------------

// Base styles
// -------------------------

.box-comment {
  &-meta {
    margin-bottom: 0;

    a:hover {
      color: $brand-picton-blue;
    }
  }
  &-title {
    margin-top: 0;
  }

  &-img {
    border-radius: 50%;
  }
  .icon-xs{
    font-size: 20px;
  }
  .reply{
    &:hover{
      color: $brand-picton-blue;
    }
  }
}

// Classic Comments
// -------------------------

.box-comment-classic {
  position: relative;

  @media (max-width: $screen-xs-min) {
    > .box-comment {
      .box-comment-img {
        margin-top: 5px;
        margin-left: 5px;
      }
    }
  }
  > .box-comment {
    margin-left: 40px;
  }
  @media (min-width: $screen-xs-min) {
    .box-comment-header {
      margin-top: 5px;
    }
  }
  @media (min-width: $screen-md-min) {
    > .box-comment {
      margin-left: 100px;
    }
  }
}

.box-comment-classic + .box-comment-classic,
.box-comment-classic > .box-comment {
  margin-top: 23px;
}
