//
// Breadcrumb custom
// --------------------------------------------------

// Breadcrumb Classic
// -------------------------

.breadcrumb-classic {
  position: relative;
  .list-inline-dashed {
    > li {
      & + li {
        &:before {
          content: '→';
        }
      }
      a{
        color: $brand-primary;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  &:before {
    position: absolute;
    content: "";
    bottom: -3px;
    right: -1%;
    width: 39.8%;
    height: 30px;
    display: none;
    background: $white;
    @include transform(skew(-34deg));
    @media (min-width: $screen-md-min) {
      display: block;
    }
  }
}



