//
// Offsets
// --------------------------------------------------


// Insets
// -------------------------

$insets: (0, 5px, 10px, 15px, 20px, 25px, 30px, 35px, 40px, 50px, 60px, 70px, 80px, 93px, 100px, 115px);

html .page{
  @include indent-responsive(inset, left, padding-left, $medias, $insets);
  @include indent-responsive(inset, right, padding-right, $medias, $insets);
}


// Elements
// -------------------------

.inset-left-7p{
  padding-left: 7%;
}
.inset-right-7p{
  padding-right: 7%;
}

.inset-left-11p{
  padding-left: 11%;
}

.inset-right-11p{
  padding-right: 11%;
}


// Grid
// -------------------------


// Sections
// -------------------------


// Responsive
// -------------------------

$offsets: (0, 5px, 10px, 12px, 15px, 20px, 25px, 30px, 33px, 40px, 45px, 50px, 55px, 60px, 65px, 70px, 75px, 80px, 85px, 87px, 90px, 95px, 100px, 110px, 124px, 145px, 155px);

html .page{
  @include indent-responsive(offset, top, margin-top, $medias, $offsets);
}
