//
// Custom Pagination
// --------------------------------------------------

// Bootstrap Pagination
// -------------------------

.pagination {
  @include pagination-size($padding-small-vertical, $padding-small-horizontal/2, $btn-font-size-small, $btn-lh-size-small, 0);
  > li > a,
  > li > span {
    min-width: $padding-small-vertical*2 + $border-width-small*2 + $btn-lh-size-small;
    font-weight: $btn-font-weight;
    transition: .3s;
    text-align: center;
    background-color: $brand-primary;
    color: $white;
    border-color: $brand-primary;
    margin: 0 5px;
    font-family: $font-family-accent;
  }
  > li:first-child,
  > li:last-child {
    a {
      > .mdi {
        position: relative;
        font-size: 16px;
        line-height: 1;
      }

      > .mdi-chevron-double-right,
      > .mdi-chevron-double-left {
        top: 2px;
      }
    }
  }
  > li > a,
  > li > span {
    &:hover,
    &:focus,
    &:active,
    &:active:focus{
      color: $white;
      background-color: $brand-picton-blue;
      border-color: $brand-picton-blue;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus,
    &:active,
    &:active:focus{
      color: $white;
      background-color: $brand-picton-blue;
      border-color: $brand-picton-blue;
    }
  }
}

//.pagination-sm {
//  @include pagination-size($padding-xs-vertical, $padding-xs-horizontal/2, $btn-font-size-xs, $btn-lh-size-xs, $btn-border-radius-small);
//
//  > li {
//    > a,
//    > span {
//      min-width: $padding-xs-vertical*2 + $border-width-small*2 + $btn-lh-size-xs;
//    }
//  }
//}
//
//.pagination-lg {
//  @include pagination-size($padding-base-vertical, $padding-base-horizontal/2, $btn-font-size, $btn-lh-size, $btn-border-radius-small);
//
//  > li {
//    > a,
//    > span {
//      min-width: $padding-base-vertical*2 + $border-width-small*2 + $btn-lh-size;
//    }
//  }
//
//  > li:first-child,
//  > li:last-child {
//    &,
//    > a{
//      > .mdi {
//        font-size: 20px;
//      }
//    }
//  }
//}