//
// Posts
// --------------------------------------------------

// Post Common Styles
// --------------------------------------------------

.post {
  &-meta {
    .icon-xxs {
      font-size: 18px;
    }
  }

  &-title + &-meta {
    margin-top: 8px;
  }
}

// Post default
// --------------------------------------------------

.post-default {
  .post-controls {
    margin-bottom: 0;
  }

  .post-controls + .post-title {
    margin-top: 8px;
  }
}

// Post timeline
// --------------------------------------------------
.post-timeline{
  .thumbnail-default{
    figure{
      position: relative;
      z-index: 1;
      &:after,
      &:before{
        pointer-events: none;
        display: none;
        content: "";
        position: absolute;
        width: 200px;
        height: 2px;
        background: $brand-dark-blue;
        top: 50%;
        margin-top: -1px;
        z-index: -1;
        transition: 0.35s all ease;
        @media (min-width: $screen-md-min) {
          display: block;
        }
      }
      &:after{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        margin-left: 0;
        margin-top: -8px;
        outline: 5px solid $white;
        z-index: -2;
      }
    }
    &:hover{
      figure{
        &:after,
        &:before{
          background: $brand-primary;
        }
      }
    }
  }
  &-left{
    figure{
      &:after,
      &:before{
        right: -97px;
        @media (min-width: $screen-lg-min) {
          right: -122px;
        }
      }
      &:after{
        right: -104px;
        @media (min-width: $screen-lg-min) {
          right: -124px;
        }
      }
    }
  }
  &-right{
    figure{
      &:after,
      &:before{
        left: -97px;
        @media (min-width: $screen-lg-min) {
          left: -115px;
        }
      }
      &:after{
        left: -103px;
        @media (min-width: $screen-lg-min) {
          left: -122px;
        }
      }
    }
  }
}

// Post widget
// --------------------------------------------------

.widget-post {
  display: block;

  > a {
    display: inline-block;

    &:hover {
      time {
        @include transform(translate(10px, -1px));
      }

      h6 {
        color: $brand-picton-blue;
      }
    }
  }

  h6,
  time {
    transition: .3s;
  }

  .post-meta {
    .icon-xxs {
      font-size: 14px;
    }

    time {
      display: inline-block;
      font-size: 12px;
      @include transform(translate(0, -1px));
    }
  }

  & + .widget-post {
    margin-top: 16px;
  }
}

// Post News
// --------------------------------------------------
.post-news {
  &-title {
    &:hover {
      color: $brand-picton-blue;
    }
  }
}
