//
// Sections
// --------------------------------------------------

.section-relative {
  position: relative;
  z-index: 1;
}

.section-skew {
  position: relative;
  .skew-block {
    position: absolute;
    background: inherit;
    top: -28px;
    right: -1%;
    width: 39.8%;
    height: 30px;
    display: none;
    @include transform(skew(-34deg));
    @media (min-width: $screen-md-min) {
      display: block;
    }
  }
  &-wide {
    .skew-block {
      width: 62.24%;
    }
  }
  &-map {
    .skew-block {
      width: 37.76%;
      top: 0;
      z-index: 2;
      left: -1%;
    }
  }
}

.section-split {
  @media (min-width: $screen-lg-min) {
    margin-left: auto;
    margin-right: 0;
    width: 50%;
  }
}

.section-image-aside {
  position: relative;
  &-img {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40vw;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

.section-image-aside-left {
  .section-image-aside-img {
    right: 100%;
  }
}

.section-image-aside-right {
  .section-image-aside-img {
    left: 100%;
  }
}

.section-grid-demonstration {
  [class*="col-"] {
    @media (max-width: $screen-md-min) {
      h3 {
        font-size: 16px;
        line-height: 16px;
      }
      p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }
      .bg-lightest{
        padding: 5px;
      }
    }
    @media (max-width: $screen-xs-min) {
      .bg-lightest{
        padding: 0;
      }
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

// Custom section triangles
// --------------------------------------------------

.section-navigation {
  padding: 20px;
  border-radius: $border-radius-small;
  box-shadow: inset $shadow-area-xxs;
  background: $gray-lightest;

  iframe {
    border: none;
  }

  @media (min-width: $screen-sm-min) {
    padding: 30px;
    margin-left: -45px;
    margin-right: -45px;
  }
}

.slider-menu-position {
  position: relative;
  .rd-navbar-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

// Section clients
// --------------------------------------------------
.section-clients {
  img {
    transition: 0.35s all ease;
  }
  a:hover {
    img {
      opacity: .8;
    }
  }
}

// Section with line in center
// --------------------------------------------------
.section-line-vertical {

  @media (min-width: $screen-md-min) {
    padding-bottom: 40px;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      height: 100%;
      width: 2px;
      margin-left: -1px;
      background: $brand-dark-blue;
    }
  }
}

// Full Screen Section
// --------------------------------------------------

.section-cover {
  min-height: 100vh;
}

.section-center-absolute {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
}

// Section Spacing
// --------------------------------------------------

$insets: (0, 20px, 30px, 35px, 40px, 50px, 60px, 65px, 70px, 80px, 85px, 90px, 95px, 98px, 110px, 120px, 140px, 150px, 165px, 185px, 205px, 254px, 350px);

@include indent-responsive(section, '', (padding-top, padding-bottom), $medias, $insets);
@include indent-responsive(section, top, padding-top, $medias, $insets);
@include indent-responsive(section, bottom, padding-bottom, $medias, $insets);