//
// Stucktable
// --------------------------------------------------

.stacktable {
  width: 100%;
  text-align: left;
}

.st-head-row {
  padding-top: 1em;
}

.st-head-row.st-head-row-main {
  font-size: 1.5em;
  padding-top: 0;
}

.st-key {
  width: 49%;
  text-align: left;
  padding-right: 1%;
}

.stacktable tbody  {
  tr.st-head-row-wrap {
    border-color: #d7d7d7;
    th{
      border: none;
    }
    &:first-child {
      border-bottom: 1px solid #b7b7b7;
    }
  }
}

.stacktable.table-primary tbody  {
  tr.st-head-row-wrap {
    border-color: $brand-primary;
    th{
      border: none;
    }
    &:first-child {
      border-bottom: 1px solid #b7b7b7;
    }
  }
}

.stacktable.table-dark-blue tbody  {
  tr.st-head-row-wrap {
    border-color: $brand-dark-blue;
    th{
      border: none;
    }
    &:first-child {
      border-bottom: 1px solid #b7b7b7;
    }
  }
}

.st-val {
  width: 49%;
  padding-left: 1%;
}

.stacktable.large-only {
  display: none;
}

.stacktable.small-only {
  display: table;
}

.pricing-table {
  tbody tr th.st-head-row-main {
    border: none;
    padding: 0;
  }
}

@media (min-width: $screen-sm-min) {
  .stacktable.large-only {
    display: table;
  }

  .stacktable.small-only {
    display: none;
  }

  .pricing-table {
    tbody tr th.st-head-row-main {
      padding: 14px 16px;
    }
  }
}
