//
// Custom Tables
// --------------------------------------------------

// Base styles
// --------------------------------------------------

// Bootstrap
// -------------------------

.table {
  text-align: left;
  tr:first-child,
  tr:last-child {
    td {
      font-weight: 700;
    }
  }

  th tbody, td tbody {
    padding: 7px 18px;
  }

  @media (min-width: $screen-md-min) {
    th, td {
      &:nth-child(n+2) {
        padding-left: 56px;
      }
    }
  }
}

// Table Custom
// -------------------------

.table-custom {
  text-align: left;
  th {
    background: $gray-lightest;
    letter-spacing: 0;
    font-family: $font-family-accent;
  }
  tbody{
    tr {
      border: 1px solid #d7d7d7;
      &:first-child{
        border: 1px solid #f9f9f9;
      }
      th{
        border-top-color: #f9f9f9;
      }
    }
  }

  &.table-fixed {
    table-layout: fixed;
    th tbody, td tbody {
      padding: 0;
    }
    @media (min-width: $screen-md-min) {
      th, td {
        &:nth-child(n+2) {
          padding-left: 0;
        }
        padding: 14px 16px;
      }
    }
  }
  &.table-primary {
    tbody{
      tr{
        th {
          background: $brand-primary;
          color: $white;
          border-top-color: $brand-primary;
        }
        &:first-child{
          border: 1px solid $brand-primary;
        }
      }
    }
  }
  &.table-dark-blue {
    tbody{
      tr{
        th {
          background: $brand-dark-blue;
          color: $white;
          border-top-color: $brand-dark-blue;
        }
        &:first-child{
          border: 1px solid $brand-dark-blue;
        }
      }
    }

  }
}

.pricing-table {
  > tbody {
    tr {
      td,th {
        vertical-align: middle;
        padding: 14px 16px;
      }
      &:last-child {
        td,th {
          padding-left: 15px;
          @media (min-width: $screen-md-min) {
            padding-left: 56px;
          }
        }
      }
    }
  }
}
.table-responsive{
  overflow-x: auto;
  min-height: 0.01%;
}