//
// Custom Thumbnails
// --------------------------------------------------

// Base styles
// --------------------------------------------------

%thumbnail {
  &,
  > figure {
    position: relative;
    display: block;
  }

  img,
  figure img {
    width: 100%;
    height: auto;
    transition: .35s;
    will-change: transform;
  }

  figure figcaption,
  figcaption {
    position: absolute;
  }
}

// Bootstrap Thumbnail
// -------------------------

.thumbnail {
  transition: .3s;
  border: none;
  box-shadow: $shadow-area-md;
}

a.thumbnail:hover {
  box-shadow: $shadow-area-lg;
}

// Thumbnail Classic
// -------------------------

.thumbnail-classic {
  @extend %thumbnail;
  position: relative;
  overflow: hidden;

  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#f6e9d2, .15);
    @include transition(0.3s all ease);
    opacity: 1;
  }
  > img,
  > figure > img {
    box-shadow: 0 0 0 0 nth($shadow-area-md, 5);
  }

  > figure figcaption,
  > figcaption {
    bottom: 20px;
    left: 0;
    padding: 5px 15px;
    @include transition(0.3s all ease);
    z-index: 1;
    &:after {
      z-index: -1;
      position: absolute;
      content: "";
      top: 0;
      left: -10%;
      width: 110%;
      bottom: 0;
      background: $brand-primary;
      @include transform (skew(-32deg));
    }
    @media (min-width: $screen-md-min) {
      padding: $thumbnail-classic-figcaption-padding;
    }
  }
  .icon {
    color: $white;
    opacity: 0;
    width: 0;
    position: absolute;
    top: 50%;
    left: 0;
    @include transform(translateY(-50%));
    @include transition(0.3s all ease);

  }
  &-title {
    display: inline-block;
    font-family: $font-family-accent;
    font-size: 20px;
    font-weight: 700;
    color: $white;
    text-transform: capitalize;
    vertical-align: middle;
  }
  &.flickr-item{
    @media (min-width: $screen-md-min) {
      width: 46%;
    }
  }
}

.tablet .thumbnail-classic,
.thumbnail-classic:hover {
  &:after {
    opacity: 0;
  }
  > figure figcaption,
  > figcaption {
    padding-left: 30px;
  }

  .thumbnail-classic-title {
  }
  .icon {
    opacity: 1;
    left: 10px;
  }
  @media (min-width: $screen-lg-min) {
    > figure figcaption,
    > figcaption {
      padding-left: 60px;
    }
    .icon {
      opacity: 1;
      left: 30px;
    }
  }
}

// Thumbnail Classic
// -------------------------
.thumbnail-default {
  position: relative;
  display: inline-block;
  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($brand-primary, .6);
    opacity: 0;
    transition: 0.35s all ease;
    z-index: 1;
  }
  .icon {
    position: absolute;
    left: 50%;
    top: 100%;
    @include transform(translate(-50%, -50%));
    opacity: 0;
    font-size: 30px;
    color: $white;
    transition: 0.35s all ease;
    z-index: 2;
  }
}
.ie-11, .ie-edge{
  .thumbnail-default{
    display: block;
  }
}
.tablet .thumbnail-default,
.mobile .thumbnail-default,
.thumbnail-default:hover {
  .icon {
    top: 50%;
    opacity: 1;
  }
  &:after {
    opacity: 1;
  }
}

.tablet .thumbnail-default,
.mobile .thumbnail-default{
  &:after {
    opacity: .4;
  }
}