//
// Custom typography
// --------------------------------------------------

// Page header
// -------------------------

.page-header {
  padding-bottom: 14px;
}

// Fonts
// -------------------------

.font-default {
  font-family: $font-family-base;
}

.font-accent {
  font-family: $font-family-accent;
}

// Basic Typography
// -------------------------

h1,
.h1 {
  margin-top: 31px;
  margin-bottom: 31px;
  font-size: 36px;
  line-height: 1.5;

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h1;
    font-size: $font-size-h1;
  }
}

h2,
.h2 {
  margin-top: 32px;
  margin-bottom: 21px;
  font-size: 32px;
  line-height: $font-lh-h2;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  @media (min-width: $screen-sm-min) {
    font-size: $font-size-h2;
  }
}

h3,
.h3 {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 28px;
  line-height: 1.5;

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h3;
    font-size: $font-size-h3;
  }
}

h4,
.h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.5;
  font-family: $font-family-base;
  font-weight: 300;
  letter-spacing: 0.02em;

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h4;
    font-size: $font-size-h4;
  }
}

h5,
.h5 {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 1.5;

  * + .icon,
  .icon + * {
    padding-left: 8px;
  }

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h5;
    font-size: $font-size-h5;
  }
}

h6,
.h6 {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.5;

  * + .icon,
  .icon + * {
    padding-left: 8px;
  }

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h6;
    font-size: $font-size-h6;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  a {
    transition: .3s all ease;
  }

  a:hover {
    color: $brand-primary;
  }

  .small {
    color: $gray-dark;
  }
  &.text-primary {
    a:hover {
      color: $brand-picton-blue;
    }
  }
}

p,
.p,
.list {
  margin-top: 10px;
  margin-bottom: 10px;
  a {
    color: $brand-primary;
    &:hover {
      color: $brand-picton-blue;
    }
  }

}

@media (min-width: $screen-xs) {
  .big {
    font-size: 106.25%;
    line-height: 1.470588235294118;

    h1 &,
    .h1 & {
      font-size: 142.22%;
      line-height: 1.125;
    }

    h2 &,
    .h2 & {
      font-size: 147.36%;
      line-height: 1.142857142857143;
    }
  }
}

blockquote small,
blockquote .small,
small,
.small {
  font-size: 93.75%;

  &:before {
    display: none;
  }

  h1 &,
  .h1 & {
    font-size: 62.22222222222222%;
  }

  h2 &,
  .h2 & {
    font-size: 63.15789473684211%;
  }

  h3 &,
  .h3 & {
    font-size: 73.33333333333333%;
  }

  h4 &,
  .h4 & {
    font-size: 75%;
  }

  h5 &,
  .h5 & {
    font-size: 72.72727272727273%;
  }

  h6 &,
  .h6 & {
    font-size: 94.11764705882353%;
  }
}

sub {
  bottom: -0.5em;
}

sub, sup {
  font-size: 62%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

code, kbd, pre, samp {
  font-family: Consolas, "Courier New", monospace;
}

code {
  padding: 5px 7px;
  font-size: 75%;
  color: #E50A0A;
  background-color: $gray-lightest;
  border-radius: 2px;
}

pre {
  padding: 16px 19px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.13;
  overflow-x: auto;

  code {
    font-size: 75%;
    text-align: left;
  }
}

mark, .mark {
  background-color: $brand-primary;
  padding: .1em;
  color: $white;
}

.text-extra-small {
  font-size: 13px;
}

.text-extra-big {
  font-size: 100px;
  line-height: .7;

  @media (min-width: $screen-sm-min) {
    font-size: 140px;
  }
  @media (min-width: $screen-md-min) {
    font-size: 180px;
  }
  @media (min-width: $screen-lg-min) {
    font-size: 220px
  }
}

// Lists
// -------------------------

.list {
  > li + li {
    margin-top: 10px;
  }
}

.list-numbered {
  color: $gray;
  padding-left: 40px;
  li {
    padding-left: 10px;
    span {
      color: $gray-base;
    }
  }
}

// List inline
//

.list-inline {
  margin-left: -6px;
  margin-right: -6px;

  > li {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.list-inline-xs {
  margin-left: -2px;
  margin-right: -2px;

  > li {
    padding-left: 2px;
    padding-right: 2px;
  }
}

.list-inline-sm {
  margin-left: -10px;
  margin-right: -10px;

  > li {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.list-inline-md {
  margin-left: -15px;
  margin-right: -15px;

  > li {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.list-inline-lg {
  margin-left: -5px;
  margin-right: -5px;

  > li {
    padding-left: 5px;
    padding-right: 5px;
  }
  @media (min-width: $screen-md-min) {
    margin-left: -20px;
    margin-right: -20px;

    > li {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.list-inline-dashed {
  > li {
    padding-right: 0;
    & + li {
      &:before {
        content: '/';
        padding-right: 5px;
        opacity: .5;
      }
    }
  }
  @media (min-width: $screen-md-min) {
    > li {
      & + li {
        &:before {
          padding-right: 20px;
        }
      }
    }
  }
}

.list-inline-dark {
  a {
    color: $gray;
    &:hover {
      color: $brand-picton-blue;
    }
  }
}

// List marked
//

.list-marked {
  text-align: left;
  @include list-unstyled;
  li {
    padding-left: 50px;
    position: relative;
    &:before {
      content: '\f105';
      position: absolute;
      left: 24px;
      top: -1px;
      font-family: "FontAwesome";
      color: $gray;
    }
  }
}

.list-marked-primary {
  li {
    padding-left: 0;
    &:before{
      content: '';
    }
    a {
      padding-left: 24px;
      position: relative;
      transition: 0.35s all ease;
      &:before {
        content: '\f105';
        position: absolute;
        top: -1px;
        left: 0px;
        font-family: "FontAwesome";
        color: $brand-primary;
        transition: 0.35s all ease;
      }
      &:hover {
        &:before {
          left: 5px;
        }
      }
    }
  }
}

// List index
//
.list-index {
  @include list-unstyled;
  counter-reset: li;
  li {
    .list-index-counter {
      &:before {
        content: counter(li, decimal-leading-zero);
        counter-increment: li;
      }
    }
  }
}

// List separeted
//
.list-separated {
  li + li {
    border-top: 1px solid $gray-lighter;
    margin-top: 8px;
    padding-top: 7px;
  }
}

// Backgrounds
// -------------------------

.bg-fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

// Contextual backgrounds
//
.bg-gray-base {
  @include bg-variant-custom(#{$gray-base});
}

.bg-gray-darkest {
  @include bg-variant-custom(#{$gray-darkest});
}

.bg-gray-darker {
  @include bg-variant-custom(#{$gray-darker});
}

.bg-gray {
  @include bg-variant-custom(#{$gray});
}

.bg-gray-light {
  @include bg-variant-custom(#{$gray-light})
}

.bg-lighter {
  @include bg-variant-custom(#{$gray-lighter});
}

.bg-lightest {
  @include bg-variant-custom(#{$gray-lightest});
}

.bg-deluge {
  @include bg-variant-custom(#{$brand-deluge});
  @extend %context-dark;
}

.bg-picton-blue {
  @include bg-variant-custom(#{$brand-picton-blue});
}

.bg-primary {
  @include bg-variant-custom(#{$brand-primary});
}

.bg-dark-blue {
  @include bg-variant-custom(#{$brand-dark-blue});
}

.bg-white {
  @include bg-variant-custom(#{$white});
}

// Gradient background
//

.bg-black-haze {
  @include bg-variant-custom(linear-gradient(0deg, $gray-lightest 0%, $white 100%));
}

.bg-blue-gray {
  @include bg-variant-custom(linear-gradient(90deg, $brand-deluge 0%, $brand-picton-blue 100%));
}

.bg-shark {
  @include bg-variant-custom(linear-gradient(90deg, $gray-base 0%, $gray-darker 100%));
}

.bg-shark-radio {
  @include bg-variant-custom(radial-gradient(ellipse at center, $gray-darkest 0%, $gray-base 100%));
}

// Tilt Gradient background
//

.bg-blue-gray-tilt {
  @include bg-variant-custom(linear-gradient(45deg, $brand-deluge 0%, $brand-picton-blue 100%));
}

.bg-shark-tilt {
  @include bg-variant-custom(linear-gradient(45deg, $gray-base 0%, $gray-darker 100%));
}

// Overlay background
//

.bg-overlay-white {
  background: rgba($white, .8);
}

.bg-overlay-gray-darkest {
  background: rgba($gray-darkest, .65);
}

// Page header
// -------------------------

.page-head {
  margin-bottom: -2px;
}

// Colors
// -------------------------

// Contextual colors
//

.page {
  @include text-emphasis-variant('.text-primary', $brand-primary);
  @include text-emphasis-variant('.text-gray', $gray);
  @include text-emphasis-variant('.text-jungle-green', #212121);
  @include text-emphasis-variant('.text-deluge', $brand-deluge);
  @include text-emphasis-variant('.text-picton-blue', $brand-picton-blue);
  @include text-emphasis-variant('.text-darker', $gray-darker);
  @include text-emphasis-variant('.text-white', $white);
  @include text-emphasis-variant('.text-dark', $gray-dark);
  @include text-emphasis-variant('.text-black', $gray-base);
  @include text-emphasis-variant('.text-silver', $brand-silver);

  // Contextual colors
  //
  %text-gradient {
    &, &:before {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .text-blue-gray {
    @extend %text-gradient;

    &, &:before {
      color: rgba(134, 104, 173, 1);
      background-image: -webkit-linear-gradient(0deg, $brand-deluge 0%, $brand-picton-blue 100%);
    }
  }

  .text-malibu {
    @extend %text-gradient;

    &, &:before {
      color: $brand-picton-blue;
      background-image: -webkit-linear-gradient(0deg, $brand-picton-blue 0%, $brand-info 100%);
    }
  }
}

// Shadows
// -------------------------

.shadow-drop-ambient {
  box-shadow: $shadow-area-ambient;
}

.shadow-drop-xxs {
  box-shadow: $shadow-area-xxs;
}

.shadow-drop-xs {
  box-shadow: $shadow-area-xs;
}

.shadow-drop-sm {
  box-shadow: $shadow-area-sm;
}

.shadow-drop,
.shadow-drop-md {
  box-shadow: $shadow-area-md;
}

.shadow-drop-lg {
  box-shadow: $shadow-area-lg;
}

.shadow-drop-xl {
  box-shadow: $shadow-area-xl;
}

// Borders
// -------------------------

.border-gray-light {
  border-color: $gray-light;
}

// Address
// -------------------------

.contact-info {

  dl {
    margin-bottom: 0;

    dt, dd {
      display: inline-block;
      font-weight: 400;
    }

    dd a:hover {
      color: $brand-picton-blue;
    }
  }
  address{
    a:hover{
      color: $brand-primary;
    }
  }
}