//
// Responsive unit
// --------------------------------------------------

@include unit-responsive($medias, 20px, 20px);

.unit-spacing-xxs{
  @include unit-spacing($medias, 0px, 10px);
}

.unit-spacing-xs{
  @include unit-spacing($medias, 7px, 15px);
}
.unit-spacing-sm{
  @include unit-spacing($medias, 20px);
}
.unit-spacing-lg{
  @include unit-spacing($medias, 15px, 30px);
}
.unit-spacing-xl{
  @include unit-spacing($medias, 15px, 35px);
}






